<!-- <div class="container">
    <div class="px-3 tabs-data">
    <h1 align="center" class="" style="font-weight:bold; color:#E71D36">PRIVACY POLICY</h1>
    <h5 style="margin-top:20px">We, Kapalin Insurance Broking Private Limited (KIBPL), being the owner and operator of www.prismcover.com and all associated child pages, and all other related social media properties (“Platform”), notify you (being a user) about practices that we have adopted for collection and use of personal information on our Platform. This Privacy Policy forms part of the Terms of Use for the Platform which is available at https://_________________________ </h5>
    <h5>KIBPL values the trust the users place in Prismcover(online portal/website of KIBPL). Therefore, KIBPL insists upon the highest standards for secure communication and user information privacy.</h5>
    <h5>This Privacy Policy (“Policy”) describes the policies and the procedures with respect to collection, usage, handling, storage and disclosure of personal information of or relating to the person who access or use (hereinafter referred using ‘you’, ‘your’, ‘user’) the Platform. The capitalized terms used in this Policy,  but not defined in herein, shall have the meaning given to such terms in the Terms of Use.</h5>
    <h5>Companies that are contracted by KIBPL to provide services to KIBPL are referred herein as “Vendors”. Individuals registered with KIBPL under the Point of Sale program are referred herein as “Partners”.</h5>
    <h5>Before you access or use the Platform and submit any information to us, please read this Privacy Policy to understand how we will treat your personal information. By using any part of the Platform, you consent to the collection, use, storage, processing, disclosure and transfer of your personal information for the purposes outlined in this Privacy Policy and to the collection, processing and maintenance of such personal information in accordance with the terms mentioned in this Policy.</h5>
    <h5>We may review, change or update this Privacy Policy periodically and reserve the right to change the Privacy Policy at any time at our discretion by posting such changes on the Platform. We will publish the updated Privacy Policy on the Platform and changes will take effect immediately at the time of publication. Your continued use of the Platform following publication will constitute your acceptance of those changes. You should review this Privacy Policy regularly and remain familiar with its terms.</h5>
    <h5>If you do not agree to this Privacy Policy, please do not access or use the Platform or the Services  offered by KIBPL on such Platform. Your access or use of any part of the Platform indicates your acceptance of this Privacy Policy.</h5>
    <h5>While you have the option not to provide us with certain information or withdraw consent to collect certain information, kindly note that in such an event you may not be able to take advantage of the Platform and the Resources offered by KIBPL on the Platform and we reserve the right not to provide certain Resources / services to you.</h5>
    <h5>For a person to have any legal authority over this Privacy Policy, he/she must be at least 18 years old. Also, he/she should have the power to form a legally binding contract under the law applicable to use this Platform and services offered on it.</h5>
    <h5>We collect various personal information on our Platform in order to provide you with certain Services. The types of information that we collect from you shall be explained in the following parts of this Policy.</h5>
    <h5>We may share your information from time to time with Vendors/ Partners of KIBPL, to enable better services to be provided to the users of the Platform.</h5>
    <h5>We also make use of cookies on the Platform. The cookies are information pieces between your browser and a site. The navigation and cookies section mentioned below provides more information in this regard.</h5>
    <h5>If need be, you are authorized to access and update the personal information which we have collected about you. For doing so, you can contact us using contact details provided in the 'Contact us' section of the Platform or email at support@kapalinbroking.com. However, such a request will be processed as per the laws applicable in your jurisdiction.</h5>
    <h4 style="font-weight: bold; font-size:20px; margin-top:20px;color: #2EA7C4; text-decoration: underline">Protecting the Privacy :</h4>
    <h5>All information submitted by the users on the Platform shall be safeguarded and protected. KIBPL is committed to protecting the privacy, confidentiality, accuracy and security of the personal information that it collects, uses, retains and discloses in the course of conducting business and providing the Services. This Policy will protect the data provided by you and will be used for purposes of providing Services to you through the Platform and any other administration purposes relevant to any products/services provided by KIBPL.</h5>
    <h4 style="font-weight: bold; font-size:20px; margin-top:20px;color: #2EA7C4; text-decoration: underline">Information on the Products :</h4>
    <h5>You may find links to the insurance companies or their services on our Platform as a part of our online sales. However, we do not exhibit any control over the content or behaviour of those links even if they are present on our Platform. The conduct of these links will be governed by their privacy policy and terms. We advise you to please go through their privacy policy and terms of use before accessing or using such third-party links/ websites. KIBPL shall not be liable in case of any loss suffered by you while accessing or using such third-party links/ website.</h5>
    <h4 style="font-weight: bold; font-size:20px; margin-top:20px;color: #2EA7C4; text-decoration: underline">Types of Information Collected :</h4>
    <h5>KIBPL collects several types of information which is primarily used to provide various of services to you. Details of such information (collectively called “Information”) are as follows:</h5>    
    <h5 style="font-weight: bold;color: #2EA7C4">1. Personal Identification Information :</h5>
    <h5>Personal Information is the information collected that can be used to uniquely identify or contact you. We may collect personal identification information from you in a variety of ways, including, but not limited to, when you visit the Platform, register on the Platform, fill out a form, respond to a survey, or in connection with other activities, services, features or Resources we make available on the Platform. We will collect the personal information from you only if you voluntarily submit such information to us. You can always refuse to supply this information, except that it may prevent them from accessing or using any or all of the activities, services, features or resources available on the Platform. You may be asked for, as appropriate, for the following personal information:
        <ul> 
           <li><h5>Contact information, such as name, email address, phone number, address;</h5></li>
            <li><h5>Gender and sexual orientation;</h5></li>
            <li><h5>Date of birth;</h5></li>
            <li><h5>Marital Status;</h5></li>
            <li><h5>Occupation;</h5></li>
            <li><h5>Unique identifiers such as your username, identification/ verification code such as one time pass (OTP) etc.;</h5></li>
            <li><h5>Information regarding your interactions or transactions on the Platform;</h5></li>
            <li><h5>Any other sensitive personal data or information relevant for the purpose of your use of the Platform or any of its functionalities.</h5></li>
        </ul>
    </h5>
    <h5>Certain personal information and/or sensitive personal data or information such as name, age, gender, email, identity card details such as Aadhaar, PAN, address, profession details, health details and other details may be made mandatory to be submitted by the user as may be required to get price quotations from insurer as well as for issuance of policy document.</h5>
    <h5 style="font-weight: bold;color: #2EA7C4">2. Non-personal Identification Information :</h5>
    <h5>We may collect non-personal identification information about you whenever you interact with our Platform. Non-personal identification information may include the browser name, the type of computer or other communication device and technical information about your means of connection to our Platform, such as the operating system and the internet service provider utilized, an IP address, assigned to the computer which you use, the domain server through which you access the Platform, and other similar information. This Non-Personal Information would not assist us to identify you personally.</h5>
    <h5 style="font-weight: bold;color: #2EA7C4">3. Surveys :</h5>
    <h5>KIBPL may email you or post various surveys on the Platform. The surveys may request for your demographic information (age, gender, and familiarity with the Platform, your interests, content, products and services) and your feedback on activities, services, features or resources available on the Platform.</h5>
    <h5 style="font-weight: bold;color: #2EA7C4">4. Customer Service Communications Information :</h5>
    <h5>KIBPL may collect Personal Information, Non-Personal or Other Information when you post or submit comments, questions, complaints or suggestions regarding services.</h5>
    <h5 style="font-weight: bold;color: #2EA7C4">5. Other Information :</h5>
    <h5>KIBPL also collects information regarding your usage of the activities, services, features or resources available on the Platform. This other information includes, but is not limited to, pattern of use of Platform by you, pages visited, posts/comments made on any page of Platform etc.</h5>
    <h4 style="font-weight: bold; font-size:20px; margin-top:20px;color: #2EA7C4; text-decoration: underline">Collection of Information :</h4>
    <h5>When you use the Platform, we collect and store your Information which is provided by you from time to time. Our primary goal in doing so is to provide you a safe, efficient, smooth and customized experience. This allows us to provide activities, services, features or resources available on the Platform in a customized manner to make your experience safer and easier.<h5>
    <h5>In general, you can browse the Platform without telling us who you are or revealing any Personal Information about yourself. Once you give us your Personal Information, you are not anonymous to us. We may collect your Non-Personal Information, just by you browsing/ downloading the Platform. When collecting Personal Information from you we indicate which fields are required and which fields are optional. You always have the option to not provide information by choosing not to use a Service or feature or Resource on the Platform. We may automatically track certain information about you based upon your behavior on the Platform. We use this information to do internal research on our users' demographics, interests, and behavior to better understand, protect and serve our users. This information is compiled and analyzed on an aggregated basis. This information may include the link/ URL that you just came from (whether this URL is on our Platform / app or not), which URL you next go to (whether this URL is on the Platform or not), your computer browser information, and your IP address.</h5>
    <h5>We may receive Personal Information about you from third parties, such as external APIs and social media services. If you access the Platform through an external API or a social media service or connect a service on the Platform to a social media service, the information we collect may include your user name associated with that social media service, any information or content the social media service has the right to share with us and any information you have made public in connection with that social media service. When you access the Platform through an external APIs or social media services or when you connect the Platform to social media services, you are authorizing KIBPL to collect, store, and use and retain such information and content in accordance with this Privacy Policy.</h5>
    <h4 style="font-weight: bold; font-size:20px; margin-top:20px;color: #2EA7C4; text-decoration: underline">The information collected on this Products can be categorized in two parts :</h4>
    <h5 style="font-weight: bold;color: #2EA7C4">1. Personal information that you provide voluntarily :</h5>
    <h5>KIBPL may gather personal information that you choose to provide us while using our Platform and share them with our Partners/ Vendors to help us serve you better. The information collected depends on the way in which you choose to use our services or the Platform. All the Information concerning you will be stored on our servers. Your details voluntarily provided may be collected while you register on our portal, subscribe to our blog, fill out a form, participate in activities hosted by us or use services provided by us. However, you can choose not to share any of these details and make use of some free services provided on our Platform. Such information may be collected:</h5>
    <h5 style="font-weight:bold">(i) When you request assistance or more information related to insurance offerings :</h5>
    <h5>If you request for our help through any section while using the Platform then, we may collect your personal information through chat, e-mail or telephone which may override your NDNC registration. This is for identifying you as a user or prospective or existing customer and in order to serve you better.</h5>
    <h5 style="font-weight:bold">(ii) When you buy a policy from us or request a quote :</h5>
    <h5>If you register with us using our Platform or request a quote for any of the products or services listed therein, we may collect Information like your name, age, mobile number, e-mail id, residential area, your occupation, annual income, health details, vehicle details and other such details which may be required to process your request. While collecting such data from you, we may indicate the optional information from the mandatory fields by setting up alert message for the compulsory fields. The use of Information will be limited to that mentioned on the Platform or stated in this Policy. If you decide to buy any policy insurance from us, then we may collect such personal information from you which may be required to finalise the quote and process your policy issuance. Your personal information may be used to suggest you with other insurance offerings available on our Platform. Such suggestions will be made by KIBPL which might be of relevance to you or to process your claims or manage your relationship with us.</h5>
    <h5 style="font-weight:bold">(iii) When you comment on our Platform :</h5>
    <h5>The comment section on our Platform is powered by Facebook. Thus, only Facebook users will be able to comment on our site after they log into their account. The information displayed and collected will be in as per the plugin instructions and will be visible to the public under the Facebook username.</h5>
    <h5>If you send us personal correspondence, such as emails or letters, or if other users or third parties send us correspondence about your activities or postings on the Platform, we may collect such information into a file specific to you.</h5>
    <h5 style="font-weight: bold;color: #2EA7C4">2. Information gathered by us on the basis of your use of the Platform :</h5>
    <h5>When you use our Platform, we may choose to collect your data through the standard medium used for receiving information of a user like cookies.</h5>
    <h5 style="font-weight: bold;color: #2EA7C4">Navigation and Cookies :</h5>
    <h5>As a standard practice across the industry, we may use certain cookies on our Platform. As described above these are shared between the browser and a site. The presence of cookies ensures a faster browsing experience to you as a user. The information which you have stored previously while using the browser may be stored as a cookie. However, it cannot read the information on the hard disk. We use the following 3 types of cookies :</h5>
    <h5 style="font-weight: bold;color: #2EA7C4;text-decoration:underline">a. Session cookies :</h5>
    <h5>These are stored temporarily on your mobile, tablet, desktop or laptop during your browsing session. However, these are deleted as soon as your browser is shut, and no data is stored. An anonymous session ID is created which facilitates a seamless browsing experience wherein you do not have to log into each page.</h5>
    <h5 style="font-weight: bold;color: #2EA7C4;text-decoration:underline">b. Persistent cookies :</h5>
    <h5>These are stored on your computer as a file. It is saved on your mobile, tablet, desktop or laptop even when you close the browser. The platform which creates this type of cookies can access it and read it when you re-visit the site.</h5>
    <h5 style="font-weight: bold;color: #2EA7C4; text-decoration:underline">c. First-party cookies :</h5>
    <h5>This store your choices related to a particular site. The computer’s hard drive and the server are where this type of cookies are saved. These cookies are only used so that you have a personalized experience.</h5>
    <h5 style="font-weight: bold;color: #2EA7C4">Use of the cookies :</h5>
    <h5 style="font-weight: bold;color: #2EA7C4">Where it is mandatory :</h5>
    <h5>While you browse the site, some cookies are essential for you to navigate and use the Platform’s features for secure access. You may not be able to log into your account or obtain quote without cookies. The mandatory cookies are never used for marketing.</h5>
    <h5 style="font-weight: bold;color: #2EA7C4">Where it improves the performance : </h5>
    <h5>This is to track the frequently visited places of the user and the error messages they receive from the Platform. These help us record the number of users visiting or accessing our Platform and enhance the performance of the Platform. However, no information is tracked using these cookies.</h5>
    <h5 style="font-weight: bold;color: #2EA7C4">Where it improves functionality :</h5>
    <h5>Using these cookies, we store your preferences like your language, area and other such details and improve the functionality and features of our Platform. With these cookies, we may also remember your login credentials so that you can save the time to log in repetitively. Through this, we will also store your text size preference, font type and other customization settings that you have possibly made. This may be used while you comment on the article. In case you want to turn off cookies please visit your browser setting.</h5>
    <h5 style="font-weight: bold;color: #2EA7C4">Where it improves service :</h5>
    <h5>Sometimes these cookies might be used for remarketing to serve as a reminder.</h5>
    <h5 style="font-weight: bold;color: #2EA7C4">3. Using Google Analytics :</h5>
    <h5>We are using Google Analytics for analyzing your behavior on our Platform. For more details on Information which can be obtained using analytics, please refer the Google code site.</h5>
    <h5 style="font-weight: bold;color: #2EA7C4">4. Other Sources :</h5>
    <h5>As soon as you provide your personal details like your mobile number using any section of the Platform; it is captured in the company CRM and auto/manual communication provisions are made for a faster service using channels such as robo calls, manual calls, sms, whatsapp, email, notifications and others. This is only to ensure that you the right help at a decent speed. In our efforts to continually improve our product and service offerings, we collect and analyse demographic and profile data about our users' activity on our Platform. We may identify and use your IP address to help administer our Platform. Your IP address is also used to help identify you and to gather broad demographic information. We may occasionally ask you to complete optional online surveys. These surveys may ask you for contact information and demographic information (like postal/ zip code, age, or income level). We use this data to tailor your experience at the Platform, providing you with content that we think you might be interested in and to display content according to your preferences.</h5>
    <h4 style="font-weight: bold;color: #2EA7C4; text-decoration:underline;font-size:20px; margin-top:20px;">Use and Sharing of Information :</h4>
    <h5>All the Information shared by us in order to provide you with a unique experience is done strictly on need to know basis only after you consent for the same. In case you do not want us to share any of your Information, please contact us at contact information given below.</h5>
    <h5>KIBPL undertakes not to disclose (includes selling, sharing and renting) your Personal Information collected by KIBPL at any time to any third party without your consent except in accordance with this Privacy Policy. However, KIBPL reserves the right to disclose Information in good faith:</h5>
    <ul><h5>
            <li>if required by law or any authority;</li>
            <li>to protect and defend rights and interests of KIBPL, employees/ agents of KIBPL, other users or the general public;</li>
            <li>to enforce Terms of Use and other policies of KIBPL;</li>
            <li>to address concerns raised by a third party.</li>
    </h5></ul>
    <h5>We may use your Information for any or all the following purposes:</h5>
    <h5>1. We may share some of your Information for policy issuance and underwriting. The information differs from insurance company to company and product to product. For example, name, age, sex, date of birth, identification numbers, email addresses, home and correspondence addresses, health details and other information.</h5>
    <h5>2. If we contact some entity to operate on our behalf, in such cases we may share your Information to them. The use of this Information will be strictly on need to know basis to provide you with our Services.</h5>
    <h5>3. While developing our business, we might purchase or sell some assets. In such cases, as a business transfer asset, some information related to you may get transferred.</h5>
    <h5>4. In order to serve you better we will from time to time use data analytics vendors to understand user preference. During the transfer of data, the data will be pseudonomised to ensure user privacy. We will from time to time use marketing vendors to better understand user preferences. Personal information in these cases will be limited to name, phone number, address, age, and email to reach out to the user. No other personal information will be passed. We will keep updating this section as and when new use cases of information transfer becomes a necessity.</h5>
    <h5>5. We will share your Information with our staff in the country and abroad to process your Information on our behalf. The use of this information will be restricted to :</h5>
        <h5>a. Marketing
          b. Legal
            c. HR handling
            d. If intervention of technology is required, then the IT team
            e. Relevant businesses</h5>
    <h5>6. We may share your Information, strictly on a need to know basis, with third parties that provide services to help with our business activities. These third parties are authorized to use your Personal Information only as necessary to provide certain services to us, including but not limited to :<h5>
    <ul><h5>
         <li>Providing cloud infrastructure;</li>
            <li>Sending transactional and service communications;</li>
            <li>Sending marketing communications;</li>
            <li>Providing customer service;</li>
            <li>Conducting research; or</li>
            <li>Payment processing.</li>
    </h5></ul>
    <h5>7. We may share your Information with other third-party business partners strictly on a need to know basis, for the purpose of enhancing our products and Services or providing additional services on request. If you do not want us to share your Personal Information with third-party business partners, please contact us at the contact information below.</h5>
    <h5>KIBPL uses Personal Information to provide its products and Services. To the extent KIBPL uses your Personal Information to market to you, we will provide you the ability to opt-out of such uses. We use your Personal Information to identify and authenticate users; understand your needs and confirm your application information and assess your eligibility for products and services; establish and maintain communication, and to respond to your inquiries; investigate and settle your claims/requests, and determine your eligibility for benefits; resolve disputes; troubleshoot problems; help promote a safe service; billing and collect money; measure consumer interest in our products and services, inform you about products, Services, and updates; customize and improve your experience; detect and protect us against error, fraud and other criminal activity; enforce our terms and conditions; meet regulatory requirements; and as otherwise specified in the Policy.</h5>
    <h5>Information collected can be used by KIBPL within KIBPL or by its affiliates/ contractors/ agents for analysis and determination of statistics, demand and supply, pattern of usage etc.</h5>
    <h5>KIBPL may use the user’s data collected from external APIs or other service providers which KIBPL integrates with the Services from time to time) for the purpose of allowing them to access and use the activities, services, features or resources available on the Platform.</h5>
    <h5>We collect passively tracked data primarily for purposes of administering, protecting and improving our Platform and our systems, to better understand the preferences of our site visitors, to identify server problems, to compile aggregated statistics about site usage, and to help personalize your experience on our site.</h5>
    <h5>By using this Platform and/or on purchasing any products or services therein, you hereby authorize KIBPL to contact you via calls, mails and/or text messages or by any other similar means using the contact details so provided, to furnish you with information regarding our various services and products currently available or as may be added or made available at any future date. In the event you do not wish to receive such information, you may unsubscribe to the facility.</h5>
    <h4 style="font-weight: bold;color: #2EA7C4; text-decoration:underline;font-size:20px; margin-top:20px;">Update of Your Information :</h4>
    <h5>You are always free to review and edit your Personal Information uploaded on the Platform. It is of prime importance that the Information we have about you is accurate, complete and up-to-date. Thus, we request you to update us if there is any change which needs to be registered concerning your personal information.</h5>
    <h4 style="font-weight: bold;color: #2EA7C4; text-decoration:underline;font-size:20px; margin-top:20px;">Use of this Privacy Policy :</h4>
    <h5>If you are willing to connect with us using our comment section then, please ensure that the content that you post on the Platform is :</h5>
    <ul><h5><li>Genuine</li>
        <li>Accurate</li>
        <li>Should not violate any law (non-abusive, inflammatory or of such type)</li>
    <li>Non-plagiarized</li></h5></ul>
    <h5>Please do not present your opinions as views of KIBPL Insurance. As mentioned above all the comments will be monitored before they are visible to general public. For more information, please contact info@KIBPLinsurance.com.</h5>
    <h4 style="font-weight: bold;color: #2EA7C4; text-decoration:underline;font-size:20px; margin-top:20px;">How do we protect your Information ?</h4>
    <h5>1. We take the safety of your Personal Information and its confidentiality very seriously and we provide reasonable security safeguards commensurate to the sensitivity of the personal data or information being handled and have implemented security practices including but not limited to physical, electronic, and procedural safeguards to protect your Information. We implement a variety of security measures when a user enters, submits, or accesses their information to maintain the safety of your personal information. We will retain your Information only as long as is required for the purposes for which it was collected and/or any legal or regulatory requirements.</h5>
    <h5>2. The Platform is scanned on a regular basis for any known vulnerabilities in order to make your use as safe as possible. We also use regular malware scanning.</h5>
    <h5>3. Your personal information is contained behind secured networks and is only accessible by a limited number of persons on need to know basis only and who have special access rights to such systems, and are required to keep the information confidential.</h5>
    <h5>4. Please be aware that, although we endeavor to provide reasonable security for your Personal Information, no security system can prevent all potential security breaches.</h5>
    <h5>5. We endeavor to ensure to the best of our ability that all third party service providers whose services which we may use, maintain security standards that are equivalent to our security standards and commensurate with market practices, in the context of the sensitivity of your personal data or information being stored or handled. However, we do not guarantee the security of our data systems as no system is impenetrable. We request you to maintain the confidentiality of the private information like the password of your account on the Platform or any login details. If you suspect vulnerability of your data, please feel free to inform us.</h5>
    <h5>6. Although, KIBPL has ensured the security of Personal Information collected, considering the open nature of internet, such Information may be accessed by unauthorised entities/ software/ codes in a cyber-security incident. KIBPL assumes no liability whatsoever with respect to access of Information in case of a cyber-security incident.</h5>
    <h5 style="background-color: yellow">The Platform stores all data with the Cloud Platform provided by Amazon Web Services (AWS) which may store this data on its servers located in India (AWS Asia Pacific (Mumbai) Region). The AWS platform has security measures in place to protect the loss, misuse and alteration of the information. These measures adopted by AWS are detailed in https://aws.amazon.com/privacy/ You also acknowledge that the standards followed by the AWS are not within control of KIBPL and are liable to change from time to time. You agree that it is in your interest to review from time to time the security standards, practices and policies adopted by the AWS Platform to confirm that there are no changes that you are not comfortable with.</h5>
    <h4 style="font-weight: bold;color: #2EA7C4; text-decoration:underline;font-size:20px; margin-top:20px;">Opting Out :</h4>
    <h5>You may choose to opt out of our marketing services by using the unsubscribe button in the email, talking to one of our executives or by contacting us at the details mentioned at the end of this Policy. After this, you will not receive any update of our promotional offers or offerings in general.</h5>
    <h5>You may, at any time, also request that all of your Information, which is stored with us is deleted, by submitting a written request to the Grievance Officer whose details are set out below. You shall always have an option to withdraw your consent for collection and use of your Information by intimating us about such withdrawal by writing to KIBPL at the below mentioned contact information. In case, you withdraw your consent for collection, storage and use or requests for deletion of your Information, KIBPL shall be entitled to restrict, control or terminate your access and use of all or any of the activities, services, features or resources available on the Platform.</h5>
    <h4 style="font-weight: bold;color: #2EA7C4; text-decoration:underline;font-size:20px; margin-top:20px;">Update of the Policy :</h4>
    <h5>This Privacy Policy was last updated on Saturday, September 26, 2020, and we may choose to update it again. The policies will be effective soon after an upgrade. Please check this Privacy Policy regularly. However, if we materially change our privacy practices we will notify you by sending an email or by posting a notice on our Platform.</h5>
    <h4 style="font-size:20px; margin-top:20px;font-weight: bold;color: #2EA7C4; text-decoration:underline">Contact Details :</h4>
    <h5>If you have any concerns with regards to our Privacy Policy or the Platform, please feel free to contact our Compliance Officer: Mr. Pramod J. Khasnis, at the following details :</h5>
    <h5 style="font-weight: bold;color:black">Address: 103-107, Bhaveshwar Complex, Vidhyavihar – West, Mumbai - 86</h5>
    <h5 style="font-weight: bold;color:black">Email: po@kapalinbroking.com | pjkhasnis@kapalinbroking.com </h5>
    <h5 style="font-weight: bold;color:black">Contact no: +91-9833743344</h5> 
-->
<app-header-lite></app-header-lite>
<div class="container-fluid">
    <div class="container1">
        <h2>Privacy Policy</h2>
        <p>We, Kapalin Insurance Broking Private Limited (KIBPL), being the owner and operator of www.capalin.com and all associated child pages, and all other related social media properties (“Platform”), notify you (being a user) about practices that we have adopted for collection and use of personal information on our Platform. This Privacy Policy forms part of the Terms of Use for the Platform which is available at https://_________________________
            <br><br>
            KIBPL values the trust the users place in Capalin(online portal/website of KIBPL). Therefore, KIBPL insists upon the highest standards for secure communication and user information privacy.
            <br><br>
            This Privacy Policy (“Policy”) describes the policies and the procedures with respect to collection, usage, handling, storage and disclosure of personal information of or relating to the person who access or use (hereinafter referred using ‘you’, ‘your’, ‘user’) the Platform. The capitalized terms used in this Policy, but not defined in herein, shall have the meaning given to such terms in the Terms of Use.
            <br><br>
            Companies that are contracted by KIBPL to provide services to KIBPL are referred herein as “Vendors”. Individuals registered with KIBPL under the Point of Sale program are referred herein as “Partners”.
            <br><br>
            Before you access or use the Platform and submit any information to us, please read this Privacy Policy to understand how we will treat your personal information. By using any part of the Platform, you consent to the collection, use, storage, processing, disclosure and transfer of your personal information for the purposes outlined in this Privacy Policy and to the collection, processing and maintenance of such personal information in accordance with the terms mentioned in this Policy.
            <br><br>
            We may review, change or update this Privacy Policy periodically and reserve the right to change the Privacy Policy at any time at our discretion by posting such changes on the Platform. We will publish the updated Privacy Policy on the Platform and changes will take effect immediately at the time of publication. Your continued use of the Platform following publication will constitute your acceptance of those changes. You should review this Privacy Policy regularly and remain familiar with its terms.
            <br><br>
            If you do not agree to this Privacy Policy, please do not access or use the Platform or the Services offered by KIBPL on such Platform. Your access or use of any part of the Platform 
            indicates your acceptance of this Privacy Policy.
            <br><br>
            While you have the option not to provide us with certain information or withdraw consent to collect certain information, kindly note that in such an event you may not be able to take advantage of the Platform and the Resources offered by KIBPL on the Platform and we reserve the right not to provide certain Resources / services to you.
            <br><br>
            For a person to have any legal authority over this Privacy Policy, he/she must be at least 18 years old. Also, he/she should have the power to form a legally binding contract under the law applicable to use this Platform and services offered on it.
            <br><br>
            We collect various personal information on our Platform in order to provide you with certain Services. The types of information that we collect from you shall be explained in the following parts of this Policy.
            <br><br>
            We may share your information from time to time with Vendors/ Partners of KIBPL, to enable better services to be provided to the users of the Platform.
            We also make use of cookies on the Platform. The cookies are information pieces between your browser and a site. The navigation and cookies section mentioned below provides more information in this regard.
            <br><br>
            If need be, you are authorized to access and update the personal information which we have collected about you. For doing so, you can contact us using contact details provided in the 'Contact us' section of the Platform or email at support@kapalinbroking.com. However, such a request will be processed as per the laws applicable in your jurisdiction.
        </p>
        <b>Protecting the Privacy :</b><br>
        <p>All information submitted by the users on the Platform shall be safeguarded and protected. KIBPL is committed to protecting the privacy, confidentiality, accuracy and security of the personal information that it collects, uses, retains and discloses in the course of conducting business and providing the Services. This Policy will protect the data provided by you and will be used for purposes of providing Services to you through the Platform and any other administration purposes relevant to any products/services provided by KIBPL.</p>
        <b>Information on the Products :</b>
        <p>You may find links to the insurance companies or their services on our Platform as a part of our online sales. However, we do not exhibit any control over the content or behaviour of those links even if they are present on our Platform. The conduct of these links will be governed by their privacy policy and terms. We advise you to please go through their privacy policy and terms of use before accessing or using such third-party links/ websites. KIBPL shall not be liable in case of any loss suffered by you while accessing or using such third-party links/ website.</p>
        <b>Types of Information Collected :</b><br>
        <p>KIBPL collects several types of information which is primarily used to provide various of services to you. Details of such information (collectively called “Information”) are as follows:</p>
        <span>1. Personal Identification Information :</span>
        <p>Personal Information is the information collected that can be used to uniquely identify or contact you. We may collect personal identification information from you in a variety of ways, including, but not limited to, when you visit the Platform, register on the Platform, fill out a form, respond to a survey, or in connection with other activities, services, features or Resources we make available on the Platform. We will collect the personal information from you only if you voluntarily submit such information to us. You can always refuse to supply this information, except that it may prevent them from accessing or using any or all of the activities, services, features or resources available on the Platform. You may be asked for, as appropriate, for the following personal information:</p>
        <ul>
            <li>Contact information, such as name, email address, phone number, address;</li>
            <li>Gender and sexual orientation;</li>
            <li>Date of birth;</li>
            <li>Marital Status;</li>
            <li>Occupation;</li>
            <li>Unique identifiers such as your username, identification/ verification code such as one time pass (OTP) etc.;</li>
            <li>Information regarding your interactions or transactions on the Platform;</li>
            <li>Any other sensitive personal data or information relevant for the purpose of your use of the Platform or any of its functionalities.</li>
        </ul>       
        <p>Certain personal information and/or sensitive personal data or information such as name, age, gender, email, identity card details such as Aadhaar, PAN, address, profession details, health details and other details may be made mandatory to be submitted by the user as may be required to get price quotations from insurer as well as for issuance of policy document.</p>
        <span>2. Non-personal Identification Information :</span>
        <p>We may collect non-personal identification information about you whenever you interact with our Platform. Non-personal identification information may include the browser name, the type of computer or other communication device and technical information about your means of connection to our Platform, such as the operating system and the internet service provider utilized, an IP address, assigned to the computer which you use, the domain server through which you access the Platform, and other similar information. This Non-Personal Information would not assist us to identify you personally.</p>
        <span>3. Surveys :</span>
        <p>KIBPL may email you or post various surveys on the Platform. The surveys may request for your demographic information (age, gender, and familiarity with the Platform, your interests, content, products and services) and your feedback on activities, services, features or resources available on the Platform.</p>
        <span>4. Customer Service Communications Information :</span>
        <p>KIBPL may collect Personal Information, Non-Personal or Other Information when you post or submit comments, questions, complaints or suggestions regarding services.</p>
        <span>5. Other Information :</span>
        <p>KIBPL also collects information regarding your usage of the activities, services, features or resources available on the Platform. This other information includes, but is not limited to, pattern of use of Platform by you, pages visited, posts/comments made on any page of Platform etc.</p>
        <br><b>Collection of Information :</b><br>
        <p>When you use the Platform, we collect and store your Information which is provided by you from time to time. Our primary goal in doing so is to provide you a safe, efficient, smooth and customized experience. This allows us to provide activities, services, features or resources available on the Platform in a customized manner to make your experience safer and easier.
            <br><br>
            In general, you can browse the Platform without telling us who you are or revealing any Personal Information about yourself. Once you give us your Personal Information, you are not anonymous to us. We may collect your Non-Personal Information, just by you browsing/ downloading the Platform. When collecting Personal Information from you we indicate which fields are required and which fields are optional. You always have the option to not provide information by choosing not to use a Service or feature or Resource on the Platform. We may automatically track certain information about you based upon your behavior on the Platform. We use this information to do internal research on our users' demographics, interests, and behavior to better understand, protect and serve our users. This information is compiled and analyzed on an aggregated basis. This information may include the link/ URL that you just came from (whether this URL is on our Platform / app or not), which URL you next go to (whether this URL is on the Platform or not), your computer browser information, and your IP address.
            <br><br>
            We may receive Personal Information about you from third parties, such as external APIs and social media services. If you access the Platform through an external API or a social media service or connect a service on the Platform to a social media service, the information we collect may include your user name associated with that social media service, any information or content the social media service has the right to share with us and any information you have made public in connection with that social media service. When you access the Platform through an external APIs or social media services or when you connect the Platform to social media services, you are authorizing KIBPL to collect, store, and use and retain such information and content in accordance with this Privacy Policy.
        </p>
        <b>The information collected on this Products can be categorized in two parts :</b><br><br>
        <span>1. Personal information that you provide voluntarily :</span>
        <p>KIBPL may gather personal information that you choose to provide us while using our Platform and share them with our Partners/ Vendors to help us serve you better. The information collected depends on the way in which you choose to use our services or the Platform. All the Information concerning you will be stored on our servers. Your details voluntarily provided may be collected while you register on our portal, subscribe to our blog, fill out a form, participate in activities hosted by us or use services provided by us. However, you can choose not to share any of these details and make use of some free services provided on our Platform. Such information may be collected:</p>
        <small>(i) When you request assistance or more information related to insurance offerings :</small>
        <p>If you request for our help through any section while using the Platform then, we may collect your personal information through chat, e-mail or telephone which may override your NDNC registration. This is for identifying you as a user or prospective or existing customer and in order to serve you better.</p>
        <small>(ii) When you buy a policy from us or request a quote :</small>
        <p>If you register with us using our Platform or request a quote for any of the products or services listed therein, we may collect Information like your name, age, mobile number, e-mail id, residential area, your occupation, annual income, health details, vehicle details and other such details which may be required to process your request. While collecting such data from you, we may indicate the optional information from the mandatory fields by setting up alert message for the compulsory fields. The use of Information will be limited to that mentioned on the Platform or stated in this Policy. If you decide to buy any policy insurance from us, then we may collect such personal information from you which may be required to finalise the quote and process your policy issuance. Your personal information may be used to suggest you with other insurance offerings available on our Platform. Such suggestions will be made by KIBPL which might be of relevance to you or to process your claims or manage your relationship with us.</p>
        <small>(iii) When you comment on our Platform :</small>
        <p>The comment section on our Platform is powered by Facebook. Thus, only Facebook users will be able to comment on our site after they log into their account. The information displayed and collected will be in as per the plugin instructions and will be visible to the public under the Facebook username. If you send us personal correspondence, such as emails or letters, or if other users or third parties send us correspondence about your activities or postings on the Platform, we may collect such information into a file specific to you.</p>
        <span>2. Information gathered by us on the basis of your use of the Platform :</span>
        <p>When you use our Platform, we may choose to collect your data through the standard medium used for receiving information of a user like cookies.</p>
        <small>Navigation and Cookies :</small>
        <p>As a standard practice across the industry, we may use certain cookies on our Platform. As described above these are shared between the browser and a site. The presence of cookies ensures a faster browsing experience to you as a user. The information which you have stored previously while using the browser may be stored as a cookie. However, it cannot read the information on the hard disk. We use the following 3 types of cookies :</p>
        <small>a. Session cookies :</small>
        <p>These are stored temporarily on your mobile, tablet, desktop or laptop during your browsing session. However, these are deleted as soon as your browser is shut, and no data is stored. An anonymous session ID is created which facilitates a seamless browsing experience wherein you do not have to log into each page.</p>
        <small>b. Persistent cookies :</small>
        <p>These are stored on your computer as a file. It is saved on your mobile, tablet, desktop or laptop even when you close the browser. The platform which creates this type of cookies can access it and read it when you re-visit the site.</p>
        <small>c. First-party cookies :</small>
        <p>This store your choices related to a particular site. The computer’s hard drive and the server are where this type of cookies are saved. These cookies are only used so that you have a personalized experience.</p>
        <small>Use of the cookies :</small><br>
        <small>Where it is mandatory :</small>
        <p>While you browse the site, some cookies are essential for you to navigate and use the Platform’s features for secure access. You may not be able to log into your account or obtain quote without cookies. The mandatory cookies are never used for marketing.</p>
        <small>Where it improves the performance :</small>
        <p>This is to track the frequently visited places of the user and the error messages they receive from the Platform. These help us record the number of users visiting or accessing our Platform and enhance the performance of the Platform. However, no information is tracked using these cookies.</p>
        <small>Where it improves functionality :</small>
        <p>Using these cookies, we store your preferences like your language, area and other such details and improve the functionality and features of our Platform. With these cookies, we may also remember your login credentials so that you can save the time to log in repetitively. Through this, we will also store your text size preference, font type and other customization settings that you have possibly made. This may be used while you comment on the article. In case you want to turn off cookies please visit your browser setting.</p>
        <small>Where it improves service :</small>
        <p>Sometimes these cookies might be used for remarketing to serve as a reminder.</p>
        <span>3. Using Google Analytics :</span>
        <p>We are using Google Analytics for analyzing your behavior on our Platform. For more details on Information which can be obtained using analytics, please refer the Google code site.</p>
        <span>4. Other Sources :</span>
        <p>As soon as you provide your personal details like your mobile number using any section of the Platform; it is captured in the company CRM and auto/manual communication provisions are made for a faster service using channels such as robo calls, manual calls, sms, whatsapp, email, notifications and others. This is only to ensure that you the right help at a decent speed. In our efforts to continually improve our product and service offerings, we collect and analyse demographic and profile data about our users' activity on our Platform. We may identify and use your IP address to help administer our Platform. Your IP address is also used to help identify you and to gather broad demographic information. We may occasionally ask you to complete optional online surveys. These surveys may ask you for contact information and demographic information (like postal/ zip code, age, or income level). We use this data to tailor your experience at the Platform, providing you with content that we think you might be interested in and to display content according to your preferences.</p>
        <b>Use and Sharing of Information :</b><br><br>
        <p>All the Information shared by us in order to provide you with a unique experience is done strictly on need to know basis only after you consent for the same. In case you do not want us to share any of your Information, please contact us at contact information given below.</p>
        <p>KIBPL undertakes not to disclose (includes selling, sharing and renting) your Personal Information collected by KIBPL at any time to any third party without your consent except in accordance with this Privacy Policy. However, KIBPL reserves the right to disclose Information in good faith:</p>
        <ul>
            <li>if required by law or any authority;</li>
            <li>to protect and defend rights and interests of KIBPL, employees/ agents of KIBPL, other users or the general public;</li>
            <li>to enforce Terms of Use and other policies of KIBPL;</li>
            <li>to address concerns raised by a third party.</li>
        </ul>
        <p>We may use your Information for any or all the following purposes:</p>
        <p>1. We may share some of your Information for policy issuance and underwriting. The information differs from insurance company to company and product to product. For example, name, age, sex, date of birth, identification numbers, email addresses, home and correspondence addresses, health details and other information.</p>
        <p>2. If we contact some entity to operate on our behalf, in such cases we may share your Information to them. The use of this Information will be strictly on need to know basis to provide you with our Services.</p>
        <p>3. While developing our business, we might purchase or sell some assets. In such cases, as a business transfer asset, some information related to you may get transferred.</p>
        <p>4. In order to serve you better we will from time to time use data analytics vendors to understand user preference. During the transfer of data, the data will be pseudonomised to ensure user privacy. We will from time to time use marketing vendors to better understand user preferences. Personal information in these cases will be limited to name, phone number, address, age, and email to reach out to the user. No other personal information will be passed. We will keep updating this section as and when new use cases of information transfer becomes a necessity.</p>
        <p>5. We will share your Information with our staff in the country and abroad to process your Information on our behalf. The use of this information will be restricted to :</p>
        <p>a. Marketing<br>b. Legal<br>c. HR handling<br>d. If intervention of technology is required, then the IT team<br>e. Relevant businesses</p>
        <p>6. We may share your Information, strictly on a need to know basis, with third parties that provide services to help with our business activities. These third parties are authorized to use your Personal Information only as necessary to provide certain services to us, including but not limited to :</p>
        <ul>
            <li>Providing cloud infrastructure;</li>
            <li>Sending transactional and service communications;</li>
            <li>Sending marketing communications;</li>
            <li>Providing customer service;</li>
            <li>Conducting research; or</li>
            <li>Payment processing.</li>
        </ul>
        <p>7. We may share your Information with other third-party business partners strictly on a need to know basis, for the purpose of enhancing our products and Services or providing additional services on request. If you do not want us to share your Personal Information with third-party business partners, please contact us at the contact information below.</p>
        <p>KIBPL uses Personal Information to provide its products and Services. To the extent KIBPL uses your Personal Information to market to you, we will provide you the ability to opt-out of such uses. We use your Personal Information to identify and authenticate users; understand your needs and confirm your application information and assess your eligibility for products and services; establish and maintain communication, and to respond to your inquiries; investigate and settle your claims/requests, and determine your eligibility for benefits; resolve disputes; troubleshoot problems; help promote a safe service; billing and collect money; measure consumer interest in our products and services, inform you about products, Services, and updates; customize and improve your experience; detect and protect us against error, fraud and other criminal activity; enforce our terms and conditions; meet regulatory requirements; and as otherwise specified in the Policy.</p>
        <p>Information collected can be used by KIBPL within KIBPL or by its affiliates/ contractors/ agents for analysis and determination of statistics, demand and supply, pattern of usage etc.</p>
        <p>KIBPL may use the user’s data collected from external APIs or other service providers which KIBPL integrates with the Services from time to time) for the purpose of allowing them to access and use the activities, services, features or resources available on the Platform.</p>
        <p>We collect passively tracked data primarily for purposes of administering, protecting and improving our Platform and our systems, to better understand the preferences of our site visitors, to identify server problems, to compile aggregated statistics about site usage, and to help personalize your experience on our site.</p>
        <p>By using this Platform and/or on purchasing any products or services therein, you hereby authorize KIBPL to contact you via calls, mails and/or text messages or by any other similar means using the contact details so provided, to furnish you with information regarding our various services and products currently available or as may be added or made available at any future date. In the event you do not wish to receive such information, you may unsubscribe to the facility.</p>
        <br>
        <b>Update of Your Information :</b><br><br>
        <p>You are always free to review and edit your Personal Information uploaded on the Platform. It is of prime importance that the Information we have about you is accurate, complete and up-to-date. Thus, we request you to update us if there is any change which needs to be registered concerning your personal information.</p>
        <span>Use of this Privacy Policy :</span><br><br>
        <p>If you are willing to connect with us using our comment section then, please ensure that the content that you post on the Platform is :</p>
        <ul>
            <li>Genuine</li>
            <li>Accurate</li>
            <li>Should not violate any law (non-abusive, inflammatory or of such type)</li>
            <li>Non-plagiarized</li>
        </ul>
        <p>Please do not present your opinions as views of KIBPL Insurance. As mentioned above all the comments will be monitored before they are visible to general public. For more information, please contact info@KIBPLinsurance.com.</p>
        <b>How do we protect your Information ?</b><br><br>
        <p>1. We take the safety of your Personal Information and its confidentiality very seriously and we provide reasonable security safeguards commensurate to the sensitivity of the personal data or information being handled and have implemented security practices including but not limited to physical, electronic, and procedural safeguards to protect your Information. We implement a variety of security measures when a user enters, submits, or accesses their information to maintain the safety of your personal information. We will retain your Information only as long as is required for the purposes for which it was collected and/or any legal or regulatory requirements.</p>
        <p>2. The Platform is scanned on a regular basis for any known vulnerabilities in order to make your use as safe as possible. We also use regular malware scanning.</p>
        <p>3. Your personal information is contained behind secured networks and is only accessible by a limited number of persons on need to know basis only and who have special access rights to such systems, and are required to keep the information confidential.</p>
        <p>4. Please be aware that, although we endeavor to provide reasonable security for your Personal Information, no security system can prevent all potential security breaches.</p>
        <p>5. We endeavor to ensure to the best of our ability that all third party service providers whose services which we may use, maintain security standards that are equivalent to our security standards and commensurate with market practices, in the context of the sensitivity of your personal data or information being stored or handled. However, we do not guarantee the security of our data systems as no system is impenetrable. We request you to maintain the confidentiality of the private information like the password of your account on the Platform or any login details. If you suspect vulnerability of your data, please feel free to inform us.</p>
        <p>6. Although, KIBPL has ensured the security of Personal Information collected, considering the open nature of internet, such Information may be accessed by unauthorised entities/ software/ codes in a cyber-security incident. KIBPL assumes no liability whatsoever with respect to access of Information in case of a cyber-security incident.</p>
        <p>The Platform stores all data with the Cloud Platform provided by Amazon Web Services (AWS) which may store this data on its servers located in India (AWS Asia Pacific (Mumbai) Region). The AWS platform has security measures in place to protect the loss, misuse and alteration of the information. These measures adopted by AWS are detailed in https://aws.amazon.com/privacy/ You also acknowledge that the standards followed by the AWS are not within control of KIBPL and are liable to change from time to time. You agree that it is in your interest to review from time to time the security standards, practices and policies adopted by the AWS Platform to confirm that there are no changes that you are not comfortable with.</p>
        <b>Opting Out :</b><br><br>
        <p>You may choose to opt out of our marketing services by using the unsubscribe button in the email, talking to one of our executives or by contacting us at the details mentioned at the end of this Policy. After this, you will not receive any update of our promotional offers or offerings in general.</p>
        <p>You may, at any time, also request that all of your Information, which is stored with us is deleted, by submitting a written request to the Grievance Officer whose details are set out below. You shall always have an option to withdraw your consent for collection and use of your Information by intimating us about such withdrawal by writing to KIBPL at the below mentioned contact information. In case, you withdraw your consent for collection, storage and use or requests for deletion of your Information, KIBPL shall be entitled to restrict, control or terminate your access and use of all or any of the activities, services, features or resources available on the Platform.</p>
        <b>Update of the Policy :</b><br><br>
        <p>This Privacy Policy was last updated on Saturday, September 26, 2020, and we may choose to update it again. The policies will be effective soon after an upgrade. Please check this Privacy Policy regularly. However, if we materially change our privacy practices we will notify you by sending an email or by posting a notice on our Platform.</p>
        <b>Contact Details :</b><br><br>
        <p>If you have any concerns with regards to our Privacy Policy or the Platform, please feel free to contact our Compliance Officer: Mr. Pramod J. Khasnis, at the following details :</p>
        <span>Address:</span>&nbsp;&nbsp;
        <small>103-107, Bhaveshwar Complex, Vidhyavihar – West, Mumbai - 86</small><br><br>
        <span>Email:</span>&nbsp;&nbsp;
        <small>po@kapalinbroking.com | pjkhasnis@kapalinbroking.com</small><br><br>
        <span>Contact no:</span>&nbsp;&nbsp;
        <small>+91-9833743344</small>
    </div>
</div>
<app-footer></app-footer> 