// .container {
//     font-family: 'Averin';
// }
// .tabs-data {
//     border: 1px solid #ddd;
//     border-radius: 5px;
//     margin-bottom: 20px;
//   }
.container-fluid
{
    padding: 0;
    font-family: Poppins;
    height: auto;
}
.container1
{
    padding-left: 70px;
    padding-right: 70px;
}
.container1 h2
{
    margin: auto;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    text-align: center;
    line-height: 72px;
    color: #303253;
    margin-top: 76px;
    margin-bottom: 30px;
}
.container1 p
{
    width: 100%;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}
.container1 li
{
    width: 100%;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}
.container1 small
{
    width: 100%;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    margin-top: 21px;
}
.container1 b
{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #EB6D47;
}
.container1 span
{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #EB6D47;
}