<app-header></app-header>

<div class="">
  <div class="divHomebackground">
    <div class="row">
      <br />
      <br />
      <br />
      <br />
    </div>

    <div class="row">
      <div
        class="col-md-12"
        style="
          font-family: Poppins;
          font-style: normal;
          font-weight: 600;
          font-size: 60px;
          line-height: 90px;

          text-align: center;

          color: #ffffff; ;
        "
      >
        Car Insurance
      </div>
    </div>
    <div class="row">
      <div
        class="col-md-12"
        style="
          font-family: Poppins;
          font-style: normal;
          font-weight: normal;
          font-size: 24px;
          line-height: 40px;
          text-align: center;
          margin-top: 10px;
          color: #ffffff;
        "
      >
        Enter your Car Registration Number
      </div>
    </div>
    <div class="row">
      <br />
      <br />
    </div>
    <div class="row">
      <div class="" style="height: auto; width: 970px; margin: 0 auto">
        <!-- start-->

        <div class="container form-group" style="margin: 0 auto">
          <div class="row">
            <div
              class=""
              style="
                height: 15px;
                width: 48.5%;
                float: left;
                background-color: #eb6d47;
                margin-left: 15px;
                box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
                border-radius: 12px 0px 0px 0px;
              "
            ></div>
            <div
              class=""
              style="
                height: 15px;
                width: 48.5%;
                float: left;
                margin-left: 0px;
                background-color: #dddddd;
                box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
                border-radius: 0px 12px 0px 0px;
              "
            ></div>
          </div>
          <form
            [formGroup]="registrationForm"
            (ngSubmit)="onSubmit()"
            autocomplete="off"
            style="
              background-color: white;
              border-radius: 0px 0px 12px 12px;
              width: 100%;
              box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.07);
            "
          >
            <!-- first row start --><br />
            <div class="row">
              <div
                class="col-md-12"
                style="
                  font-family: Poppins;
                  font-style: normal;
                  font-weight: 600;
                  font-size: 36px;
                  line-height: 48px;
                  /* identical to box height, or 133% */
                  text-align: center;
                  letter-spacing: 0.2px;
                  color: #303253;
                "
              >
                Your Car Detail
              </div>
              <br />
            </div>
            <br />
            <!-- first row end -->

            <!-- second row start -->
            <div class="row">
              <div class="col-md-1"></div>
              <div
                class="col-md-5"
                style="
                  font-family: Poppins;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 16px;
                  line-height: 24px;

                  color: #303253;
                "
              >
                <label id="example-radio-group-label"
                  >Policy Type<span class="required">* </span> :</label
                >
              </div>
              <div class="col-md-6">
                <mat-radio-group
                  aria-label="Select an option"
                  formControlName="policy_type"
                >
                  <div
                    class="row"
                    style="
                      font-family: Poppins;
                      font-style: normal;
                      font-weight: normal;
                      font-size: 14px;
                      line-height: 21px;

                      color: #303253;
                    "
                  >
                    <div class="col-md-6">
                      <mat-radio-button value="renew_enquiry">
                        Renewal</mat-radio-button
                      >
                    </div>
                    <div class="col-md-6">
                      <mat-radio-button value="new_enquiry"
                        >New
                      </mat-radio-button>
                    </div>
                  </div>
                </mat-radio-group>
              </div>
            </div>

            <!-- second row end -->
            <!--third row start-->
            <div>
              <table style="width: 95%">
                <!-- third row start -->
                <tr class="row" style="margin-top: 20px">
                  <td class="col-md-1"></td>
                  <td
                    class="col-md-5 field"
                    style="
                      font-family: Poppins;
                      font-style: normal;
                      font-weight: normal;
                      font-size: 16px;
                      line-height: 24px;
                      /* identical to box height */
                      color: #303253;

                      margin-top: 15px;
                    "
                  >
                    <label for="make_model"
                      >Car Make & Model<span class="required">* </span> :</label
                    >
                  </td>

                  <td class="col-md-6">
                    <div>
                      <!-- <select type="text" class="form-control" style=" border-radius:10px;font-family: Poppins;font-style: normal;font-weight: normal;font-size: 16px;line-height: 24px;height:56px; /* identical to box height */ color: #999999;"                                                                                        
                                                autocomplete="off" formControlName="makeModel"
                                                (change)="getFuelType('car_fuel_type', registrationForm.get('makeModel').value)"
                                                class="custom-select" name="make_model">
                                                <option value="" disabled>
                                                    Select Make & Model
                                                </option>
                                                <option *ngFor="let model of carModelDetails?.makeModel"
                                                    [value]="model?.id">
                                                    {{model?.car_model_name}}</option>

                                            </select> -->
                      <ng-select
                        formControlName="makeModel"
                        name="make_model"
                        (change)="
                          getFuelType(
                            'car_fuel_type',
                            registrationForm.get('makeModel').value
                          )
                        "
                      >
                        <ng-option
                          *ngFor="let model of carModelDetails?.makeModel"
                          [value]="model?.id"
                          >{{ model?.car_model_name }}</ng-option
                        >
                      </ng-select>
                    </div>
                    <div
                      id="makeModel_err"
                      style="display: none"
                      class="alert alert-danger"
                    >
                      <div>Please Select Make & Model.</div>
                    </div>
                  </td>
                </tr>
                <!-- third row end -->

                <!-- Forth row start -->

                <tr class="row" style="margin-top: 20px">
                  <td class="col-md-1"></td>
                  <td
                    class="col-md-5 field"
                    style="
                      font-family: Poppins;
                      font-style: normal;
                      font-weight: normal;
                      font-size: 16px;
                      line-height: 24px;
                      /* identical to box height */
                      color: #303253;
                      margin-top: 15px;
                    "
                  >
                    <label for="fuelType"
                      >Fuel Type<span class="required">* </span> :</label
                    >
                  </td>

                  <td class="col-md-6 field">
                    <div>
                      <!-- <select formControlName="fuelType" type="text" class="form-control  " style="border-radius:10px;
                                                                                    font-family: Poppins;
                                                                                    font-style: normal;
                                                                                    font-weight: normal;
                                                                                    font-size: 16px;
                                                                                    line-height: 24px;
                                                                                    height:56px;
                                                                                     
                                                                                    /* identical to box height */ 
                                                                                     color: #999999;"
                                                autocomplete="off"
                                                (change)="getVariantType('car_variant', registrationForm.get('fuelType').value)">
                                                <option value="" disabled>
                                                    Select Fuel Type
                                                </option>
                                                <option *ngFor="let fuel of fuelTypeDetails" value="{{fuel?.id}}">
                                                    {{fuel?.fuel_name}}
                                                </option>
                                            </select> -->
                      <ng-select
                        formControlName="fuelType"
                        (change)="
                          getVariantType(
                            'car_variant',
                            registrationForm.get('fuelType').value
                          )
                        "
                      >
                        <ng-option
                          *ngFor="let fuel of fuelTypeDetails"
                          [value]="fuel?.id"
                          >{{ fuel?.fuel_name }}</ng-option
                        >
                      </ng-select>
                    </div>
                    <div
                      id="fuelType_err"
                      style="display: none"
                      class="alert alert-danger"
                    >
                      <div>Please Select Fuel Type.</div>
                    </div>
                  </td>
                </tr>

                <!-- forth row end -->

                <!-- Fifth row start -->
                <tr class="row" style="margin-top: 20px">
                  <td class="col-md-1"></td>
                  <td
                    class="col-md-5 field"
                    style="
                      font-family: Poppins;
                      font-style: normal;
                      font-weight: normal;
                      font-size: 16px;
                      line-height: 24px;
                      /* identical to box height */
                      color: #303253;
                      margin-top: 15px;
                    "
                  >
                    <label for="variant"
                      >Variant<span class="required">* </span> :</label
                    >
                  </td>

                  <td class="col-md-6 field">
                    <div>
                      <!-- <select type="text" class="form-control  " style="border-radius:10px;
                                                                        font-family: Poppins;
                                                                        font-style: normal;
                                                                        font-weight: normal;
                                                                        font-size: 16px;
                                                                        line-height: 24px;
                                                                        height:56px;
                                                                        
                                                                        /* identical to box height */ 
                                                                        color: #999999;" autocomplete="off"
                                                formControlName="variant" name="variant" id="variant">
                                                <option value="" disabled>
                                                    Select Variant
                                                </option>
                                                <option *ngFor="let variant of variantTypeDetails"
                                                    value="{{variant?.id}}">{{
                                                    variant?.variant }}</option>

                                            </select> -->
                      <ng-select
                        formControlName="variant"
                        name="variant"
                        id="variant"
                      >
                        <ng-option
                          *ngFor="let variant of variantTypeDetails"
                          [value]="variant?.id"
                          >{{ variant?.variant }}</ng-option
                        >
                      </ng-select>
                    </div>
                    <div
                      id="variant_err"
                      style="display: none"
                      class="alert alert-danger"
                    >
                      <div>Please Select Variant.</div>
                    </div>
                  </td>
                </tr>
                <!-- fifth row end -->
                <tr class="row" style="margin-top: 20px">
                  <td class="col-md-1"></td>
                  <td
                    class="col-md-5 field"
                    style="
                      font-family: Poppins;
                      font-style: normal;
                      font-weight: normal;
                      font-size: 16px;
                      line-height: 24px;
                      /* identical to box height */
                      color: #303253;
                      margin-top: 15px;
                    "
                  >
                    <label for="">RTO <span class="required">* </span> :</label>
                  </td>

                  <td class="col-md-6 field">
                    <div>
                      <!-- <select type="text" class="form-control  " style="border-radius:10px;
                                                                                font-family: Poppins;
                                                                                font-style: normal;
                                                                                font-weight: normal;
                                                                                font-size: 16px;
                                                                                line-height: 24px;
                                                                                height:56px;
                                                                                 
                                                                                /* identical to box height */ 
                                                                                 color: #999999;" autocomplete="off"
                                                formControlName="rto">
                                                <option value="" disabled>Select RTO of Car Registration</option>
                                                <option *ngFor="let rto of carModelDetails?.rto" value="{{rto?.id}}">{{
                                                    rto.rto_description }}</option>
                                            </select> -->
                      <ng-select formControlName="rto">
                        <ng-option
                          *ngFor="let rto of carModelDetails?.rto"
                          [value]="rto?.id"
                          >{{ rto?.rto_description }}</ng-option
                        >
                      </ng-select>
                    </div>
                    <div
                      id="rto_err"
                      style="display: none"
                      class="alert alert-danger"
                    >
                      <div>Please Select RTO Car Registration.</div>
                    </div>
                  </td>
                </tr>
                <!--sixth row start-->

                <tr class="row" style="margin-top: 20px">
                  <td class="col-md-1"></td>
                  <td
                    class="col-md-5 field"
                    style="
                      font-family: Poppins;
                      font-style: normal;
                      font-weight: normal;
                      font-size: 16px;
                      line-height: 24px;
                      /* identical to box height */
                      color: #303253;
                      margin-top: 15px;
                    "
                  >
                    <label for="Car Make & Model :"
                      >Manufacturing Month & Year
                      <span class="required">* </span> :</label
                    >
                  </td>

                  <td class="col-md-6 field">
                    <div>
                      <!-- <select type="text" class="form-control  " style="border-radius:10px;
                                                                                font-family: Poppins;
                                                                                font-style: normal;
                                                                                font-weight: normal;
                                                                                font-size: 16px;
                                                                                line-height: 24px;
                                                                                height:56px;
                                                                                 
                                                                                /* identical to box height */ 
                                                                                 color: #999999;" autocomplete="off"
                                                (change)="setMonthYear($event.target.value)"
                                                formControlName="selectedMonthYear">
                                                <option value="" disabled>
                                                    Select Month Year
                                                </option>
                                                <option *ngFor="let monthyr of MonthYear" value="{{monthyr}}">{{ monthyr
                                                    }}</option>
                                            </select> -->
                      <ng-select
                        formControlName="selectedMonthYear"
                        (change)="setMonthYear($event)"
                      >
                        <ng-option
                          *ngFor="let monthyr of MonthYear"
                          [value]="monthyr"
                          >{{ monthyr }}</ng-option
                        >
                      </ng-select>
                    </div>
                    <div
                      id="selectedMonthYear_err"
                      style="display: none"
                      class="alert alert-danger"
                    >
                      <div>Please Select Manufacturing Month & Year.</div>
                    </div>
                  </td>
                </tr>

                <!--sixth row end-->

                <!--seventh row start-->
                <tr class="row" style="margin-top: 20px">
                  <td class="col-md-1"></td>
                  <td
                    class="col-md-5 field"
                    style="
                      font-family: Poppins;
                      font-style: normal;
                      font-weight: normal;
                      font-size: 16px;
                      line-height: 24px;
                      /* identical to box height */
                      color: #303253;
                      margin-top: 15px;
                    "
                  >
                    <label for=""
                      >Registration Date<span class="required">* </span>
                      :</label
                    >
                  </td>

                  <td class="col-md-6 field">
                    <div class="input-group input-group-lg">
                      <input
                        type="text"
                        class="form-control"
                        style="
                          border-radius: 10px;
                          font-family: Poppins;
                          font-style: normal;
                          font-weight: normal;
                          font-size: 16px;
                          line-height: 24px;
                          height: 56px;

                          /* identical to box height */
                          color: #999999;
                        "
                        placeholder="Select Registration Date"
                        autocomplete="off"
                        name="dp"
                        formControlName="regtDate"
                        ngbDatepicker
                        #d="ngbDatepicker"
                        (click)="d.toggle()"
                        readonly
                      />
                    </div>
                    <div
                      id="regtDate_err"
                      style="display: none"
                      class="alert alert-danger"
                    >
                      <div>Please Select Registration Date.</div>
                    </div>
                  </td>
                </tr>
                <br />
                <!--seventh row end-->

                <!--Eighth row start-->

                <div class="row">
                  <div class="" style="width: 10%; float: left"></div>
                  <div class="" style="width: 30%; float: left">
                    <!-- <button mat-button color="" style="background: #999999;
                                                        border-radius: 10px;font-style: normal;
                                                        font-weight: 600;
                                                        font-size: 18px;
                                                        line-height: 40px;
                                                      width: 85%;
                                                       align-items: center;
                                                        height: 60px;
                                                        margin-right: 5px;
                                                        color: #FFFFFF;" (click)="gotoHome()">Back</button> -->
                  </div>
                  <div class="" style="width: 25%; float: left"></div>

                  <div class="" style="width: 30%; float: left">
                    <button
                      mat-button
                      color=""
                      type="submit"
                      style="
                        background: #303253;
                        border-radius: 10px;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 40px;
                        width: 248px;
                        align-items: center;
                        height: 60px;
                        margin-right: 5px;
                        color: #ffffff;
                      "
                    >
                      Next
                    </button>
                    <!-- routerLink="/car/carPreviousPoliceDetails" -->
                  </div>
                  <div class="" style="width: 5%; float: left"></div>
                </div>
                <div class="row">
                  <br />
                </div>

                <!-- Eighth row end-->
              </table>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- NEW CAR CODE END -->

  <div class="container2">
    <div class="main2">
      <h2>Have a question?</h2>
      <p>
        If you cannot find answer to your question in our FAQ, you can always
        contact us. We wil answer to you shortly!
      </p>
      <img src="/assets/home_images/bg_img/dots_img.png" alt="" />
      <div class="help-support">
        <br /><br /><br />
        <button
          mat-fab
          style="background-color: #01c48d; width: 80px; height: 80px"
        >
          <i
            class="fa fa-headphones fa-lg"
            style="font-size: 35px; color: #fff"
          ></i>
        </button>
        <br />
        <h4>Help & Support</h4>
        <p>We’re here to help with any questions or issues.</p>
        <br />
        <b>support@kapalinbroking.com</b><br />
        <b>+91-22-62363690 | +91-22-62361889</b>
      </div>
    </div>
  </div>
  <br />
</div>

<app-footer></app-footer>
