.required {
  color: red;
}

.container {
  font-family: "Averin";
}
.buttons {
  max-width: 100%;
  overflow-x: hidden;
}

.divHomebackground {
  background-image: url("/assets/home_images/blue_bg.png");
  background-size: 100%;
  height: 700px;
  width: 100%;
}

.search button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 110px;
  background: blue;
}

.pfont {
  font-family: "Poppins", sans-serif;
}
.test {
  width: 350px;
  height: 320px;
  background-color: #999999;
}

.base {
  position: absolute;
  left: 16.74%;
  right: 49.93%;
  top: 17.06%;
  bottom: 82.34%;

  background: #eb6d47;
  box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
}

.title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.2px;

  color: #303253;
}
.homebutton {
  position: absolute;
  left: 21.18%;
  right: 61.6%;
  top: 42.4%;
  bottom: 55.17%;

  background: #999999;
  border-radius: 10px;
}
.field {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #303253;
}

.carDtailButton {
  width: 248px;
  height: 60px;
  left: 889px;
  top: 1049px;
}
.placeholder {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #999999;
}
.haveAnyQue {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 78px;
  /* identical to box height, or 150% */

  text-align: center;

  color: #303253;
}

.full-width {
  width: 100%;
}

.text-center {
  align-items: center;
  color: #e71d36;
  padding-top: 30px;
  font-family: "Averin";
  font-weight: bold;
}
.text-center1 {
  text-align: center;
  align-items: center;
  padding-top: 20px;
  color: rgb(0, 174, 255);
  font-family: "Averin";
  font-weight: bold;
}
.row {
  font-family: "Averin";
}
.spacer-b10 {
  margin-bottom: 10px;
}

.custom-select {
  position: relative;
}
.btn-primary {
  background-color: green;
  width: 3cm;
  height: 1.2cm;
  margin-bottom: 20px;
}
.calendar-icon {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
}
.date-input {
  padding-left: 15%;
}
.field-icon {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  color: grey;
}
.container-div {
  // display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #e71d36;
  border-radius: 5px;
  border: 1px solid #e71d36;
}

/* Hide the browser's default radio button */
.container-div input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  // background-color: #eee;
  background-color: #fff;
  border: 2px solid #e71d36;
  border-radius: 50%;
  margin-top: 8%;
  margin-left: 10%;
}

/* On mouse-over, add a grey background color */
.container-div:hover input ~ .checkmark {
  background-color: #fff;
}

/* When the radio button is checked, add a blue background */
.container-div input:checked ~ .checkmark {
  background-color: #fff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-div input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container-div .checkmark:after {
  top: 5px;
  left: 5px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #e71d36;
}
.display {
  display: none;
}
.tabs-data {
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #a8d9e6;
  width: 80%;
  margin-left: 3cm;
}
.center {
  align-items: center;
  margin-left: 3cm;
}
.center1 {
  align-items: center;
  margin-left: 3.2cm;
}
.container1 {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
}

/* On mouse-over, add a grey background color */
.container1:hover input ~ .checkmark1 {
  background-color: white;
}

/* When the checkbox is checked, add a blue background */
.container1 input:checked ~ .checkmark1 {
  background-color: #e71d36;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark1:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container1 input:checked ~ .checkmark1:after {
  display: block;
}

/* Style the checkmark/indicator */
.container1 .checkmark1:after {
  left: 10px;
  top: 5px;
  width: 5px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* The container */
.container2 {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container2 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container2:hover input ~ .checkmark2 {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container2 input:checked ~ .checkmark2 {
  background-color: #e71d36;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark2:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container2 input:checked ~ .checkmark2:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container2 .checkmark2:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
  background: #50b83c;
}

.field {
  display: block;
  position: relative;
  color: grey;
}
.container2 {
  height: auto;
  padding-top: 240px;
  padding-bottom:10px;
  z-index: -1;
}
.container2 h2 {
  font-family: Poppins;
  color: #303253;
  font-size: 52px;
  line-height: 78px;
  font-weight: 600;
  text-align: center;
}
.main2 {
  margin: auto;
  margin-top: 310px;
  height: 600px;
}
.main2 p {
  height: 71px;
  margin: auto;
  font-family: Poppins;
  font-size: 24px;
  line-height: 40px;
  font-weight: 400;
  color: #999999;
  width: 700px;
  flex-grow: 0;
}
.main2 img {
  position: relative;
  left: 230px;
  top: 40px;
  z-index: -1;
}
.help-support {
  margin: auto;
  background-color: #ffffff;
  box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.07);
  width: 700px;
  height: 422px;
  text-align: center;
}
.help-support h4 {
  text-align: center;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  font-family: Poppins;
  color: #303253;
}
.help-support p {
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  color: #999999;
  font-family: Poppins;
  width: 300px;
}
.help-support b {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  font-family: Poppins;
  color: #303253;
}

// .select-search {
//   text-align: start;
//   color: #495057;
//   font-family:'Poppins';
//   position: relative;
// }

// .ng-select-container {
//   border-radius:10px;
//   font-style: normal;
//   font-weight: normal;
//   font-size: 16px;
//   line-height: 24px;
//   height:56px;
//   position: relative;
// }

// .ng-select .ng-select-container .ng-value-container .ng-input > input {
//   color: #495057 !important;
// }
// .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
//   color: #495057 !important;
// }
// .ng-placeholder {
//   color: #495057 !important;
// }
// .ng-select.ng-select-single.ng-select-filtered .ng-select-container .ng-value-container .ng-value {
//   visibility: visible;
// }

::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items {
  border: 1px solid #ced4da;
  background-color: white;
  padding: .375rem .75rem;
}

::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  padding: 5px 0;

}

::ng-deep .ng-select .ng-select-container {
  padding: .875rem .75rem;
}

.ng-select {
  border: 1px solid #ced4da;
    height: calc(2.5em + .75rem + 2px);
    border-radius: .25rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #999999;
}

::ng-deep .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
  padding: 0 .75rem;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #fff;
}

//Radio Button
::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: #50B83C !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #50B83C!important;   /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
 border-color:#50B83C!important; /*outer ring color change*/
}
