<app-header-lite></app-header-lite>
<div class="row">
  <div style="margin: 0 auto; width: 1200px; display: inline-flex">
    <div class="row">
      <br />
      <br />
    </div>
    <!--first row start-->
    <div
      class="col-md-11"
      style="
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 72px;
        color: #303253;
        margin-left: 1cm;
        margin-bottom: 1cm;
      "
    >
      Car Insurance
    </div>
  </div>
</div>
<!--first row end-->
<div class="row">
  <div style="margin: 0 auto; width: 1200px; display: inline-flex">
    <div
      class=""
      style="
        background: #ffffff;
        padding: 0px;
        box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
        border-radius: 12px;
        width: 55%;
      "
    >
      <div class="container form-group">
        <div class="row">
          <div
            class=""
            style="
              height: 15px;
              width: 80%;
              float: left;
              background-color: #eb6d47;
              box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
              border-radius: 12px 0px 0px 0px;
            "
          ></div>
          <div
            class=""
            style="
              height: 15px;
              width: 20%;
              float: left;
              margin-left: 0px;
              background-color: #dddddd;
              box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
              border-radius: 0px 12px 0px 0px;
            "
          ></div>
        </div>

        <form (ngSubmit)="onSubmit()" autocomplete="off">
          <div class="row">
            <div
              class="col-md-12"
              style="
                text-align: center;
                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 32px;
                line-height: 48px;
                text-align: center;
                letter-spacing: 0.2px;
                color: #303253;
              "
            >
              Car Details
            </div>
          </div>
          <div class="row">
            <br />
          </div>
          <!--2nd row start-->
          <div>
            <table style="width: 100%">
              <tr class="row" style="margin-top: 20px; padding-left: 20px">
                <td
                  class="col-md-6"
                  style="
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    /* identical to box height */
                    color: #303253;
                    margin-top: 15px;
                  "
                >
                  <label for="Registration Address "
                    >Registration Number<span class="required"> </span> :</label
                  >
                </td>

                <td class="col-md-6" style="padding-right: 20px">
                  <div class="input-group input-group-lg">
                    <input
                      type="text"
                      class="form-control"
                      style="
                        border-radius: 10px;
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                        height: 56px;

                        /* identical to box height */
                        color: #999999;
                      "
                      placeholder="MH 07 AB 1234"
                      autocomplete="off"
                      [(ngModel)]="carDetails.car_register_no"
                      name="car_register_no"
                    />
                  </div>
                  <div
                    style="display: none"
                    id="car_register_no_err"
                    class="alert alert-danger"
                  >
                    <div>Please Enter Valid Registration Number.</div>
                  </div>
                </td>
                <td class="col-md-1"></td>
              </tr>
              <div class="row">
                <br />
              </div>
              <!--2nd row start-->
              <tr class="row" style="margin-top: 20px; padding-left: 20px">
                <td
                  class="col-md-6"
                  style="
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    /* identical to box height */
                    color: #303253;
                    margin-top: 15px;
                  "
                >
                  <label for="Engine Number "
                    >Engine Number<span class="required">* </span> :</label
                  >
                </td>

                <td class="col-md-6">
                  <div class="input-group input-group-lg">
                    <input
                      type="text"
                      class="form-control"
                      style="
                        border-radius: 10px;
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                        height: 56px;

                        /* identical to box height */
                        color: #999999;
                      "
                      placeholder="23432834bjbkjdebwr32"
                      autocomplete="off"
                      [(ngModel)]="carDetails.enginee_no"
                      name="enginee_no"
                    />
                  </div>
                  <div
                    style="display: none"
                    id="enginee_no_err"
                    class="alert alert-danger"
                  >
                    <div>Please Enter Engine Number.</div>
                  </div>
                </td>
              </tr>
              <div class="row">
                <br />
              </div>
              <tr class="row" style="margin-top: 20px; padding-left: 20px">
                <td
                  class="col-md-6"
                  style="
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    /* identical to box height */
                    color: #303253;
                    margin-top: 15px;
                  "
                >
                  <label for="Chasis Number "
                    >Chassis Number<span class="required"> </span> :</label
                  >
                </td>

                <td class="col-md-6">
                  <div class="input-group input-group-lg">
                    <input
                      type="text"
                      class="form-control"
                      style="
                        border-radius: 10px;
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                        height: 56px;

                        /* identical to box height */
                        color: #999999;
                      "
                      placeholder="324324h34hjhjh2434"
                      autocomplete="off"
                      [(ngModel)]="carDetails.chassis_no"
                      name="chassis_no"
                    />
                  </div>
                  <div
                    style="display: none"
                    id="chassis_no_err"
                    class="alert alert-danger"
                  >
                    <div>Please Enter Valid Chassis Number.</div>
                  </div>
                </td>
              </tr>

              <div class="row">
                <br />
                <br />
              </div>
              <div class="row">
                <div
                  class="col-md-6"
                  style="
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    /* identical to box height */

                    color: #303253;
                  "
                >
                  <label
                    id="example-radio-group-label"
                    style="padding-left: 20px"
                    >Is your Car financed<span class="required">* </span>
                    :</label
                  >
                </div>
                <div class="col-md-6">
                  <mat-radio-group
                    aria-label="Select an option"
                    [(ngModel)]="carDetails.is_car_finance"
                    name="is_car_finance"
                  >
                    <div
                      class="row"
                      style="
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 21px;
                        /* identical to box height */

                        color: #303253;
                      "
                    >
                      <div class="col-md-6">
                        <mat-radio-button value="true">Yes</mat-radio-button>
                      </div>
                      <div class="col-md-6">
                        <mat-radio-button value="false">No</mat-radio-button>
                      </div>
                    </div>
                  </mat-radio-group>
                  <div
                    style="display: none"
                    id="is_car_finance_err"
                    class="alert alert-danger"
                  >
                    <div>Please Select Yes Or No.</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <br />
                <br />
              </div>
              <span *ngIf="carDetails.is_car_finance == 'true'">
                <div class="row">
                  <div
                    class="col-md-6"
                    style="
                      font-family: Poppins;
                      font-style: normal;
                      font-weight: normal;
                      font-size: 16px;
                      line-height: 24px;
                      /* identical to box height */

                      color: #303253;
                    "
                  >
                    <label
                      id="example-radio-group-label"
                      style="padding-left: 20px"
                      >Select Loan Provider Financier's Name<span
                        class="required"
                        >*
                      </span>
                      :</label
                    >
                  </div>
                  <div class="col-md-6">
                    <div>
                      <!-- <select type="text" class="form-control  " style="border-radius:10px;
                                                                        font-family: Poppins;
                                                                        font-style: normal;
                                                                        font-weight: normal;
                                                                        font-size: 16px;
                                                                        line-height: 24px;
                                                                        height:56px;
                                                                         
                                                                        /* identical to box height */ 
                                                                         color: #999999;" placeholder=""
                                        autocomplete="off" [(ngModel)]="carDetails.loan_provide_financier_name"
                                        name="loan_provide_financier_name">
                                        <option value="" disabled>Select Financier's Name</option>
                                        <option
                                            *ngFor=" let FinancierName of FinancierNameData | slice:0:10; let i=index"
                                            value="{{FinancierName.financier_name}}">
                                            {{FinancierName.financier_name}}</option>
                                    </select> -->
                      <ng-select
                        [(ngModel)]="carDetails.loan_provide_financier_name"
                        name="loan_provide_financier_name"
                      >
                        <ng-option
                          *ngFor="
                            let FinancierName of FinancierNameData
                              | slice: 0:10;
                            let i = index
                          "
                          [value]="FinancierName.financier_name"
                        >
                          {{ FinancierName.financier_name }}</ng-option
                        >
                      </ng-select>
                    </div>
                    <div
                      style="display: none"
                      id="loan_provide_financier_name_err"
                      class="alert alert-danger"
                    >
                      <div>Please Select Financier's Name.</div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <br />
                  <br />
                </div>

                <div class="row">
                  <div
                    class="col-md-6"
                    style="
                      font-family: Poppins;
                      font-style: normal;
                      font-weight: normal;
                      font-size: 16px;
                      line-height: 24px;
                      /* identical to box height */

                      color: #303253;
                    "
                  >
                    <label
                      id="example-radio-group-label"
                      style="padding-left: 20px"
                      >City from where Loan was taken<span class="required">
                      </span>
                      :</label
                    >
                  </div>
                  <div class="col-md-6">
                    <div class="input-group input-group-lg">
                      <input
                        type="text"
                        class="form-control"
                        style="
                          border-radius: 10px;
                          font-family: Poppins;
                          font-style: normal;
                          font-weight: normal;
                          font-size: 16px;
                          line-height: 24px;
                          height: 56px;

                          /* identical to box height */
                          color: #999999;
                        "
                        placeholder=""
                        autocomplete="off"
                        [(ngModel)]="carDetails.loan_city"
                        name="loan_city"
                      />
                    </div>
                    <div
                      style="display: none"
                      id="loan_city_err"
                      class="alert alert-danger"
                    >
                      <div>Please Enter Loan City.</div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <br />
                  <br />
                </div>
              </span>

              <div class="row">
                <div class="col-md-6">
                  <button
                    mat-button
                    color=""
                    style="
                      background: #999999;
                      border-radius: 10px;
                      font-style: normal;
                      font-weight: 600;
                      font-size: 18px;
                      line-height: 40px;
                      width: 248px;
                      align-items: center;
                      height: 60px;
                      margin-right: 5px;
                      color: #ffffff;
                    "
                    (click)="goback()"
                  >
                    Back
                  </button>
                </div>
                <div class="col-md-6">
                  <button
                    type="submit"
                    mat-button
                    color=""
                    style="
                      background: #303253;
                      border-radius: 10px;
                      font-style: normal;
                      font-weight: 600;
                      font-size: 18px;
                      line-height: 40px;
                      width: 248px;
                      align-items: center;
                      height: 60px;
                      margin-right: 5px;
                      color: #ffffff;
                    "
                  >
                    Next
                  </button>
                </div>
              </div>
              <!--5th row end-->
            </table>
          </div>
        </form>
      </div>
    </div>
    <!--new section start-->
    <div style="width: 7%"></div>
    <div class="col-md-5 container">
      <div class="row">
        <!-- <div class="col-md-7">

                <table style="width: 100%;" class="table">
                    <tr class="row">
                        <td class="col-md-12" style="height:2px ; 
                                             box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
                                            border-radius:12px 0px 0px 0px">

                        </td>

                    </tr>
                </table>
            </div> -->
        <div
          class="row"
          style="
            background: #ffffff;
            box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
            border-radius: 12px;
          "
        >
          <div class="col-md">
            <div class="container form-group">
              <form (ngSubmit)="onSubmit()" autocomplete="off">
                <div class="row">
                  <br />
                </div>
                <div class="row">
                  <div
                    class="col-md-12"
                    style="
                      font-family: Poppins;
                      font-style: normal;
                      font-weight: 600;
                      font-size: 24px;
                      line-height: 32px;

                      color: #303253;
                    "
                  >
                    Car Details
                  </div>
                </div>
                <div>
                  <table style="width: 100%">
                    <tr class="row" style="margin-top: 20px">
                      <td
                        class="col-md-8 field"
                        style="
                          font-family: Poppins;
                          font-style: normal;
                          font-weight: normal;
                          font-size: 16px;
                          line-height: 24px;
                          color: #303253;
                        "
                      >
                        <label for="Bike Manufacturer  "
                          >Car Manufacturer :</label
                        >
                      </td>
                      <td
                        class="col-md-4 field"
                        style="
                          font-family: Poppins;
                          padding-left: 10px;
                          font-style: normal;
                          font-weight: 600;
                          font-size: 16px;
                          line-height: 24px;
                          color: #303253;
                        "
                      >
                        <label for="Honda  ">{{
                          carData?.car_model_name
                        }}</label>
                      </td>
                    </tr>
                    <!--2nd row start-->
                    <tr class="row" style="margin-top: 20px">
                      <td
                        class="col-md-8 field"
                        style="
                          font-family: Poppins;
                          font-style: normal;
                          font-weight: normal;
                          font-size: 16px;
                          line-height: 24px;
                          color: #303253;
                        "
                      >
                        <label for="Variant & Model  ">Variant :</label>
                      </td>
                      <td
                        class="col-md-4 field"
                        style="
                          font-family: Poppins;
                          padding-left: 10px;
                          font-style: normal;
                          font-weight: 600;
                          font-size: 16px;
                          line-height: 24px;
                          color: #303253;
                        "
                      >
                        <label for="Unicorn,Self Start Disc  ">{{
                          carData?.variant
                        }}</label>
                      </td>
                    </tr>

                    <!--2nd row end-->
                    <!--3rd row start-->
                    <tr class="row" style="margin-top: 20px">
                      <td
                        class="col-md-8 field"
                        style="
                          font-family: Poppins;
                          font-style: normal;
                          font-weight: normal;
                          font-size: 16px;
                          line-height: 24px;
                          color: #303253;
                        "
                      >
                        <label for="Manufacturing Year "
                          >Manufacturing Year :
                        </label>
                      </td>
                      <td
                        class="col-md-4 field"
                        style="
                          font-family: Poppins;
                          font-style: normal;
                          font-weight: 600;
                          font-size: 16px;
                          line-height: 24px;
                          color: #303253;
                        "
                      >
                        <label for="2020 ">{{
                          carData?.manufacturing_date.split("-")[0]
                        }}</label>
                      </td>
                    </tr>
                    <!--3rd row end-->
                    <!--4th-->
                    <tr class="row" style="margin-top: 20px">
                      <td
                        class="col-md-8 field"
                        style="
                          font-family: Poppins;
                          font-style: normal;
                          font-weight: normal;
                          font-size: 16px;
                          line-height: 24px;
                          color: #303253;
                        "
                      >
                        <label for="Registration Date  "
                          >Registration Date :
                        </label>
                      </td>
                      <td
                        class="col-md-4 field"
                        style="
                          font-family: Poppins;
                          font-style: normal;
                          font-weight: 600;
                          font-size: 16px;
                          line-height: 24px;
                          color: #303253;
                        "
                      >
                        <label for="02 Jan 2020 ">{{
                          regDate | date: "dd-MMM-yyyy"
                        }}</label>
                      </td>
                    </tr>
                    <!--4th-->
                    <!--5th-->
                    <tr
                      class="row"
                      style="margin-top: 10px"
                      *ngIf="carData?.policy_type != 'new_enquiry'"
                    >
                      <td
                        class="col-md-8 field"
                        style="
                          font-family: Poppins;
                          font-style: normal;
                          font-weight: normal;
                          font-size: 16px;
                          line-height: 24px;
                          color: #303253;
                        "
                      >
                        <label for=" NCB on previous policy  ">
                          NCB on previous policy :
                        </label>
                      </td>
                      <td
                        class="col-md-4 field"
                        style="
                          font-family: Poppins;
                          font-style: normal;
                          font-weight: 600;
                          font-size: 16px;
                          line-height: 24px;
                          color: #303253;
                        "
                      >
                        <label for="20%">{{ carData?.ncb }}%</label>
                      </td>
                    </tr>

                    <!--5th-->
                    <!--6th-->
                    <tr
                      class="row"
                      style="margin-top: 10px"
                      *ngIf="carData?.policy_type != 'new_enquiry'"
                    >
                      <td
                        class="col-md-8 field"
                        style="
                          font-family: Poppins;
                          font-style: normal;
                          font-weight: normal;
                          font-size: 16px;
                          line-height: 24px;
                          color: #303253;
                        "
                      >
                        <label for="  Expairy Date :  "> Expairy Date : </label>
                      </td>
                      <td
                        class="col-md-4 field"
                        style="
                          font-family: Poppins;
                          font-style: normal;
                          font-weight: 600;
                          font-size: 16px;
                          line-height: 24px;
                          color: #303253;
                        "
                      >
                        <label for="04 Jan 2021">{{
                          expdate | date: "dd-MMM-yyyy"
                        }}</label>
                      </td>
                    </tr>

                    <!--6th-->
                    <!--7th-->
                    <tr class="row" style="margin-top: 10px">
                      <td
                        class="col-md-8 field"
                        style="
                          font-family: Poppins;
                          font-style: normal;
                          font-weight: normal;
                          font-size: 16px;
                          line-height: 24px;
                          color: #303253;
                        "
                      >
                        <label for="   Insurance Company ">
                          Insurance Company :
                        </label>
                      </td>
                      <td
                        class="col-md-4 field"
                        style="
                          font-family: Poppins;
                          font-style: normal;
                          font-weight: 600;
                          font-size: 16px;
                          line-height: 24px;
                          color: #303253;
                        "
                      >
                        <label for=" HDFC Ergo">{{
                          carData?.company_name
                        }}</label>
                      </td>
                    </tr>

                    <!--7th-->
                    <!--8th-->
                    <tr class="row" style="margin-top: 10px">
                      <td
                        class="col-md-8 field"
                        style="
                          font-family: Poppins;
                          font-style: normal;
                          font-weight: normal;
                          font-size: 16px;
                          line-height: 24px;
                          color: #303253;
                        "
                      >
                        <label for=" Cover Amount (IDV) ">
                          Cover Amount (IDV) :
                        </label>
                      </td>
                      <td
                        class="col-md-4 field"
                        style="
                          font-family: Poppins;
                          font-style: normal;
                          font-weight: 600;
                          font-size: 16px;
                          line-height: 24px;
                          color: #303253;
                        "
                      >
                        <label for=" ₹16,435">{{ carData?.idv }}</label>
                      </td>
                    </tr>
                    <!--8th row start-->
                    <!--9th row  start-->
                    <!-- <tr class="row" style="margin-top:10px;">
                                        <td class="col-md-8 field" style="  font-family: Poppins;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                color: #303253;">

                                            <label for=" NCB Discount "> NCB Discount :
                                            </label>
                                        </td>
                                        <td class="col-md-4 field" style=" font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #303253;">

                                            <label for=" 25%">{{carData?.ncb}}%</label>
                                        </td>

                                    </tr> -->
                    <!--9th row end-->
                    <!--10th row  start-->
                    <!-- <tr class="row" style="margin-top:10px;">
                                        <td class="col-md-8 field" style="  font-family: Poppins;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                color: #303253;">

                                            <label for=" Order Id "> Order Id :
                                            </label>
                                        </td>
                                        <td class="col-md-4 field" style=" font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #303253;">

                                            <label for=" MGB2PGJ1KAB"></label>
                                        </td>

                                    </tr> -->
                    <!--10th row end-->
                    <!--11th row  start-->
                    <tr class="row" style="margin-top: 10px">
                      <td
                        class="col-md-8 field"
                        style="
                          font-family: Poppins;
                          font-style: normal;
                          font-weight: normal;
                          font-size: 16px;
                          line-height: 24px;
                          color: #303253;
                        "
                      >
                        <label for="Policy Term "> Policy Term : </label>
                      </td>
                      <td
                        class="col-md-4 field"
                        style="
                          font-family: Poppins;
                          font-style: normal;
                          font-weight: 600;
                          font-size: 16px;
                          line-height: 24px;
                          color: #303253;
                        "
                      >
                        <label for=" 1 Year">1 Year</label>
                      </td>
                    </tr>
                    <!--11th row end-->
                    <!--12th row  start-->
                    <tr class="row" style="margin-top: 10px">
                      <td
                        class="col-md-8 field"
                        style="
                          font-family: Poppins;
                          font-style: normal;
                          font-weight: normal;
                          font-size: 16px;
                          line-height: 24px;
                          color: #303253;
                        "
                      >
                        <label for="Add-ons "> Add-ons: </label>
                      </td>
                      <td
                        class="col-md-4 field"
                        style="
                          font-family: Poppins;
                          font-style: normal;
                          font-weight: 600;
                          font-size: 16px;
                          line-height: 24px;
                          color: #303253;
                        "
                      >
                        <label for=" NA"
                          >{{
                            carData?.zero_depreciation == "true"
                              ? "Zero Dep,"
                              : ""
                          }}{{
                            carData?.rode_side_assistance == "true"
                              ? "Roadside Assistance,"
                              : ""
                          }}{{
                            carData?.invoice_cover == "true"
                              ? "Invoice Cover,"
                              : ""
                          }}{{
                            carData?.engine_protector == "true"
                              ? "Engine Cover,"
                              : ""
                          }}{{
                            carData?.ncb_protection == "true"
                              ? "NCB Protect,"
                              : ""
                          }}{{
                            carData?.consumable == "true" ? "Consumable," : ""
                          }}{{
                            carData?.key_protector == "true"
                              ? "Key Protect,"
                              : ""
                          }}{{
                            carData?.paid_driver_legal_liability_cover == "true"
                              ? "Paid Driver Legability,"
                              : ""
                          }}{{
                            carData?.driver_cover == "true"
                              ? "Passenger PA,"
                              : ""
                          }}{{
                            carData?.pa_to_owner_driver == "true"
                              ? "PA Owner Driver,"
                              : ""
                          }}</label
                        >
                      </td>
                    </tr>
                    <div class="row">
                      <div class="col-md-1" style="margin-bottom: 15px"></div>
                      <div
                        class="col-md-9"
                        style="border-bottom: 1px solid #dddddd"
                      ></div>
                      <div class="col-md-2"></div>
                    </div>
                    <!--12th row end-->
                    <!--12th row  start-->

                    <tr class="row" style="padding-top: 20px">
                      <td
                        class="col-md-8 field"
                        style="
                          font-family: Poppins;
                          font-style: normal;
                          font-weight: normal;
                          font-size: 16px;
                          line-height: 24px;
                          color: #303253;
                        "
                      >
                        <label for="GST @ 18%">GST @ 18% </label>
                      </td>
                      <td
                        class="col-md-4 field"
                        style="
                          font-family: Poppins;
                          font-style: normal;
                          font-weight: 600;
                          font-size: 16px;
                          line-height: 24px;
                          color: #303253;
                        "
                      >
                        <label for="₹435">{{
                          +carData?.final_premium * +carData?.gst -
                            +carData?.final_premium | number: "1.0-0"
                        }}</label>
                      </td>
                    </tr>

                    <!--12th row end-->
                    <div class="row" style="margin-top: 10px">
                      <div class="col-md-1"></div>
                      <div
                        class="col-md-9"
                        style="border-bottom: 1px solid #dddddd"
                      ></div>
                      <div class="col-md-2"></div>
                    </div>
                    <!--13th row start-->
                    <tr class="row" style="margin-top: 10px">
                      <td
                        class="col-md-8 field"
                        style="
                          font-family: Poppins;
                          font-style: normal;
                          font-weight: normal;
                          font-size: 20px;
                          line-height: 30px;
                          color: #303253;
                        "
                      >
                        <label for="Final Premium">Final Premium </label>
                      </td>
                      <td
                        class="col-md-4 field"
                        style="
                          font-family: Poppins;
                          font-style: normal;
                          font-weight: 600;
                          font-size: 20px;
                          line-height: 30px;
                          color: #303253;
                        "
                      >
                        <label for="₹1,435">{{
                          carData?.final_premium | number: "1.0-0"
                        }}</label>
                      </td>
                    </tr>
                    <div class="row">
                      <br />
                    </div>
                    <!--13th row end-->
                    <!--14th start start-->
                    <div class="row">
                      <div class="col-md-12 d-flex justify-content-center">
                        <button
                          class="btn"
                          routerLink="/car"
                          style="
                            background: #303253;
                            color: #ffffff;
                            border-radius: 8px;
                            width: 200px;
                            font-family: Poppins;
                            width: 306px;
                          "
                        >
                          Edit
                        </button>
                      </div>
                    </div>
                    <!--14th row end-->
                  </table>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--new section end-->
  </div>
</div>

<app-footer></app-footer>
