<div class="container wrapper-div">
    <h1 class="heading">VERIFICATION</h1>
    <div class="row">
        <div class="col-8">
            <label class="field">
                <input type="text" name="" id="" class="form-control date-input"
                placeholder="Enter one-time password received">
                <label for="" class="field-icon"><i class="fa fa-pencil"></i></label>
            </label>
        </div>
        <div class="col-4 mr-auto">
            <button type="submit" class="button btn-primary bot-spacer"><a href=""
                style="color:whitesmoke">Resend Otp</a></button>
        </div>
    </div>
    <div class="row">
        <button type="submit" class="button btn-primary top-spacer bot-spacer"><a href=""
            style="color:whitesmoke">Verify</a></button>
    </div>
</div>