/*
.container {
    font-family: 'Averin';
}
.row {
    font-family: 'Averin';
}
.text-center {
    color: #E71D36;
}
.text-right {
    float: right;
    margin-top:0.2cm;
    margin-left: 10cm;
}
.text-center1 {
    align-items: center;
    margin-left: 13cm;
    margin-top: 0.2cm;
}
.text-center2 {
    align-items: center;
    margin-left: 12.7cm;
}
.text-center3 {
    align-items: center;
    margin-left: 10cm;
}
.text-right1 {
    float: right;
    color: #E71D36;
    margin-left: 9cm;
}
.final {
    text-align: center;
    margin-left: 13cm;
    color: #E71D36;
    margin-top: .6cm;
    width: 100%;
    border-bottom: 1px solid #ddd;
    line-height: 0.1em;
    margin: 10px 0 20px;
}
.final span {
    background: #fff;
    padding: 0 10px;
}
.date-input {
    padding-left: 15%;
}
.field-icon {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    color: grey;
}
.field {
    display: block;
    position: relative;
    width: 10cm;
}
.wrapper-div {
    border: 1px solid #ddd;
    padding: 0 5%;
}
.tabs-data {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 1088px;
    height: 178px;
  }
*/

.container-fluid
{
    height: auto;
    padding: 0;
    width: 1200px;
    margin: 0 auto;
}
.container1 .save button
{
    width: 630px;
    height: 56px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    background: #EB6E47;
    border-radius: 8px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.heading
{
    margin-bottom: 20px;
}
.heading h2
{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    color: #303253;
}
.main
{
    width: 90.3%;
    height: auto;
    margin-top: 30px;
    padding-left: 32px;
    padding-top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.07);
    border-radius: 12px;   
    overflow: hidden;
}
.main h4
{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #303253;
}
.main .row
{
    margin-left: 32px;
    margin-bottom: 10px;
}
.col-3, .col-5
{
    padding: 0px;
}
.main p
{
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #303253;
    margin-top: 0px;
    margin-left: 15px;
}
.main b
{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #303253;
}
.main button
{
    width: 150px;
    height: 48px;
    margin-top: -15px;
    background: #999999;
    border-radius: 8px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    margin-left: -50px;
}
@media only screen and (max-width: 1300px) {
    .container-fluid
    {
        padding-left: 6.5%;
    }
    .main button
    {
        margin-left: -50px;
    }
}
@media only screen and (max-width: 1400px) {
    .container-fluid
    {
        padding-left: 6.5%;
    }
    .main button
    {
        margin-left: -50px;
    }
}