<!--
<style>
    .fade:not(.show) {
        opacity: unset !important;
    }
</style>
<div class="container wrapper-div" style="margin-bottom: 40px;" id="maindiv">
    <h1 class="text-center font-weight-bold mt-5">Health Insurance</h1>
    <h3 *ngIf="payment_status == '1' || payment_status == '2'" class="centerdiv text-yellow">Your Policy Status:
        {{health_enquiry_details['status_name']}}</h3> -->
<!-- <div class="row">
        <div class="section col-md-4"> -->
<!-- <img src="{{Config::get('settings.base_url').str_replace('public/', '', $proposal_summary['health_enquiry_details']['enquiry_details'][0]->logo)}}"/>
            <br> -->
<!-- <h5>{{proposal_form[0]['p_first_name']}} {{proposal_form[0]['p_last_name']}},{{proposal_form[0]['gender']}}
            </h5>
        </div>
        <div class="section col-md-4 centerdiv">
            <h5><span class="text-primary" style="color: #2EA7C4"><b>Insurance Cover:</b></span>
                <span class="big-font " style="color: #E71D36">{{health_enquiry_details['sum_assured']}} Lacs</span>
            </h5>
        </div>
        <div class="section colm colm4 centerdiv">
            <h5><span class="text-primary" style="color: #2EA7C4"><b>Premium:</b></span>
                <span class="big-font " style="color: #E71D36">({{health_enquiry_details['premium']}})</span>
            </h5>
        </div>
    </div>
    <div class="row centerdiv" data-html2canvas-ignore="true">
        <div class="section">
            <button type="button" (click)="redirectToEdit()" class="btn ml-2" style="background-color: #E71D36;">Edit
            </button>
            <button type="button" class="btn ml-2" style="background-color: #E71D36;" (click)="openEmailModal()"><i
                    class="fa fa-envelope"></i>Save Quote & Pay
                Later
            </button>
            <button type="button" class="btn ml-2" style="background-color: #E71D36;" (click)="downloadpdf()">Save
                As PDF</button>
             <button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#emailModal">Open
                Modal</button> 
        </div>
    </div> -->
<!-- <div class="frm-row centerdiv" ng-show="payment_status == '2'">
        <div class="section">
            <button type="submit" class="btn mt-2" style="background-color: #E71D36;"
                ng-click="createNewProposalId()">Do you want to Make payment Again? Click Here</button>
        </div>
    </div> -->
<!-- <div class="row">
        <div class="tagline col-md-4"><span style="color: #E71D36">PROPOSER</span></div>
    </div>
    <div class="row">
        <div class=" col-md-4">
            <b>Name:</b> {{proposal_form[0]['p_first_name']}} {{proposal_form[0]['p_mid_name']}}
            {{proposal_form[0]['p_last_name']}}
        </div>
        <div class=" col-md-4">
            <b>Date of Birth:</b> <span>{{
                proposal_form[0]['dob'] | date:
                'dd-MMM-yyyy'}}</span>
        </div>
        <div class=" col-md-4">
            <b>Gender:</b> {{proposal_form[0]['gender']}}
        </div>
    </div>
    <div class="row">
        <div class=" col-md-4">
            <b>Marital Status :</b> {{proposal_form[0]['marital_status']}}
        </div>
        <div class=" col-md-4">
            <b>GST Number :</b> {{proposal_form[0]['gst_id_number'] != '' ? proposal_form[0]['gst_id_number'] : 'NA'}}
        </div>
        <div class=" col-md-4">
            <b>Aadhar No :</b> {{proposal_form[0]['p_aadhar']}}
        </div>
    </div>
    <div class="row">
        <div class=" col-md-4">
            <b>Annual Income :</b> {{proposal_form[0]['apollo_annual_income']}}
        </div>
        <div class=" col-md-4">
            <b>Id Proof Type :</b> {{proposal_form[0]['apollo_id_proof_type']}}
        </div>
        <div class=" col-md-4">
            <b>Id Proof Number :</b> {{proposal_form[0]['apollo_id_proof_no']}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"><span style="color: #E71D36">INSURED MEMBERS</span></div>
    </div>
    <div *ngFor="let member of insured_members_array; let a = index" class="">
        <div class='row'>
            <div class="col-md-4">
                <b>Name :</b> {{member['i_first_name']}} {{member['i_middle_name']}} {{member['i_last_name']}}
            </div>
            <div class="col-md-4">
                <b>Date Of Birth :</b> <span>{{member['dob'] |
                    date:'dd-MMM-yyyy'}}</span>
            </div>
            <div class="col-md-4">
                <b>Gender :</b> {{member['gender']}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <b>Relation with proposer :</b> {{member['relationship']}}
            </div>
            <div class="col-md-4">
                <b>Height :</b> '{{member['height_feet']}}' ft. '{{member['height_inch']}}' inch
            </div>
            <div class="col-md-4">
                <b>Weight(Kgs) :</b> {{member['weight']}}
            </div> -->
<!-- <div class="col-md-3">
                <b>Waistline(cm) :</b> {{member['waistline']}}
            </div> -->
<!-- </div>
        <div class="row"> -->
<!-- <div class="col-md-4">
                <b>Occupation :</b> {{member['insured_occupation']}}
            </div> -->
<!-- <div class="col-md-4">
                <b>Insured Mobile :</b> {{member['mobile']}}
            </div> -->
<!-- <div *ngIf="health_enquiry_details['company_id'] == '7'" class="col-md-4">
                <b>Occupation :</b> {{member['insured_occupation']}}
            </div> -->
<!--
        </div>
        <div class="row">
            <div class="col-md-4" style="color: #E71D36"></div>
        </div>
    </div>
-->
<!-- <div *ngFor="let member of insured_members_array; let a = index" class="">
        <div
            *ngIf="member['personal_accident'] == '1' && (health_enquiry_details['master_sheet_id'] == '25' || health_enquiry_details['master_sheet_id'] == '40')">
            <div class="row">
                <div class="col-md">
                    <b>You want to Buy Personal Accident Policy For : </b> {{member['i_first_name']}}
                    {{member['i_middle_name']}} {{member['i_last_name']}}
                </div>
            </div>
        </div>
    </div> -->
<!--
    <div class="row">
        <div class="col-md-4"><span style="color: #E71D36">CONTACT DETAILS</span></div>
    </div>
    <div class="row">
        <div class="col-md">
            <b>Mailing Address :</b> {{ proposal_form[0]['address']}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <b>Area/Locality :</b> {{ proposal_form[0]['area_locality']}}
        </div>
        <div class="col-md-6">
            <b>Landmark :</b> {{ proposal_form[0]['landmark']}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <b>Pincode :</b> {{ proposal_form[0]['pincode_id']}}
        </div>
        <div class="col-md-3">
            <b>City :</b> {{ proposal_form[0]['city_name']}}
        </div>
        <div class="col-md-3">
            <b>State :</b> {{ proposal_form[0]['state_name']}}
        </div>
        <div class="col-md-3" *ngIf="company_id == '7'">
            <b>Area :</b> {{ proposal_form[0]['locality']}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <b>Email ID :</b> {{ proposal_form[0]['email']}}
        </div>
        <div class="col-md-6">
            <b>Mobile Number :</b> {{ proposal_form[0]['mobile']}}
        </div>
        <div class="col-md-4">
            <b>Alternate Mobile Number :</b> {{ proposal_form[0]['landline']}}
        </div> 
    </div>
    <div class="row">
        <div class="col-md"><span style="color: #E71D36">MEDICAL HISTORY</span></div>
    </div>


    <div *ngFor="let medHistory of medical_questions_history; let i = index" class="row"
        style="margin-top: 20px;width:100%">
        <div id="{{medHistory['question_id']}}">
            <label class="field-label"><i class="fa fa-user-md text-yellow" aria-hidden="true"></i>
                {{medHistory.questions}}</label><br>
             <h6 style="margin-left: 2cm;">{{ medHistory.questions }} :</h6> 
            <label class="container-div">
                <input type="radio" name="mainQ_{{medHistory['question_id']}}" value="Yes"
                    [checked]="medHistory['question_answer'] == 'Yes'" disabled>
                <span class="checkmark"></span>Yes
            </label>
            <label class="container-div">
                <input type="radio" name="mainQ_{{medHistory['question_id']}}" value="No"
                    [checked]="medHistory['question_answer'] == 'No'" disabled>
                <span class="checkmark"></span>No
            </label>
            <br />
        </div>
        <br>
        <span *ngIf="medHistory['question_answer'] == 'Yes'">
            <div *ngFor="let subQ of medical_sub_questions_history; let a = index" style="margin-left: 20px;">
                <span *ngIf="subQ['question_id'] == medHistory['question_id']">
                    <span *ngFor="let member of insured_members_array">
                        <div *ngIf="member['id'] == subQ['insured_id']">
                            <div *ngIf="member['insured_type'] == 'adult'">
                                Adult
                            </div>
                            <div *ngIf="member['insured_type'] == 'child'">
                                Child
                            </div>
                            {{member['i_first_name']}}
                        </div>
                    </span>

                    <div class="col-6">
                        <label class="container-div">
                            <input name="subQ_{{medHistory['question_id']}}_{{a}}" type="radio" value="1"
                                [checked]="subQ['question_answer'] == 'Yes'" disabled>
                            <span class="checkmark"></span>Yes
                        </label>
                        <label class="container-div">
                            <input name="subQ_{{medHistory['question_id']}}_{{a}}" type="radio" value="0"
                                [checked]="subQ['question_answer'] == 'No'" disabled>
                            <span class="checkmark"></span>No
                        </label>
                    </div>
                    <div *ngFor="let subForm of medical_sub_form_history; let c = index" style="margin-left: 20px;">
                        <div class="col-6"
                            *ngIf="subForm['question_id'] == subQ['question_id'] && subForm['insured_id'] == subQ['insured_id']">
                            <label class="container-div">
                                {{subForm['sub_questions']}}: <input type="text" style="opacity:unset"
                                    name="{{subForm['sub_questions']}}" [value]="subForm['sub_question_answer']"
                                    disabled>
                            </label>
                        </div>
                    </div>
                </span>
            </div>
        </span>
    </div>
    <div class="row">
        <div class="col-md"><span style="color: #E71D36">NOMINEE DETAILS</span></div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <b>Nominee Name :</b> {{proposal_form[0]['nominee_name']}}
        </div>
         <div class="section colm colm4" *ngIf="company_id == '7' || company_id == '48'">
            <b>Nominee DOB :</b> {{proposal_form[0]['nominee_dob'] | date: 'dd-MMM-yyyy'}}
        </div>
        <div *ngIf="company_id == '48'">
            <div class="col-md-4">
                <b>Nominee Contact No :</b> {{proposal_form[0]['nominee_contact_no']}}
            </div>
            <div class="col-md-4">
                <b>Nominee Address :</b> {{proposal_form[0]['nominee_address']}}
            </div>
        </div> 
        <div class="col-md-4">
            <b>Relationship With Proposer :</b> {{proposal_form[0]['nominee_relationship']}}
        </div>
    </div>
</div>
-->

<!-- <div *ngIf="company_id == '7'">
        <div class="row">
            <div class="section col-md-6">
                <label class="field-label"> Social Status : <small>Please choose "Yes" in case of BPL families, Disabled
                        Persons etc, Persons working in UnOrganized/Informal Sectors (?)</small></label>
                <div class="option-group field">
                    <label class="option localstorage">
                        <input type="radio" ng-disabled='true' name="social_status"
                            ng-model="proposal_form[0].star_social_status" id="social_status" class="smartfm-ctrl"
                            data-show-id="social_status_data" value="1">
                        <span class="radio"></span> Yes
                    </label>
                    <label class="option localstorage">
                        <input type="radio" ng-disabled='true' name="social_status" id="social_status_no"
                            ng-model="proposal_form[0].star_social_status" checked="checked" value="0"
                            class="question_no">
                        <span class="radio"></span> No
                    </label>
                </div>
            </div>
        </div>
        <div *ngIf="proposal_form[0].star_social_status == '0'">
            <div ng-init="star_social_status_info.bpl = '0'"></div>
            <div ng-init="star_social_status_info.handicaped = '0'"></div>
            <div ng-init="star_social_status_info.informal = '0'"></div>
            <div ng-init="star_social_status_info.unorganized = '0'"></div>
        </div>
        <div id="social_status_data" *ngIf="proposal_form[0].star_social_status == '1'">
            <div class="section col-md-6 smart-forms">
                <div class="option-group field">
                    <label class="field-label"> you live below the poverty line (BPL)</label>
                    <label class="option localstorage">
                        <input type="radio" ng-disabled='true' name="social_status_bpl"
                            ng-model="star_social_status_info.bpl" class="smartfm-ctrl" value="1">
                        <span class="radio"></span> Yes
                    </label>
                    <label class="option localstorage">
                        <input type="radio" ng-disabled='true' name="social_status_bpl"
                            ng-model="star_social_status_info.bpl" value="0" class="question_no">
                        <span class="radio"></span> No
                    </label>
                </div>
            </div>
            <div class="section colm colm6 smart-forms">
                <div class="option-group field">
                    <label class="field-label"> you are Physically Handicaped/Disabled</label>
                    <label class="option localstorage">
                        <input type="radio" ng-disabled='true' name="social_status_handicaped"
                            ng-model="star_social_status_info.handicaped" class="smartfm-ctrl" value="1">
                        <span class="radio"></span> Yes
                    </label>
                    <label class="option localstorage">
                        <input type="radio" ng-disabled='true' name="social_status_handicaped"
                            ng-model="star_social_status_info.handicaped" value="0" class="question_no">
                        <span class="radio"></span> No
                    </label>
                </div>
            </div>
            <div class="section colm colm6 smart-forms">
                <div class="option-group field">
                    <label class="field-label"> you are working in Informal Sector</label>
                    <label class="option localstorage">
                        <input type="radio" ng-disabled='true' name="social_status_informal"
                            ng-model="star_social_status_info.informal" class="smartfm-ctrl" value="1">
                        <span class="radio"></span> Yes
                    </label>
                    <label class="option localstorage">
                        <input type="radio" ng-disabled='true' name="social_status_informal"
                            ng-model="star_social_status_info.informal" value="0" class="question_no" selected>
                        <span class="radio"></span> No
                    </label>
                </div>
            </div>
            <div class="section colm colm6 smart-forms">
                <div class="option-group field">
                    <label class="field-label"> you are working in UnOrganized Sector </label>
                    <label class="option localstorage">
                        <input type="radio" ng-disabled='true' name="social_status_unOrganized"
                            ng-model="star_social_status_info.unorganized" class="smartfm-ctrl" value="1">
                        <span class="radio"></span> Yes
                    </label>
                    <label class="option localstorage">
                        <input type="radio" ng-disabled='true' name="social_status_unOrganized"
                            ng-model="star_social_status_info.unorganized" value="0" class="question_no">
                        <span class="radio"></span> No
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div>
            <div>
                <h4 class="centerdiv" style="color: #E71D36">Verify Mobile No.
                    {{proposal_form[0][mobile]}}</h4>
                <div class="frm-row" ng-if="otp != ''">
                    <div class="section colm colm6">
                        <label class="field prepend-icon">
                            <input type="text" name="otp" id="otp" class="gui-input" ng-model="otp"
                                placeholder="Mobile OTP">
                            <label for="otp" class="field-icon"><i class="fa fa-pencil"
                                    style="margin-top: 12px"></i></label>
                        </label>
                    </div>
                    <div>
                        <div ng-init=""></div>
                    </div>
                    <div class="section colm colm3">
                        <button type="button" ng-click="" class="button btn-primary"
                            style="background-color: #2EA7C4">Verify</button>
                    </div>
                </div>
                <div class="frm-row">
                    <div class="section colm colm3">
                        <label for="otp" class="field-label" ng-hide="">
                            <div class="counter text-yellow"></div>
                        </label>
                        <button type="button" type="button" ng-click="" ng-disabled="counter > 0"
                            class="button btn-primary" style="background-color: #2EA7C4">Send OTP</button>
                    </div>
                </div>
                <div class="frm-row centerdiv" ng-hide="">
                    <div ng-if="" class="alert notification alert-success">
                        OTP Sent on your Mobile No. and Email Id
                    </div>
                    <div ng-if="" class="alert notification alert-error">
                        Error in Sending OTP, pls try again
                    </div>
                </div>
            </div>
        </div>
    </div> -->
<!--
<ng-template #emailModal let-modal>
    <div class="modal-header text-white" style="background-color: #E71D36;">
        <h3 class="text-white">Save Proposal Form on Email</h3>
        <button type="button" class="close text-white" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-6 py-2">
                <label class="field" style="width: 6.5cm;">
                    <input type="email" [(ngModel)]="saveQuotePayLaterForm.email" name="email" id=""
                        class="form-control date-input" placeholder="Email">
                    <label for="" class="field-icon"><i class="fa fa-envelope"></i></label>
                </label>
            </div>
            <div class="col-6 py-2">
                <button type="button" (click)="saveQuotePayLater()" class="btn btn-success" style="width:5cm">Email
                    Proposal Form</button>
            </div>
        </div>
        <div *ngIf="!valid_email" class="alert alert-danger" role="alert">
            Please Enter Valid Email Id
        </div>
        <div *ngIf="mail_success == false" class="alert alert-danger" role="alert">
            Error in Sending Email, pls try again
        </div>
        <div *ngIf="mail_success == true" class="alert alert-success" role="alert">
            Email Sent Successfully.
        </div>
    </div>
</ng-template>
-->
<!-- <div class="row">
        <div class="container text-center">
            <h6></h6>
        </div>
    </div>
    <div class="container tabs-data">
        <div class="row">
            <div class="col-6">
                <h6 style="margin-top: .5cm; color:rgb(80, 154, 224);font-weight: bold;">Registration Date : <span
                        style="color:#000;"></span></h6>
            </div>
            <div class="col-6">
                <h6 style="margin-top: .5cm; color:rgb(80, 154, 224);font-weight: bold;">Last Policy Claim Status :<span
                        style="color:#000;">
                    </span></h6>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h6 style="margin-top: .5cm; color:rgb(80, 154, 224);font-weight: bold;">Manufacturing Year :<span
                        style="color:#000;"></span></h6>
            </div>
            <div class="col-6">
                <h6 style="margin-top: .5cm; color:rgb(80, 154, 224);font-weight: bold;">Previous Policy NCB :<span
                        style="color:#000;"></span></h6>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h6 style="margin-top: .5cm; color:rgb(80, 154, 224);font-weight: bold;">Prev. Policy Expiry Date :<span
                        style="color:#000;"></span></h6>
            </div>
            <div class="col-6">
                <h6 style="margin-top: .5cm; color:rgb(80, 154, 224);font-weight: bold;">New Policy NCB :<span
                        style="color:#000;"></span></h6>
            </div>
        </div>
    </div>
    <div class="row py-2 text-center3">
        <button type="button" class="btn btn-success" style="width:6cm;background-color: #E71D36;"
            (click)="openEmailModal()"><i class="fa fa-envelope"
                style="padding-right: 10px;background-color: #E71D36;"></i>Email Quote & Pay Later
        </button>
    </div>
    <div class="row py-2 text-center3">
        <a href="/car">
            <button type="button" class="btn btn-success"
                style="width: 2cm;margin-left: 2.5cm;background-color: #E71D36;">Edit
            </button></a>
    </div>
    <div class="row">
        <h6 class="final"><span>CAR OWNER</span></h6>
    </div>
    <div class="row">
        <div class="col-6">
            <h6 style="margin-top: .5cm;font-weight: bold;color:rgb(255, 0, 0)">Company Name :<span style="color:#000;"
                    *ngIf="SummaryData?.car_owner == 'company'"></span></h6>

        </div>
        <div class="col-6">

            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Name :<span style="color:#000;"></span></h6>
        </div>
        <div class="col-6">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Email :<span style="color:#000;;"></span></h6>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Car Owner :<span style="color:#000;"></span></h6>
        </div>
        <div class="col-6">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">GST NO. :<span style="color:#000;"></span></h6>
        </div>
    </div>
    <div class="row">
        <h6 class="final"><span>PERSONAL DETAILS</span></h6>
    </div>
    <div class="row">
        <div class="col-6">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Gender :<span style="color:#000;"></span></h6>
        </div>
        <div class="col-6">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Marital Status :<span style="color:#000;"></span>
            </h6>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Date of Birth :<span style="color:#000;"></span>
            </h6>
        </div>
    </div>
    <div class="row">
        <h6 class="final"><span>NOMINEE DETAILS</span></h6>
    </div>
    <div class="row">
        <div class="col-4">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Name :<span style="color:#000;"></span></h6>
        </div>
        <div class="col-4">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Date of Birth :<span style="color:#000;"></span>
            </h6>
        </div>
        <div class="col-4">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Relationship :<span style="color:#000;"></span>
            </h6>
        </div>
    </div>
    <div class="row">
        <h6 class="final"><span>CAR REGISTRATION ADDRESS</span></h6>
    </div>
    <div class="row">
        <div class="col-12">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Registration Address :<span
                    style="color:#000;"></span></h6>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Area/Locality :<span style="color:#000;"></span>
            </h6>
        </div>
        <div class="col-4">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Landmark :<span style="color:#000;"></span></h6>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Pincode :<span style="color:#000;"></span></h6>
        </div>
        <div class="col-4">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">City :<span style="color:#000;"></span></h6>
        </div>
        <div class="col-4">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">State :<span style="color:#000;"></span></h6>
        </div>
    </div>
    <div class="row">
        <h6 class="final"><span>CAR COMMUNICATION ADDRESS</span></h6>
    </div>
    <div class="row">
        <div class="col-12">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Communication Address :<span
                    style="color:#000;"></span></h6>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Area/Locality :<span style="color:#000;"></span>
            </h6>
        </div>
        <div class="col-4">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Landmark :<span style="color:#000;"></span></h6>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Pincode :<span style="color:#000;"></span></h6>
        </div>
        <div class="col-4">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">City :<span style="color:#000;"></span></h6>
        </div>
        <div class="col-4">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">State :<span style="color:#000;"></span></h6>
        </div>
    </div>
    <div class="row">
        <h6 class="final"><span>VEHICLE DETAILS</span></h6>
    </div>
    <div class="row">
        <div class="col-6">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Car Registration No. :<span
                    style="color:#000;"></span></h6>
        </div>
        <div class="col-6">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Engine No. :<span style="color:#000;"></span></h6>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Chassis No. :<span style="color:#000;"></span>
            </h6>
        </div>
        <div class="col-6">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Expiry Policy No. :<span
                    style="color:#000;"></span></h6>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Existing Insurance :<span
                    style="color:#000;"></span></h6>
        </div>
        <div class="col-6">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Car On Loan :<span style="color:#000;"></span>
            </h6>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Loan Provider :<span style="color:#000;"></span>
            </h6>
        </div>
        <div class="col-6">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Loan City :<span style="color:#000;"></span></h6>
        </div>
    </div> -->
<!-- <div class="row py-2 text-center3">
        <a href="/car/proposal">
            <button type="button" class="btn btn-success" style="width: 2cm;margin-right: .5cm;">Edit
            </button></a>
        <button type="button" class="btn btn-success" style="width:6cm" (click)="openEmailModal()"><i
                class="fa fa-envelope" style="padding-right: 10px;"></i>Save Quote & Pay Later
        </button>
    </div> -->
<!-- <h1 style="color:orange;margin-left: 10cm;font-weight: bold;margin-top: .6cm;">Verify Mobile No.</h1>
    <div class="row">
        <label class="field">
            <input type="text" name="" id="" class="form-control date-input" placeholder="Mobile OTP">
            <label for="" class="field-icon"><i class="fa fa-pencil"></i></label>
        </label>
        <button type="button" class="btn btn-success" style="margin-left:20px; height:1cm">Verify</button>
    </div>
    <div class="row">
        <button type="button" class="btn btn-success" style="margin-top: 20px;height: 1cm;margin-bottom: 2cm;">Send
            OTP</button>
    </div> -->
<!-- <button type="button" class="btn btn-success"
        style="width:6cm;margin-left: 10cm;margin-bottom: 20px;background-color: #E71D36;">Save As PDF</button>
</div>

<ng-template #email let-modal>
    <div class="modal-header text-white" style="background-color: #E71D36;">
        <h3 class="text-white">Save Proposal Form on Email</h3>
        <button type="button" class="close text-white" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-6 py-2">
                <label class="field" style="width: 6.5cm;">
                    <input type="email" name="email" id="" class="form-control date-input" placeholder="Email">
                    <label for="" class="field-icon"><i class="fa fa-envelope"></i></label>
                </label>
            </div>
            <div class="col-6 py-2">
                <button type="button" class="btn btn-success" style="width:5cm">Email Proposal Form</button>
            </div>
        </div>
    </div>
</ng-template> -->
<app-header-lite></app-header-lite>
<div class="container-fluid" id="maindiv">
    <div class="row">
        <div class="col-12 heading">
            <h2>Health Insurance Policy Summary</h2>
        </div>
    </div>
    <div class="container1">
        <div class="main">
            <div class="row">
                <div class="col-10">
                    <h4>Proposer Details</h4>
                </div>
                <div class="col-2">
                    <button mat-button data-html2canvas-ignore="true" (click)="goToEdit('health',0)">Edit</button>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>No of Adults :</p>
                </div>
                <div class="col-5">
                    <!-- <b>1 Adult</b> -->
                    <b>{{health_enquiry_details["adults"]}} Adult(s)</b>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>No. of Children :</p>
                </div>
                <div class="col-5">
                    <!-- <b>1 Chidren</b> -->
                    <b>{{health_enquiry_details["children"]}} Chidren(s)</b>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>Age of the Eldest Member :</p>
                </div>
                <div class="col-5">
                    <!-- <b>35</b> -->
                    <b>{{health_enquiry_details["age"]}}</b>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>Select Insurance Cover :</p>
                </div>
                <div class="col-5">
                    <!-- <b>1 - 2 Lacs</b> -->
                    <b>{{health_enquiry_details["min_insurance_cover"]}} -
                        {{health_enquiry_details["max_insurance_cover"]}} Lacs</b>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>Pin Code :</p>
                </div>
                <div class="col-5">
                    <!-- <b>400092</b> -->
                    <b>{{health_enquiry_details["pincode"]}}</b>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="row">
                <div class="col-10">
                    <h4>Proposer Details</h4>
                </div>
                <div class="col-2">
                    <button mat-button data-html2canvas-ignore="true"
                        (click)="goToEdit('proposal-details',1)">Edit</button>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>First Name :</p>
                </div>
                <div class="col-5">
                    <!-- <b>Christopher</b> -->
                    <b>{{proposal_form["p_first_name"]}}</b>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>Middle Name :</p>
                </div>
                <div class="col-5">
                    <!-- <b>John</b> -->
                    <b>{{proposal_form["p_mid_name"]}}</b>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>Last Name :</p>
                </div>
                <div class="col-5">
                    <!-- <b>Doe</b> -->
                    <b>{{proposal_form["p_last_name"]}}</b>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>Date of Birth :</p>
                </div>
                <div class="col-5">
                    <!-- <b>29 Feb 2021</b> -->
                    <b>{{proposalDob | date:'dd MMM yyyy'}}</b>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>Gender :</p>
                </div>
                <div class="col-5">
                    <!-- <b>Male</b> -->
                    <b>{{proposal_form["gender"]}}</b>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>Marital Status :</p>
                </div>
                <div class="col-5">
                    <!-- <b>Single</b> -->
                    <b>{{proposal_form["marital_status"]}}</b>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>GSTIN (Optional) :</p>
                </div>
                <div class="col-5">
                    <!-- <b>1234</b> -->
                    <b>{{proposal_form["gst_id_number"]}}</b>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>Annual Income :</p>
                </div>
                <div class="col-5">
                    <!-- <b>3 Lacs</b> -->
                    <b>{{+proposal_form["apollo_annual_income"]}}</b>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>Aadhaar Card Number :</p>
                </div>
                <div class="col-5">
                    <!-- <b>1234 123 123</b> -->
                    <b>{{proposal_form["p_aadhar"]}}</b>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>ID Proof Type :</p>
                </div>
                <div class="col-5">
                    <!-- <b>Pass port</b> -->
                    <b>{{proposal_form["apollo_id_proof_type"]}}</b>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>ID Proof Number :</p>
                </div>
                <div class="col-5">
                    <!-- <b>123456</b> -->
                    <b>{{proposal_form["apollo_id_proof_no"]}}</b>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>Profession :</p>
                </div>
                <div class="col-5">
                    <!-- <b>Doctor</b> -->
                    <b>{{proposal_form["apollo_profession"]}}</b>
                </div>
            </div>
        </div>
        <div class="main" *ngFor="let member of insured_members_array; let a = index">
            <div class="row">
                <div class="col-10">
                    <h4>Insured Members ({{member["insured_type"] == 'adult' ? 'Adult' : 'Child'}})</h4>
                </div>
                <div class="col-2">
                    <button mat-button data-html2canvas-ignore="true"
                        (click)="goToEdit('proposal-insured-members',1)">Edit</button>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>Select Relation with Proposer :</p>
                </div>
                <div class="col-5">
                    <!-- <b>Self</b> -->
                    <b>{{member["relationship"]}}</b>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>First Name :</p>
                </div>
                <div class="col-5">
                    <!-- <b>Christopher</b> -->
                    <b>{{member["i_first_name"]}}</b>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>Middle Name :</p>
                </div>
                <div class="col-5">
                    <!-- <b>John</b> -->
                    <b>{{member["i_first_name"]}}</b>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>Last Name :</p>
                </div>
                <div class="col-5">
                    <!-- <b>Doe</b> -->
                    <b>{{member["i_last_name"]}}</b>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>Date of Birth :</p>
                </div>
                <div class="col-5">
                    <!-- <b>29 Feb 2021</b> -->
                    <b>{{member["dob"]}}</b>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>Gender :</p>
                </div>
                <div class="col-5">
                    <!-- <b>Male</b> -->
                    <b>{{member["gender"]}}</b>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>Height :</p>
                </div>
                <div class="col-5">
                    <!-- <b>6 ft</b> -->
                    <b>{{member["height_feet"]}} ft {{member["height_inch"]}} inch</b>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>Weight :</p>
                </div>
                <div class="col-5">
                    <!-- <b>80 kg</b> -->
                    <b>{{member["weight"]}} kg</b>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>Marital Status :</p>
                </div>
                <div class="col-5">
                    <!-- <b>Single</b> -->
                    <b>{{member["i_marital_status"]}}</b>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>Profession :</p>
                </div>
                <div class="col-5">
                    <!-- <b>Doctor</b> -->
                    <b>{{member["insured_occupation"]}}</b>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>Insured Mobile :</p>
                </div>
                <div class="col-5">
                    <!-- <b>1234567890</b> -->
                    <b>{{member["i_mobile"]}}</b>
                </div>
            </div>
        </div>
        <!-- <div class="main">
            <div class="row">
                <div class="col-10">
                    <h4>Insured Members (Child 1)</h4>
                </div>
                <div class="col-2">
                    <button mat-button>Edit</button>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>Select Relation with Proposer :</p>
                </div>
                <div class="col-5">
                    <b>Son</b>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>First Name :</p>
                </div>
                <div class="col-5">
                    <b>Chris</b>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>Middle Name :</p>
                </div>
                <div class="col-5">
                    <b>John</b>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>Last Name :</p>
                </div>
                <div class="col-5">
                    <b>Doe</b>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>Date of Birth :</p>
                </div>
                <div class="col-5">
                    <b>29 Feb 2021</b>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>Gender :</p>
                </div>
                <div class="col-5">
                    <b>Male</b>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>Height :</p>
                </div>
                <div class="col-5">
                    <b>6 ft</b>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>Weight :</p>
                </div>
                <div class="col-5">
                    <b>80 kg</b>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>Marital Status :</p>
                </div>
                <div class="col-5">
                    <b>Single</b>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>Profession :</p>
                </div>
                <div class="col-5">
                    <b>Doctor</b>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>Insured Mobile :</p>
                </div>
                <div class="col-5">
                    <b>1234567890</b>
                </div>
            </div>
        </div> -->
        <div class="main">
            <div class="row">
                <div class="col-10">
                    <h4>Mailing Address</h4>
                </div>
                <div class="col-2">
                    <button mat-button data-html2canvas-ignore="true"
                        (click)="goToEdit('proposal-contact-details',1)">Edit</button>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>Mailing Address :</p>
                </div>
                <div class="col-5">
                    <!-- <b>123 Building, ABC Street,</b> -->
                    <b>{{proposal_form["address"]}}</b>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>Area / Locality :</p>
                </div>
                <div class="col-5">
                    <!-- <b>Borivali</b> -->
                    <b>{{proposal_form["area_locality"]}}</b>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>Landmark :</p>
                </div>
                <div class="col-5">
                    <!-- <b>Near Jain Temple</b> -->
                    <b>{{proposal_form["landmark"]}}</b>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>City :</p>
                </div>
                <div class="col-5">
                    <!-- <b>Mumbai</b> -->
                    <b>{{proposal_form["city_name"]}}</b>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>State :</p>
                </div>
                <div class="col-5">
                    <!-- <b>Maharashtra</b> -->
                    <b>{{proposal_form["state_name"]}}</b>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>PIN Code :</p>
                </div>
                <div class="col-5">
                    <!-- <b>400002</b> -->
                    <b>{{proposal_form["pincode_id"]}}</b>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="row">
                <div class="col-10">
                    <h4>Contact Details</h4>
                </div>
                <div class="col-2">
                    <button mat-button data-html2canvas-ignore="true"
                        (click)="goToEdit('proposal-contact-details',1)">Edit</button>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>Mobile Number :</p>
                </div>
                <div class="col-5">
                    <!-- <b>9876543210</b> -->
                    <b>{{proposal_form["mobile"]}}</b>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>Email Address :</p>
                </div>
                <div class="col-5">
                    <!-- <b>chris.doe@abc.om</b> -->
                    <b>{{proposal_form["email"]}}</b>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>Alternate Mobile Number :</p>
                </div>
                <div class="col-5">
                    <!-- <b>8765432109</b> -->
                    <b>{{proposal_form["alt_mobile"]}}</b>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="row">
                <div class="col-10">
                    <h4>Medical History</h4>
                </div>
                <div class="col-2">
                    <button mat-button data-html2canvas-ignore="true"
                        (click)="goToEdit('proposal-medical-history',1)">Edit</button>
                </div>
            </div>
            <div class="row" *ngFor="let medHistory of medical_questions_history; let i = index">
                <div class="col-4">
                    <!-- <p>Diabetes :</p> -->
                    <p>{{medHistory.questions}} :</p>
                </div>
                <div class="col-7">
                    <mat-radio-group aria-label="Select an option" style="pointer-events: none;">
                        <mat-radio-button name="mainQ_{{medHistory['question_id']}}" value="Yes"
                            [checked]="medHistory['question_answer'] == 'Yes'">Yes</mat-radio-button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-radio-button name="mainQ_{{medHistory['question_id']}}" value="No"
                            [checked]="medHistory['question_answer'] == 'No'">No</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="row" *ngIf="medHistory['question_answer'] == 'Yes'">
                    <span *ngFor="let subQ of medical_sub_questions_history; let a = index">
                        <span *ngIf="subQ['question_id'] == medHistory['question_id']">
                            <span *ngFor="let member of insured_members_array;let ins = index">
                                <div class="col" *ngIf="member['id'] == subQ['insured_id']">
                                    <mat-radio-group aria-label="Select an option" style="pointer-events: none;">
                                        <mat-radio-button name="" value="1"
                                            [checked]="subQ['question_answer'] == 'Yes'">
                                            {{member['i_first_name']}}</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <!-- <div class="col" *ngIf="member['id'] != subQ['insured_id'] ">
                                    <mat-radio-group aria-label="Select an option" style="pointer-events: none;">
                                        <mat-radio-button value="1">{{member['i_first_name']}}</mat-radio-button>
                                    </mat-radio-group>
                                </div> -->
                            </span>
                        </span>
                    </span>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-4">
                    <p>Thyroid Disorder :</p>
                </div>
                <div class="col-7">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Yes</mat-radio-button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-radio-button value="2">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <p>Nervous disorder, fits, mental condition :</p>
                </div>
                <div class="col-7">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Yes</mat-radio-button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-radio-button value="2">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <p>Respiratory disorder :</p>
                </div>
                <div class="col-7">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Yes</mat-radio-button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-radio-button value="2">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <p>Heart & Circulatory disorders :</p>
                </div>
                <div class="col-7">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Yes</mat-radio-button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-radio-button value="2">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <p>Disorders of the stomach including intestine,
                        Kidney, Prostate :</p>
                </div>
                <div class="col-7">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Yes</mat-radio-button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-radio-button value="2">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <p>Disorder of Spine and Joints :</p>
                </div>
                <div class="col-7">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Yes</mat-radio-button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-radio-button value="2">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <p>Tumour or Cancer :</p>
                </div>
                <div class="col-7">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Yes</mat-radio-button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-radio-button value="2">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <p>Any ongoing diseases or ailment requiring
                        surgical or medical treatment :</p>
                </div>
                <div class="col-7">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Yes</mat-radio-button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-radio-button value="2">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <p>Have you or any other member proposed to
                        be insured under this policy sought medical
                        advice or undergone any treatment medical
                        or surgical in past 5 years due to any of the
                        diseases/conditions listed above or
                        otherwise or attended follow up for any
                        disease/condition/ailment/injury/addiction
                        (except for infrequent common illness for
                        example fever, common cold, loose motions,
                        cough & cold, headaches, acidity?</p>
                </div>
                <div class="col-7">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Yes</mat-radio-button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-radio-button value="2">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <p>Is any of the insured pregnant? If yes please
                        mention the expected date of delivery :</p>
                </div>
                <div class="col-7">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Yes</mat-radio-button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-radio-button value="2">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <p>Does any person proposed to be insured
                        consume LiquorPeg? :</p>
                </div>
                <div class="col-7">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Yes</mat-radio-button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-radio-button value="2">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <p>Does any person proposed to be insured
                        consume Beer Bottle? :</p>
                </div>
                <div class="col-7">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Yes</mat-radio-button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-radio-button value="2">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <p>Does any person proposed to be insured
                        consume Wine Glass? :</p>
                </div>
                <div class="col-7">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Yes</mat-radio-button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-radio-button value="2">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <p>Does any person proposed to be insured
                        smoke? :</p>
                </div>
                <div class="col-7">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Yes</mat-radio-button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-radio-button value="2">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <p>Does any person proposed to be insured
                        consume gutkha/pan masala? :</p>
                </div>
                <div class="col-7">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Yes</mat-radio-button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-radio-button value="2">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div> -->

        </div>
        <div class="main">
            <div class="row">
                <div class="col-10">
                    <h4>Nominee Details</h4>
                </div>
                <div class="col-2">
                    <button mat-button data-html2canvas-ignore="true"
                        (click)="goToEdit('proposal-nominee-details',1)">Edit</button>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <p>Is the proposer or any of the persons
                        proposed, already insured under or
                        proposed for a health insurance policy for
                        inpatient hospitalization with Apollo Munich
                        Health or any other insurance company?
                        If yes, please indicate below the policy/
                        Application number(s) (Please mention
                        application number in case of pending
                        proposal): Since when are you
                        continuously insured :</p>
                </div>
                <div class="col-7">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1" [checked]="proposal_form['Existing'] == 1">Yes</mat-radio-button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-radio-button value="0" [checked]="proposal_form['Existing'] == 0">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>Relationship With Proposer :</p>
                </div>
                <div class="col-5">
                    <!-- <b>Son</b> -->
                    <b>{{proposal_form['nominee_relationship']}}</b>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>Nominee Name :</p>
                </div>
                <div class="col-5">
                    <!-- <b>Christopher Doe Jr</b> -->
                    <b>{{proposal_form['nominee_name']}}</b>
                </div>
            </div>
        </div>
        <div class="row save">
            <button mat-button (click)="downloadpdf()" id="savePdf" data-html2canvas-ignore="true">Save as PDF</button>
        </div>
    </div>
</div>
<app-footer></app-footer> 