<!--<header class="main-header" style="width: 1920px;height: 126px;">
    <nav class="navbar navbar-default">
     <div class="container-fluid" style="background-color: #2EA7C4">
        <div class="navbar-header">
          <h5 style="color:grey"> Brand Tagline</h5>
        </div> 
        <div class="nav-side">
          <a href="register" style="color: whitesmoke; font-weight: bold; padding-right:30px">Be a Partner</a>
          <a href="" style="color: whitesmoke; font-weight: bold; padding-right:30px">Blog</a>
          <a href="" style="color: whitesmoke; font-weight: bold; padding-right:20px">Partner Login</a>
        </div>
      </div>
      <div class="container-fluid">
        <div class="navbar-header">
          <h4><a href="#" style="color: black;">PRISMCOVER</a></h4>
        </div>
        <div class="nav-side"> 
          <input type="text" class="search-box">
          <span class="search-icon"><i class="fa fa-search" aria-hidden="true"></i></span>
          <i class="fa fa-tty" style="color: grey;padding-right:30px" (click)="openSupportModal()"></i>
          <a href="customer/register"><i class="fa fa-user" style="color: grey;padding-right:30px"></i></a>
          <i class="fa fa-bars" style="color: grey;padding-right:20px"></i>
        </div>
      </div>
    </nav>
</header>
 
<ng-template #content let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <h4>We are always a click away...</h4>
    </div>
    <div>
      <h4 style="padding-bottom:0px;">24/7 Online Support Team :</h4>
      <h5 style="padding-top:0px;">support@prismcover.com<br>
        claimintimation@prismcover.com</h5>
    </div>
    <div>
      <h4>PO Contact :</h4>
      <h5>po@prismcover.com</h5>
    </div>
  </div>
</ng-template>-->
<div class="">
  <div class="divHomebackground">
    <div class="row">
      <div class="col-sm-7 menuLogo">
        <a href="" style="text-decoration: none;color: #FFFFFF;">CAPALIN</a>
      </div>
      <div class="col-sm-5">
        <div class="row" style="margin-top:20px;">
          <div class="col-md-2">
            <a class="menuTab" href="#aboutus"> About </a> &nbsp;
          </div>
          <div class="col-md-2">
            <a class="menuTab" href="#services"> Services</a> &nbsp;
          </div>
          <div class="col-md-2">
            <a style=" margin-left:10px" class="menuTab" href="#faq"> FAQs</a> &nbsp;
          </div>
          <div class="col-md-2">
            <a class="menuTab" href="contact"> Contact</a> &nbsp;
          </div>
          <div class="col-md-4" style=" text-align: center;">


            <a class="btn btn-lg" style="background: #FA824C; width: 140px;
            height: 44px; text-align: center; margin-top: -10px; padding-top: 10px;
                  border-radius: 16px;  font-family: Poppins;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 21px;
                    text-align: center;
                    text-transform: uppercase;
                    color: #FFFFFF;" routerLink="login"> LOGIN</a> &nbsp;
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <br />
    </div>
  </div>

</div>