.main-header {
  max-width: 100%;
  overflow-x: hidden;
}
.nav-side {
  float: right;
  font-family: "Avenir";
}
.navbar-header {
  align-items: center;
  font-family: "Avenir";
}
.search-icon {
  position: relative;
  top: 40%;
  right: 6%;
}
.search-box {
  position: relative;
  padding-right: 40px;
}
.text-center {
  text-align: center;
  padding-top: 20px;
}
.iframes {
  float: left;
}
.container {
  font-family: "Avenir";
}
.container-fluid {
  font-family: "Avenir";
}
.client {
  float: left;
}
.insure {
  float: left;
}
.blog {
  float: left;
}
.blog1 {
  float: left;
  // padding: 15px;
}
.partners {
  align-items: center;
}
.divHomebackground {
  background-image: url("/assets/home_images/blue_bg.png");
  background-size: 100%;
}
.menuTab {
  font-family: Poppins;
  font-style: normal;
  font-size: 100%;
  line-height: 32px;
  text-align: Left;
  vertical-align: top;
  font-weight: normal;
  color: white;
}

.menuLogo {
  width: 10.5%;
  height: 48px;
  left: 24px;
  top: 16px;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  /* identical to box height, or 120% */

  letter-spacing: -1px;

  color: #ffffff;
}
@media only screen and (max-width: 1300px) {
  .col-sm-5
  {
    padding-right: 60px;

  }
  .btn-lg
  {
      margin-left: 5px;
  }
}