<!-- <p>car-proposal-prev-policy-details works!</p> -->
<app-header-lite></app-header-lite>
<div class="row">
  <div style="width: 1200px; display: inline-flex; margin: 0 auto">
    <div class="row">
      <br />
      <br />
    </div>
    <!--first row start-->
    <div
      class="col-md-11"
      style="
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 72px;
        color: #303253;
        margin-left: 1cm;
      "
    >
      Car Insurance
    </div>
  </div>
  <!--first row end-->

  <div class="row">
    <div style="margin: 0 60px; display: inline-flex">
      <div
        class=""
        style="
          background: #ffffff;
          width: 55%;
          float: left;
          height: max-content;
          box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
          border-radius: 12px;
          margin-top: 20px;
        "
      >
        <div class="container form-group">
          <div class="row">
            <div
              class=""
              style="
                height: 15px;
                width: 100%;
                float: left;
                background-color: #eb6d47;
                box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
                border-radius: 12px 12px 0px 0px;
              "
            ></div>
          </div>
          <br />
          <form (ngSubmit)="onSubmit()" autocomplete="off">
            <div class="row" *ngIf="carData?.policy_type != 'new_enquiry'">
              <div
                class="col-md-12"
                style="
                  text-align: center;
                  font-family: Poppins;
                  font-style: normal;
                  font-weight: 600;
                  font-size: 32px;
                  line-height: 48px;
                  text-align: center;
                  letter-spacing: 0.2px;
                  color: #303253;
                "
              >
                Previous Policy Details
              </div>
            </div>
            <div class="row" *ngIf="carData?.policy_type != 'new_enquiry'">
              <br />
            </div>
            <!--1st row end-->

            <!--2nd row start-->
            <div>
              <table style="width: 100%">
                <tr
                  class="row"
                  style="margin-top: 20px; padding-left: 20px"
                  *ngIf="carData?.policy_type != 'new_enquiry'"
                >
                  <td
                    class="col-md-6"
                    style="
                      font-family: Poppins;
                      font-style: normal;
                      font-weight: normal;
                      font-size: 16px;
                      line-height: 24px;
                      /* identical to box height */
                      color: #303253;
                      margin-top: 15px;
                    "
                  >
                    <label for="Existing Policy Company  "
                      >Existing Policy Company<span
                        class="required"
                        *ngIf="isRenewal == 1"
                        >*
                      </span>
                      :</label
                    >
                  </td>

                  <td class="col-md-5" style="padding-right: 20px">
                    <div>
                      <!-- <select type="text" class="form-control  " style="border-radius:10px;
                                                                font-family: Poppins;
                                                                font-style: normal;
                                                                font-weight: normal;
                                                                font-size: 16px;
                                                                line-height: 24px;
                                                                height:56px;
                                                                 
                                                                /* identical to box height */ 
                                                                 color: #999999;" placeholder="ABC Company"
                                        autocomplete="off" [(ngModel)]="prePolicyDetails.existing_insurance"
                                        name="existing_insurance">
                                        <option disabled>Select Company</option>
                                        <option *ngFor=" let LoanProvider of LoanProviderData"
                                            value="{{LoanProvider.insurance_company}}">
                                            {{LoanProvider.insurance_company}}
                                        </option>
                                    </select> -->
                      <ng-select
                        [(ngModel)]="prePolicyDetails.existing_insurer_name"
                        name="existing_insurance"
                      >
                        <ng-option
                          *ngFor="let LoanProvider of LoanProviderData"
                          [value]="LoanProvider.insurance_company"
                          >{{ LoanProvider.insurance_company }}</ng-option
                        >
                      </ng-select>
                    </div>
                    <div
                      style="display: none; margin-top: 10px"
                      id="existing_insurance_err"
                      class="alert alert-danger"
                    >
                      <div>Please Existing Policy Company.</div>
                    </div>
                  </td>
                  <td class="col-md-1"></td>
                </tr>
                <div class="row" *ngIf="carData?.policy_type != 'new_enquiry'">
                  <br />
                </div>
                <!--3rd row start-->
                <tr
                  class="row"
                  style="margin-top: 20px; padding-left: 20px"
                  *ngIf="carData?.policy_type != 'new_enquiry'"
                >
                  <td
                    class="col-md-6"
                    style="
                      font-family: Poppins;
                      font-style: normal;
                      font-weight: normal;
                      font-size: 16px;
                      line-height: 24px;
                      /* identical to box height */
                      color: #303253;
                      margin-top: 15px;
                    "
                  >
                    <label for="Existing Policy Number  "
                      >Existing Policy Number<span
                        class="required"
                        *ngIf="isRenewal == 1"
                        >*
                      </span>
                      :</label
                    >
                  </td>

                  <td class="col-md-5">
                    <div class="input-group input-group-lg">
                      <input
                        type="text"
                        class="form-control"
                        style="
                          border-radius: 10px;
                          font-family: Poppins;
                          font-style: normal;
                          font-weight: normal;
                          font-size: 16px;
                          line-height: 24px;
                          height: 56px;

                          /* identical to box height */
                          color: #999999;
                        "
                        placeholder="3432432432"
                        autocomplete="off"
                        [(ngModel)]="prePolicyDetails.expiry_policy_no"
                        name="expiry_policy_no"
                      />
                    </div>
                    <div
                      style="display: none; margin-top: 10px"
                      id="expiry_policy_no_err"
                      class="alert alert-danger"
                    >
                      <div>Please Existing Policy Number.</div>
                    </div>
                  </td>
                  <td class="col-md-1"></td>
                </tr>
                <!--3rd row end-->
                <!--4th row start-->
                <div class="row" *ngIf="carData?.policy_type != 'new_enquiry'">
                  <br />
                </div>
                <tr
                  class="row"
                  style="margin-top: 20px; padding-left: 20px"
                  *ngIf="carData?.policy_type != 'new_enquiry'"
                >
                  <td
                    class="col-md-6"
                    style="
                      font-family: Poppins;
                      font-style: normal;
                      font-weight: normal;
                      font-size: 16px;
                      line-height: 24px;
                      /* identical to box height */
                      color: #303253;
                      margin-top: 15px;
                    "
                  >
                    <label for="Existing Policy Expiry Date "
                      >Existing Policy Expiry Date<span
                        class="required"
                        *ngIf="isRenewal == 1"
                        >*
                      </span>
                      :</label
                    >
                  </td>

                  <td class="col-md-5">
                    <div class="input-group input-group-lg">
                      <input
                        type="text"
                        class="form-control"
                        style="
                          border-radius: 10px;
                          font-family: Poppins;
                          font-style: normal;
                          font-weight: normal;
                          font-size: 16px;
                          line-height: 24px;
                          height: 56px;

                          /* identical to box height */
                          color: #999999;
                        "
                        placeholder="Please Select Existing Policy Expiry Date"
                        autocomplete="off"
                        [(ngModel)]="prePolicyDetails.third_party_expiry_date"
                        name="third_party_expiry_date"
                        ngbDatepicker
                        #d="ngbDatepicker"
                        (click)="d.toggle()"
                        readonly
                      />
                    </div>
                    <div
                      style="display: none; margin-top: 10px"
                      id="third_party_expiry_date_err"
                      class="alert alert-danger"
                    >
                      <div>Please Select Existing Policy Expiry Date.</div>
                    </div>
                  </td>
                  <td class="col-md-1"></td>
                </tr>
                <div class="row" *ngIf="carData?.policy_type != 'new_enquiry'">
                  <br />
                </div>

                <!--4th row start-->
                <tr class="row" style="margin-top: 20px">
                  <td class="col-md-1">
                    <mat-checkbox
                      class="example-margin"
                      style="
                        color: #dfdfdf;
                        box-sizing: border-box;
                        border-radius: 6px;
                        height: 20px;
                        width: 10px;
                        margin-left: 30px;
                        margin-top: 15px;
                      "
                      class="readonly"
                      checked="checked"
                    >
                    </mat-checkbox>
                  </td>
                  <td
                    class="col-md-11"
                    style="
                      font-family: Poppins;
                      font-style: normal;
                      font-weight: normal;
                      font-size: 16px;
                      line-height: 28px;
                      color: #303253;
                    "
                  >
                    I hereby agree that I have read the wordings of this policy
                    and have understood the same.
                  </td>
                </tr>
                <div class="row">
                  <br />
                </div>
                <!--4th row end-->
                <!--5th row start-->
                <div class="row">
                  <div class="" style="width: 10%; float: left"></div>
                  <div class="" style="width: 30%; float: left">
                    <button
                      mat-button
                      color=""
                      style="
                        background: #999999;
                        border-radius: 10px;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 40px;
                        width: 100%;
                        align-items: center;
                        height: 60px;
                        margin-right: 5px;
                        color: #ffffff;
                      "
                      (click)="goback()"
                    >
                      Back
                    </button>
                  </div>
                  <div class="" style="width: 20%; float: left"></div>
                  <div class="" style="width: 30%; float: left">
                    <button
                      mat-button
                      color=""
                      style="
                        background: #303253;
                        border-radius: 10px;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 40px;
                        width: 100%;
                        align-items: center;
                        height: 60px;
                        margin-right: 5px;
                        color: #ffffff;
                      "
                      type="submit"
                    >
                      Next
                    </button>
                  </div>
                  <!-- routerLink="/car/summary" -->
                  <div class="" style="width: 10%; float: left"></div>
                </div>
                <!--5th row end-->
              </table>
            </div>
          </form>
        </div>
      </div>
      <!--new section-->
      <div class="container" style="width: 35%; float: left; margin-left: 70px">
        <div class="row">
          <br />
        </div>
        <div class="row">
          <div
            class=""
            style="
              background: #ffffff;
              box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
              border-radius: 12px;
            "
          >
            <div class="row">
              <div
                class=""
                style="
                  height: 15px;
                  width: 100%;
                  margin-right: 15px;
                  margin-left: 15px;
                  background-color: #dddddd;
                  box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
                  border-radius: 12px 12px 0px 0px;
                "
              ></div>
            </div>

            <div class="container form-group" style="margin-top: 20px">
              <form (ngSubmit)="onSubmit()" autocomplete="off">
                <div class="row">
                  <div
                    class="col-md-12"
                    style="
                      font-family: Poppins;
                      font-style: normal;
                      font-weight: 600;
                      font-size: 24px;
                      line-height: 32px;

                      color: #303253;
                    "
                  >
                    Car Details
                  </div>
                </div>
                <div>
                  <table style="width: 100%">
                    <tr class="row" style="margin-top: 20px">
                      <td
                        class="col-md-8 field"
                        style="
                          font-family: Poppins;
                          font-style: normal;
                          font-weight: normal;
                          font-size: 16px;
                          line-height: 24px;
                          color: #303253;
                        "
                      >
                        <label for="Bike Manufacturer  "
                          >Car Manufacturer :</label
                        >
                      </td>
                      <td
                        class="col-md-4 field"
                        style="
                          font-family: Poppins;
                          padding-left: 10px;
                          font-style: normal;
                          font-weight: 600;
                          font-size: 16px;
                          line-height: 24px;
                          color: #303253;
                        "
                      >
                        <label for="Honda  ">{{
                          carData?.car_model_name
                        }}</label>
                      </td>
                    </tr>
                    <!--2nd row start-->
                    <tr class="row" style="margin-top: 20px">
                      <td
                        class="col-md-8 field"
                        style="
                          font-family: Poppins;
                          font-style: normal;
                          font-weight: normal;
                          font-size: 16px;
                          line-height: 24px;
                          color: #303253;
                        "
                      >
                        <label for="Variant & Model  ">Variant :</label>
                      </td>
                      <td
                        class="col-md-4 field"
                        style="
                          font-family: Poppins;
                          padding-left: 10px;
                          font-style: normal;
                          font-weight: 600;
                          font-size: 16px;
                          line-height: 24px;
                          color: #303253;
                        "
                      >
                        <label for="Unicorn,Self Start Disc  ">{{
                          carData?.variant
                        }}</label>
                      </td>
                    </tr>

                    <!--2nd row end-->
                    <!--3rd row start-->
                    <tr class="row" style="margin-top: 20px">
                      <td
                        class="col-md-8 field"
                        style="
                          font-family: Poppins;
                          font-style: normal;
                          font-weight: normal;
                          font-size: 16px;
                          line-height: 24px;
                          color: #303253;
                        "
                      >
                        <label for="Manufacturing Year "
                          >Manufacturing Year :
                        </label>
                      </td>
                      <td
                        class="col-md-4 field"
                        style="
                          font-family: Poppins;
                          font-style: normal;
                          font-weight: 600;
                          font-size: 16px;
                          line-height: 24px;
                          color: #303253;
                        "
                      >
                        <label for="2020 ">{{
                          carData?.manufacturing_date?.split("-")[0]
                        }}</label>
                      </td>
                    </tr>
                    <!--3rd row end-->
                    <!--4th-->
                    <tr class="row" style="margin-top: 20px">
                      <td
                        class="col-md-8 field"
                        style="
                          font-family: Poppins;
                          font-style: normal;
                          font-weight: normal;
                          font-size: 16px;
                          line-height: 24px;
                          color: #303253;
                        "
                      >
                        <label for="Registration Date  "
                          >Registration Date :
                        </label>
                      </td>
                      <td
                        class="col-md-4 field"
                        style="
                          font-family: Poppins;
                          font-style: normal;
                          font-weight: 600;
                          font-size: 16px;
                          line-height: 24px;
                          color: #303253;
                        "
                      >
                        <label for="02 Jan 2020 ">{{
                          regDate | date: "dd-MMM-yyyy"
                        }}</label>
                      </td>
                    </tr>
                    <!--4th-->
                    <!--5th-->
                    <tr
                      class="row"
                      style="margin-top: 10px"
                      *ngIf="carData?.policy_type != 'new_enquiry'"
                    >
                      <td
                        class="col-md-8 field"
                        style="
                          font-family: Poppins;
                          font-style: normal;
                          font-weight: normal;
                          font-size: 16px;
                          line-height: 24px;
                          color: #303253;
                        "
                      >
                        <label for=" NCB on previous policy  ">
                          NCB on previous policy :
                        </label>
                      </td>
                      <td
                        class="col-md-4 field"
                        style="
                          font-family: Poppins;
                          font-style: normal;
                          font-weight: 600;
                          font-size: 16px;
                          line-height: 24px;
                          color: #303253;
                        "
                      >
                        <label for="20%">{{ carData?.ncb }}%</label>
                      </td>
                    </tr>

                    <!--5th-->
                    <!--6th-->
                    <tr
                      class="row"
                      style="margin-top: 10px"
                      *ngIf="carData?.policy_type != 'new_enquiry'"
                    >
                      <td
                        class="col-md-8 field"
                        style="
                          font-family: Poppins;
                          font-style: normal;
                          font-weight: normal;
                          font-size: 16px;
                          line-height: 24px;
                          color: #303253;
                        "
                      >
                        <label for="  Expairy Date :  "> Expairy Date : </label>
                      </td>
                      <td
                        class="col-md-4 field"
                        style="
                          font-family: Poppins;
                          font-style: normal;
                          font-weight: 600;
                          font-size: 16px;
                          line-height: 24px;
                          color: #303253;
                        "
                      >
                        <label for="04 Jan 2021">{{
                          expdate | date: "dd-MMM-yyyy"
                        }}</label>
                      </td>
                    </tr>

                    <!--6th-->
                    <!--7th-->
                    <tr class="row" style="margin-top: 10px">
                      <td
                        class="col-md-8 field"
                        style="
                          font-family: Poppins;
                          font-style: normal;
                          font-weight: normal;
                          font-size: 16px;
                          line-height: 24px;
                          color: #303253;
                        "
                      >
                        <label for="   Insurance Company ">
                          Insurance Company :
                        </label>
                      </td>
                      <td
                        class="col-md-4 field"
                        style="
                          font-family: Poppins;
                          font-style: normal;
                          font-weight: 600;
                          font-size: 16px;
                          line-height: 24px;
                          color: #303253;
                        "
                      >
                        <label for=" HDFC Ergo">{{
                          carData?.company_name
                        }}</label>
                      </td>
                    </tr>

                    <!--7th-->
                    <!--8th-->
                    <tr class="row" style="margin-top: 10px">
                      <td
                        class="col-md-8 field"
                        style="
                          font-family: Poppins;
                          font-style: normal;
                          font-weight: normal;
                          font-size: 16px;
                          line-height: 24px;
                          color: #303253;
                        "
                      >
                        <label for=" Cover Amount (IDV) ">
                          Cover Amount (IDV) :
                        </label>
                      </td>
                      <td
                        class="col-md-4 field"
                        style="
                          font-family: Poppins;
                          font-style: normal;
                          font-weight: 600;
                          font-size: 16px;
                          line-height: 24px;
                          color: #303253;
                        "
                      >
                        <label for=" ₹16,435">{{ carData?.idv }}</label>
                      </td>
                    </tr>
                    <!--8th-->
                    <!--9th row  start-->
                    <!-- <tr class="row" style="margin-top:10px;">
                                    <td class="col-md-8 field" style="  font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #303253;">

                                        <label for=" NCB Discount "> NCB Discount :
                                        </label>
                                    </td>
                                    <td class="col-md-4 field" style=" font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #303253;">

                                        <label for=" 25%">{{carData?.ncb}}%</label>
                                    </td>

                                </tr> -->
                    <!--9th row end-->
                    <!--10th row  start-->
                    <!-- <tr class="row" style="margin-top:10px;">
                                    <td class="col-md-8 field" style="  font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #303253;">

                                        <label for=" Order Id "> Order Id :
                                        </label>
                                    </td>
                                    <td class="col-md-4 field" style=" font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #303253;">

                                        <label for=" MGB2PGJ1KAB"></label>
                                    </td>

                                </tr> -->
                    <!--10th row end-->
                    <!--11th row  start-->
                    <tr class="row" style="margin-top: 10px">
                      <td
                        class="col-md-8 field"
                        style="
                          font-family: Poppins;
                          font-style: normal;
                          font-weight: normal;
                          font-size: 16px;
                          line-height: 24px;
                          color: #303253;
                        "
                      >
                        <label for="Policy Term "> Policy Term : </label>
                      </td>
                      <td
                        class="col-md-4 field"
                        style="
                          font-family: Poppins;
                          font-style: normal;
                          font-weight: 600;
                          font-size: 16px;
                          line-height: 24px;
                          color: #303253;
                        "
                      >
                        <label for=" 1 Year">1 Year</label>
                      </td>
                    </tr>
                    <!--11th row end-->
                    <!--12th row  start-->
                    <tr class="row" style="margin-top: 10px">
                      <td
                        class="col-md-8 field"
                        style="
                          font-family: Poppins;
                          font-style: normal;
                          font-weight: normal;
                          font-size: 16px;
                          line-height: 24px;
                          color: #303253;
                        "
                      >
                        <label for="Add-ons "> Add-ons: </label>
                      </td>
                      <td
                        class="col-md-4 field"
                        style="
                          font-family: Poppins;
                          font-style: normal;
                          font-weight: 600;
                          font-size: 16px;
                          line-height: 24px;
                          color: #303253;
                        "
                      >
                        <label for=" NA"
                          >{{
                            carData?.zero_depreciation == "true"
                              ? "Zero Dep,"
                              : ""
                          }}{{
                            carData?.rode_side_assistance == "true"
                              ? "Roadside Assistance,"
                              : ""
                          }}{{
                            carData?.invoice_cover == "true"
                              ? "Invoice Cover,"
                              : ""
                          }}{{
                            carData?.engine_protector == "true"
                              ? "Engine Cover,"
                              : ""
                          }}{{
                            carData?.ncb_protection == "true"
                              ? "NCB Protect,"
                              : ""
                          }}{{
                            carData?.consumable == "true" ? "Consumable," : ""
                          }}{{
                            carData?.key_protector == "true"
                              ? "Key Protect,"
                              : ""
                          }}{{
                            carData?.paid_driver_legal_liability_cover == "true"
                              ? "Paid Driver Legability,"
                              : ""
                          }}{{
                            carData?.driver_cover == "true"
                              ? "Passenger PA,"
                              : ""
                          }}{{
                            carData?.pa_to_owner_driver == "true"
                              ? "PA Owner Driver,"
                              : ""
                          }}</label
                        >
                      </td>
                    </tr>
                    <div class="row">
                      <div class="col-md-1" style="margin-bottom: 15px"></div>
                      <div
                        class="col-md-9"
                        style="border-bottom: 1px solid #dddddd"
                      ></div>
                      <div class="col-md-2"></div>
                    </div>
                    <!--12th row end-->
                    <!--12th row  start-->

                    <tr class="row" style="padding-top: 20px">
                      <td
                        class="col-md-8 field"
                        style="
                          font-family: Poppins;
                          font-style: normal;
                          font-weight: normal;
                          font-size: 16px;
                          line-height: 24px;
                          color: #303253;
                        "
                      >
                        <label for="GST @ 18%">GST @ 18% </label>
                      </td>
                      <td
                        class="col-md-4 field"
                        style="
                          font-family: Poppins;
                          font-style: normal;
                          font-weight: 600;
                          font-size: 16px;
                          line-height: 24px;
                          color: #303253;
                        "
                      >
                        <label for="₹435">{{
                          +carData?.final_premium * +carData?.gst -
                            +carData?.final_premium | number: "1.0-0"
                        }}</label>
                      </td>
                    </tr>

                    <!--12th row end-->
                    <div class="row" style="margin-top: 10px">
                      <div class="col-md-1"></div>
                      <div
                        class="col-md-9"
                        style="border-bottom: 1px solid #dddddd"
                      ></div>
                      <div class="col-md-2"></div>
                    </div>
                    <!--13th row start-->
                    <tr class="row" style="margin-top: 10px">
                      <td
                        class="col-md-8 field"
                        style="
                          font-family: Poppins;
                          font-style: normal;
                          font-weight: normal;
                          font-size: 20px;
                          line-height: 30px;
                          color: #303253;
                        "
                      >
                        <label for="Final Premium">Final Premium </label>
                      </td>
                      <td
                        class="col-md-4 field"
                        style="
                          font-family: Poppins;
                          font-style: normal;
                          font-weight: 600;
                          font-size: 20px;
                          line-height: 30px;
                          color: #303253;
                        "
                      >
                        <label for="₹1,435">{{
                          carData?.final_premium | number: "1.0-0"
                        }}</label>
                      </td>
                    </tr>
                    <div class="row">
                      <br />
                    </div>
                    <!--13th row end-->
                    <!--14th start start-->
                    <div class="row">
                      <div class="col-md-1"></div>
                      <div class="col-md-10">
                        <button
                          class="btn"
                          routerLink="/car"
                          style="
                            background: #393b63;
                            border-radius: 8px;
                            width: 100%;
                            color: #ffffff;
                            font-family: Poppins;
                          "
                        >
                          Edit
                        </button>
                      </div>
                      <div class="col-md-1"></div>
                    </div>

                    <!--14th row end-->
                  </table>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!--new section end-->
    </div>
  </div>
</div>

<app-footer></app-footer>
