<app-header-lite></app-header-lite>
<div class="row">
  <div style="width: 1200px;display: inline-flex;margin: 0 auto;">
    <div class="row">
      <br />
      <br />
    </div>
    <!--first row start-->
    <div class=" col-md-11" style="font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    color: #303253;
    margin-top: 1.5cm;
    margin-left: 1cm;">
      Bike Insurance
    </div>
  </div>
</div>
<!--first row end-->

<div class="row">
  <div style="margin: 0 auto;width: 1200px;display: inline-flex;">
    <div class="" style="background: #FFFFFF;width: 800px;float: left; height:max-content;
                                            box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
                                            border-radius: 12px;">

      <div class=" container form-group">
        <div class="row">
          <div class="" style="height:15px ; width: 100%;float:left; 
                background-color: #EB6D47;
                box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
                border-radius:12px 12px 0px 0px">
          </div>


        </div>
        <form autocomplete="off">
          <div class="row" *ngIf="bikeData?.policyType !== 'new_enquiry'">
            <div class="col-md-12" style="font-family: Poppins;
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 32px;
                                    line-height: 48px;
                                    text-align: center;
                                    letter-spacing: 0.2px;
                                    color: #303253;">
              Previous Policy Details </div>
          </div>
          <div class="row" *ngIf="bikeData?.policyType !== 'new_enquiry'">
            <br />
          </div>
          <!--1st row end-->

          <!--2nd row start-->
          <div>
            <table style="width:100%">
              <tr class="row" style="margin-top:20px; padding-left: 20px;"
                *ngIf="bikeData?.policyType !== 'new_enquiry'">
                <td class="col-md-6 " style="  font-family: Poppins;
                                                                    font-style: normal;
                                                                    font-weight: normal;
                                                                    font-size: 16px;
                                                                    line-height: 24px;
                                                                    /* identical to box height */ 
                                                                    color: #303253;
                                                                    margin-top:15px">

                  <label for="Existing Policy Company  ">Existing Policy Company<span class="required">*
                    </span> :</label>
                </td>

                <td class="col-md-5 " style=" padding-right:20px;">
                  <div>
                    <!-- <select type="text" class="form-control  " style="border-radius:10px;
                                                                font-family: Poppins;
                                                                font-style: normal;
                                                                font-weight: normal;
                                                                font-size: 16px;
                                                                line-height: 24px;
                                                                height:56px;
                                                                 
                                                                /* identical to box height */ 
                                                                 color: #999999;" placeholder="ABC Company"
                                        autocomplete="off" [(ngModel)]="formData.existing_insurance"
                                        name="existing_insurance">
                                        <option disabled>Select Company</option>
                                        <option *ngFor=" let LoanProvider of LoanProviderData"
                                            value="{{LoanProvider.insurance_company}}">
                                            {{LoanProvider.insurance_company}}
                                        </option>
                                    </select> -->
                    <ng-select [(ngModel)]="formData.existing_insurance" name="existing_insurance">
                      <ng-option *ngFor="let LoanProvider of LoanProviderData" [value]="LoanProvider.insurance_company">
                        {{LoanProvider.insurance_company}}</ng-option>
                    </ng-select>
                  </div>
                  <div style="display: none;" id="existing_insurance_err" class="alert alert-danger">
                    <div>Please Fill Out This Field.
                    </div>
                  </div>
                </td>
                <td class="col-md-1">

                </td>

              </tr>
              <div class="row" *ngIf="bikeData?.policyType !== 'new_enquiry'">
                <br />
              </div>
              <!--3rd row start-->
              <tr class="row" style="margin-top:20px;padding-left: 20px;"
                *ngIf="bikeData?.policyType !== 'new_enquiry'">
                <td class="col-md-6 " style="  font-family: Poppins;
                                                                        font-style: normal;
                                                                        font-weight: normal;
                                                                        font-size: 16px;
                                                                        line-height: 24px;
                                                                        /* identical to box height */ 
                                                                        color: #303253;
                                                                        margin-top:15px">

                  <label for="Existing Policy Number  ">Existing Policy Number<span class="required">*
                    </span> :</label>
                </td>

                <td class="col-md-5 ">
                  <div class="input-group input-group-lg ">
                    <input type="text" class="form-control  " style="border-radius:10px;
                                                                    font-family: Poppins;
                                                                    font-style: normal;
                                                                    font-weight: normal;
                                                                    font-size: 16px;
                                                                    line-height: 24px;
                                                                    height:56px;
                                                                     
                                                                    /* identical to box height */ 
                                                                     color: #999999;" placeholder="3432432432"
                      autocomplete="off" [(ngModel)]="formData.expiry_policy_no" name="expiry_policy_no">

                  </div>
                  <div style="display: none;" id="expiry_policy_no_err" class="alert alert-danger">
                    <div>Please Fill Out This Field.
                    </div>
                  </div>
                </td>
                <td class="col-md-1">

                </td>

              </tr>
              <!--3rd row end-->
              <!--4th row start-->
              <div class="row" *ngIf="bikeData?.policyType !== 'new_enquiry'">
                <br />
              </div>
              <!-- <tr class="row" style="margin-top:20px;padding-left: 20px;"
                            *ngIf="bikeData.policyType !== 'new_enquiry'">
                            <td class="col-md-6" style="  font-family: Poppins;
                                                                            font-style: normal;
                                                                            font-weight: normal;
                                                                            font-size: 16px;
                                                                            line-height: 24px;
                                                                            /* identical to box height */ 
                                                                            color: #303253;
                                                                            margin-top:15px">

                                <label for="Existing Policy Expiry Date ">Existing Policy Expiry Date :</label>
                            </td>

                            <td class="col-md-5">
                                <div class="input-group input-group-lg ">
                                    <input type="date" class="form-control  " style="border-radius:10px;
                                                                        font-family: Poppins;
                                                                        font-style: normal;
                                                                        font-weight: normal;
                                                                        font-size: 16px;
                                                                        line-height: 24px;
                                                                        height:56px;
                                                                         
                                                                        /* identical to box height */ 
                                                                         color: #999999;" placeholder="dd/mm/yy"
                                        autocomplete="off" ngbDatepicker>

                                </div>
                                <div style="display: none;" id="third_party_expiry_date_err" class="alert alert-danger">
                                    <div>Please Fill Out This Field.
                                    </div>
                                </div>
                            </td>
                            <td class="col-md-1">

                            </td>

                        </tr>
                        <div class="row" *ngIf="bikeData.policyType !== 'new_enquiry'">
                            <br />

                        </div> -->


              <!--4th row start-->
              <tr class="row" style="margin-top:20px">

                <td class="" style="font-family: Poppins;width: 100%;float: left;
                                    font-style: normal;
                                    margin-left: 10px;
                                    font-weight: normal;
                                    font-size: 16px;
                                    line-height: 28px;
                                    color: #303253;
                                    ">
                  <mat-checkbox checked="true" class="example-margin readonly" style=" color : #DFDFDF;
                                       margin-left: 10px;">
                  </mat-checkbox>
                  I hereby agree that I have read the wordings of this policy and have understood the
                  same.
                </td>
              </tr>
              <div class="row">
                <br />

              </div>
              <!--4th row end-->
              <!--5th row start-->
              <div class="row">
                <div class="" style="width: 10%;float: left;">
                </div>
                <div class="" style="width: 30%;float: left;">
                  <button mat-button color="" style="background: #999999;
                                                                        border-radius: 10px;font-style: normal;
                                                                        font-weight: 600;
                                                                        font-size: 18px;
                                                                        line-height: 40px;
                                                                        width: 100%;
                                                                        align-items: center;
                                                                        height: 60px;
                                                                        margin-right: 5px;
                                                                        color: #FFFFFF;" (click)="back()">Back</button>

                </div>
                <div class="" style="width: 20%;float: left;">

                </div>
                <div class="" style="width: 30%;float: left;">
                  <button mat-button color="" style="background: #303253;
                                                                border-radius: 10px;font-style: normal;
                                                                font-weight: 600;
                                                                font-size: 18px;
                                                                line-height: 40px;
                                                                width: 100%;
                                                                align-items: center;
                                                                height: 60px;
                                                                margin-right: 5px;
                                                                color: #FFFFFF;" (click)="submitform()">Next</button>
                </div>
                <!-- routerLink="/bike/BikeFinalSummary" -->
                <div class="" style="width: 10%;float: left;">

                </div>
              </div>
              <!--5th row end-->

            </table>
          </div>
        </form>
      </div>
    </div>
    <!--new section-->
    <div class="container" style="width: 400px;float: left;margin-left: 70px;">
      <div class="row">

        <div class="" style="background: #FFFFFF;width:400px;
                                                                box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
                                                                border-radius: 12px;">



          <div class=" container form-group">
            <form autocomplete="off">

              <div class="row">

                <div class="col-md-12" style="font-family: Poppins;
                                                font-style: normal;
                                                font-weight: 600;
                                                font-size: 24px;
                                                line-height: 32px;
                                                margin-top: 15px;
                                                color: #303253;">


                  Bike Details
                </div>
              </div>
              <div>
                <table style="width:100%">

                  <tr class="row" style="margin-top:20px;">
                    <td class="col-md-6 field" style="  font-family: Poppins;
                                                font-style: normal;
                                                font-weight: normal;
                                                font-size: 16px;
                                                line-height: 24px;
                                                color: #303253;">

                      <label for="Bike Manufacturer  ">Bike Manufacturer :</label>
                    </td>
                    <td class="col-md-6 field" style="  font-family: Poppins;padding-left:10px;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #303253;">

                      <!-- <label for="Honda  ">Honda</label> -->
                      <label for="Honda  ">{{bikeData?.biManufacturer}}</label>
                    </td>

                  </tr>
                  <!--2nd row start-->
                  <tr class="row" style="margin-top:20px;">
                    <td class="col-md-6 field" style="  font-family: Poppins;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                color: #303253;">

                      <label for="Variant & Model  ">Variant & Model :</label>
                    </td>
                    <td class="col-md-6 field" style="font-family: Poppins;padding-left:10px;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #303253;">

                      <!-- <label for="Unicorn,Self Start Disc  ">Unicor, Self Start Disc</label> -->
                      <label for="Unicorn,Self Start Disc  ">{{bikeData?.biModel}}</label>
                    </td>

                  </tr>

                  <!--2nd row end-->
                  <!--3rd row start-->
                  <tr class="row" style="margin-top:20px;">
                    <td class="col-md-6 field" style="  font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    color: #303253;">

                      <label for="Manufacturing Year ">Manufacturing Year :
                      </label>
                    </td>
                    <td class="col-md-6 field" style="  font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: #303253;">

                      <!-- <label for="2020 ">2020</label> -->
                      <label for="2020 ">{{bikeData?.manufacturingYear}}</label>
                    </td>

                  </tr>
                  <!--3rd row end-->
                  <!--4th-->
                  <tr class="row" style="margin-top:20px;">
                    <td class="col-md-6 field" style="  font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #303253;">

                      <label for="Registration Date  ">Registration Date :
                      </label>
                    </td>
                    <td class="col-md-6 field" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">

                      <!-- <label for="02 Jan 2020 ">02Jan2020</label> -->
                      <label for="02 Jan 2020 ">{{bikeData?.registerDate.toString().replaceAll('/','-')}}</label>
                    </td>

                  </tr>
                  <!--4th-->
                  <!--5th-->
                  <tr class="row" style="margin-top:10px;">
                    <td class="col-md-6 field" style="  font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #303253;">

                      <label for=" NCB on previous policy  "> NCB on previous policy :
                      </label>
                    </td>
                    <td class="col-md-6 field" style=" font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #303253;">

                      <!-- <label for="20%">20%</label> -->
                      <label for="20%">{{bikeData?.policyType != 'new_enquiry' ? bikeData?.prevNcb
                                            : '0'}}%</label>
                    </td>

                  </tr>

                  <!--5th-->
                  <!--6th-->
                  <tr class="row" style="margin-top:10px;">
                    <td class="col-md-6 field" style="  font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #303253;">

                      <label for="  Expairy Date :  "> Expairy Date :
                      </label>
                    </td>
                    <td class="col-md-6 field" style=" font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #303253;">

                      <!-- <label for="04 Jan 2021">04Jan2021</label> -->
                      <label for="04 Jan 2021">{{bikeData?.policyType != 'new_enquiry' ?
                                            bikeData?.prevPolicyEndDate.toString().replaceAll('/','-') :
                                            '-'}}</label>
                    </td>

                  </tr>

                  <!--6th-->
                  <!--7th-->
                  <tr class="row" style="margin-top:10px;">
                    <td class="col-md-6 field" style="  font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #303253;">

                      <label for="   Insurance Company "> Insurance Company :
                      </label>
                    </td>
                    <td class="col-md-6 field" style=" font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #303253;">

                      <!-- <label for=" HDFC Ergo"> HDFC Ergo</label> -->
                      <label for=" HDFC Ergo">{{bikeDataSummary?.company_name}}</label>
                    </td>

                  </tr>

                  <!--7th-->
                  <!--8th-->
                  <tr class="row" style="margin-top:10px;">
                    <td class="col-md-6 field" style="  font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #303253;">

                      <label for=" Cover Amount (IDV) "> Cover Amount (IDV) :
                      </label>
                    </td>
                    <td class="col-md-6 field" style=" font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #303253;">

                      <!-- <label for=" ₹16,435"> ₹16,435</label> -->
                      <label for=" ₹16,435"> ₹{{bikeData?.idv}}</label>
                    </td>

                  </tr>
                  <!--8th-->
                  <!--9th row  start-->
                  <tr class="row" style="margin-top:10px;">
                    <td class="col-md-6 field" style="  font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #303253;">

                      <label for=" NCB Discount "> NCB Discount :
                      </label>
                    </td>
                    <td class="col-md-6 field" style=" font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #303253;">

                      <!-- <label for=" 25%"> 25%</label> -->
                      <label for=" 25%"> {{bikeData?.newNcb}}%</label>
                    </td>

                  </tr>
                  <!--9th row end-->
                  <!--10th row  start-->
                  <!-- <tr class="row" style="margin-top:10px;">
                                    <td class="col-md-6 field" style="  font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #303253;">

                                        <label for=" Order Id "> Order Id :
                                        </label>
                                    </td>
                                    <td class="col-md-6 field" style=" font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #303253;">

                                        <label for=" MGB2PGJ1KAB">MGB2PGJ1KAB</label>
                                    </td>

                                </tr> -->
                  <!--10th row end-->
                  <!--11th row  start-->
                  <tr class="row" style="margin-top:10px;">
                    <td class="col-md-6 field" style="  font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #303253;">

                      <label for="Policy Term "> Policy Term :
                      </label>
                    </td>
                    <td class="col-md-6 field" style=" font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #303253;">

                      <!-- <label for=" 1 Year">1 Year</label> -->
                      <label for=" 1 Year">{{bikeData?.policyTerm}} Year(s)</label>
                    </td>

                  </tr>
                  <!--11th row end-->
                  <!--12th row  start-->
                  <tr class="row" style="margin-top:10px;">
                    <td class="col-md-6 field" style="  font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #303253;">

                      <label for="Add-ons "> Add-ons:
                      </label>
                    </td>
                    <td class="col-md-6 field" style=" font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #303253;">

                      <!-- <label for=" NA">NA</label> -->
                      <label for=" NA">{{bikeData?.zero_depreciation == 'true' ? 'Zero Dep,' :
                                            ''}}{{bikeData?.rode_side_assistance == 'true' ? 'Roadside Assistance,'
                                            :
                                            ''}}{{bikeData?.invoice_cover == 'true' ? 'Invoice Cover,' :
                                            ''}}{{bikeData?.ncb_protection == 'true' ? 'NCB Protect,' :
                                            ''}}{{bikeData?.consumable == 'true' ? 'Consumable,' :
                                            ''}}{{bikeData?.paid_driver_legal_liability_cover == 'true' ? 'Paid
                                            Driver Legability,' :
                                            ''}}{{bikeData?.driver_cover == 'true' ? 'Passenger PA,' :
                                            ''}}{{bikeData?.pa_to_owner_driver == 'true' ? 'PA Owner Driver,' :
                                            ''}}</label>
                    </td>

                  </tr>
                  <div class="row">
                    <div class="col-md-1" style="margin-bottom:15px">

                    </div>
                    <div class="col-md-9" style="border-bottom: 1px solid #DDDDDD;">

                    </div>
                    <div class="col-md-2">

                    </div>

                  </div>
                  <!--12th row end-->
                  <!--12th row  start-->

                  <tr class="row" style=" padding-top: 20px;">
                    <td class="col-md-8 field" style="  font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #303253;
           ">

                      <label for="GST @ 18%">GST @ 18%
                      </label>
                    </td>
                    <td class="col-md-4 field" style=" font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #303253;">

                      <!-- <label for="₹435">₹435</label> -->
                      <label for="₹435">₹{{+bikeDataSummary?.premium -
                                            (+bikeDataSummary?.premium/+gst) | number:'1.0-0'}}</label>
                    </td>

                  </tr>

                  <!--12th row end-->
                  <div class="row" style="margin-top:10px">
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-9" style="border-bottom: 1px solid #DDDDDD;">

                    </div>
                    <div class="col-md-2">

                    </div>
                  </div>
                  <!--13th row start-->
                  <tr class="row" style="margin-top:10px;">
                    <td class="col-md-8 field" style="  font-family: Poppins;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 30px;
                color: #303253;">

                      <label for="Final Premium">Final Premium
                      </label>
                    </td>
                    <td class="col-md-4 field" style=" font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            color: #303253;">

                      <!-- <label for="₹1,435">₹1,435</label> -->
                      <label for="₹1,435">₹{{bikeDataSummary?.premium | number:'1.0-0'}}</label>
                    </td>
                  </tr>
                  <div class="row">
                    <br />
                  </div>
                  <!--13th row end-->
                  <!--14th start start-->
                  <div class="row">
                    <div class="col-md-1">

                    </div>

                    <div class="col-md-10">
                      <button class="btn" routerLink="/bike" style="background: #303253;
                                                                    border-radius: 8px;width:100%;color: #FFFFFF;
                                                                    font-family: Poppins;">Edit</button>

                    </div>
                    <div class="col-md-1">

                    </div>
                  </div>
                  <!--14th row end-->



                </table>
              </div>


            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--new section end-->

</div>
<app-footer></app-footer>
