<app-header-lite></app-header-lite>
<div class="container-fluid">
  <div class="row">
    <div class="heading">
      <h2>Health Insurance</h2>
    </div>
    <div class="empty"></div>
  </div>
  <div class="container1">
    <div class="main">
      <div class="progress-bar">
        <div class="progress">
        </div>
      </div>
      <h4>Contact Details</h4>
      <div class="box">
        <h6>Mailing Address</h6>
        <div class="row">
          <div class="col-5">
            <p>Mailing Address<span class="required">*
              </span> :</p>
          </div>
          <div class="col-7">
            <input type="text" placeholder="123 Building, ABC Street," [(ngModel)]="formData.address" name="address"
              (change)="onchangeValidations()">
          </div>
          <div class="col-5">
          </div>
          <div class="col-7">
            <div id="address_err" style="display:none" class="alert alert-danger">
              <div>Please fill out this field.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <p>Area / Locality<span class="required">*
              </span> :</p>
          </div>
          <div class="col-7">
            <input type="text" placeholder="Borivali" [(ngModel)]="formData.area_locality" name="area_locality"
              (change)="onchangeValidations()">
          </div>
          <div class="col-5">
          </div>
          <div class="col-7">
            <div id="area_locality_err" style="display:none" class="alert alert-danger">
              <div>Please fill out this field.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <p>Landmark<span class="required">*
              </span> :</p>
          </div>
          <div class="col-7">
            <input type="text" placeholder="Landmark" [(ngModel)]="formData.landmark" name="landmark"
              (change)="onchangeValidations()">
          </div>
          <div class="col-5">
          </div>
          <div class="col-7">
            <div id="landmark_err" style="display:none" class="alert alert-danger">
              <div>Please fill out this field.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <p>PIN Code<span class="required">*
              </span> :</p>
          </div>
          <div class="col-7">
            <input type="text" placeholder="PIN Code" [(ngModel)]="formData.pincode_id" name="pincode_id"
              (keyup)="getHealthCity($event,0)" (change)="onchangeValidations()" (keydown)="checklength($event)">
          </div>
          <div class="col-5">
          </div>
          <div class="col-7">
            <div id="pincode_id_err" style="display:none" class="alert alert-danger">
              <div>Please fill out this field.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <p>City<span class="required">*
              </span> :</p>
          </div>
          <div class="col-7" style="margin-left: -25px;">
            <!-- <select type="text" placeholder="City"
                            (change)="changeHealthCity($event.target.value);onchangeValidations()" [(ngModel)]="cityOpt"
                            name="cityOpt">
                            <option value="" disabled>Select City</option>
                            <option *ngFor="let city of cityStateName" [ngValue]="city">
                                {{city.city}}</option>
                        </select> -->
            <ng-select (change)="changeHealthCity();onchangeValidations()" [(ngModel)]="cityOpt" name="cityOpt">
              <ng-option *ngFor="let city of cityStateName" [value]="city">
                {{city.city}}</ng-option>
            </ng-select>
          </div>
          <div class="col-5">
          </div>
          <!-- <div class="col-7">
                        <div id="city_err" style="display:none" class="alert alert-danger">
                            <div>Please fill out this field.
                            </div>
                        </div>
                    </div> -->
        </div>
        <div class="row">
          <div class="col-5">
            <p>State<span class="required">*
              </span> :</p>
          </div>
          <div class="col-7" style="margin-left: -25px;">
            <!-- <input type="text" placeholder="State"> -->
            <!-- <select class="custom-select" [(ngModel)]="stateOpt" name="stateOpt"
                            (change)="onchangeValidations()">
                            <option value="">Select State</option>
                            <option *ngFor="let State of cityStateName" [ngValue]="State">
                                {{State.state_name}}</option>
                        </select> -->
            <!-- <ng-select [(ngModel)]="stateOpt" name="stateOpt"
                        (change)="onchangeValidations()">
                        <ng-option *ngFor="let State of cityStateName" [value]="State">
                            {{State.state_name}}</ng-option>
                </ng-select> -->
            <ng-select [(ngModel)]="stateOpt" name="stateOpt">
              <ng-option *ngFor="let State of stateName" [value]="State">{{State}}</ng-option>
            </ng-select>
          </div>
          <div class="col-5">
          </div>
          <div class="col-7">
            <div id="state_err" style="display:none" class="alert alert-danger">
              <div>Please fill out this field.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box">
        <h6>Contact Details</h6>
        <div class="row">
          <div class="col-5">
            <p>Mobile Number<span class="required">*
              </span> :</p>
          </div>
          <div class="col-7" style="display: inline;">
            <!-- <select name="" id="" style="width: 110px;">
                            <option value="" selected>+91</option>
                            <option value="">+21</option>
                            <option value="">+03</option>
                            <option value="">+94</option>
                        </select> -->
            <input type="text" placeholder="10 digit number" [(ngModel)]="formData.mobile" name="mobile" id="mobile"
              (keydown)="checkNumbers($event)" maxlength="10" minlength="10" (change)="onchangeValidations()">
          </div>
          <div class="col-5">
          </div>
          <div class="col-7">
            <div id="mobile_err" style="display:none" class="alert alert-danger">
              <div>Please fill out this field.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <p>Email Address<span class="required">*
              </span> :</p>
          </div>
          <div class="col-7">
            <input type="email" placeholder="Email Address" [(ngModel)]="formData.email" name="email" id="email"
              (change)="onchangeValidations()">
            <!-- <select style="width: 205px;margin-left: 10px;" name="" id="">
                            <option value="" selected>@gmail.com</option>
                            <option value="">@yahoo.com</option>
                            <option value="">@rediffmail.com</option>
                            <option value="">@hotmail.com</option>
                        </select> -->
          </div>
          <div class="col-5">
          </div>
          <!-- <div class="col-7">
                        <div id="email_err" style="display:none" class="alert alert-danger">
                            <div>Please fill out this field.
                            </div>
                        </div>
                    </div> -->
        </div>
        <div class="row">
          <div class="col-5">
            <p>Alternate Mobile Number :</p>
          </div>
          <div class="col-7">
            <input type="text" placeholder="10 digit number" [(ngModel)]="formData.alt_mobile" name="alt_mobile"
              id="alt_mobile" (keydown)="checkNumbers($event)" maxlength="10" (change)="onchangeValidations()">
          </div>
          <div class="col-5">
          </div>
          <!-- <div class="col-7">
                        <div id="alt_mobile_err" style="display:none" class="alert alert-danger">
                            <div>Please fill out this field.
                            </div>
                        </div>
                    </div> -->
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <button mat-button style="background-color:#999999;" (click)="redirect()">Back</button>
        </div>
        <div class="col-4"></div>
        <div class="col-3">
          <button mat-button style="background-color:#303253;" (click)="submitform()">Next</button>
        </div>
      </div>
    </div>
    <div class="sidebar">
      <h3>Policy Details</h3>
      <!-- <div class="row">
                <div class="col-6">
                    <p>Proposer Age :</p>
                </div>
                <div class="col-6">
                    <b>{{enquiryDetails?.age}}</b>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p>Proposer Gender :</p>
                </div>
                <div class="col-6">
                    <b>Male</b>
                </div>
            </div> -->
      <div class="row">
        <div class="col-6">
          <p>Insured Members :</p>
        </div>
        <div class="col-6">
          <!-- <b>1 Adult,<br>
                        2 Children</b> -->
          <b>{{enquiryDetails?.adults}} Adults,<br>
            {{enquiryDetails?.children}} Children</b>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <p>Eldest Age :</p>
        </div>
        <div class="col-6">
          <!-- <b>40 Years</b> -->
          <b><b>{{enquiryDetails?.age}} Years</b></b>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <p>Insurance Cover :</p>
        </div>
        <div class="col-6">
          <!-- <b>1 - 2 Lakhs</b> -->
          <b>{{enquiryDetails?.min_insurance_cover}}-{{enquiryDetails?.max_insurance_cover}} Lakhs</b>
        </div>
      </div>
      <!-- <div class="row">
                <div class="col-6">
                    <p>NCB Discount :</p>
                </div>
                <div class="col-6">
                    <b>25%</b>
                </div>
            </div> -->
      <!-- <div class="row">
                <div class="col-6">
                    <p>Order Id :</p>
                </div>
                <div class="col-6">
                    <b>MGB2PGJ1KAB</b>
                </div>
            </div> -->
      <div class="row">
        <div class="col-6">
          <p>Policy Term :</p>
        </div>
        <div class="col-6">
          <b>1 Year</b>
        </div>
      </div>
      <!-- <div class="row">
                <div class="col-6">
                    <p>Add-ons</p>
                </div>
                <div class="col-6">
                    <b>NA</b>
                </div>
            </div> -->
      <hr>
      <div class="row">
        <div class="col-6">
          <p>GST @ 18%</p>
        </div>
        <div class="col-6">
          <!-- <b>₹ 435</b> -->
          <b>₹ {{+enquiryDetails?.premium - (+enquiryDetails?.premium/+gst) | number: '1.0-0'}}</b>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-6">
          <h6>Final Premium</h6>
        </div>
        <div class="col-6">
          <!-- <strong>₹ 1,435</strong> -->
          <strong>₹ {{enquiryDetails?.premium}}</strong>
        </div>
      </div>
      <button mat-button style="background-color:#303253;" routerLink="/health">Edit</button>
    </div>
  </div>
</div>
<app-footer></app-footer>
