<app-header-lite></app-header-lite>
<div class="container-fluid">
  <div class="row">
    <div class="heading">
      <h2>Health Insurance</h2>
    </div>
    <div class="empty"></div>
  </div>
  <div class="container1">
    <div class="main">
      <div class="progress-bar">
        <div class="progress">
        </div>
      </div>
      <h4>Insured Members</h4>
      <div class="popup" *ngFor="let i of [].constructor(adults); let a = index">
        <div class="row">
          <b>Adult {{ (a + 1) }}</b>
          <a data-toggle="collapse" [attr.data-target]="'#collapseAdult'+a" aria-expanded="true">-</a>
        </div>
        <div class="collapse" [attr.id]="'collapseAdult'+a">
          <div class="row">
            <div class="col-5">
              <p>Select Relation with Proposer<span class="required">*
                </span> :</p>
            </div>
            <div class="col-7">
              <select name="" id="" [(ngModel)]="Adult_array[a].relationship" name="Adult_array[a].relationship"
                (change)="setSelfData(Adult_array[a].relationship);validations()">
                <option value="" disabled>Select Relation</option>
                <option *ngFor="let relation of proposal_relation" value="{{relation.relationship_proposer}}">{{
                                    relation.relationship_proposer
                                    }}
                </option>
              </select>
            </div>
            <div class="col-5">
            </div>
            <div class="col-7">
              <div id="relationship_err_adult_{{a}}" style="display:none;margin-top: 10px;" class="alert alert-danger">
                <div>Please fill out this field.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <p>First Name<span class="required">*
                </span> :</p>
            </div>
            <div class="col-7">
              <input type="text" placeholder="John" [(ngModel)]="Adult_array[a].i_first_name"
                name="Adult_array[a].i_first_name" id="i_first_name" (change)="validations()">
            </div>
            <div class="col-5">
            </div>
            <div class="col-7">
              <div id="i_first_name_err_adult_{{a}}" style="display:none;margin-top: 10px;" class="alert alert-danger">
                <div>Please fill out this field.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <p>Middle Name :</p>
            </div>
            <div class="col-7">
              <input type="text" placeholder="Middle Name" [(ngModel)]="Adult_array[a].i_middle_name"
                name="Adult_array[a].i_middle_name" id="i_middle_name" (change)="validations()">
            </div>
            <div class="col-5">
            </div>
            <!-- <div class="col-7">
                            <div id="i_middle_name_err_adult_{{a}}" style="display:none;margin-top: 10px;"
                                class="alert alert-danger">
                                <div>Please fill out this field.
                                </div>
                            </div>
                        </div> -->
          </div>
          <div class="row">
            <div class="col-5">
              <p>Last Name<span class="required">*
                </span> :</p>
            </div>
            <div class="col-7">
              <input type="text" placeholder="Last Name" [(ngModel)]="Adult_array[a].i_last_name"
                name="Adult_array[a].i_last_name" id="i_last_name" (change)="validations()">
            </div>
            <div class="col-5">
            </div>
            <div class="col-7">
              <div id="i_last_name_err_adult_{{a}}" style="display:none;margin-top: 10px;" class="alert alert-danger">
                <div>Please fill out this field.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <p>Date of Birth<span class="required">*
                </span> :</p>
            </div>
            <div class="col-7">
              <input type="date" (click)="d.toggle()" #d="ngbDatepicker" [minDate]="{year: 1980, month: 1, day: 1}"
                [(ngModel)]="Adult_array[a].dob" name="Adult_array[a].dob" placeholder="Select Date of Birth"
                ngbDatepicker (change)="validations()">
            </div>
            <div class="col-5">
            </div>
            <div class="col-7">
              <div id="dob_err_adult_{{a}}" style="display:none;margin-top: 10px;" class="alert alert-danger">
                <div>Please fill out this field.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <p>Gender<span class="required">*
                </span> :</p>
            </div>
            <div class="col-7">
              <mat-radio-group aria-label="Select an option" name="gender" [(ngModel)]="Adult_array[a].gender"
                (change)="validations()">
                <mat-radio-button value="Male" [checked]="Adult_array[a].gender == 'Male'">Male
                </mat-radio-button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <mat-radio-button value="Female" [checked]="Adult_array[a].gender == 'Female'">Female
                </mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="col-5">
            </div>
            <div class="col-7">
              <div id="gender_adult_{{a}}" style="display:none;margin-top: 10px;" class="alert alert-danger">
                <div>Please fill out this field.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <p>Height(ft)<span class="required">*
                </span> :</p>
            </div>
            <div class="col-7">
              <!-- <input type="text" placeholder="ft, in"> -->
              <select class="" [(ngModel)]="Adult_array[a].height_feet" name="Adult_array[a].height_feet"
                (change)="validations()">
                <option value="" disabled>Feet</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
              </select>
            </div>
            <div class="col-5">
            </div>
            <div class="col-7">
              <div id="height_feet_adult_{{a}}" style="display:none;margin-top: 10px;" class="alert alert-danger">
                <div>Please fill out this field.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <p>Height(inches)<span class="required">*
                </span> :</p>
            </div>
            <div class="col-7">
              <!-- <input type="text" placeholder="ft, in"> -->
              <select class="" [(ngModel)]="Adult_array[a].height_inch" name="Adult_array[a].height_inch"
                (change)="validations()">
                <option value="">inches</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
              </select>
            </div>
            <div class="col-5">
            </div>
            <div class="col-7">
              <div id="height_inch_adult_{{a}}" style="display:none;margin-top: 10px;" class="alert alert-danger">
                <div>Please fill out this field.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <p>Weight<span class="required">*
                </span> :</p>
            </div>
            <div class="col-7">
              <input type="text" placeholder="kgs" [(ngModel)]="Adult_array[a].weight" name="weight"
                (keydown)="checkNumbers($event)" (change)="validations()">
            </div>
            <div class="col-5">
            </div>
            <div class="col-7">
              <div id="weight_adult_{{a}}" style="display:none;margin-top: 10px;" class="alert alert-danger">
                <div>Please fill out this field.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <p>Marital Status<span class="required">*
                </span> :</p>
            </div>
            <div class="col-7">
              <!-- <select name="" id="">
                                <option value="">Marital Status</option>
                            </select> -->
              <select name="" id="i_marital_status" [(ngModel)]="Adult_array[a].i_marital_status"
                name="i_marital_status" (change)="validations()">
                <option value="" disabled>Marital Status</option>
                <option value="Married">Married</option>
                <option value="Single">Single</option>
                <option value="Widowed">Widowed</option>
                <option value="Divorced">Divorced</option>
                <option value="Seperated">Seperated</option>
              </select>
            </div>
            <div class="col-5">
            </div>
            <div class="col-7">
              <div id="i_marital_status_adult_{{a}}" style="display:none;margin-top: 10px;" class="alert alert-danger">
                <div>Please fill out this field.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <p>Profession<span class="required">*
                </span> :</p>
            </div>
            <div class="col-7" style="margin-left: -25px;">
              <!-- <select name="" id="">
                                <option value="">Profession</option>
                            </select> -->
              <!-- <select name="" id="" [(ngModel)]="Adult_array[a].insured_occupation"
                                name="insured_occupation" (change)="validations()">
                                <option value="" disabled>Profession</option>
                                <option *ngFor="let apollo of apollo_profession" [value]="apollo.occupation_name">
                                    {{apollo.occupation_name}}
                                </option>
                            </select> -->
              <ng-select [(ngModel)]="Adult_array[a].insured_occupation" name="insured_occupation"
                (change)="validations()">
                <ng-option *ngFor="let apollo of apollo_profession" [value]="apollo.occupation_name">
                  {{apollo.occupation_name}}</ng-option>
              </ng-select>
            </div>
            <div class="col-5">
            </div>
            <div class="col-7">
              <div id="insured_occupation_adult_{{a}}" style="display:none;margin-top: 10px;"
                class="alert alert-danger">
                <div>Please fill out this field.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <p>Insured Mobile<span class="required">*
                </span> :</p>
            </div>
            <div class="col-7">
              <input type="text" placeholder="10 digit number" [(ngModel)]="Adult_array[a].i_mobile" name="i_mobile"
                (keydown)="checkNumbers($event)" maxlength="10" (change)="validations()">
            </div>
            <div class="col-5">
            </div>
            <div class="col-7">
              <div id="i_mobile_adult_{{a}}" style="display:none;margin-top: 10px;" class="alert alert-danger">
                <div>Please fill out this field.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="popup" *ngFor="let a of [].constructor(children); let i = index">
        <div class="row">
          <b>Child {{ (i + 1) }}</b>
          <a data-toggle="collapse" [attr.data-target]="'#collapseChild'+i">-</a>
        </div>
        <div class="collapse" [attr.id]="'collapseChild'+i">
          <div class="row">
            <div class="col-5">
              <p>Select Relation with Proposer<span class="required">*
                </span> :</p>
            </div>
            <div class="col-7">
              <select name="" id="" [(ngModel)]="Child_array[i].relationship" name="Child_array[i].relationship"
                (change)="validations()">
                <option value="">Select Relation</option>
                <option *ngFor="let relation of proposal_relation" value="{{relation.relationship_proposer}}">{{
                                    relation.relationship_proposer
                                    }}
                </option>
              </select>
            </div>
            <div class="col-5">
            </div>
            <div class="col-7">
              <div id="relationship_err_child_{{i}}" style="display:none;margin-top: 10px;" class="alert alert-danger">
                <div>Please fill out this field.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <p>First Name<span class="required">*
                </span> :</p>
            </div>
            <div class="col-7">
              <input type="text" placeholder="John" [(ngModel)]="Child_array[i].i_first_name"
                name="Child_array[i].i_first_name" id="i_first_name" (change)="validations()">
            </div>
            <div class="col-5">
            </div>
            <div class="col-7">
              <div id="i_first_name_err_child_{{i}}" style="display:none;margin-top: 10px;" class="alert alert-danger">
                <div>Please fill out this field.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <p>Middle Name :</p>
            </div>
            <div class="col-7">
              <input type="text" placeholder="Middle Name" [(ngModel)]="Child_array[i].i_middle_name"
                name="Child_array[i].i_middle_name" id="i_middle_name" (change)="validations()">
            </div>
            <div class="col-5">
            </div>
            <!-- <div class="col-7">
                            <div id="i_middle_name_err_child_{{i}}" style="display:none;margin-top: 10px;"
                                class="alert alert-danger">
                                <div>Please fill out this field.
                                </div>
                            </div>
                        </div> -->
          </div>
          <div class="row">
            <div class="col-5">
              <p>Last Name<span class="required">*
                </span> :</p>
            </div>
            <div class="col-7">
              <input type="text" placeholder="Last Name" [(ngModel)]="Child_array[i].i_last_name"
                name="Child_array[i].i_last_name" id="i_last_name" (change)="validations()">
            </div>
            <div class="col-5">
            </div>
            <div class="col-7">
              <div id="i_last_name_err_child_{{i}}" style="display:none;margin-top: 10px;" class="alert alert-danger">
                <div>Please fill out this field.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <p>Date of Birth<span class="required">*
                </span> :</p>
            </div>
            <div class="col-7">
              <input type="date" (click)="d.toggle()" [minDate]="{year: 1980, month: 1, day: 1}"
                [(ngModel)]="Child_array[i].dob" name="Child_array[i].dob" placeholder="Select Date of Birth"
                ngbDatepicker #d="ngbDatepicker" (change)="validations()">
            </div>
            <div class="col-5">
            </div>
            <div class="col-7">
              <div id="dob_child_{{i}}" style="display:none;margin-top: 10px;" class="alert alert-danger">
                <div>Please fill out this field.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <p>Gender<span class="required">*
                </span> :</p>
            </div>
            <div class="col-7">
              <mat-radio-group aria-label="Select an option" [(ngModel)]="Child_array[i].gender" name="gender"
                (change)="validations()">
                <mat-radio-button value="Male" name="child_{{i}}" [checked]="Child_array[i].gender == 'Male'">Male
                </mat-radio-button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <mat-radio-button value="Female" name="child_{{i}}" [checked]="Child_array[i].gender == 'Female'">Female
                </mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="col-5">
            </div>
            <div class="col-7">
              <div id="gender_child_{{i}}" style="display:none;margin-top: 10px;" class="alert alert-danger">
                <div>Please fill out this field.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <p>Height(ft)<span class="required">*
                </span> :</p>
            </div>
            <div class="col-7">
              <!-- <input type="text" placeholder="ft, in"> -->
              <select class="custom-select" [(ngModel)]="Child_array[i].height_feet" name="Child_array[i].height_feet"
                (change)="validations()">
                <option value="">Feet</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
              </select>
            </div>
            <div class="col-5">
            </div>
            <div class="col-7">
              <div id="height_feet_child_{{i}}" style="display:none;margin-top: 10px;" class="alert alert-danger">
                <div>Please fill out this field.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <p>Height(inches)<span class="required">*
                </span> :</p>
            </div>
            <div class="col-7">
              <!-- <input type="text" placeholder="ft, in"> -->
              <select class="custom-select" [(ngModel)]="Child_array[i].height_inch" name="Child_array[i].height_inch"
                (change)="validations()">
                <option value="">inches</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
              </select>
            </div>
            <div class="col-5">
            </div>
            <div class="col-7">
              <div id="height_inch_child_{{i}}" style="display:none;margin-top: 10px;" class="alert alert-danger">
                <div>Please fill out this field.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <p>Weight<span class="required">*
                </span> :</p>
            </div>
            <div class="col-7">
              <input type="text" placeholder="kgs" [(ngModel)]="Child_array[i].weight" name="Child_array[i].weight"
                (keydown)="checkNumbers($event)" (change)="validations()">
            </div>
            <div class="col-5">
            </div>
            <div class="col-7">
              <div id="weight_child_{{i}}" style="display:none;margin-top: 10px;" class="alert alert-danger">
                <div>Please fill out this field.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <p>Marital Status<span class="required">*
                </span> :</p>
            </div>
            <div class="col-7">
              <!-- <select name="" id="">
                                <option value="">Marital Status</option>
                            </select> -->
              <select name="" id="i_marital_status" [(ngModel)]="Child_array[i].i_marital_status"
                name="i_marital_status" (change)="validations()">
                <option value="" disabled>Marital Status</option>
                <option value="Married">Married</option>
                <option value="Single">Single</option>
                <option value="Widowed">Widowed</option>
                <option value="Divorced">Divorced</option>
                <option value="Seperated">Seperated</option>
              </select>
            </div>
            <div class="col-5">
            </div>
            <div class="col-7">
              <div id="i_marital_status_child_{{i}}" style="display:none;margin-top: 10px;" class="alert alert-danger">
                <div>Please fill out this field.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <p>Profession<span class="required">*
                </span> :</p>
            </div>
            <div class="col-7">
              <!-- <select name="" id="">
                                <option value="">Profession</option>
                            </select> -->
              <select name="" id="" [(ngModel)]="Child_array[i].insured_occupation" name="insured_occupation"
                (change)="validations()">
                <option value="" disabled>Profession</option>
                <option *ngFor="let apollo of apollo_profession" [value]="apollo.occupation_name">
                  {{apollo.occupation_name}}
                </option>
              </select>
            </div>
            <div class="col-5">
            </div>
            <div class="col-7">
              <div id="insured_occupation_child_{{i}}" style="display:none;margin-top: 10px;"
                class="alert alert-danger">
                <div>Please fill out this field.
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="row">
                        <div class="col-5">
                            <p>Insured Mobile<span class="required">*
                                </span> :</p>
                        </div>
                        <div class="col-7">
                            <input type="text" placeholder="10 digit number" [(ngModel)]="Child_array[i].i_mobile"
                                name="i_mobile" (keydown)="checkNumbers($event)" maxlength="10"
                                (change)="validations()">
                        </div>
                        <div class="col-5">
                        </div>
                        <div class="col-7">
                            <div id="i_mobile_child_{{i}}" style="display:none;margin-top: 10px;" class="alert alert-danger">
                                <div>Please fill out this field.
                                </div>
                            </div>
                        </div>
                    </div> -->
        </div>
      </div>
      <!-- <div class="popup">
                <div class="row">
                    <b>Child 1</b>
                    <a data-toggle="collapse" data-target="#details2">-</a>
                </div>
                <div class="collapse" id="details2">
                    <div class="row">
                        <div class="col-5">
                            <p>Select Relation with Proposer :</p>
                        </div>
                        <div class="col-7">
                            <select name="" id="">
                                <option value="">Son</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <p>First Name :</p>
                        </div>
                        <div class="col-7">
                            <input type="text" placeholder="John">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <p>Middle Name :</p>
                        </div>
                        <div class="col-7">
                            <input type="text" placeholder="Middle Name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <p>Last Name :</p>
                        </div>
                        <div class="col-7">
                            <input type="text" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <p>Date of Birth :</p>
                        </div>
                        <div class="col-7">
                            <input type="date" placeholder="dd / mm / yyyy">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <p>Gender :</p>
                        </div>
                        <div class="col-7">
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button value="1">Male</mat-radio-button>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <mat-radio-button value="2">Female</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <p>Height :</p>
                        </div>
                        <div class="col-7">
                            <input type="text" placeholder="ft, in">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <p>Weight :</p>
                        </div>
                        <div class="col-7">
                            <input type="text" placeholder="kgs">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <p>Marital Status :</p>
                        </div>
                        <div class="col-7">
                            <select name="" id="">
                                <option value="">Marital Status</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <p>Profession :</p>
                        </div>
                        <div class="col-7">
                            <select name="" id="">
                                <option value="">Profession</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <p>Insured Mobile :</p>
                        </div>
                        <div class="col-7">
                            <input type="text" placeholder="10 digit number">
                        </div>
                    </div>
                </div>
            </div> -->
      <div class="row">
        <div class="col-3">
          <button mat-button style="background-color:#999999;" (click)="redirect()">Back</button>
        </div>
        <div class="col-4"></div>
        <div class="col-3">
          <button mat-button style="background-color:#303253;" (click)="submitform1()">Next</button>
        </div>
      </div>
    </div>
    <div class="sidebar">
      <h3>Policy Details</h3>
      <!-- <div class="row">
                <div class="col-6">
                    <p>Proposer Age :</p>
                </div>
                <div class="col-6">
                    <b>{{enquiryDetails?.age}}</b>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p>Proposer Gender :</p>
                </div>
                <div class="col-6">
                    <b>Male ????</b>
                </div>
            </div> -->
      <div class="row">
        <div class="col-6">
          <p>Insured Members :</p>
        </div>
        <div class="col-6">
          <!-- <b>1 Adult,<br>
                        2 Children</b> -->
          <b>{{enquiryDetails?.adults}} Adults,<br>
            {{enquiryDetails?.children}} Children</b>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <p>Eldest Age :</p>
        </div>
        <div class="col-6">
          <!-- <b>40 Years</b> -->
          <b>{{enquiryDetails?.age}} Years</b>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <p>Insurance Cover :</p>
        </div>
        <div class="col-6">
          <!-- <b>1 - 2 Lakhs</b> -->
          <b>{{enquiryDetails?.min_insurance_cover}}-{{enquiryDetails?.max_insurance_cover}} Lakhs</b>
        </div>
      </div>
      <!-- <div class="row">
                <div class="col-6">
                    <p>NCB Discount :</p>
                </div>
                <div class="col-6">
                    <b>25% ????</b>
                </div>
            </div> -->
      <!-- <div class="row">
                <div class="col-6">
                    <p>Order Id :</p>
                </div>
                <div class="col-6">
                    <b>MGB2PGJ1KAB</b>
                </div>
            </div> -->
      <div class="row">
        <div class="col-6">
          <p>Policy Term :</p>
        </div>
        <div class="col-6">
          <b>1 Year</b>
        </div>
      </div>
      <!-- <div class="row">
                <div class="col-6">
                    <p>Add-ons</p>
                </div>
                <div class="col-6">
                    <b>NA ????</b>
                </div>
            </div> -->
      <hr>
      <div class="row">
        <div class="col-6">
          <p>GST @ 18%</p>
        </div>
        <div class="col-6">
          <b>₹ {{+enquiryDetails?.premium - (+enquiryDetails?.premium/+gst) | number: '1.0-0'}}</b>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-6">
          <h6>Final Premium</h6>
        </div>
        <div class="col-6">
          <strong>₹ {{enquiryDetails?.premium}}</strong>
        </div>
      </div>
      <button mat-button style="background-color:#303253;" routerLink="/health">Edit</button>
    </div>
  </div>
</div>
<app-footer></app-footer>
