.container-fluid
{
    height: 100%;
    overflow: hidden;
}
.rightside h5
{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1px;
    color: #303253;
    margin-left: 2%;
}
.rightside .main
{
    width: 630px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 46px;
}
.rightside .main h4
{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.2px;
    color: #303253;
    margin-bottom: 0px;
}
.main .row
{
    margin: 0px;
    padding: 0px;
}
.col-6
{
    padding: 0px;
}
.main span
{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: rgba(48, 51, 83, 0.7);
    padding-top: 10px;
}
.main p
{
    margin: 0px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #303253;
}
.main input
{   
    width: 300px;
    height: 56px;
    background: #FFFFFF;
    border: 1px solid #C3CAD9;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #303253;
    margin-top: 5px;
}
.main a
{
    text-decoration: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #303253;
    padding-top: 10px;
}
.main .submit button
{
    width: 620px;
    height: 56px;
    background: #EB6E47;
    border-radius: 8px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}
.main .abcd button
{
    width: 620px;
    height: 56px;
    background: #FFFFFF;
    border: 2px solid #EB6E47;
    border-radius: 8px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #EB6E47;
}
.main b
{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #303253;
}
.main a
{
    padding-top: 0px;
}
.leftside
{
    background-color: #303253;
    height: 100vh;
}
.leftside .quote
{
    width: 450px;
    height: 260px;
    margin-left: 100px;
    margin-top: 300px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 52px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.quote b
{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #ECDCC4;
}
.quote span
{
    font-family: Poppins;
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #33B58A;
}
input.ng-invalid.ng-touched
{
    border: 1px solid red !important; 
}
input.ng-valid.ng-touched
{
    border: 1px solid green !important; 
}
.refreshImg {
    max-width:8%;
    height:auto;
    cursor: pointer;
}
@media only screen and (max-width: 1300px) {
    .rightside .main
    {
        margin-top: 50px;
        width: 500px;
        height: 604px;
        margin: 0 auto;
    }
    .main input
    {
        width: 220px;
    }
}