<div class="container-fluid">
    <div class="row">
        <div class="col-6 rightside">
            <a href="" style="text-decoration: none;"><h5>CAPALIN</h5></a>
            <div class="main">
                <div class="row">
                    <h4>Digital Partner</h4>
                </div>
                <div class="row">
                    <span>Join our Point of Sale Person (POSP) program and become Digital Partner.<br>
                        You will able to sell various kind of Insurance Policies from All Insurers.</span>
                </div><br>
                <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-6">
                        <div class="row">
                            <p>First Name</p>
                        </div>
                        <div class="row">
                            <input type="text" placeholder="John" formControlName="firstName">
                        </div>

                        <div class="text-danger" *ngIf="registrationForm.controls.firstName.errors">
                            <div  *ngIf="
                             registrationForm.controls.firstName.touched &&   
                             registrationForm.controls.firstName.errors.required">
                                First name is required.
                             </div>  
                        </div>     

                    </div>
                    <div class="col-6">
                        <div class="row">
                            <p>Last Name</p>
                        </div>
                        <div class="row">
                            <input type="text" placeholder="Doe"  formControlName="lastName">
                        </div>
                         <div *ngIf="registrationForm.controls.lastName.errors">
                            <div class="text-danger" *ngIf=" 
                            registrationForm.controls.lastName.touched &&
                            registrationForm.controls.lastName.errors.required">
                                Last name is required.
                             </div>  
                        </div>  
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-6">
                        <div class="row">
                            <p>Email</p>
                        </div>
                        <div class="row">
                            <input type="text" placeholder="gilroybworn@gmail.com" formControlName="email" (focusout)="checkDuplicate($event)">
                        </div>
                        <div class="text-danger" *ngIf="registrationForm.controls.email.errors">
                            <div *ngIf="registrationForm.controls.email.touched &&
                                registrationForm.controls.email.errors.required">
                                Email is required.
                             </div>
                             <div *ngIf="registrationForm.controls.email.touched &&                registrationForm.controls.email.errors.email">
                                Please provide correct email.
                             </div>  
                             <div *ngIf="registrationForm.controls.email.touched &&    registrationForm.controls.email.errors.alreadyTaken">
                                Email already taken, Please provide new email id.
                             </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <p>Mobile Number</p>
                        </div>
                        <div class="row">
                            <input type="text" placeholder="+91 " formControlName="mobile_no"
                            (focusout)="checkDuplicate($event)">
                        </div>
                        <div class="text-danger" *ngIf="registrationForm.controls.mobile_no.errors">
                           <div *ngIf="
                           registrationForm.controls.mobile_no.touched &&
                           registrationForm.controls.mobile_no.errors.required">
                                Mobile number is required.
                           </div>
                            <div *ngIf="
                            registrationForm.controls.mobile_no.touched &&
                            registrationForm.controls.mobile_no.errors.pattern">
                                Please enter 10 digit value.
                           </div> 
                           <div *ngIf="registrationForm.controls.mobile_no.touched &&    registrationForm.controls.mobile_no.errors.alreadyTaken">
                                Mobile number already taken, Please provide new mobile number.
                            </div> 
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-6">
                        <div class="row">
                            <p>Create Password</p>
                        </div>
                        <div class="row">
                            <input type="text" placeholder="Enter password" formControlName="password_s" 
                             >
                        </div>
                        <div class="text-danger" *ngIf="registrationForm.controls.password_s.errors">
                           <div *ngIf="
                           registrationForm.controls.password_s.touched &&
                           registrationForm.controls.password_s.errors.required" >
                                Password is required.
                           </div>
                           <div *ngIf="
                           registrationForm.controls.password_s.touched &&
                           registrationForm.controls.password_s.errors.minlength"> 
                             Password shoud be atleast 6 charcter
                            </div>  
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <p>Re-Type Password</p>
                        </div>
                        <div class="row">
                            <input type="text" placeholder="Enter password" formControlName="verify_password">
                        </div>
                        <div class="text-danger" *ngIf="registrationForm.controls.verify_password.errors">
                           <div *ngIf="
                           registrationForm.controls.verify_password.touched &&
                           registrationForm.controls.verify_password.errors.required">
                                Password is required.
                           </div> 
                           <div *ngIf="registrationForm.controls.verify_password.errors.mustMatch">
                                Password doesn't match.
                           </div>  
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-6">
                        <div class="row">
                            <p>Referral Code</p>
                        </div>
                        <div class="row">
                            <input type="text" placeholder="Enter Code or ID">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <p>Enter Captcha Code</p>

                        </div>
                        <div class="row">
                            <input type="text" placeholder="Enter Captcha Code"
                            formControlName="captchCode">
                        </div>

                          <div>
                            <span><img [src]="ImagePath" class="refreshImg" (click)="refershCapth()"></span>
                                {{captha}}
                           </div>

                        <div class="text-danger" *ngIf="registrationForm.controls.captchCode.errors">
                           <div *ngIf="registrationForm.controls.captchCode.touched &&
                           registrationForm.controls.captchCode.errors.required">
                                Captha is required.
                           </div>

                           <div *ngIf="
                           registrationForm.controls.captchCode.touched &&
                           registrationForm.controls.captchCode.errors.notMatched">
                                Captha not matched.
                           </div>
                        </div> 

                    </div>
                </div>
                <br>
                <!-- <div class="row abcd">
                    <button mat-button>ABCD</button>
                </div><br> -->
                <div class="row submit">
                    <button mat-button>Submit</button>
                </div>
            </form>
            </div>
        </div>
        <div class="col-6 leftside">
            <div class="quote">
                <h3>This platform is one of the </h3>
                <h3>best companies I have dealt </h3>
                <h3>with in India. They’re always </h3>
                <h3>happy to help, and I wouldn’t </h3>
                <h3>hesitate to recommend them. </h3>
                <b>Daniel Anderson</b>&nbsp;&nbsp;&nbsp;
                <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.15" fill-rule="evenodd" clip-rule="evenodd" d="M10 20.3008C15.5228 20.3008 
                    20 15.8236 20 10.3008C20 4.77793 15.5228 0.300781 10 0.300781C4.47715 0.300781 0 4.77793 0 
                    10.3008C0 15.8236 4.47715 20.3008 10 20.3008Z" fill="#33B58A"/>
                    <path d="M8.66534 13.4876L5.94725 10.7858C5.87129 10.7098 5.83331 10.6122 5.83331 
                    10.4928C5.83331 10.3735 5.87129 10.2758 5.94725 10.1999L6.54946 9.61393C6.62541 9.52712 
                    6.72036 9.48372 6.83429 9.48372C6.94822 9.48372 7.04859 9.52712 7.13539 9.61393L8.95831 
                    11.4368L12.8645 7.5306C12.9514 7.44379 13.0517 7.40039 13.1657 7.40039C13.2796 7.40039 
                    13.3745 7.44379 13.4505 7.5306L14.0527 8.11653C14.1286 8.19249 14.1666 8.29015 14.1666 
                    8.4095C14.1666 8.52886 14.1286 8.62652 14.0527 8.70247L9.25127 13.4876C9.17532 13.5744 
                    9.07766 13.6178 8.95831 13.6178C8.83895 13.6178 8.74129 13.5744 8.66534 13.4876Z" fill="#33B58A"/>
                </svg>                                      
                <span> Verified customer</span>
            </div>
        </div>
    </div>
</div>