.container {
    font-family: 'Averin';
}
.heading {
    color: #E71D36; 
    font-weight:bold;
    text-align: center;
    margin-top: 20px;
}
.centerdiv {
    color: #2EA7C4;
    text-align: center;
}
.bold {
    font-weight: bold;
}
.wrapper-div {
    border: 1px solid #ddd;
    padding: 0 5%;
    margin-bottom: 20px;
}
.field {
    display: block;
    position: relative;
    color: grey;
}
.date-input {
    padding-left: 15%;
}
.field-icon {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    color: grey;
}
.top-spacer {
    margin-top: 20px;
}
.bot-spacer {
    margin-bottom: 20px;
}