<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>

    <!-- <%= selectedPlan[0].enquiryData.carEnquiryId  %> -->
    
    <div class="container">
        <div class="row">
          
        </div>
        <div class="row">
           <h6> MARUTI 1000, PETROL, STD (1000 CC), MH-05</h6>
           <hr>
           <h6>Claim in Last Policy : No, Last Policy NCB : 20%</h6>
           <hr>
           <h6>Registration Date : 16-08-2019, Policy Expiry Date : 15-12-2021</h6>

        </div>
      </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>