<div class="container wrapper-div" style="margin-bottom: 40px;" id="maindiv">
    <h1 class="text-center font-weight-bold mt-5">BIKE INSURANCE</h1>
    <div class="row">
        <div class="container text-center">
            <h6>{{bikeData?.model}} | IDV:{{bikeData?.idv}} | Premium:{{bikeData?.premium}}</h6>
            <!-- <h6>{{bikeData?.bike_model_name}} | {{bikeData?.fuel_name}} & {{bikeData?.variant}} | IDV:{{bikeData?.idv}} | Premium:{{bikeData?.final_premium}}</h6> -->
        </div>
    </div>
    <div class="container tabs-data">
        <div class="row">
            <div class="col-6">
                <h6 style="margin-top: .5cm; color:rgb(80, 154, 224);font-weight: bold;">Registration Date : <span
                        style="color:#000;">{{bikeData?.register_date | date:'dd-MMMM-yyyy'}}</span></h6>
            </div>
            <div class="col-6">
                <h6 style="margin-top: .5cm; color:rgb(80, 154, 224);font-weight: bold;">Last Policy Claim Status :<span
                        style="color:#000;">
                        {{bikeData?.claim_status == 'true' ? 'Yes' : 'No'}}</span></h6>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h6 style="margin-top: .5cm; color:rgb(80, 154, 224);font-weight: bold;">Manufacturing Year :<span
                        style="color:#000;">{{bikeData?.manufacturing_date | date:'yyyy'}}</span></h6>
            </div>
            <div class="col-6">
                <h6 style="margin-top: .5cm; color:rgb(80, 154, 224);font-weight: bold;">Previous Policy NCB :<span
                        style="color:#000;">{{bikeData?.prev_ncb}}</span></h6>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h6 style="margin-top: .5cm; color:rgb(80, 154, 224);font-weight: bold;">Prev. Policy Expiry Date :<span
                        style="color:#000;">{{ (bikeData.expiry_date !== '0000-00-00') ? (bikeData.expiry_date |
                        date:'dd-MMMM-yyyy') : ''}}</span></h6>
            </div>
            <div class="col-6">
                <h6 style="margin-top: .5cm; color:rgb(80, 154, 224);font-weight: bold;">New Policy NCB :<span
                        style="color:#000;">{{bikeData?.idv}}%</span></h6>
            </div>
        </div>
    </div>
    <div class="row py-2 text-center3" data-html2canvas-ignore="true">
        <button type="button" class="btn btn-success" style="background-color: #E71D36;" (click)="openEmailModal()"><i
                class="fa fa-envelope"></i>Email Quote & Pay
            Later
        </button>
        <button type="button" (click)="convetToPDF()" class="btn btn-success ml-2"
            style="background-color: #E71D36;">Save As PDF</button>
        <button type="button" (click)="redirectToEdit()" class="btn btn-success ml-2"
            style="background-color: #E71D36;">Edit
        </button>
    </div>
    <!-- <div class="row py-2 text-center3">
        <a href="/bike">
            </a>
    </div> -->
    <div class="row">
        <h6 class="final"><span>BIKE OWNER</span></h6>
    </div>
    <div class="row">
        <div class="col-6">
            <h6 style="margin-top: .5cm;font-weight: bold;color:rgb(255, 0, 0)"
                *ngIf="SummaryData?.bike_owner == 'company'">Company Name :<span
                    style="color:#000;">{{SummaryData?.company_name }}</span></h6>

        </div>
        <div class="col-6">

            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Name :<span
                    style="color:#000;">{{SummaryData?.first_name }} {{SummaryData?.last_name }}</span></h6>
        </div>
        <div class="col-6">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Email :<span
                    style="color:#000;;">{{SummaryData?.email}}</span></h6>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Bike Owner :<span
                    style="color:#000;">{{SummaryData?.bike_owner}}</span></h6>
        </div>
        <div class="col-6">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">GST NO. :<span
                    style="color:#000;">{{SummaryData?.gst_no}}</span></h6>
        </div>
    </div>
    <div class="row">
        <h6 class="final"><span>PERSONAL DETAILS</span></h6>
    </div>
    <div class="row">
        <div class="col-6">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Gender :<span style="color:#000;">{{
                    (SummaryData.gender == '0') ? 'Male' :'Female' }}</span></h6>
        </div>
        <div class="col-6">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Marital Status :<span
                    style="color:#000;">{{SummaryData?.marital_status}}</span></h6>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Date of Birth :<span
                    style="color:#000;">{{SummaryData?.dob | date:'dd-MMMM-yyy'}}</span></h6>
        </div>
    </div>
    <div class="row">
        <h6 class="final"><span>NOMINEE DETAILS</span></h6>
    </div>
    <div class="row">
        <div class="col-4">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Name :<span
                    style="color:#000;">{{SummaryData?.nominee_name}}</span></h6>
        </div>
        <div class="col-4">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Date of Birth :<span
                    style="color:#000;">{{SummaryData?.nominee_dob| date:'dd-MMMM-yyy'}}</span></h6>
        </div>
        <div class="col-4">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Relationship :<span
                    style="color:#000;">{{SummaryData?.nominee_relationship}}</span></h6>
        </div>
    </div>
    <div class="row">
        <h6 class="final"><span>BIKE REGISTRATION ADDRESS</span></h6>
    </div>
    <div class="row">
        <div class="col-12">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Registration Address :<span
                    style="color:#000;">{{SummaryData?.reg_address}}</span></h6>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Area/Locality :<span
                    style="color:#000;">{{SummaryData?.reg_locality}}</span></h6>
        </div>
        <div class="col-4">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Landmark :<span
                    style="color:#000;">{{SummaryData?.reg_landmark}}</span></h6>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Pincode :<span
                    style="color:#000;">{{SummaryData?.reg_pincode}}</span></h6>
        </div>
        <div class="col-4">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">City :<span
                    style="color:#000;">{{SummaryData?.reg_city_name}}</span></h6>
        </div>
        <div class="col-4">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">State :<span
                    style="color:#000;">{{SummaryData?.reg_state_name}}</span></h6>
        </div>
    </div>
    <div class="row">
        <h6 class="final"><span>BIKE COMMUNICATION ADDRESS</span></h6>
    </div>
    <div class="row">
        <div class="col-12">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Communication Address :<span
                    style="color:#000;">{{SummaryData?.communication_address}}</span></h6>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Area/Locality :<span
                    style="color:#000;">{{SummaryData?.communication_locality}}</span></h6>
        </div>
        <div class="col-4">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Landmark :<span
                    style="color:#000;">{{SummaryData?.communication_landmark}}</span></h6>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Pincode :<span
                    style="color:#000;">{{SummaryData?.communication_pincode}}</span></h6>
        </div>
        <div class="col-4">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">City :<span
                    style="color:#000;">{{SummaryData?.communication_city_name}}</span></h6>
        </div>
        <div class="col-4">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">State :<span
                    style="color:#000;">{{SummaryData?.communication_state_name}}</span></h6>
        </div>
    </div>
    <div class="row">
        <h6 class="final"><span>VEHICLE DETAILS</span></h6>
    </div>
    <div class="row">
        <div class="col-6">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Bike Registration No. :<span
                    style="color:#000;">{{bikeData?.rto_code}} - {{SummaryData?.registeration_no}}</span></h6>
        </div>
        <div class="col-6">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Engine No. :<span
                    style="color:#000;">{{SummaryData?.enginee_no}}</span></h6>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Chassis No. :<span
                    style="color:#000;">{{SummaryData?.chassis_no}}</span></h6>
        </div>
        <div class="col-6">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Expiry Policy No. :<span
                    style="color:#000;">{{SummaryData?.expiry_policy_no}}</span></h6>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Existing Insurance :<span
                    style="color:#000;">{{SummaryData?.existing_insurer_name}}</span></h6>
        </div>
        <div class="col-6">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Bike On Loan :<span
                    style="color:#000;">{{SummaryData?.is_bike_finance == 'true' ? 'Yes' : 'No'}}
                </span></h6>
        </div>
    </div>
    <div class="row" *ngIf="SummaryData?.is_bike_finance == 'true'">
        <div class="col-6">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Loan Provider :<span
                    style="color:#000;">{{SummaryData?.loan_financier_name}}</span></h6>
        </div>
        <div class="col-6">
            <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Loan City :<span
                    style="color:#000;">{{SummaryData?.loan_city}}</span></h6>
        </div>
    </div>
</div>

<ng-template #email let-modal>
    <div class="modal-header text-white" style="background-color: #E71D36;">
        <h3 class="text-white">Save Proposal Form on Email</h3>
        <button type="button" class="close text-white" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-6 py-2">
                <label class="field" style="width: 6.5cm;">
                    <input [(ngModel)]="saveQuotePayLaterForm" type="email" name="email" id=""
                        class="form-control date-input" placeholder="Email">
                    <label for="" class="field-icon"><i class="fa fa-envelope"></i></label>
                </label>
            </div>
            <div class="col-6 py-2">
                <button (click)="saveQuoteMail()" type="button" class="btn btn-success" style="width:5cm">Email Proposal
                    Form</button>
            </div>
        </div>
        <div *ngIf="!valid_email" class="alert alert-danger" role="alert">
            Please Enter Valid Email Id
        </div>
        <div *ngIf="mail_success == false" class="alert alert-danger" role="alert">
            Error in Sending Email, pls try again
        </div>
        <div *ngIf="mail_success == true" class="alert alert-success" role="alert">
            Email Sent Successfully.
        </div>
    </div>
</ng-template>