<app-header-lite></app-header-lite>
<div class="">
    <div class="row">
        <br />
        <br />

    </div>

    <div class="row">
        <div style="margin: 0 auto;display: inline-flex;width: 1200px;">
            <div class="" style="width: 370px;">
                <div class="row">
                    <br />
                    <br />

                </div>


                <div style="background: #FFFFFF;width: 370px;
                                            box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.07);
                                            border-radius: 12px;">
                    <div class="container" style="padding: 20px;">
                        <div class="row">
                            <div class="col-md-12" style="font-family: Poppins;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 24px;
                                            line-height: 32px;
                                            color: #303253;padding-top: 20px; ">
                                Policy Details
                            </div> 
                        </div>
                        <div class="row">
                            <br/>
                        </div>
                        <!-- <div class=" row" >            
                            <div class="col-md-12" style="font-family: Poppins;
                                                        font-style: normal;
                                                        font-weight: 600;
                                                        font-size: 16px;
                                                        line-height: 24px;
                                                    
                                                        color: #303253;">
                                Policy Type

                                </div>
                        </div> 

                
                    <div class="row" style="font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 14px;
                                            line-height: 21px;

                                            color: #303253; padding-top:15px;     ">
                        
                                    <div class="col-md-6">
                                        <mat-radio-button value="1">Comprehensive</mat-radio-button>

                                    </div>
                                    <div class="col-md-6">
                                        <mat-radio-button value="2">TP Liability</mat-radio-button>
                                    </div>
            
                        </div> -->
                        
                        <!--
                            Changes are form here...
                        -->
                        


                        <div class="row">
                            <div class="col-md-12" style="font-family: Poppins;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 24px;
                            color: #303253;padding-top: 2px;margin-left: 15px;">
                            Cover Amount (IDV)
                            </div>


                        </div>
                        <div class="row" style="font-family: Poppins;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 21px;
                        color: #303253;
                        padding-top: 10px;margin-left: 15px;
                        "> 
                 <!--changes are made here-->
                            <div class="col-md-5" style="padding: 0;">
                                <mat-radio-button (click)="onClickRadioButton(true)" [checked]="true" value="1">Best Deal</mat-radio-button>
                            </div>

                            <div class="col-md-6" style="padding: 0;">
                                <mat-radio-button (click)="onClickRadioButton(false)" value="2">Choose My Own</mat-radio-button>
                            </div>
                    
                    <div class="col-9" *ngIf="radioButtonClicked == true" style="font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 18px;
                    padding-top: 10px;
                    margin-left: 10px;

                    color: #303253;">
                         IDV has been set for best deal from every insurer.
                     </div>

                    <div class="col-md-12"  *ngIf="radioButtonClicked == false" style="margin: 0 auto;">
                        <input type="text" (keydown)="onKeydown($event,box.value)" #box style="border: 1.6px solid #DFDFDF;padding-left: 20px;padding-right: 20px;
                        box-sizing: border-box;width: 300px;height: 56px;margin-top: 10px;margin-bottom: 20px;
                        border-radius: 12px;">

  <!-- col-md-12 -->
                            <div class="col-md-20" style="font-family: Poppins;
                            font-style: normal; 
                            font-weight: normal;
                            font-size: 10px;
                            line-height: 18px;
                            padding-top: 5px;
                            margin-left: 10px;
                            color: #303253;">
                                IDV Range: Rs. 1,16,435 - Rs. 2,34,422
                            </div>
                    </div>
                        <!--changes are made here-->

                        </div>



                    
                        
                        
                 <!--   <div class="row">
                    
                        <div class="col-md-12" style="font-family: Poppins;
                                                    font-style: normal;
                                                    font-weight: normal;
                                                    font-size: 12px;
                                                    line-height: 18px;
                                                    padding-top: 10px;
                                                    margin-left: 10px;
                                                    color: #303253;">
                            IDV has been set for best deal from every insurer.
                        </div>
                    </div> -->
                    <div class="row">
                        <br/>
                    </div>

                    <div class="row">
                        <div class="col-md-1"  >

                        </div>
                        <div class="col-md-9"   style="border-bottom: 1px solid #DDDDDD;">
                                
                        </div>
                        <div class="col-md-2"  >

                        </div>
                    
                    </div>


                    <div class="row">
                        <div class="col-md-12" style="font-family: Poppins;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;margin-top: 14px;
                        color: #303253;padding-top: 2px;margin-left: 15px;">
                        Last Policy Claim & NCB
                        </div>
                    </div>

                    <div class="row">
                        <select name="" id="" [(ngModel)]="prev_ncb" (change)='onValueChange("prev_ncb",prev_ncb)' style="font-family: Poppins;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 21px;
                        border: #FFFFFF 0px;margin-top: 8px;margin-bottom: 10px;
                        color: #303253;padding-top: 2px;width: 92%;">

                            <option value="0">0% NCB & No Claim</option>
                            <option value="20">20% NCB & No Claim</option>
                            <option value="25">25% NCB & No Claim</option>
                            <option value="35">35% NCB & No Claim</option>
                            <option value="45">45% NCB & No Claim</option>
                            <option value="50">50% NCB & No Claim</option>
                        </select>
                    </div>

                    <div class="row">
                        <div class="col-md-1"  >

                        </div>
                        <div class="col-md-9"   style="border-bottom: 1px solid #DDDDDD;">
                                
                        </div>
                        <div class="col-md-2"  >

                        </div>
                    
                    </div>


                    <div class="row">
                        <div class="col-md-12" style="font-family: Poppins;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;margin-top: 14px;
                        color: #303253;padding-top: 2px;margin-left: 15px;">
                        Registration Date
                        </div>
                    </div>

                    <div class="row">
                        <div style="margin: 0 auto;">
                            <input type="date" [(ngModel)]="register_date" (change)='onValueChange("register_date",register_date)'  style="border: 1.6px solid #DFDFDF;padding-left: 20px;padding-right: 20px;
                            box-sizing: border-box;width: 296px;height: 56px;margin-top: 10px;margin-bottom: 20px;
                            border-radius: 12px;" placeholder="Select Registration Date" autocomplete="off">
                        </div>
                    </div>
<!--change at line 193 i.e removed ngbDatepicker #d="ngbDatepicker"-->
                    <div class="row">
                        <div class="col-md-1"  >

                        </div>
                        <div class="col-md-9"   style="border-bottom: 1px solid #DDDDDD;">
                                
                        </div>
                        <div class="col-md-2"  >

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12" style="font-family: Poppins;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;margin-top: 14px;
                        color: #303253;padding-top: 2px;margin-left: 15px;">
                        Last Policy Expiry Day
                        </div>
                    </div>
                    
                    <div class="row">
                        <div style="margin: 0 auto;">
                            <input type="date" [(ngModel)]="expiry_date" (change)='onValueChange("expiry_date",expiry_date)'  style="border: 1.6px solid #DFDFDF;padding-left: 20px;padding-right: 20px;
                            box-sizing: border-box;width: 296px;height: 56px;margin-top: 10px;margin-bottom: 20px;
                            border-radius: 12px;" placeholder="Select Policy Expiry Date" autocomplete="off">
                        </div>
                    </div>


                    

                   <!-- <div class="row">
                        <div style="margin: 0 auto;">
                            <input type="date" (click)="d.toggle()" style="border: 1.6px solid #8d4141;
                            box-sizing: border-box;width: 296px;height: 56px;margin-top: 10px;margin-bottom: 20px;padding-left: 20px;padding-right: 20px;
                            border-radius: 12px;" placeholder="Select Policy Expiry Date" autocomplete="off" ngbDatepicker #d="ngbDatepicker" readonly>
                        </div>
                    </div>  -->

                    <div class="row">
                        <div class="col-md-1"  >

                        </div>
                        <div class="col-md-9"   style="border-bottom: 1px solid #DDDDDD;">
                                
                        </div>
                        <div class="col-md-2"  >

                        </div>
                    
                    </div> 


                        <div class="row">
                            <div class="col-md-12" style="font-family: Poppins;
                                                font-style: normal;
                                                font-weight: 600;
                                                font-size: 16px;
                                                line-height: 24px;
                                                margin-left: 10px;
                                                padding-top: 15px;
                                                color: #303253;">
                                Add Ons

                            </div>
                        </div>
                        <div class="row addonsRadio1">
                            <div class="col-12" style="margin-left: 10px;padding-top: 2px;">
                                <!-- <mat-radio-group [(ngModel)]="zero_depreciation"
                                    (change)="RecommendedAddOns('zero_depreciation',zero_depreciation)">
                                    <mat-radio-button [value]="true">Zero Depreciation
                                    </mat-radio-button>
                                </mat-radio-group> -->
                                <mat-checkbox class="form-control" [(ngModel)]="zero_depreciation"
                                (change)="RecommendedAddOns('zero_depreciation',zero_depreciation)"
                                name="zero_depreciation">
                                <label>Zero
                                    Depreciation</label> 
                            </mat-checkbox>
                            </div>
                        </div>
                        <div class="row addonsRadio1">
                            <div class="col-12" style="margin-left:10px;padding-top: 2px">
                                <!-- <mat-radio-group [(ngModel)]="passenger_cover"
                                    (change)="RecommendedAddOns('passenger_cover',passenger_cover)">
                                    <mat-radio-button [value]="true">Passenger Cover
                                    </mat-radio-button>
                                </mat-radio-group> -->
                                <mat-checkbox class="form-control" [(ngModel)]="passenger_cover"
                                (change)="RecommendedAddOns('passenger_cover',passenger_cover)"
                                name="passenger_cover">
                                <label>
                                    Passenger Cover</label> 
                            </mat-checkbox>
                            </div>
                        </div>
                        <div class="row addonsRadio1">
                            <div class="col-12" style="margin-left:10px;padding-top: 2px">
                                <!-- <mat-radio-group [(ngModel)]="paid_driver_legal_liability_cover"
                                    (change)="RecommendedAddOns('paid_driver_legal_liability_cover',paid_driver_legal_liability_cover)">
                                    <mat-radio-button [value]="true">Paid Driver Legal Liability
                                    </mat-radio-button>
                                </mat-radio-group> -->
                                <mat-checkbox class="form-control" [(ngModel)]="paid_driver_legal_liability_cover"
                                (change)="RecommendedAddOns('paid_driver_legal_liability_cover',paid_driver_legal_liability_cover)"
                                name="paid_driver_legal_liability_cover">
                                <label>
                                    Paid Driver Legal Liability Cover</label> 
                            </mat-checkbox>
                            </div>
                        </div>
                        <div class="row addonsRadio1">
                            <div class="col-12" style="margin-left:10px;padding-top: 2px">
                                <!-- <mat-radio-group [(ngModel)]="rode_side_assistance"
                                    (change)="addOn(rode_side_assistance,'rode_side_assistance')">
                                    <mat-radio-button [value]="true">Roadside Assistance
                                    </mat-radio-button>
                                </mat-radio-group> -->
                                <mat-checkbox class="form-control" [(ngModel)]="rode_side_assistance"
                                (change)="addOn('rode_side_assistance',rode_side_assistance)"
                                name="rode_side_assistance">
                                <label>
                                    Roadside Assistance</label> 
                            </mat-checkbox>
                            </div>
                        </div>
                        <div class="row addonsRadio1">
                            <div class="col-12" style="margin-left:10px;padding-top: 2px">
                                <!-- <mat-radio-group [(ngModel)]="invoice_cover"
                                    (change)="addOn(invoice_cover,'invoice_cover')">
                                    <mat-radio-button [value]="true">Invoice Cover
                                    </mat-radio-button>
                                </mat-radio-group> -->
                                <mat-checkbox class="form-control" [(ngModel)]="invoice_cover"
                                (change)="addOn('invoice_cover',invoice_cover)"
                                name="invoice_cover">
                                <label>
                                    Invoice Cover</label> 
                            </mat-checkbox>
                            </div>
                        </div>
                        <!-- <div class="row addonsRadio1">
                            <div class="col-12" style="margin-left:22px;padding-top: 2px">
                                <mat-radio-group>
                                    <mat-radio-button>Engine Cover
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="row addonsRadio1">
                            <div class="col-12" style="margin-left:22px;padding-top: 2px">
                                <mat-radio-group>
                                    <mat-radio-button>NCB Protect
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div> -->
                        <div class="row addonsRadio1">
                            <div class="col-12" style="margin-left:10px;padding-top: 2px">
                                <!-- <mat-radio-group [(ngModel)]="consumable" (change)="addOn(consumable,'consumable')">
                                    <mat-radio-button [value]="true">Consumable
                                    </mat-radio-button>
                                </mat-radio-group> -->
                                <mat-checkbox class="form-control" [(ngModel)]="consumable"
                                (change)="addOn('consumable',consumable)"
                                name="consumable">
                                <label>
                                    Consumable</label> 
                            </mat-checkbox>
                            </div>
                        </div>
                        <!-- <div class="row addonsRadio1">
                            <div class="col-12" style="margin-left:22px;padding-top: 2px">
                                <mat-radio-group>
                                    <mat-radio-button>Key Protect
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="row addonsRadio1">
                            <div class="col-12" style="margin-left:22px;padding-top: 2px">
                                <mat-radio-group>
                                    <mat-radio-button>Tyre Cover
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="row addonsRadio1">
                            <div class="col-12" style="margin-left:22px;padding-top: 2px">
                                <mat-radio-group [(ngModel)]="paid_driver_legal_liability_cover"
                                    (change)="RecommendedAddOns('paid_driver_legal_liability_cover',paid_driver_legal_liability_cover)">
                                    <mat-radio-button [value]="true">Paid Driver
                                        Legal Liability Cover</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div> -->
                        <div class="row addonsRadio1">
                            <div class="col-12" style="margin-left:10px;padding-top: 2px">
                                <!-- <mat-radio-group [(ngModel)]="pa_to_owner_driver"
                                    (change)="addOn(pa_to_owner_driver,'pa_to_owner_driver')">
                                    <mat-radio-button [value]="true">PA Owner Driver
                                    </mat-radio-button>
                                </mat-radio-group> -->
                                <mat-checkbox class="form-control" [(ngModel)]="pa_to_owner_driver"
                                (change)="addOn('pa_to_owner_driver',pa_to_owner_driver)"
                                name="pa_to_owner_driver">
                                <label>
                                    PA Owner Driver</label> 
                            </mat-checkbox>
                            </div>
                        </div>        
                        <!-- <div class="row">
                            <select name="" id="" style="font-family: Poppins;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 21px;
                            border: #FFFFFF 0px;margin-top: 8px;margin-bottom: 10px;
                            color: #303253;padding-top: 2px;margin-left: 30px;">
                                <option value="">Voluntary Deductible</option>
                                <option value="">1</option>
                                <option value="">2</option> 
                                <option value="">3</option>
                            </select>
                            <select class="form-control" [(ngModel)]="bikeData.voluntary_deductible_value" 
                            style="width:296px;border: 1.6px solid #DFDFDF;box-sizing: border-box;border-radius: 12px;margin-left: 25px;margin-bottom: 10px;">
                                <option value="0" disabled>Voluntary Deductible</option>
                                <option value="2500">2,500</option>
                                <option value="5000">5,000</option>
                                <option value="7500">7,500</option>
                                <option value="15000">15,000</option>
                            </select>
                        </div> -->
                        <div class="row">
                            <div class="col-md-1">

                            </div>
                            <div class="col-md-9" style="border-bottom: 1px solid #DDDDDD;">

                            </div>
                            <div class="col-md-2">

                            </div>

                        </div>
                        <div class="row">
                            <div class="col-12" style="margin-left: 10px;padding-top: 10px">
                                <label for="">
                                    <h6 class="">Electrical Accessories</h6>
                                </label>
                                <label for="" class="field">
                                    <input type="text" id="" name="" [(ngModel)]="bikeData.electrical_accessories"
                                        class="form-control" placeholder="Electrical Accessories Value"
                                        maxlength="6" style="width:296px;border: 1.6px solid #DFDFDF;box-sizing: border-box;border-radius: 12px;">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12" style="margin-left: 10px;padding-top: 2px">
                                <label for="">
                                    <h6 class="">Non-Electrical Accessories </h6>
                                </label>
                                <label for="" class="field">
                                    <input type="text" id="" name="" [(ngModel)]="bikeData.non_electrical_accessories"
                                        class="form-control" value="" placeholder="Non Electrical Accessories Value"
                                        maxlength="6" style="width:296px;border: 1.6px solid #DFDFDF;box-sizing: border-box;border-radius: 12px;">
                                </label>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-12" style="margin-left: 10px;padding-top: 2px;margin-bottom: 10px;">
                                <label for="">
                                    <h6 class="">External Electric BI Fuel Kit</h6>
                                </label>
                                <label for="" class="field">
                                    <input type="text" id="" name=""
                                        class="form-control" value="" placeholder="External Electric BI Fuel Kit Value"
                                        maxlength="6" style="width:296px;border: 1.6px solid #DFDFDF;box-sizing: border-box;border-radius: 12px;">
                                </label>
                            </div> 
                        </div> -->
                        <div class="row">
                            <div class="col-md-1">

                            </div>
                            <div class="col-md-9" style="border-bottom: 1px solid #DDDDDD;">

                            </div>
                            <div class="col-md-2">

                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12" style="font-family: Poppins;
                                                    font-style: normal;
                                                    font-weight: 600;
                                                    font-size: 16px;
                                                    line-height: 24px;
                                                    margin-left: 10px;
                                                    padding-top: 15px;
                                                    color: #303253;">
                                Discounts

                            </div>
                        </div>
                        <div class="row">
                            <select class="form-control" [(ngModel)]="bikeData.voluntary_deductible_value" 
                            style="width:296px;border: 1.6px solid #DFDFDF;box-sizing: border-box;border-radius: 12px;margin-left: 25px;margin-bottom: 10px;">
                                <option value="0" disabled>Voluntary Deductible</option>
                                <option value="2500">2,500</option>
                                <option value="5000">5,000</option>
                                <option value="7500">7,500</option>
                                <option value="15000">15,000</option>
                            </select>
                        </div>
                        <div class="row"><br><br><br><br>   
                            <!-- <div class=""> -->
                            <button class="btn" (click)="editDiscountsApi()" style="background: #303253;width: 300px;margin: auto;
                                                                                border-radius: 8px;color: #FFFFFF;
                                                                                font-family: Poppins;">Apply</button>

                            <!-- </div> -->
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="" style="width: 880px;">

                <div class="row">
                    <div class="col-md-11" style="font-family: Poppins;
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 48px;
                                        line-height: 72px;
                                        margin-left: 70px;
                                        color: #303253; ">
                        Bike Insurance
                    </div>
                </div>
                <div class="row">
                    <br />
                </div>
                <div class="row">
                    

                    <div class="  " style="background-color: #FFFFFF;box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.07); height: auto; border-radius:12px;width:860px;margin-left: 70px;">

                        <div class="row" style="padding-top:25px;padding-bottom:25px;" *ngIf="showBikeInsurance==false">
                            <div class="" style="width: 10%;float: left;">

                            </div>
                            <div class="" style="font-family: Poppins;
                                                            font-style: normal;
                                                            font-weight: 600;
                                                            font-size: 16px;
                                                            line-height: 24px;
                                                            width: 75%;
                                                            color: #303253; ">
                                <!-- Tata, Nexon XZ+ (Petrol), 02 Jan 2020 -->
                                {{bikeData?.biManufacturer}}, {{bikeData?.biModel}},
                                {{bikeData?.registerDate?.toString().replaceAll('/','-')}}
                            </div>
                            <div class="" style="font-family: Poppins;
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 14px;
                                        line-height: 21px;
                                        display: flex;
                                        width: 15%;
                                        align-items: center;
                                        text-align: center;
                                        
                                        color: #2229B6;" (click)="displayBikeInsurance()">
                                <a href="javascript:void(0)">See More</a>
                            </div>
                        </div>


                        <div *ngIf="showBikeInsurance==true">

                            <div class="row" style="padding-top:10px;padding-bottom:10px;">
                                <div class="col-md-1">

                                </div>
                                <div class="col-md-6" style="
                                                                    font-family: Poppins;
                                                                    font-style: normal;
                                                                    font-weight: normal;
                                                                    font-size: 16px;
                                                                    line-height: 24px;
                                                                    color: #303253;
                                                                    ">
                                    Bike Manufacturer :
                                </div>
                                <div class="col-md-4" style="font-family: Poppins;
                                                                            font-style: normal;
                                                                            font-weight: 600;
                                                                            font-size: 16px;
                                                                            line-height: 24px;
                                                                            color: #303253;
                                                                            ">
                                    <!-- Tata -->
                                    {{bikeData?.biManufacturer}}
                                </div>
                                <div class="col-md-1">
                                    <a href="javascript:void(0)"><i class="fa fa-close fa-lg"
                                            (click)="displayBikeInsurance()"></i></a>
                                </div>

                            </div>

                            <div class="row" style="padding-top:10px;padding-bottom:10px;">
                                <div class="col-md-1">

                                </div>
                                <div class="col-md-6" style="
                                                                    font-family: Poppins;
                                                                    font-style: normal;
                                                                    font-weight: normal;
                                                                    font-size: 16px;
                                                                    line-height: 24px;
                                                                    color: #303253;
                                                                    ">
                                    Variant & Model :
                                </div>
                                <div class="col-md-5" style="font-family: Poppins;
                                                                            font-style: normal;
                                                                            font-weight: 600;
                                                                            font-size: 16px;
                                                                            line-height: 24px;
                                                                            color: #303253;
                                                                            ">
                                    <!-- Nexon XZ+ -->
                                    {{bikeData?.biModel}}
                                </div>

                            </div>

                            <div class="row" style="padding-top:10px;padding-bottom:10px;">
                                <div class="col-md-1">

                                </div>
                                <div class="col-md-6" style="
                                                                    font-family: Poppins;
                                                                    font-style: normal;
                                                                    font-weight: normal;
                                                                    font-size: 16px;
                                                                    line-height: 24px;
                                                                    color: #303253;
                                                                    ">
                                    Manufacturing Year :
                                </div>
                                <div class="col-md-5" style="font-family: Poppins;
                                                                            font-style: normal;
                                                                            font-weight: 600;
                                                                            font-size: 16px;
                                                                            line-height: 24px;
                                                                            color: #303253;
                                                                            ">
                                    <!-- 2020 -->
                                    {{bikeData?.manufacturingYear}}
                                </div>

                            </div>

                            <!-- <div class="row" style="padding-top:10px;padding-bottom:10px;">
                                <div class="col-md-1">

                                </div>
                                <div class="col-md-6" style="
                                                                    font-family: Poppins;
                                                                    font-style: normal;
                                                                    font-weight: normal;
                                                                    font-size: 16px;
                                                                    line-height: 24px;
                                                                    color: #303253;
                                                                    ">
                                    Fuel Type :

                                </div>
                                <div class="col-md-5" style="font-family: Poppins;
                                                                            font-style: normal;
                                                                            font-weight: 600;
                                                                            font-size: 16px;
                                                                            line-height: 24px;
                                                                            color: #303253;
                                                                            ">
                                    Petrol ????
                                </div>

                            </div> -->

                            <div class="row" style="padding-top:10px;padding-bottom:10px;">
                                <div class="col-md-1">

                                </div>
                                <div class="col-md-6" style="
                                                                    font-family: Poppins;
                                                                    font-style: normal;
                                                                    font-weight: normal;
                                                                    font-size: 16px;
                                                                    line-height: 24px;
                                                                    color: #303253;
                                                                    ">
                                    Registration Date :


                                </div>
                                <div class="col-md-5" style="font-family: Poppins;
                                                                            font-style: normal;
                                                                            font-weight: 600;
                                                                            font-size: 16px;
                                                                            line-height: 24px;
                                                                            color: #303253;
                                                                            ">
                                    <!-- 02 Jan 2020 -->
                                    {{bikeData?.registerDate.toString().replaceAll('/','-')}}
                                </div>

                            </div>


                            <div class="row" style="padding-top:10px;padding-bottom:10px;">
                                <div class="col-md-1">

                                </div>
                                <div class="col-md-6" style="
                                                                    font-family: Poppins;
                                                                    font-style: normal;
                                                                    font-weight: normal;
                                                                    font-size: 16px;
                                                                    line-height: 24px;
                                                                    color: #303253;
                                                                    ">
                                    NCB on previous policy :
                                </div>
                                <div class="col-md-5" style="font-family: Poppins;
                                                                            font-style: normal;
                                                                            font-weight: 600;
                                                                            font-size: 16px;
                                                                            line-height: 24px;
                                                                            color: #303253;
                                                                            ">
                                    <!-- 20% -->
                                    {{bikeData?.prevNcb}}%
                                </div>

                            </div>

                            <div class="row" style="padding-top:10px;padding-bottom:10px;">
                                <div class="col-md-1">

                                </div>
                                <div class="col-md-6" style="
                                                                    font-family: Poppins;
                                                                    font-style: normal;
                                                                    font-weight: normal;
                                                                    font-size: 16px;
                                                                    line-height: 24px;
                                                                    color: #303253;
                                                                    ">
                                    Expiry Date :
                                </div>
                                <div class="col-md-5" style="font-family: Poppins;
                                                                            font-style: normal;
                                                                            font-weight: 600;
                                                                            font-size: 16px;
                                                                            line-height: 24px;
                                                                            color: #303253;
                                                                            ">
                                    <!-- 04 Jan 2021 -->
                                    {{bikeData?.policyType != 'new_enquiry' ? expiryDate : '-'
                                    }}
                                </div>

                            </div>

                            <div class="row" style="padding-top:10px;padding-bottom:10px;">
                                <div class="col-md-1">

                                </div>
                                <div class="col-md-2">
                                    <button class="btn " routerLink="/bike"
                                        style="background: #999999;
                                                border-radius: 10px;color: #FFFFFF;
                                                font-family: Poppins;width: 248px;padding-top: 15px;padding-bottom: 15px;">Edit</button>
                                </div>
                                <div class="col-md-9">

                                </div>
                            </div>
                            <div class="row" style="padding-top:5px;padding-bottom:5px;">
                            </div>

                        </div>


                    </div>
                    <div class="col-md-1">
                    </div>


                </div>

                <div class="row">
                    <br />
                    <br>
                </div>
                <div class="row">
                    <div class="col-md-10" style="margin-left: 60px;">
                        <div class="row">
                            <div class="" style="width: 10%;">

                            </div>
                            <div class="" style="font-family: Roboto;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 16px;
                                    line-height: 22px;
                                    width: 65%;
                                    color: #5A7184;
                                    ">
                                Showing {{ (p - 1) * itemsPerPage + 1 }} - {{ p * itemsPerPage }} from {{
                                quotaSuccess.length }} total for ‘bike insurance’



                            </div>
                            <!-- <div class="col-md-2" style="text-align: right;">
                                sort by:
                            </div>
                            <div class="col-md-3">
                                <select type="text" class="form-control  " style="border-radius:10px;
                                                        font-family: Poppins;
                                                        font-style: normal;
                                                        font-weight: normal;
                                                        font-size: 12px;
                                                    
                                                        
                                                        /* identical to box height */ 
                                                        color: #999999;" autocomplete="off">

                                    <option>Highest Rating</option>

                                </select>


                            </div> -->
                        </div>
                    </div>
                    <div class="col-md-1">

                    </div>
                </div>


                <div class="row">
                    <br />
                </div>

                <div class="row">
                    <div class="" style="background: #FFFFFF;width: 860px;
                    box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.07);
                    border-radius: 12px;padding-top: 34px;padding-left: 44px;margin-left: 70px;">
                        <div class="row">
                            <div class="col-md-11" style="font-family: Poppins;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 24px;
                        /* identical to box height, or 120% */
                        
                        letter-spacing: 0.2px;
                        
                        color: #161D25;
                        
                        ">
                                Compare or Buy Insurance Provider
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-11" style="font-family: Poppins;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 20px;
                        padding-top:10px ;
                        
                        color: #959EAD;">

                                You can compare between multiple insurance providers that suit your needs

                            </div>
                        </div>



                        <!-- <div class="row" style="padding-top:10px" *ngFor="let i of bikeInsuranceArr"> -->
                        <div class="row" style="padding:10px 0"
                            *ngFor="let quota of quotaSuccess | paginate:{itemsPerPage:itemsPerPage,currentPage:p};let i=index;">
                            
                            <div class="col-md-11" style="background: #FFFFFF;
                        mix-blend-mode: normal; /* height: 90px; */ padding: 10px;
                        box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
                        border-radius: 12px;">
                                <div class="row">
                                    <div class="col-md-1" style="align-items: center;">
                                        <div class="row">
                                            <br />
                                        </div>
                                        <div class="row" style="margin-top: 10px;margin-left: 10px;">
                                            <mat-checkbox value="" (change)="checkBoxBottonClick(quota, $event)"></mat-checkbox>
                                        </div>
                                        <div class="row">
                                            <br />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row"> 
                                            <br />
                                        </div>
                                        <div class="row mr-4">
                                            <!-- <img [src]="i.insuranceImage"> -->
                                            <img
                                                src="{{baseApiUrl}}/{{quota.availablePlans.logo.replace('public/', '/')}}">
                                        </div>
                                        <div class="row">
                                            <br />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row compName">
                                            <!-- {{i.textMsg1}} -->
                                            {{quota.availablePlans.company_name}}
                                        </div>
                                        <div class="row subtext">
                                            <!-- {{i.textMsg2}} -->
                                            Cover Amount(IDV): {{quota.insurerApiData.idv[0]}}
                                        </div>
                                        <div class="row subtext">
                                            <!-- {{i.textMsg3}} -->
                                            NCB Discount : {{quota.insurerApiData.ncbBonusDisplay}}
                                        </div>
                                    </div>
                                    <!-- <div class=" col-md-1">

                                    </div> -->
                                    <div class="col-md-2">
                                        <div class="row" style="margin-left: -10px;">
                                            <!-- {{i.textMsg4}} -->
                                            <select class="col-md-8" (change)="setPremium($event.target.value)"
                                                style="border:none;background-color:#ffffff;outline:0px;padding: 0px;">
                                                <option *ngFor="let pre of quota.insurerApiData.finalPremium;let o=index;"
                                                    value="{{o+1}}_{{i}}" [selected]="o == 0"
                                                    style="border:none;background-color:#FFFFFF;outline:0px;">
                                                    {{o+1}} Year
                                                </option>
                                            </select>
                                        </div>
                                        <div class="row" style="padding-top:5px;height: 15px;">

                                            <button mat-icon-button style="background-color: #50B83C;color:#ECDCC4;width: 17px;height: 17px;margin-top: 5px;"
                                                aria-label="Example icon button with a home icon">
                                                <i class="fa fa-sm fa-inr" aria-hidden="true" style="width: 17px;height: 17px;margin-top: -20px;"></i>
                                            </button>
                                            <span style="color:#50B83C;font-family: Poppins;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 18px;
                                line-height: 22px;padding-top:5px;color:#303253">
                                                &nbsp;&nbsp;
                                                <!-- {{i.textMsg5}} -->
                                                <span id="plan_{{i}}_premium">
                                                    ₹{{quota.insurerApiData.finalPremium[0] | number: '1.0-0'}}
                                                    <!-- : numOfYears == 2 ?
                                                quota.insurerApiData.finalPremium[1] : numOfYears == 3 ?
                                                quota.insurerApiData.finalPremium[2] : 0 -->
                                                </span>
                                            </span>


                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="row">
                                            <br />
                                        </div>
                                        <div class="row">
                                            <button class="btn " style="background:#303253;
                                border-radius: 10px;width: 110px;color: #FFFFFF;
                                font-family: Poppins;"
                                                (click)="bookNowBikeHDFC(quota.enquiryData.leadId, quota.availablePlans.master_sheet_id, enquiry_id, quota.insurerApiData.idv, quota.insurerApiData.finalPremium,'','',  quota.insurerApiData.odPremium, 'rollover', quota.insurerApiData.pa_to_owner_driver,quota,i)">Buy</button>
                                        </div>
                                        <div class="row">
                                            <br />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                            </div>
                        </div>
                        <pagination-controls maxSize="9" previousLabel="Previous" nextLabel="Next" (pageChange)="p=$event"
                            screenReaderCurrentLabel="You're on page" responsive="true">
                        </pagination-controls>
                        <div class="col-md-1">

                        </div>

                    </div>



                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer> 

<div class="Footer" *ngIf="footerstatus">
    <div class="row">
        <div class="col-12 justify-content-start">
            <div *ngFor="let value of compare_data" class="d-inline">
                <img src="{{baseApiUrl}}/{{value.availablePlans.logo.replace('public/', '/')}}" alt="" width="80" height="60" 
                style="object-fit: contain"
                    class="ml-0">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-3 d-flex justify-content-around">
            <!-- <button class="btn btn-outline-primary mb-2 mr-2"
                (click)="openScrollableContent(longContent)">Compare</button> -->
            <button mat-button class="compare mb-2 mr-2" (click)="downloadBikeComparePdf(compare_data)">Save Pdf</button>
        </div>
    </div>
    <!-- <button class="btn btn-outline-primary mb-2 mr-2" (click)="openSm(content)">Compare</button>
    <button class="btn btn-outline-primary mb-2 mr-2" (click)="openSm(content)">Download PDF</button> -->
</div>
