.mat-icon-button {
  padding: 0 !important;
  min-width: 0 !important;
  width: 17px !important;
  height: 17px !important;
  flex-shrink: 0 !important;
  line-height: 35px !important;
  border-radius: 50% !important;
}
.subtext {
  font-family: Poppins;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #959ead;
  margin: 5px 0px 2px 0; //sushil
}
.compName {
  color: #303253;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  font-family: Poppins;
  margin: 8px 0px 2px 0; //sushil
  text-align: left;
}
//Radio Button
::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: #50B83C !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #50B83C!important;   /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
 border-color:#50B83C!important; /*outer ring color change*/
}

//Checkbox
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: #50B83C!important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #50B83C;
}


.Footer {
  position: fixed;
  bottom: 0px;
  background-color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
  // margin-left: 15px;
  /* height: 135px; */
  color: #ffffff;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0px 20px 40px rgb(3 0 77 / 42%);
}

.tg .tg-yw4l{vertical-align:top; width: 25%;}
.tg .tg-t1l0{font-size:14px;font-family:"Arial Black", Gadget, sans-serif !important;;vertical-align:top; width: 25%;}
.centerdiv{text-align:center;}

.compare {
  background-color: #303253;
}
