.container-fluid
{
    height: auto;  
    padding: 0px;
}
.main
{
    margin: 0 auto;
    margin-top: 70px;
    height: auto;
    width: 1300px;
}
.main .row
{
    margin: auto;
    margin-top: 40px;
}
.main img
{
    width: 630px;
    height: 540px;
    margin-left: 20px;
}
.main .left
{
    width: 630px;
    height: 540px;
    padding-left: 32px;
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.07);
    border-radius: 12px;
}
.heading h1
{
    margin: auto;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    color: #303253;
}
.left .row
{
    margin: 25px;
}
.left h4
{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #303253; 
}
.left b
{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #303253;
}
.left p
{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #303253;
    margin: 0px;
}
.left span
{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    color: #303253;
}
.left hr
{
    width: 270px;
    margin-left: 35px;
    margin-top: 25px;
    border: 1px solid #DDDDDD;
}
@media only screen and (max-width: 1300px) {
    .container-fluid
    {
        height: 100%;  
        padding: 0px;
    }
    .main
    {
        margin: 0 auto;
        margin-top: 30px;
        height: auto;
        width: 1200px;
    }
    .heading h1
    {
        margin: auto;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 44px;
        line-height: 72px;
        color: #303253;
    }
    .main .left
    {
        width: 330px;
        height: 540px;
        padding-left: 12px;
        background: #FFFFFF;
        box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.07);
        border-radius: 12px;
    }
    .main img
    {
        width: 100%;
        height: 540px;
        margin-left: 20px;
    }
}