<app-header-lite></app-header-lite>
<div class="container-fluid">
    <div class="main">
        <div class="row heading">
            <h1>IRDAI License | Certificate of Registration</h1>
        </div>
        <div class="row">
            <div class="col-6 left">
                <div class="row">
                    <h4>Insurance Broker License</h4>
                </div>
                <div class="row">
                    <div class="col-4">
                        <b>Issued by :</b>
                    </div>
                    <div class="col-8">
                        <span>Insurance Regulatory and Development Authority of India (IRDAI)</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <b>Registration No :</b>
                    </div>
                    <div class="col-8">
                        <p>610</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <b>License valid till :</b>
                    </div>
                    <div class="col-8">
                        <p>06 / 08 / 2023</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <b>Principal Officer :</b>
                    </div>
                    <div class="col-8">
                        <p>Pramod J. Khasnis</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <b>Boards Of Directors</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <p>1. Karan Nagda<br>
                            2. Charmy Dedhia<br>
                            3. Mahesh Borkar
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <img src="/assets/home_images/other/irdai-certificate.png" alt="">
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer> 