.container {
    font-family: 'Averin';
}
.row {
    font-family: 'Averin';
}
.text-center {
    color: #E71D36;
}
.text-right {
    float: right;
    margin-top:0.2cm;
    margin-left: 10cm;
}
.text-center1 {
    align-items: center;
    margin-left: 13cm;
    margin-top: 0.2cm;
}
.text-center2 {
    align-items: center;
    margin-left: 12.7cm;
}
.text-center3 {
    align-items: center;
    margin-left: 10cm;
}
.text-right1 {
    float: right;
    color: #E71D36;
    margin-left: 9cm;
}
.final {
    text-align: center;
    margin-left: 13cm;
    color: #E71D36;
    margin-top: .6cm;
    width: 100%;
    border-bottom: 1px solid #ddd;
    line-height: 0.1em;
    margin: 10px 0 20px;
}
.final span {
    background: #fff;
    padding: 0 10px;
}
.date-input {
    padding-left: 15%;
}
.field-icon {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    color: grey;
}
.field {
    display: block;
    position: relative;
    width: 10cm;
}
.wrapper-div {
    border: 1px solid #ddd;
    padding: 0 5%;
}
.tabs-data {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 1088px;
    height: 178px;
  }