<app-header-lite></app-header-lite>
<div>
    <br />
</div>

<div class="row">
    <br />
    <br />
</div>
<div class="container" id="maindiv">
    <div class="row">

        <!--first row start-->
        <div class=" col-md-12" style="font-family: Poppins;
                                                    font-style: normal;
                                                    font-weight: 600;
                                                    font-size: 48px;
                                                    line-height: 72px;
                                                    color: #303253;">
            Car Insurance Policy Summary
        </div>
    </div>

    <div class="row">
        <br />
        <br />
    </div>


    <!-- fist section car details start -->
    <div style="background: #FFFFFF;
                    box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
                    border-radius: 12px;  ">

        <div class="row" style="margin-left: 15px;">
            <div class="col-md-10" style="font-family: Poppins;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 24px;
                                            line-height: 32px;
                                            
                                            color: #303253;">
                Car Details
            </div>

            <div class="col-md-2">
                <button mat-button style="background: #999999;
                                            border-radius: 8px;font-style: normal;
                                            font-weight: 600;
                                            font-size: 18px;
                                            line-height: 40px;
                                            width: 150px;
                                            align-items: center; 
                                            margin-right: 5px;
                                            color: #FFFFFF;" data-html2canvas-ignore="true"
                    (click)="gotToEdit(1,'car')">Edit
                </button>

            </div>

        </div>
        <div class="row">
            <br />
        </div>

        <!--  row 1 start -->
        <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
            <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
                Registration Number :
            </div>
            <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
                {{SummaryData?.car_register_no}}
            </div>

        </div>
        <!-- row 1 end -->

        <!--  row 2 start -->
        <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
            <div class="col-md-3" style="  font-family: Poppins;
                                           font-style: normal;
                                           font-weight: normal;
                                           font-size: 16px;
                                           line-height: 24px;
                                           color: #303253;">
                Car Manufacturer:
            </div>
            <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                           font-style: normal;
                                           font-weight: 600;
                                           font-size: 16px;
                                           line-height: 24px;
                                           color: #303253;">
                <!-- Honda -->
                {{carData?.car_model_name}}
            </div>

        </div>
        <!-- row 2 end -->


        <!--  row 3 start -->
        <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
            <div class="col-md-3" style="  font-family: Poppins;
                                           font-style: normal;
                                           font-weight: normal;
                                           font-size: 16px;
                                           line-height: 24px;
                                           color: #303253;">
                Variant :
            </div>
            <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                           font-style: normal;
                                           font-weight: 600;
                                           font-size: 16px;
                                           line-height: 24px;
                                           color: #303253;">
                <!-- Unicorn, Self Start Disc -->
                {{carData?.variant}}
            </div>

        </div>
        <!-- row 3 end -->

        <!--  row 4 start -->
        <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
            <div class="col-md-3" style="  font-family: Poppins;
                                           font-style: normal;
                                           font-weight: normal;
                                           font-size: 16px;
                                           line-height: 24px;
                                           color: #303253;">
                Manufacturing Year :
            </div>
            <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                           font-style: normal;
                                           font-weight: 600;
                                           font-size: 16px;
                                           line-height: 24px;
                                           color: #303253;">
                {{carData?.manufacturing_date.split('-')[0]}}
            </div>
        </div>
        <!-- row 4 end -->


        <!--  row 5 start -->
        <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
            <div class="col-md-3" style="  font-family: Poppins;
                                           font-style: normal;
                                           font-weight: normal;
                                           font-size: 16px;
                                           line-height: 24px;
                                           color: #303253;">
                Registration Date :
            </div>
            <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                           font-style: normal;
                                           font-weight: 600;
                                           font-size: 16px;
                                           line-height: 24px;
                                           color: #303253;">
                <!-- 02 Jan 2020 -->
                {{car_register_date | date:'dd-MMM-yyyy'}}
            </div>

        </div>
        <!-- row 5 end -->

        <!--  row 6 start -->
        <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
            <div class="col-md-3" style="  font-family: Poppins;
                                           font-style: normal;
                                           font-weight: normal;
                                           font-size: 16px;
                                           line-height: 24px;
                                           color: #303253;">
                Engine Number :
            </div>
            <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                           font-style: normal;
                                           font-weight: 600;
                                           font-size: 16px;
                                           line-height: 24px;
                                           color: #303253;">
                <!-- Honda -->
                {{SummaryData?.enginee_no}}
            </div>

        </div>
        <!-- row 6 end -->


        <!--  row 7 start -->
        <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
            <div class="col-md-3" style="  font-family: Poppins;
                                           font-style: normal;
                                           font-weight: normal;
                                           font-size: 16px;
                                           line-height: 24px;
                                           color: #303253;">
                Chassis Number :
            </div>
            <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                           font-style: normal;
                                           font-weight: 600;
                                           font-size: 16px;
                                           line-height: 24px;
                                           color: #303253;">
                <!-- Unicorn, Self Start Disc -->
                {{SummaryData?.chassis_no}}
            </div>

        </div>
        <!-- row 7 end -->


        <!--  row 8 start -->
        <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
            <div class="col-md-3" style="  font-family: Poppins;
                                           font-style: normal;
                                           font-weight: normal;
                                           font-size: 16px;
                                           line-height: 24px;
                                           color: #303253;">
                Is your Car financed :
            </div>
            <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                           font-style: normal;
                                           font-weight: 600;
                                           font-size: 16px;
                                           line-height: 24px;
                                           color: #303253;">
                <!-- Yes -->
                {{SummaryData?.is_car_finance == 'true' ? 'Yes' : 'No'}}
            </div>

        </div>
        <!-- row 8 end -->
    </div>
    <!-- fist section car details end -->


    <br />



    <!-- ##### second section  ###  Previous Policy Details #####   start -->
    <div style="background: #FFFFFF;
         box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
         border-radius: 12px;" *ngIf="carData?.policy_type == 'expired_enquiry'">

        <div class="row" style="padding-top : 10px; margin-left: 15px;">
            <div class="col-md-10" style="font-family: Poppins;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 24px;
                                            line-height: 32px;
                                            
                                            color: #303253;">
                Previous Policy Details
            </div>

            <div class="col-md-2">
                <button mat-button style="background: #999999;
                                            border-radius: 8px;font-style: normal;
                                            font-weight: 600;
                                            font-size: 18px;
                                            line-height: 40px;
                                            width: 150px;
                                            align-items: center; 
                                            margin-right: 5px;
                                            color: #FFFFFF;" data-html2canvas-ignore="true"
                    (click)="gotToEdit(1,'carPreviousPoliceDetails')">Edit
                </button>
                <!-- routerLink="/car/carPreviousPoliceDetails" -->
            </div>

        </div>


        <!--  row 1 start -->
        <div class="row" style="padding-top: 5px;padding-bottom: 10px; margin-left: 15px;">
            <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
                Insurance Company :
            </div>
            <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
                <!-- Bajaj Allianz -->
                {{SummaryData?.existing_insurance}}
            </div>

        </div>
        <!-- row 1 end -->

        <!--  row 2 start -->
        <div class="row" style="padding-top: 5px;padding-bottom: 10px; margin-left: 15px;">
            <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
                Policy Number :
            </div>
            <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
                <!-- Bajaj Allianz -->
                {{SummaryData?.expiry_policy_no}}
            </div>

        </div>
        <!-- row 2 end -->


        <!--  row 3 start -->
        <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
            <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
                NCB on Previous Policy :
            </div>
            <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
                <!-- 20% -->
                {{carData?.ncb}}%
            </div>

        </div>
        <!-- row 3 end -->

        <!--  row 4 start -->
        <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
            <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
                Claim Status :
            </div>
            <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
                <!-- No -->
                {{carData?.claim_past_year == 'true' ? 'Yes' : 'No'}}
            </div>

        </div>
        <!-- row 4 end -->


        <!--  row 5 start -->
        <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
            <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
                Policy Expiry Date :
            </div>
            <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
                <!-- 02 Jan 2021 -->
                {{previous_year_policy_expirty_date | date:'dd-MMM-yyyy'}}
            </div>

        </div>
        <!-- row 5 end -->

    </div>
    <!-- ##### second section  ###  Previous Policy Details #####   End -->

    <br />




    <!-- ##### third section  ###  New Policy Details #####   start -->
    <div style="background: #FFFFFF;
         box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
         border-radius: 12px;">

        <div class="row" style="padding-top : 10px; margin-left: 15px;">
            <div class="col-md-10" style="font-family: Poppins;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 24px;
                                            line-height: 32px;
                                            
                                            color: #303253;">
                New Policy Details
            </div>

            <div class="col-md-2">
                <button mat-button style="background: #999999;
                                            border-radius: 8px;font-style: normal;
                                            font-weight: 600;
                                            font-size: 18px;
                                            line-height: 40px;
                                            width: 150px;
                                            align-items: center; 
                                            margin-right: 5px;
                                            color: #FFFFFF;" data-html2canvas-ignore="true"
                    (click)="gotToEdit(1,'carInsurance')">Edit
                </button>
                <!-- routerLink="/car/CarDetails" -->
            </div>

        </div>


        <!--  row 1 start -->
        <div class="row" style="padding-top: 5px;padding-bottom: 10px; margin-left: 15px;">
            <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
                Insurance Company :
            </div>
            <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
                <!-- HDFC Ergo -->
                {{carData?.company_name}}
            </div>

        </div>
        <!-- row 1 end -->

        <!--  row 2 start -->
        <div class="row" style="padding-top: 5px;padding-bottom: 10px; margin-left: 15px;">
            <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
                NCB Discount Policy :
            </div>
            <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
                <!-- 30% -->
                {{newNcb}}%
            </div>

        </div>
        <!-- row 2 end -->


        <!--  row 3 start -->
        <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
            <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
                Policy Start Date :
            </div>
            <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
                {{policy_start_date | date:'dd-MMM-yyyy'}}
            </div>

        </div>
        <!-- row 3 end -->

        <!--  row 4 start -->
        <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
            <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
                Cover Amount (IDV) :
            </div>
            <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
                <!-- ₹16,435 -->
                {{carData?.idv}}
            </div>

        </div>
        <!-- row 4 end -->


        <!--  row 5 start -->
        <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
            <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
                Policy Term :
            </div>
            <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
                1 Year
            </div>

        </div>
        <!-- row 5 end -->



        <!--  row 6 start -->
        <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
            <div class="col-md-3" style="  font-family: Poppins;
                                                font-style: normal;
                                                font-weight: normal;
                                                font-size: 16px;
                                                line-height: 24px;
                                                color: #303253;">
                Add Ons :
            </div>
            <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                                font-style: normal;
                                                font-weight: 600;
                                                font-size: 16px;
                                                line-height: 24px;
                                                color: #303253;">
                {{carData?.zero_depreciation == 'true' ? 'Zero Dep, ' :
                ''}}{{carData?.rode_side_assistance == 'true' ? 'Roadside Assistance, ' :
                ''}}{{carData?.invoice_cover == 'true' ? 'Invoice Cover, ' :
                ''}}{{carData?.engine_protector == 'true' ? 'Engine Cover, ' :
                ''}}{{carData?.ncb_protection == 'true' ? 'NCB Protect, ' :
                ''}}{{carData?.consumable == 'true' ? 'Consumable, ' :
                ''}}{{carData?.key_protector == 'true' ? 'Key Protect, ' :
                ''}}{{carData?.paid_driver_legal_liability_cover == 'true' ? 'Paid
                Driver Legability, ' :
                ''}}{{carData?.driver_cover == 'true' ? 'Passenger PA, ' :
                ''}}{{carData?.pa_to_owner_driver == 'true' ? 'PA Owner Driver,' :
                ''}}
            </div>

        </div>
        <!-- row 6 end -->



    </div>
    <!-- ##### third section  ###  New Policy Details #####   end -->





    <br />
    <!-- ##### fourth section  ###  Personal Details #####   start -->
    <div style="background: #FFFFFF;
         box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
         border-radius: 12px;">

        <div class="row" style="padding-top : 10px; margin-left: 15px;">
            <div class="col-md-10" style="font-family: Poppins;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 24px;
                                            line-height: 32px;
                                            
                                            color: #303253;">
                Personal Details
            </div>

            <div class="col-md-2">
                <button mat-button style="background: #999999;
                                            border-radius: 8px;font-style: normal;
                                            font-weight: 600;
                                            font-size: 18px;
                                            line-height: 40px;
                                            width: 150px;
                                            align-items: center; 
                                            margin-right: 5px;
                                            color: #FFFFFF;" data-html2canvas-ignore="true"
                    (click)="gotToEdit(2,'CarPersonalDetail')">Edit
                </button>
                <!-- routerLink="/car/CarPersonalDetail" -->
            </div>

        </div>


        <!--  row 1 start -->
        <div class="row" style="padding-top: 5px;padding-bottom: 10px; margin-left: 15px;">
            <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
                Gender :
            </div>
            <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
                <!-- Male -->
                {{SummaryData?.gender}}
            </div>

        </div>
        <!-- row 1 end -->

        <!--  row 2 start -->
        <div class="row" style="padding-top: 5px;padding-bottom: 10px; margin-left: 15px;">
            <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
                Marital Status :
            </div>
            <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
                <!-- Single -->
                {{SummaryData?.marital_status}}
            </div>

        </div>
        <!-- row 2 end -->


        <!--  row 3 start -->
        <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
            <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
                Date of Birth :
            </div>
            <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
                <!-- 01 Jan 1990 -->
                {{dob | date:'dd-MMM-yyyy'}}
            </div>

        </div>
        <!-- row 3 end -->

        <!--  row 4 start -->
        <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
            <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
                Cover Amount (IDV) :
            </div>
            <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
                <!-- ₹16,435 -->
                {{carData?.idv}}
            </div>

        </div>
        <!-- row 4 end -->


        <!--  row 5 start -->
        <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
            <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
                Policy Term :
            </div>
            <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
                1 Year
            </div>

        </div>
        <!-- row 5 end -->



        <!--  row 6 start -->
        <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
            <div class="col-md-3" style="  font-family: Poppins;
                                                font-style: normal;
                                                font-weight: normal;
                                                font-size: 16px;
                                                line-height: 24px;
                                                color: #303253;">
                Add Ons :
            </div>
            <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                                font-style: normal;
                                                font-weight: 600;
                                                font-size: 16px;
                                                line-height: 24px;
                                                color: #303253;">
                {{carData?.zero_depreciation == 'true' ? 'Zero Dep, ' :
                ''}}{{carData?.rode_side_assistance == 'true' ? 'Roadside Assistance, ' :
                ''}}{{carData?.invoice_cover == 'true' ? 'Invoice Cover, ' :
                ''}}{{carData?.engine_protector == 'true' ? 'Engine Cover, ' :
                ''}}{{carData?.ncb_protection == 'true' ? 'NCB Protect, ' :
                ''}}{{carData?.consumable == 'true' ? 'Consumable, ' :
                ''}}{{carData?.key_protector == 'true' ? 'Key Protect, ' :
                ''}}{{carData?.paid_driver_legal_liability_cover == 'true' ? 'Paid
                Driver Legability, ' :
                ''}}{{carData?.driver_cover == 'true' ? 'Passenger PA, ' :
                ''}}{{carData?.pa_to_owner_driver == 'true' ? 'PA Owner Driver,' :
                ''}}
            </div>

        </div>
        <!-- row 6 end -->



    </div>
    <!-- ##### fourth section  ###  Personal Details #####   end -->




    <br />
    <!-- ##### Fifth section  ### Car Registration Address #####   start -->

    <div style="background: #FFFFFF;
         box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
         border-radius: 12px;">

        <div class="row" style="padding-top : 10px; margin-left: 15px;">
            <div class="col-md-10" style="font-family: Poppins;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 24px;
                                            line-height: 32px;
                                            
                                            color: #303253;">
                Car Registration Address
            </div>

            <div class="col-md-2">
                <button mat-button style="background: #999999;
                                            border-radius: 8px;font-style: normal;
                                            font-weight: 600;
                                            font-size: 18px;
                                            line-height: 40px;
                                            width: 150px;
                                            align-items: center; 
                                            margin-right: 5px;
                                            color: #FFFFFF;" data-html2canvas-ignore="true"
                    (click)="gotToEdit(2,'CarRegAddress')">Edit
                </button>
                <!-- routerLink="/car/CarDetails" -->
            </div>

        </div>


        <!--  row 1 start -->
        <div class="row" style="padding-top: 5px;padding-bottom: 10px; margin-left: 15px;">
            <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
                Registration Address :
            </div>
            <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
                <!-- MH 01 AA 1234 -->
                {{SummaryData?.address}}
            </div>

        </div>
        <!-- row 1 end -->

        <!--  row 2 start -->
        <div class="row" style="padding-top: 5px;padding-bottom: 10px; margin-left: 15px;">
            <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
                Area | Locality :
            </div>
            <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
                {{SummaryData?.area_locality}}
            </div>

        </div>
        <!-- row 2 end -->


        <!--  row 3 start -->
        <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
            <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
                Landmark :
            </div>
            <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
                {{SummaryData?.landmark}}
            </div>

        </div>
        <!-- row 3 end -->

        <!--  row 4 start -->
        <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
            <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
                PIN Code :
            </div>
            <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
                {{SummaryData?.pincode_id}}
            </div>

        </div>
        <!-- row 4 end -->


        <!--  row 5 start -->
        <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
            <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
                City :
            </div>
            <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
                {{SummaryData?.reg_city_name}}
            </div>

        </div>
        <!-- row 5 end -->



        <!--  row 6 start -->
        <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
            <div class="col-md-3" style="  font-family: Poppins;
                                                font-style: normal;
                                                font-weight: normal;
                                                font-size: 16px;
                                                line-height: 24px;
                                                color: #303253;">
                State :
            </div>
            <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                                font-style: normal;
                                                font-weight: 600;
                                                font-size: 16px;
                                                line-height: 24px;
                                                color: #303253;">
                {{SummaryData?.reg_state_name}}
            </div>

        </div>
        <!-- row 6 end -->



    </div>
    <!-- ##### fifth section  ###  Car Registration Address #####   end -->






    <!-- ##### Sixth section  ### Premium Details #####   start -->

    <div style="background: #FFFFFF;
         box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
         border-radius: 12px;">

        <div class="row" style="padding-top : 10px; margin-left: 15px;">
            <div class="col-md-10" style="font-family: Poppins;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 24px;
                                            line-height: 32px;
                                            
                                            color: #303253;">
                Premium Details
            </div>

            <!-- <div class="col-md-2">
                <button mat-button style="background: #999999;
                                            border-radius: 8px;font-style: normal;
                                            font-weight: 600;
                                            font-size: 18px;
                                            line-height: 40px;
                                            width: 150px;
                                            align-items: center; 
                                            margin-right: 5px;
                                            color: #FFFFFF;" data-html2canvas-ignore="true">Edit
                </button>
            </div> -->

        </div>


        <!--  row 1 start -->
        <!-- <div class="row" style="padding-top: 5px;padding-bottom: 10px; margin-left: 15px;">
            <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
                Order Id :
            </div>
            <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
                ????
            </div>

        </div> -->
        <!-- row 1 end -->

        <!--  row 2 start -->
        <div class="row" style="padding-top: 5px;padding-bottom: 10px; margin-left: 15px;">
            <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
                GST @ 18%
            </div>
            <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
                <!-- {{((carData?.od_premium * SummaryData?.gstConfig) -
                carData?.od_premium).toFixed(2)}} -->
                {{(+carData?.final_premium * +SummaryData?.gstConfig) -
                +carData?.final_premium | number: '1.0-0'}}
            </div>

        </div>
        <!-- row 2 end -->


        <!--  row 3 start -->
        <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
            <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
                Final Premium
            </div>
            <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
                <!-- ₹1,435 -->
                {{carData?.final_premium | number: '1.0-0'}}
            </div>

        </div>
        <!-- row 3 end -->





    </div>
    <!-- ##### sixth section  ###  Premium Details #####   end -->

    <br />
    <br />


    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">

            <button mat-button style="background: #EB6E47;;
                                                border-radius: 8px;font-style: normal;
                                                font-weight: 600;
                                                font-size: 18px;
                                                line-height: 40px;
                                                width: 150px;
                                                align-items: center; 
                                                margin-right: 5px;
                                                color: #FFFFFF; width: 100%;" data-html2canvas-ignore="true"
                (click)="convetToPDF()">Save as
                PDF
            </button>

        </div>
        <div class="col-md-3">

        </div>

    </div>

    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">

            <button type="button" mat-button style="background: #EB6E47;;
                                                border-radius: 8px;font-style: normal;
                                                font-weight: 600;
                                                font-size: 18px;
                                                line-height: 40px;
                                                width: 150px;
                                                align-items: center; 
                                                margin-right: 5px;
                                                color: #FFFFFF; width: 100%;
                                                margin-top: 20px;" data-html2canvas-ignore="true"
                                                (click)="car_payment_request()">Go To Payment
            </button>

        </div>
        <div class="col-md-3">

        </div>

    </div>

</div>
<app-footer></app-footer>

















































<!--<div class="container wrapper-div" style="margin-bottom: 40px;">
        <h1 class="text-center font-weight-bold mt-5">Car Insurance</h1>
        <div class="row"> 
            <div class="container text-center">
                <h6>{{carData?.car_model_name}} | {{carData?.fuel_name}} & {{carData?.variant}} | IDV:{{carData?.idv}} | Premium:{{carData?.final_premium}}</h6>
            </div>
        </div>
        <div class="container tabs-data">
        <div class="row">
            <div class="col-6">
                <h6 style="margin-top: .5cm; color:rgb(80, 154, 224);font-weight: bold;">Registration Date :  <span style="color:#000;">{{carData?.car_register_date | date:'dd-MMMM-yyyy'}}</span></h6>
            </div>
            <div class="col-6">
                <h6 style="margin-top: .5cm; color:rgb(80, 154, 224);font-weight: bold;">Last Policy Claim Status :<span style="color:#000;">
                    {{carData?.claim_past_year == 'true' ? 'Yes' :  'No'}} </span></h6>
            </div>
        </div> 
        <div class="row">
            <div class="col-6">
                <h6 style="margin-top: .5cm; color:rgb(80, 154, 224);font-weight: bold;">Manufacturing Year :<span style="color:#000;">{{carData?.manufacturing_date | date:'yyyy'}}</span></h6>
            </div>
            <div class="col-6">
                <h6 style="margin-top: .5cm; color:rgb(80, 154, 224);font-weight: bold;">Previous Policy NCB :<span style="color:#000;">{{carData?.ncb}}</span></h6>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h6 style="margin-top: .5cm; color:rgb(80, 154, 224);font-weight: bold;">Prev. Policy Expiry Date :<span style="color:#000;">{{carData?.previous_year_policy_expirty_date | date:'dd-MMMM-yyy'}}</span></h6>
            </div>
            <div class="col-6">
                <h6 style="margin-top: .5cm; color:rgb(80, 154, 224);font-weight: bold;">New Policy NCB :<span style="color:#000;">{{carData?.idv}}%</span></h6>
            </div>
        </div>
        </div>
        <div class="row py-2 text-center3">
            <button type="button" class="btn btn-success" style="width:6cm;background-color: #E71D36;" (click)="openEmailModal()"><i
                    class="fa fa-envelope" style="padding-right: 10px;background-color: #E71D36;"></i>Email Quote & Pay Later
            </button>
        </div>
        <div class="row py-2 text-center3">
            <a href="/car">
                <button type="button" class="btn btn-success" style="width: 2cm;margin-left: 2.5cm;background-color: #E71D36;">Edit
                </button></a>
        </div>
        <div class="row">
            <h6 class="final"><span>CAR OWNER</span></h6>
        </div> 
        <div class="row">
            <div class="col-6">
                <h6 style="margin-top: .5cm;font-weight: bold;color:rgb(255, 0, 0)">Company Name :<span style="color:#000;"  *ngIf="SummaryData?.car_owner == 'company'">{{SummaryData?.company_name }}</span></h6>
            
            </div>
            <div class="col-6"> 
                 
                <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Name :<span style="color:#000;">{{SummaryData?.p_first_name }} {{SummaryData?.p_last_name }}</span></h6>
            </div>
            <div class="col-6">
                <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Email :<span style="color:#000;;">{{SummaryData?.email}}</span></h6>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Car Owner :<span style="color:#000;">{{SummaryData?.car_owner}}</span></h6>
            </div>
            <div class="col-6">
                <h6 style="margin-top: .5cm;font-weight: bold;color:grey">GST NO. :<span style="color:#000;">{{SummaryData?.gst_no}}</span></h6>
            </div>
        </div>
        <div class="row">
            <h6 class="final"><span>PERSONAL DETAILS</span></h6>
        </div>
        <div class="row">
            <div class="col-6">
                <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Gender :<span style="color:#000;">{{SummaryData?.gender}}</span></h6>
            </div>
            <div class="col-6">
                <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Marital Status :<span style="color:#000;">{{SummaryData?.marital_status}}</span></h6>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Date of Birth :<span style="color:#000;">{{SummaryData?.dob | date:'dd-MMMM-yyy'}}</span></h6>
            </div>
        </div>
        <div class="row">
            <h6 class="final"><span>NOMINEE DETAILS</span></h6>
        </div>
        <div class="row">
            <div class="col-4">
                <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Name :<span style="color:#000;">{{SummaryData?.nominee_name}}</span></h6>
            </div>
            <div class="col-4">
                <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Date of Birth :<span style="color:#000;">{{SummaryData?.nominee_dob| date:'dd-MMMM-yyy'}}</span></h6>
            </div>
            <div class="col-4">
                <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Relationship :<span style="color:#000;">{{SummaryData?.nominee_relationship}}</span></h6>
            </div>
        </div>
        <div class="row">
            <h6 class="final"><span>CAR REGISTRATION ADDRESS</span></h6>
        </div>
        <div class="row">
            <div class="col-12">
                <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Registration Address :<span style="color:#000;">{{SummaryData?.address}}</span></h6>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Area/Locality :<span style="color:#000;">{{SummaryData?.area_locality}}</span></h6>
            </div>
            <div class="col-4">
                <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Landmark :<span style="color:#000;">{{SummaryData?.landmark}}</span></h6>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Pincode :<span style="color:#000;">{{SummaryData?.pincode_id}}</span></h6>
            </div>
            <div class="col-4">
                <h6 style="margin-top: .5cm;font-weight: bold;color:grey">City :<span style="color:#000;">{{SummaryData?.reg_city_name}}</span></h6>
            </div>
            <div class="col-4">
                <h6 style="margin-top: .5cm;font-weight: bold;color:grey">State :<span style="color:#000;">{{SummaryData?.reg_state_name}}</span></h6>
            </div>
        </div>
        <div class="row">
            <h6 class="final"><span>CAR COMMUNICATION ADDRESS</span></h6>
        </div>
        <div class="row">
            <div class="col-12">
                <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Communication Address :<span style="color:#000;">{{SummaryData?.communication_address}}</span></h6>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Area/Locality :<span style="color:#000;">{{SummaryData?.communication_area_locality}}</span></h6>
            </div>
            <div class="col-4">
                <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Landmark :<span style="color:#000;">{{SummaryData?.communication_landmark}}</span></h6>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Pincode :<span style="color:#000;">{{SummaryData?.communication_pincode}}</span></h6>
            </div>
            <div class="col-4">
                <h6 style="margin-top: .5cm;font-weight: bold;color:grey">City :<span style="color:#000;">{{SummaryData?.communication_city_name}}</span></h6>
            </div>
            <div class="col-4">
                <h6 style="margin-top: .5cm;font-weight: bold;color:grey">State :<span style="color:#000;">{{SummaryData?.communication_state_name}}</span></h6>
            </div>
        </div>
        <div class="row">
            <h6 class="final" ><span>VEHICLE DETAILS</span></h6>
        </div>
        <div class="row">
            <div class="col-6">
                <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Car Registration No. :<span style="color:#000;">{{SummaryData?.rto_code}}-{{SummaryData?.car_register_no}}</span></h6>
            </div>
            <div class="col-6">
                <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Engine No. :<span style="color:#000;">{{SummaryData?.enginee_no}}</span></h6>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Chassis No. :<span style="color:#000;">{{SummaryData?.chassis_no}}</span></h6>
            </div>
            <div class="col-6">
                <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Expiry Policy No. :<span style="color:#000;">{{SummaryData?.expiry_policy_no}}</span></h6>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Existing Insurance :<span style="color:#000;">{{SummaryData?.existing_insurer_name}}</span></h6>
            </div>
            <div class="col-6">
                <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Car On Loan :<span style="color:#000;">
                    {{SummaryData?.is_car_finance == 'true' ? 'Yes' :  'No'}} </span></h6>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Loan Provider :<span style="color:#000;">{{SummaryData?.loan_provide_financier}}</span></h6>
            </div>
            <div class="col-6">
                <h6 style="margin-top: .5cm;font-weight: bold;color:grey">Loan City :<span style="color:#000;">{{SummaryData?.loan_city}}</span></h6>
            </div>
        </div>
        <!-- <div class="row py-2 text-center3">
            <a href="/car/proposal">
                <button type="button" class="btn btn-success" style="width: 2cm;margin-right: .5cm;">Edit
                </button></a>
            <button type="button" class="btn btn-success" style="width:6cm" (click)="openEmailModal()"><i
                    class="fa fa-envelope" style="padding-right: 10px;"></i>Save Quote & Pay Later
            </button>
        </div> -->
<!-- <h1 style="color:orange;margin-left: 10cm;font-weight: bold;margin-top: .6cm;">Verify Mobile No.</h1>
        <div class="row">
            <label class="field">
                <input type="text" name="" id="" class="form-control date-input" placeholder="Mobile OTP">
                <label for="" class="field-icon"><i class="fa fa-pencil"></i></label>
            </label>
            <button type="button" class="btn btn-success" style="margin-left:20px; height:1cm">Verify</button>
        </div>
        <div class="row">
            <button type="button" class="btn btn-success" style="margin-top: 20px;height: 1cm;margin-bottom: 2cm;">Send
                OTP</button>
        </div> 
        <button type="button" class="btn btn-success" style="width:6cm;margin-left: 10cm;margin-bottom: 20px;background-color: #E71D36;">Save As PDF</button>
    </div>

<ng-template #email let-modal>
    <div class="modal-header text-white" style="background-color: #E71D36;">
        <h3 class="text-white">Save Proposal Form on Email</h3>
        <button type="button" class="close text-white" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-6 py-2">
                <label class="field" style="width: 6.5cm;">
                    <input type="email" name="email" id="" class="form-control date-input" placeholder="Email">
                    <label for="" class="field-icon"><i class="fa fa-envelope"></i></label>
                </label>
            </div>
            <div class="col-6 py-2">
                <button type="button" class="btn btn-success" style="width:5cm">Email Proposal Form</button>
            </div>
        </div>
    </div>
</ng-template>-->