<app-header-lite></app-header-lite>
<div class="container-fluid">
    <div class="row">
        <div class="heading">
            <h2>Health Insurance</h2>
        </div>
        <div class="empty"></div>
    </div>
    <div class="container1">
        <div class="main">
            <div class="progress-bar">
                <div class="progress">
                </div>
            </div>
            <h4>Medical History</h4>
            <div class="row" *ngFor="let health_proposal_question of health_proposal_questions; let i = index">
                <!-- <div class="row"> -->
                <div class="col-5">
                    <!-- <p>Diabetes :</p> -->
                    <p>{{ health_proposal_question.questions }}<span class="required">*
                        </span> :</p>
                </div>
                <div class="col-7">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button
                            (click)="createadultsChildren(health_proposal_question.id,'Yes',i);medicalQVals()"
                            name="{{health_proposal_question.id}}" value="Yes"
                            [checked]="this.medicalHistoryFormData['mainQues'] && this.medicalHistoryFormData['mainQues'][health_proposal_question.id] == 'Yes'">
                            Yes</mat-radio-button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-radio-button
                            (click)="createadultsChildren(health_proposal_question.id,'No',i);medicalQVals()"
                            name="{{health_proposal_question.id}}" value="No"
                            [checked]="this.medicalHistoryFormData['mainQues'] && this.medicalHistoryFormData['mainQues'][health_proposal_question.id] == 'No'">
                            No</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="col-5">
                    <!-- <div id="{{health_proposal_question.id}}_err" style="display:none"
                        class="alert alert-danger form-control">
                        <div>Please Answer This Question.
                        </div>
                    </div> -->
                </div>
                <div class="col-5">
                    <div id="{{health_proposal_question.id}}_err" style="display:none"
                        class="alert alert-danger form-control">
                        <div>Please Answer This Question.
                        </div>
                    </div>
                </div>
                <div class="col-2">

                </div>
                <!-- </div> -->
                <div class="col-12" style="display: flex;">
                    <span class="col-3" style="display: flex;"
                        *ngIf="selectedOption.includes(health_proposal_question.id)">
                        <div class="" *ngFor="let adu of Adult_array; let a = index">
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button
                                    (click)="sunquestions(health_proposal_question.id,'Yes',i,a);medicalQVals()"
                                    name="adult_{{health_proposal_question.id}}_{{a}}" type="radio" value="1"
                                    [checked]="this.medicalHistoryFormData['subQues'] && this.medicalHistoryFormData['subQues'][Adult_array1[a]] && this.medicalHistoryFormData['subQues'][Adult_array1[a]][health_proposal_question.id] == 'Yes'">
                                    {{adu.i_first_name}}</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </span>
                    <span class="col-3" style="display: flex;"
                        *ngIf="selectedOption.includes(health_proposal_question.id);">
                        <div class="" *ngFor="let child of Child_array; let d = index">
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button
                                    (click)="sunquestions1(health_proposal_question.id,'Yes',i,d);medicalQVals()"
                                    name="child_{{health_proposal_question.id}}_{{d}}" type="radio" value="1"
                                    [checked]="this.medicalHistoryFormData['subQues'] && this.medicalHistoryFormData['subQues'][Child_array1[d]] && this.medicalHistoryFormData['subQues'][Child_array1[d]][health_proposal_question.id] == 'Yes'">
                                    {{child.i_first_name}}</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </span>
                </div>
                <div class="col-5">
                    <div id="{{health_proposal_question.id}}_none_err" style="display:none"
                        class="alert alert-danger form-control">
                        <div> Please Select At Least One Option.
                        </div>
                    </div>
                </div>
                <div class="col-7"></div>
                <!-- </div> -->
            </div>


            <!-- <div class="row">
                <div class="col-5">
                    <p>Thyroid Disorder :</p>
                </div>
                <div class="col-7">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Yes</mat-radio-button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-radio-button value="2">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <p>Nervous disorder, fits, mental condition:</p>
                </div>
                <div class="col-7">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Yes</mat-radio-button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-radio-button value="2">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <p>Respiratory disorder :</p>
                </div>
                <div class="col-7">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Yes</mat-radio-button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-radio-button value="2">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <p>Heart & Circulatory disorders :</p>
                </div>
                <div class="col-7">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Yes</mat-radio-button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-radio-button value="2">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <p>Disorders of the stomach including intestine,
                        Kidney, Prostate :</p>
                </div>
                <div class="col-7">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Yes</mat-radio-button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-radio-button value="2">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <p>Disorder of Spine and Joints :</p>
                </div>
                <div class="col-7">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Yes</mat-radio-button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-radio-button value="2">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <p>Tumour or Cancer :</p>
                </div>
                <div class="col-7">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Yes</mat-radio-button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-radio-button value="2">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <p>Any ongoing diseases or ailment requiring
                        surgical or medical treatment :</p>
                </div>
                <div class="col-7">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Yes</mat-radio-button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-radio-button value="2">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <p>Have you or any other member proposed to
                        be insured under this policy sought medical
                        advice or undergone any treatment medical
                        or surgical in past 5 years due to any of the
                        diseases/conditions listed above or
                        otherwise or attended follow up for any
                        disease/condition/ailment/injury/addiction
                        (except for infrequent common illness for
                        example fever, common cold, loose motions,
                        cough & cold, headaches, acidity?</p>
                </div>
                <div class="col-7">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Yes</mat-radio-button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-radio-button value="2">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <p>Is any of the insured pregnant? If yes please
                        mention the expected date of delivery :</p>
                </div>
                <div class="col-7">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Yes</mat-radio-button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-radio-button value="2">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <p>Does any person proposed to be insured
                        consume LiquorPeg? :</p>
                </div>
                <div class="col-7">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Yes</mat-radio-button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-radio-button value="2">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <p>Does any person proposed to be insured
                        consume Beer Bottle? :</p>
                </div>
                <div class="col-7">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Yes</mat-radio-button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-radio-button value="2">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <p>Does any person proposed to be insured
                        consume Wine Glass? :</p>
                </div>
                <div class="col-7">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Yes</mat-radio-button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-radio-button value="2">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <p>Does any person proposed to be insured
                        smoke? :</p>
                </div>
                <div class="col-7">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Yes</mat-radio-button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-radio-button value="2">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <p>Does any person proposed to be insured
                        consume gutkha/pan masala?:</p>
                </div>
                <div class="col-7">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Yes</mat-radio-button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-radio-button value="2">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div> -->
            <!-- <div class="row">
                <div class="col-4">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Adult 1</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="col-4">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Child 1</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="col-4">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Child 2</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div> -->
            <div class="row">
                <div class="col-3">
                    <button mat-button style="background-color:#999999;" (click)="goback()">Back</button>
                </div>
                <div class="col-4"></div>
                <div class="col-3">
                    <button mat-button style="background-color:#303253;" (click)="submitform2()">Next</button>
                </div>
            </div>
        </div>
        <div class="sidebar">
            <h3>Policy Details</h3>
            <!-- <div class="row">
                <div class="col-6">
                    <p>Proposer Age :</p>
                </div>
                <div class="col-6">
                    <b>{{enquiryDetails['age']}}</b>
                    <b>40 Years</b>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p>Proposer Gender :</p>
                </div>
                <div class="col-6">
                    <b>Male</b>
                </div>
            </div> -->
            <div class="row">
                <div class="col-6">
                    <p>Insured Members :</p>
                </div>
                <div class="col-6">
                    <!-- <b>1 Adult,<br>
                        2 Children</b> -->
                    <b>{{enquiryDetails['adults']}} Adults,<br>
                        {{enquiryDetails['children']}} Children</b>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p>Eldest Age :</p>
                </div>
                <div class="col-6">
                    <!-- <b>40 Years</b> -->
                    <b>{{enquiryDetails['age']}} Years</b>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p>Insurance Cover :</p>
                </div>
                <div class="col-6">
                    <!-- <b>1 - 2 Lakhs</b> -->
                    <b>{{enquiryDetails['min_insurance_cover']}}-{{enquiryDetails['max_insurance_cover']}} Lakhs</b>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-6">
                    <p>NCB Discount :</p>
                </div>
                <div class="col-6">
                    <b>25%</b>
                </div>
            </div> -->
            <!-- <div class="row">
                <div class="col-6">
                    <p>Order Id :</p>
                </div>
                <div class="col-6">
                    <b>MGB2PGJ1KAB</b>
                </div>
            </div> -->
            <div class="row">
                <div class="col-6">
                    <p>Policy Term :</p>
                </div>
                <div class="col-6">
                    <b>1 Year</b>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-6">
                    <p>Add-ons</p>
                </div>
                <div class="col-6">
                    <b>NA</b>
                </div>
            </div> -->
            <hr>
            <div class="row">
                <div class="col-6">
                    <p>GST @ 18%</p>
                </div>
                <div class="col-6">
                    <!-- <b>₹ 435</b> -->
                    <b>₹ {{+enquiryDetails['premium'] - (+enquiryDetails['premium']/+gst) | number: '1.0-0'}}</b>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-6">
                    <h6>Final Premium</h6>
                </div>
                <div class="col-6">
                    <!-- <strong>₹ 1,435</strong> -->
                    <strong>₹ {{enquiryDetails['premium']}}</strong>
                </div>
            </div>
            <button mat-button style="background-color:#303253;" routerLink="/health">Edit</button>
        </div>
    </div>
</div>
<app-footer></app-footer>