<div class="container-fluid">
    <h2><a href="" style="text-decoration: none;color: #303253;">CAPALIN</a></h2>
    <a href="login"><button mat-button>LOGIN</button></a>
    <ul>
        <a href="#aboutus"><li>About</li></a>
        <a href="#services"><li>Services</li></a>
        <a href="#faq"><li>FAQ’s</li></a>
        <a href=""><li>Contact</li></a>
    </ul>
</div>