.container-fluid
{
    height: 90px;
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
    padding-top: 16px;
}
.container-fluid h2
{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1px;
    color: #303253;
    padding-left: 24px;
    display: inline;
}
.container-fluid ul
{
    display: inline;
    float: right;
    margin-top: 9px;
}
.container-fluid li
{
    display: inline;
    margin-right: 80px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #303253;
}
.container-fluid button
{
    float: right;
    margin-top: 3px;
    background: #EB6D47;
    border-radius: 16px;
    width: 140px;
    height: 48px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
a
{
    text-decoration: none;
}