.container-fluid {
  padding: 0;
  font-family: Poppins;
  height: auto;
}
.container1 {
  width: 100%;
  height: 780px;
  background: url("/assets/home_images/blue_bg.png");
}
.main .row {
  margin: auto;
}
.main h2 {
  margin: auto;
  padding-top: 114px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 90px;
  text-align: center;
  color: #ffffff;
}
.main p {
  margin: auto;
  width: 720px;
  margin-top: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  color: #ffffff;
}
.main .box {
  width: 27.2%;
  height: 347px;
  background: #ffffff;
  border-radius: 15px;
  margin-top: 57px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 40px;
}
.main .box img {
  width: 80px;
  height: 80px;
}
.box h6 {
  margin-top: 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  color: #323b4b;
}
.box p {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 16px;
  width: 300px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #8a94a6;
  margin-left: 0px;
}
.box span {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #377dff;
}
.main .left {
  margin-left: 19.3%;
}
.main .right {
  margin-left: 6.9%;
}
.container2 {
  height: auto;
}
.main2 .row {
  margin: auto;
}
.main2 h2 {
  margin: auto;
  margin-top: 120px;
  margin-bottom: 28px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: #323b4b;
}
.main2 p {
  margin: auto;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  color: #8a94a6;
  width: 789px;
}
.main2 .contactform {
  margin: auto;
  margin-top: 52px;
  width: 784px;
  height: auto;
  margin-bottom: 100px;
}
.contactform b {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #303253;
  display: block;
}
.contactform p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #8a94a6;
  display: inline;
  margin-left: 17px;
  position: relative;
  top: -8px;
}
.contactform input {
  width: 360px;
  height: 56px;
  background: #ffffff;
  border: 1px solid #c3cad9;
  box-sizing: border-box;
  border-radius: 8px;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 18px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: rgba(48, 51, 83, 0.5);
}
.alertOther {
  font-family: Poppins;
  width: 360px;
  margin-top: -0.5rem;
  // height: 56px;
}

.alertTextarea {
  font-family: Poppins;
  width: 754px;
  // height: 56px;
  margin-top: -0.3rem;
}

.terms {
  pointer-events: none;
}
.contactform textarea {
  width: 754px;
  height: 200px;
  background: #ffffff;
  border: 1px solid #c3cad9;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-top: 10px;
  padding-left: 20px;
  padding-top: 17px;
  color: rgba(48, 51, 83, 0.5);
}
.contactform input[type="checkbox"] {
  width: 34px;
  height: 33px;
  margin-left: 20px;
}
.contactform input[type="checkbox"]:checked::after {
  background-color: brown;
}
.contactform button {
  background: #fa824c;
  border-radius: 16px;
  width: 286px;
  height: 48px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 80px;
  margin-top: 7px;
}
/* CheckBox */
.regular-checkbox {
  display: none;
}
.regular-checkbox + label {
  background-color: #ffebe3;
  border: 1px solid #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  border-radius: 10px;
  display: inline-block;
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
}
.regular-checkbox:checked + label:after {
  content: "\2714";
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: #fa824c;
}
.big-checkbox + label {
  padding: 18px;
}
.big-checkbox:checked + label:after {
  font-size: 28px;
  left: 6px;
}

@media only screen and (max-width: 1300px) {
  .box p {
    width: 250px;
  }
  .main .box {
    height: auto;
    padding-bottom: 15px;
  }
}
