<app-header></app-header>
<div class="container-fluid">
  <div class="container1">
    <div class="main">
      <h2>Contact</h2>
      <p>
        Contact us if you have any questions about our company or products. We
        will try to provide an answer as soon as we can.
      </p>
      <div class="row">
        <div style="width: 1200px; margin: 0 auto; display: inline-flex">
          <div class="box left">
            <img src="/assets/home_images/other/icon-1.png" alt="" />
            <h6>Email Us</h6>
            <p>
              Ask us a question by email and we will respond within a few days.
            </p>
            <span>support@kapalinbroking.com</span>
          </div>
          <div class="box right">
            <img src="/assets/home_images/other/icon-2.png" alt="" />
            <h6>Call any time</h6>
            <p>Call us if your question requires an immediate response.</p>
            <span>+91-22-62363690 | +91-22-62361889</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container2">
    <div class="main2">
      <h2>Leave a message</h2>
      <p>
        Contact us if you have any questions about our company or products. We
        will try to provide an answer within a few days.
      </p>
      <div class="contactform">
        <div class="row">
          <div class="col-5">
            <b>Full Name</b>
            <input
              type="text"
              placeholder="Enter full name"
              id="fullName"
              [(ngModel)]="formData.fullName"
              name="fullName"
              maxlength="60"
              (keypress)="alphaOnly($event)"
              (paste)="onPaste($event)"
              (keyup)="fullNameValidator()"
            />
            <span
              id="fullName_err"
              style="display: none"
              class="alert alert-danger alertOther"
            >
              Please Fill Out This Field.
            </span>
            <b>Company Name</b>
            <input
              type="text"
              placeholder="Enter company name"
              id="companyName"
              [(ngModel)]="formData.companyName"
              name="companyName"
              maxlength="60"
              (keypress)="alphaOnly($event)"
              (paste)="onPaste($event)"
              (keyup)="companyNameValidator()"
            />
            <span
              id="companyName_err"
              style="display: none"
              class="alert alert-danger alertOther"
            >
              Please Fill Out This Field.
            </span>
          </div>
          <div class="col-1"></div>
          <div class="col-5">
            <b>Email Address</b>
            <input
              type="text"
              placeholder="Enter email address"
              id="email"
              [(ngModel)]="formData.email"
              name="email"
              maxlength="60"
              (keypress)="smallAlphaOnly($event)"
              (keyup)="emailValidator()"
            />
            <span
              id="email_err"
              style="display: none"
              class="alert alert-danger alertOther"
            >
              Please Fill Out This Field.
            </span>
            <b>Contact Number</b>
            <input
              type="text"
              placeholder="Enter contact number"
              id="contact"
              [(ngModel)]="formData.contact"
              name="contact"
              (keydown)="checkmobile($event)"
              (keyup)="contactValidator()"
              maxlength="10"
            />
            <span
              id="contact_err"
              style="display: none"
              class="alert alert-danger alertOther"
            >
              Please Fill Out This Field.
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <b>Message</b>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <textarea
              name=""
              id=""
              placeholder="How can we help?"
              id="message"
              [(ngModel)]="formData.message"
              name="message"
              (keyup)="messageValidator()"
            ></textarea>
          </div>
          <div class="col pt-2">
            <span
              id="message_err"
              style="display: none"
              class="alert alert-danger alertTextarea"
            >
              Please Fill Out This Field.
            </span>
          </div>
        </div>
        <div class="row">
          <div style="display: flex">
            <div class="checkbox">
              <input
                type="checkbox"
                id="checkbox-2-1"
                class="regular-checkbox big-checkbox terms"
                [(ngModel)]="isChecked"
              />
              <label for="checkbox-2-1"></label>
              <p style="top: -20px">I agree to the Terms & Conditions</p>
            </div>
            <button
              mat-button
              (click)="submitForm()"
              id="submitBtn"
              [disabled]="issubmitted"
            >
              SUBMIT
            </button>
          </div>
          <div class="col pt-2">
            <span
              id="message_success"
              style="display: none"
              class="alert alert-success alertTextarea"
            >
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
