.haveAnyQue {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 78px;
  /* identical to box height, or 150% */

  text-align: center;

  color: #303253;
}
.field {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #303253;
}
.divHomebackground {
  background-image: url("/assets/home_images/blue_bg.png");
  background-size: 100%;
  height: 700px;
  width: 100%;
}
.required {
  color: red;
}
.readonly {
  pointer-events: none;
}
.respHeight {
  height: 20px;
}
@media only screen and (max-width: 800px) {
  .respHeight {
    height: 20px;
  }

}
.respHeight {
  height: 20px;
}
.container2 {
  height: auto;
  padding: top 0;
  padding-bottom: 30px;
}
.container2 h2 {
  font-family: Poppins;
  color: #303253;
  font-size: 52px;
  line-height: 78px;
  font-weight: 600;
  text-align: center;
}
.main2 {
  margin: auto;
  margin-top: 310px;
  height: 600px;
}
.main2 p {
  height: 71px;
  margin: auto;
  font-family: Poppins;
  font-size: 24px;
  line-height: 40px;
  font-weight: 400;
  color: #999999;
  width: 700px;
  flex-grow: 0;
}
.main2 img {
  position: relative;
  left: 230px;
  top: 40px;
  z-index: -1;
}
.help-support {
  margin: auto;
  background-color: #ffffff;
  box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.07);
  width: 700px;
  height: 422px;
  text-align: center;
}
.help-support h4 {
  text-align: center;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  font-family: Poppins;
  color: #303253;
}
.help-support p {
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  color: #999999;
  font-family: Poppins;
  width: 300px;
}
.help-support b {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  font-family: Poppins;
  color: #303253;
}
  // checkbox
  ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #50B83C!important;
  }

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #50B83C;
  }