<app-header></app-header>
<div class="">
    <div class="divHomebackground">
        <div class="row">
            <br />
            <br>
        </div>
        <!--1st row start-->

        <div class="col-md-12" style="font-family: Poppins;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 60px;
                                line-height: 90px;
                                
                                text-align: center;
                                
                                color: #FFFFFF;">
            Bike Insurance
        </div>
        <div class="row">
            <br />
        </div>
        <!--2nd row start-->

        <div class="row">
            <div class="col-md-12" style="font-family: Poppins;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 24px;
                                    line-height: 40px;
                                    text-align: center;
                                    
                                    color: #FFFFFF; ">
                Create a Bike Insurance quote
            </div>
        </div>
        <div class="row">
            <br />
            <br/>
            <br/>
        </div>

        <div class="row">
            <div class="row" style="width:auto;float:left;">
            </div>
            <div class="" style="height:auto;margin: 0 auto;">
                <!-- start-->


              
                <div class=" container form-group">
                        <div class="row">
                            <div class="" style="height:15px ; width: 48%;float:left;
                        background-color: #EB6D47;margin-left: 15px;
                        box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
                        border-radius:12px 0px 0px 0px">
                            </div>
                            <div class="" style="height:15px ; width: 48.8%;float:left; 
                        margin-left:0px;background-color: #EB6D47;
                        box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
                        border-radius:0px 12px 0px 0px">
    
                            </div>
                        </div>
                    <form [formGroup]="prePolicyDetailsForm" (ngSubmit)="submitEnqiry()" autocomplete="off" style="background-color: white;border-radius:0px 0px 12px 12px;width:65%;float:left; box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.07);width: 100%;">
                        <!-- third row start --><br>
                        <div class="row" *ngIf="formData['enquiryOption'] == 'renewal'">
                            <div class="col-md-12" style=" font-family: Poppins;
                                                        font-style: normal;
                                                        font-weight: 600;
                                                        font-size: 36px;
                                                        line-height: 48px;
                                                        /* identical to box height, or 133% */ 
                                                        text-align: center;
                                                        letter-spacing: 0.2px; 
                                                        color: #303253;">
                                Previous Policy Details
                            </div>
                        </div>
                        <br />
                        <!-- third row end -->
                        <!-- forth row start -->
                        <div>
                            <table style="width:100%; height:auto;">
                                <tr class="row" style="margin-top:20px" *ngIf="formData['enquiryOption'] == 'renewal'">
                                    <div class="col-md-1"></div>
                                    <td class="col-md-5 field" style="  font-family: Poppins;
                                                                font-style: normal;
                                                                font-weight: normal;
                                                                font-size: 16px;
                                                                line-height: 24px;
                                                                /* identical to box height */ 
                                                                color: #303253;
                                                                margin-top:15px">

                                        <label for="Expiry Date ">Expiry Date<span class="required">
                                            </span> :</label>
                                    </td>

                                    <td class="col-md-5 field  ">
                                        <div class="input-group input-group-lg">
                                            <input (click)="d.toggle()" type="text" class="form-control" 
                                                formControlName="last_policy_expiry_date" style="border-radius:10px;
                                                            font-family: Poppins;
                                                            font-style: normal;
                                                            font-weight: normal;
                                                            font-size: 16px;
                                                            line-height: 24px;
                                                            height:56px;
                                                            
                                                            /* identical to box height */ 
                                                            color: #999999;" placeholder="Select Expiry Date" autocomplete="off"
                                                (change)="validations()" ngbDatepicker #d="ngbDatepicker">
                                        </div>
                                        <div id="last_policy_expiry_date_err" style="display: none;"
                                            class="alert alert-danger">
                                            <div>Please Select Expiry Date.</div>
                                        </div>
                                    </td>
                                </tr>

                                <!-- forth row end -->
                                <tr class="row" style="margin-top:20px" *ngIf="formData['enquiryOption'] == 'renewal'">
                                    <div class="col-md-1"></div>
                                    <td class=" col-md-5 field" style="  font-family: Poppins;
                                                            font-style: normal;
                                                            font-weight: normal;
                                                            font-size: 16px;
                                                            line-height: 24px;
                                                            /* identical to box height */ 
                                                            color: #303253;
                                                            margin-top:15px">

                                        <label for="Expiry Date ">Last Policy Claim Status<span class="required">*
                                            </span> :</label>
                                    </td>

                                    <td class="col-md-5 field  ">
                                        <div class="input-group input-group-lg ">
                                            <select class="form-control" formControlName="last_policy_claim_status"
                                                style="border-radius:10px;
                                                        font-family: Poppins;
                                                        font-style: normal;
                                                        font-weight: normal;
                                                        font-size: 16px;
                                                        line-height: 24px;
                                                        height:56px;
                                                            
                                                        /* identical to box height */ 
                                                            color: #999999;" placeholder="" autocomplete="off"
                                                (change)="validations()">
                                                <!-- [(ngModel)]="prePolicyDetails.ncb" -->
                                                <option value="" disabled>Select Claim Status in Last Policy
                                                </option>
                                                <option value="true">Yes
                                                </option>
                                                <option value="false">No
                                                </option>
                                            </select>
                                        </div>
                                        <div id="last_policy_claim_status_err" style="display: none;"
                                            class="alert alert-danger">
                                            <div>Please Select Claim Status.</div>
                                        </div>
                                    </td>
                                </tr>
                                <!-- Fifth row start -->
                                <tr class="row" style="margin-top:20px"
                                    *ngIf="f.last_policy_claim_status.value == 'false' && formData['enquiryOption'] == 'renewal'">
                                    <div class="col-md-1"></div>
                                    <td class="col-md-5 field" style="  font-family: Poppins;
                                                                font-style: normal;
                                                                font-weight: normal;
                                                                font-size: 16px;
                                                                line-height: 24px;
                                                                /* identical to box height */ 
                                                                color: #303253;
                                                                margin-top:15px">

                                        <label for="Car Make & Model :">NCB on previous policy<span class="required">*
                                            </span> :</label>
                                    </td>

                                    <td class="col-md-5 field  ">
                                        <div class="input-group input-group-lg ">
                                            <select type="text" class="form-control  " style="border-radius:10px;
                                                            font-family: Poppins;
                                                            font-style: normal;
                                                            font-weight: normal;
                                                            font-size: 16px;
                                                            line-height: 24px;
                                                            height:56px;
                                                                
                                                            /* identical to box height */ 
                                                                color: #999999;" placeholder="" autocomplete="off"
                                                formControlName="last_policy_ncb" (change)="validations()">
                                                <option value="" disabled>Please Select NCB
                                                </option>
                                                <option *ngFor="let ncbVal of ncbValues" value="{{ncbVal}}">{{ncbVal}} %
                                                </option>
                                            </select>
                                        </div>
                                        <div id="last_policy_ncb_err" style="display: none;" class="alert alert-danger">
                                            <div>Please Select NCB.</div>
                                        </div>
                                    </td>
                                </tr>
                                <!-- fifth row end -->

                                <!--sixth row start-->
                                <tr class="row" style="margin-top:20px">
                                    <td class="col-md-1">


                                        <mat-checkbox class="example-margin readonly" style=" color : #DFDFDF;
                                    box-sizing: border-box;
                                    border-radius: 6px;height: 20px;width: 10px;margin-left: 50px;margin-top: 20px;"
                                            checked="checked">
                                        </mat-checkbox>


                                    </td>
                                    <td class="col-md-11" style="font-family: Poppins;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 16px;
                                line-height: 28px;
                                color: #303253;
                                ">
                                        By submitting this form you agree to our terms and
                                        conditions and our Privacy Policy which <br> explains how we may collect,
                                        use and disclose your personal information including to third parties.
                                    </td>
                                </tr>
                                <div class="row">
                                    <br />
                                    <br />
                                </div>
                                <!--sixth row end-->
                                <!--seventh row start-->
                                <div class="row">
                                    <div class="" style="width: 10%;float:left">

                                    </div>
                                    <div class="" style="width: 30%;float:left">
                                        <button mat-button color="" style="background: #999999;
                                                                    border-radius: 10px;font-style: normal;
                                                                    font-weight: 600;
                                                                    font-size: 18px;
                                                                    line-height: 40px;
                                                                    width: 85%;
                                                                    align-items: center;
                                                                    height: 60px;
                                                                    margin-right: 5px;
                                                                    color: #FFFFFF;" routerLink="/bike">Back</button>

                                    </div>
                                    <div class="" style="width: 20%;float:left">

                                    </div>
                                    <div class="" style="width: 30%;float:left">
                                        <button mat-button color="" style="background: #303253;
                                                            border-radius: 10px;font-style: normal;
                                                            font-weight: 600;
                                                            font-size: 18px;
                                                            line-height: 40px;
                                                            width: 85%;
                                                            align-items: center;
                                                            height: 60px;
                                                            margin-right: 5px;
                                                            color: #FFFFFF;">Find
                                            Plans</button>
                                    </div>

                                    <div class="" style="width: 10%;float: left;">

                                    </div>
                                </div>
                                <br />
                                <!--seventh row end-->
                            </table>
                        </div>
                    </form>
                </div>
            </div>
            <div class="" style="width:auto;float:left"> 
             
        </div>

        </div>



    </div>
    <!--<new section start-->
        <div class="container2">
            <div class="main2">
                <h2>Have a question?</h2>
                <p>
                    If you cannot find answer to your question in our FAQ,
                    you can always contact us. We wil answer to you shortly!
                </p>
                <img src="/assets/home_images/bg_img/dots_img.png" alt="">
                <div class="help-support">
                    <br><br><br>
                    <button mat-fab style="background-color:#01C48D;width:80px;height:80px;">
                        <i class="fa fa-headphones fa-lg" style="font-size:35px;color:#FFF;"></i>
                    </button>
                    <br><br><br>
                    <h4>Help & Support</h4>
                    <p>We’re here to help with any questions or issues.</p><br>
                    <b>support@kapalinbroking.com</b><br>
                    <b>+91-22-62363690 | +91-22-62361889</b>
                </div>
            </div>
        </div><br><br><br>
    </div>

<app-footer></app-footer> 
