 <h2 class="container text-center" style="margin-top: 20px;margin-bottom: 20px;color: #E71D36;font-weight: bold;">CAR INSURANCE</h2>
 <div class="row">   
    <div class="container col-5 popups" style="width: 8cm"> 
        <div class="">
            <h6 class="" style="color:  #E71D36;">Showing Results for :-  <span style="color: #000">{{carData.biCarModel+','+carData.biCarFuel+','+carData.biCarVariant+','+carData.biRto}}</span> </h6>
        </div>
        <div class=""> 
            <h6 class="" style="color: #2EA7C4">IDV (-) :- <span style="color: #000">{{carData.idv}}</span> </h6>
        </div>
        <div class="" *ngIf="carData.enquiryType != 'new_enquiry'">
            <h6 class="" style="color: #2EA7C4">Last Policy Claim & NCB :- <span style="color: #000">{{carData.ncb}}</span> </h6>
        </div>
        <div class="">
            <h6 class="" style="color: #2EA7C4">Registration Date :- <span style="color: #000">{{carData.car_register_date}}</span> </h6>
        </div>
        <div class="" *ngIf="carData.enquiryType != 'new_enquiry'"> 
            <h6 class="" style="color: #2EA7C4">Last Policy Expiry Date :- <span style="color: #000"> {{carData.previous_year_policy_expiry_date}}</span> </h6>
        </div>
        <div class="row">
            <div class="">
                <h6 class="" style="color: #2EA7C4; margin-left: 15px;">Recommended Add Ons :-</h6>
            </div>
            <div class="" style="margin-left: 20px;color: #E71D36">
                <label class="">
                    <input type="checkbox"    [(ngModel)]="zero_depreciation" [checked]="checkbox" (change)="RecommendedAddOns('zero_depreciation',zero_depreciation)">
                    <span class="" style="margin-left: 10px;">
                        <span class=""><i class=""></i>Zero Dep</span>                                      
                    </span>  
                </label><br>
                <label class="">
                    <input type="checkbox"  [(ngModel)]="carData.rode_side_assistance" [checked]="checkbox" (change)="RecommendedAddOns('rode_side_assistance',carData.rode_side_assistance)">
                    <span class="" style="margin-left: 10px;">
                        <span class=""><i class=""></i>Roadside Assistance</span>                                      
                    </span>  
                </label>
            </div>
        </div>
    </div>
    <div class="col-6" style="margin-right:10px;background-color:rgb(111, 178, 209);margin-bottom: 20px;">
        <div class="row popups">
            <div class="col-6" style="margin-top: 1cm;color: #E71D36; font-weight: bold;">
                Add Ons
            </div>
            <div class="col-6" style="margin-top:20px;">
                <label class="container-div">
                    <input type="checkbox" name="" style="margin-right: 10px;" [(ngModel)]="invoice_cover" [checked]="checkbox" (change)="addOn(invoice_cover,'invoice_cover')">
                    <span class="checkmark"></span>Invoice Cover
                </label><br>
                <label class="container-div">
                    <input type="checkbox" name="" style="margin-right: 10px;" [(ngModel)]="engine_protector" [checked]="checkbox" (change)="addOn(engine_protector,'engine_protector')">
                    <span class="checkmark"></span>Engine Cover
                </label><br>
                <label class="container-div">
                    <input type="checkbox" name="" style="margin-right: 10px;" [(ngModel)]="ncb_protection" [checked]="checkbox" (change)="addOn(ncb_protection,'ncb_protection')">
                    <span class="checkmark"></span>NCB Protect
                </label><br>
                <label class="container-div">
                    <input type="checkbox" name="" style="margin-right: 10px;" [(ngModel)]="consumable"  [checked]="checkbox" (change)="addOn(consumable,'consumable')">
                    <span class="checkmark"></span>Consumable
                </label><br>
                <label class="container-div">
                    <input type="checkbox" name="" style="margin-right: 10px;" [(ngModel)]="key_protector"  [checked]="checkbox" (change)="addOn(key_protector,'key_protector')">
                    <span class="checkmark"></span>Key Protect
                </label><br>
                <label class="container-div">
                    <input type="checkbox" name="" style="margin-right: 10px;" [(ngModel)]="tyre_cover"  [checked]="checkbox" (change)="addOn(tyre_cover,'tyre_cover')">
                    <span class="checkmark"></span>Tyre Cover
                </label><br>
                <label class="container-div">
                    <input type="checkbox" name="" style="margin-right: 10px;" [(ngModel)]="paid_driver_legal_liability_cover"  [checked]="checkbox" (change)="addOn(paid_driver_legal_liability_cover,'paid_driver_legal_liability_cover')">
                    <span class="checkmark"></span>Paid Driver Legal Liability Cover
                </label><br>
                <label class="container-div">
                    <input type="checkbox" name="" style="margin-right: 10px;" [(ngModel)]="pa_to_owner_driver"  [checked]="checkbox" (change)="addOn(pa_to_owner_driver,'pa_to_owner_driver')">
                    <span class="checkmark"></span>PA Owner Driver
                </label><br>
                <label class="field">
                    <select class="custom-select" [(ngModel)]="carData.driver_cover"  (change)="RecommendedAddOns('driver_cover',carData.driver_cover)">
                        <option value="0">Passenger Cover</option>
                        <option value="50000">50,000</option>
                        <option value="100000">1,00,000</option>
                        <option value="200000">2,00,000</option>
                    </select>
                    <i class="arrow double"></i>
                </label>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container col-5">
            <div class="row popups">
            <div class="row hdfcHeadrer" style="margin-left: 4px;background-color: #E71D36;">
                <div class="col-4">
                    <img src="http://localhost/kaplin/{{insurer.logo.replace('public', '')}}" alt="{{insurer.company_name}}" class="img-thumbnail" style="width:500px;height:90px">
               </div>
               <div class="col-4" style="padding-top: 20px;"> 
                 IDV :₹{{carData.idv}} <br/>
                 NCB :{{carData.ncb}}%  
                </div>
                <div class="col-4" style="padding-top: 20px;font-size: 20px;">
                    Premium Breakup
                </div>
                
            </div>
            <div class="row">
                <div class="col-4" style="margin-left: 40px;font-size: 25px;margin-top:20px;">
                    ₹ {{  totalPrice | number : '1.0-0'}} 
                </div>
                <div class="col-4">
                    <button class="btn btn-primary" style="width: 3.5cm;background-color: #E71D36;margin-top:20px;margin-left: 50px;"
                    (click)="bookNowHDFC(thirdPartyPlans.enquiryData.leadId, thirdPartyPlans.availablePlans.master_sheet_id, enquiry_id, thirdPartyPlans.insurerApiData.idv, thirdPartyPlans.insurerApiData.display.displayPremium * thirdPartyPlans.insurerApiData.taxRate, thirdPartyPlans.insurerApiData.transactionId_1, thirdPartyPlans.insurerApiData.transactionId_2, thirdPartyPlans.insurerApiData.odPremium, 'rollover', thirdPartyPlans.insurerApiData.display.pa_to_owner_driver)"> Buy Now </button>    
                </div>
            </div>
            <div class="container">   
                <div>
                    <table style="width:100%;align-items: center;">
                        <tr *ngIf="invoice_cover">
                            <td></td>
                            <td> Paid Driver Legal Liability Cover</td>
                            <td>NA</td>
                        </tr>
                        <tr *ngIf="engine_protector">
                            <td></td>
                            <td>  Passenger Cover</td>
                            <td>125</td>
                        </tr>
                        <tr *ngIf="pa_to_owner_driver">
                            <td></td>
                            <td>   PA Owner Driver</td>
                            <td>325</td>
                        </tr>
                    </table>
                 </div>
            </div>       
        </div>
    </div>
    <div class="col-6" style="margin-right:30px;background-color:rgb(111, 178, 209);margin-bottom: 20px;">
        <div class="row popups">
            <div class="" style="margin-top: 1cm;color: #E71D36; font-weight: bold;margin-left: 20px;">
                Additional Covers
            </div>
            <div class="row" style="margin-top: 2cm;color: black;">
                <label for=""><h6 class="">Electrical Accessories :</h6></label>
                <label for="" class="field">
                    <input type="text" id="" name="" [(ngModel)]="carData.electrical_accessories" class="date-input py-1" style="margin-left:10px;width: 7cm;" value="" placeholder="Electrical Accessories Value" maxlength="6">
                    <label class="field-icon" style="margin-left: 10px;"><i class="fa fa-rupee"></i></label>  
                </label>
            </div>
            <div class="row" style="color: black;margin-left: 2.6cm;">
                <label for=""><h6 class="">Non-Electrical Accessories :</h6></label>
                <label for="" class="field">
                    <input type="text" id="" name="" [(ngModel)]="carData.non_electrical_accessories" class="date-input py-1" style="margin-left:10px;width: 7cm;" value="" placeholder="Non Electrical Accessories Value" maxlength="6">
                    <label class="field-icon" style="margin-left: 10px;"><i class="fa fa-rupee"></i></label>  
                </label>
            </div>
            <div class="row" style="color: black;margin-left: 2.36cm;">
                <label for=""><h6 class="">External Electric BI Fuel Kit :</h6></label>
                <label for="" class="field">
                    <input type="text" id="" name="" [(ngModel)]="carData.external_bi_fuel_kit_value" class="date-input py-1" style="margin-left:10px;width: 7cm;" value="" placeholder="External Bi Fuel Kit Value" maxlength="6">
                    <label class="field-icon" style="margin-left: 10px;"><i class="fa fa-rupee"></i></label>  
                </label>
            </div>
            <div class="">
                <button type="button" (click)="editInsurerApi()" class="btn btn-outline-dark footerbut" style="background-color:#E71D36;margin-left: 5cm;margin-bottom: 20px" >Update Additional Covers</button>
            </div>
        </div>
        <div style="background-color: #fff;height: 20px;margin: 0px -15px;"> </div>
        <div class="row popups">
            <div class="" style="margin-top: 1cm;color: #E71D36; font-weight: bold;margin-left: 20px;">
                Discounts
            </div>
            <div class="row" style="margin-top: 2cm;color: black;">
                <label class="field">
                    <select class="custom-select" style="width: 10cm;" [(ngModel)]="carData.voluntary_deductible_value">
                        <option value="">Voluntary Deductible</option>
                        <option value="2500">2,500</option>
                        <option value="5000">5,000</option>
                        <option value="7500">7,500</option>
                        <option value="15000">15,000</option>
                    </select>
                    <i class="arrow double"></i>
                </label>
            </div>
            <div class="row" style="color: black;margin-left: 2cm;">
                <label for="" class="">
                    <input type="checkbox" id="" [(ngModel)]="carData.anti_theft_device">
                    <span class="">
                        <span class=""> <i class=""></i> ARAI Approved Anti Theft Device Fitted ? </span>                                  
                    </span>                              
                </label> 
            </div>
            <div class="row" style="color: black;margin-left: 2cm;">
                <label for="" class="">
                    <input type="checkbox" id="" [(ngModel)]="carData.automobile_association">
                    <span class="">
                        <span class=""> <i class=""></i> Car Owner a member of Automobile Association of India ? </span>                                  
                    </span>                              
                </label> 
            </div>
            <div class="">
                <button type="button" class="btn btn-outline-dark footer2" 
                style="background-color:#E71D36;margin-left: 5cm;margin-bottom: 20px" (click)="editDiscountsApi()" >
                Update Discounts</button>
            </div>
        </div>
    </div>
</div>
