<app-header></app-header>
<style>
    .readonly {
        pointer-events: none;
    }
</style>
<div class="">
    <div class="divHomebackground">
        <div class="row">
            <br />
            <br>
        </div>
        <!--1st row start-->

        <div class="col-md-12" style="font-family: Poppins;
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 60px;
                                        line-height: 90px;
                                        
                                        text-align: center;
                                        
                                        color: #FFFFFF;">
            Car Insurance
        </div>
        <div class="row">
            <br />
        </div>
        <!--2nd row start-->

        <div class="row">
            <div class="col-md-12" style="font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 24px;
                                            line-height: 40px;
                                            text-align: center;
                                            
                                            color: #FFFFFF; ">
                Create a Car Insurance quote
            </div>
        </div>
        <div class="row">
            <br />
            <br/>
            <br/>
        </div>
        <div class="row">
            
            <div class style="height:auto;width:860px;margin: 0 auto;">
                <div style="display: inline-flex;width: 860px;margin-left: 14px;">
                    <div class="" style="height:15px ;width: 600px;float:left;background-color: #EB6D47;border-radius:12px 0px 0px 0px">
                    </div>
                    <div class="" style="height:15px ;width: 260px;float:left;background-color: #EB6D47;border-radius:0px 12px 0px 0px">
                    </div>
                </div>
                <!-- start-->
                <div class=" container form-group" style="margin: 0 auto;margin-top:-7px;">
                    <div class="row" style="width: 860px;margin: 0 auto;">
                    <form autocomplete="off" [formGroup]="prePolicyDetailsForm" (ngSubmit)="submitEnqiry()" style="background-color: white;border-radius:0px 0px 12px 12px;box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);">
                        <!-- third row start -->
                        <div class="row" *ngIf="formData['policy_type'] == 'renew_enquiry'">
                            <div class="col-md-10" style=" font-family: Poppins;
                                                                font-style: normal;
                                                                font-weight: 600;
                                                                font-size: 36px;
                                                                line-height: 48px;
                                                                padding-top: 25px; 
                                                                text-align: center;
                                                                letter-spacing: 0.2px; 
                                                                color: #303253;margin: auto;">
                                Previous Policy Details
                            </div>
                        </div>
                        <br />
                        <!-- third row end -->
                        <!-- forth row start -->
                        <div>
                            <table style="width:100%; height:auto;">
                                <tr class="row" style="margin-top:20px"
                                    *ngIf="formData['policy_type'] == 'renew_enquiry'">
                                    <div class="col-md-1"></div>
                                    <td class=" col-md-5 field" style="  font-family: Poppins;
                                                                        font-style: normal;
                                                                        font-weight: normal;
                                                                        font-size: 16px;
                                                                        line-height: 24px;
                                                                        /* identical to box height */ 
                                                                        color: #303253;
                                                                        margin-top:15px">

                                        <label for="Expiry Date ">Expiry Date :</label>
                                    </td>

                                    <td class="col-md-5 field  ">
                                        <div class="input-group input-group-lg ">
                                            <input type="text" class="form-control" formControlName="expiryDate" style="border-radius:10px;
                                                                    font-family: Poppins;
                                                                    font-style: normal;
                                                                    font-weight: normal;
                                                                    font-size: 16px;
                                                                    line-height: 24px;
                                                                    height:56px;
                                                                    
                                                                    /* identical to box height */ 
                                                                    color: #999999;"
                                                placeholder="Please Select Expiry Date" autocomplete="off"
                                                [disabled]="formData['policy_type'] == 'new_enquiry' ? true : false"
                                                ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" [minDate]="{year: 2015, month: 1, day: 1}" readonly> 
                                            <!-- [(ngModel)]="prePolicyDetails.expiryDate" -->
                                        </div>
                                        <div id="expiryDate_err" style="display: none;" class="alert alert-danger">
                                            <div>Please Select Expiry Date.</div>
                                        </div>
                                    </td>
                                </tr>

                                <tr class="row" style="margin-top:20px"
                                    *ngIf="formData['policy_type'] == 'renew_enquiry'">
                                    <div class="col-md-1"></div>
                                    <td class=" col-md-5 field" style="  font-family: Poppins;
                                                                        font-style: normal;
                                                                        font-weight: normal;
                                                                        font-size: 16px;
                                                                        line-height: 24px;
                                                                        /* identical to box height */ 
                                                                        color: #303253;
                                                                        margin-top:15px">

                                        <label for="Expiry Date ">Last Policy Claim Status :</label>
                                    </td>

                                    <td class="col-md-5 field  ">
                                        <div class="input-group input-group-lg ">
                                            <select
                                                [attr.disabled]="formData['policy_type'] == 'new_enquiry' ? true : null"
                                                class="form-control" formControlName="claimStatus" style="border-radius:10px;
                                                                    font-family: Poppins;
                                                                    font-style: normal;
                                                                    font-weight: normal;
                                                                    font-size: 16px;
                                                                    line-height: 24px;
                                                                    height:56px;
                                                                        
                                                                    /* identical to box height */ 
                                                                        color: #999999;" placeholder=""
                                                autocomplete="off">
                                                <!-- [(ngModel)]="prePolicyDetails.ncb" -->
                                                <option value="" disabled>Select Claim Status in Last Policy
                                                </option>
                                                <option value="yes">Yes
                                                </option>
                                                <option value="no">No
                                                </option>
                                            </select>
                                        </div>
                                        <div id="claimStatus_err" style="display: none;" class="alert alert-danger">
                                            <div>Please Select Claim Status.</div>
                                        </div>
                                    </td>
                                </tr>

                                <!-- forth row end -->

                                <!-- Fifth row start -->
                                <tr class="row" style="margin-top:20px"
                                    *ngIf="f.claimStatus.value == 'no' && formData['policy_type'] == 'renew_enquiry'">
                                    <div class="col-md-1"></div>
                                    <td class="col-md-5 field" style="  font-family: Poppins;
                                                                        font-style: normal;
                                                                        font-weight: normal;
                                                                        font-size: 16px;
                                                                        line-height: 24px;
                                                                        /* identical to box height */ 
                                                                        color: #303253;
                                                                        margin-top:15px">

                                        <label for="">NCB on previous policy :</label>
                                    </td>

                                    <td class="col-md-5 field  ">
                                        <div class="input-group input-group-lg ">
                                            <select
                                                [attr.disabled]="formData['policy_type'] == 'new_enquiry' ? true : null"
                                                class="form-control" formControlName="ncb" style="border-radius:10px;
                                                                    font-family: Poppins;
                                                                    font-style: normal;
                                                                    font-weight: normal;
                                                                    font-size: 16px;
                                                                    line-height: 24px;
                                                                    height:56px;
                                                                        
                                                                    /* identical to box height */ 
                                                                        color: #999999;" placeholder=""
                                                autocomplete="off">
                                                <!-- [(ngModel)]="prePolicyDetails.ncb" -->
                                                <option value="" disabled selected>Please Select NCB
                                                </option>
                                                <option *ngFor="let ncbVal of ncbValues" value="{{ncbVal}}">{{ncbVal}} %
                                                </option>
                                            </select>
                                        </div>
                                        <div id="ncb_err" style="display: none;" class="alert alert-danger">
                                            <div>Please Select NCB.</div>
                                        </div>
                                    </td>
                                </tr>
                                <!-- fifth row end -->

                                <!--sixth row start--><br><br>
                                <tr class="row" style="margin-top:20px">
                                    <td class="col-md-1">


                                        <mat-checkbox class="example-margin readonly" style=" color : #DFDFDF;
                                    box-sizing: border-box;
                                    border-radius: 6px;height: 20px;width: 10px;margin-left: 30px;margin-top: 15px;"
                                            checked="checked">
                                        </mat-checkbox>


                                    </td>
                                    <td class="col-md-10" style="font-family: Poppins;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 16px;
                                line-height: 28px;
                                color: #303253;
                                ">
                                        By submitting this form you agree to our terms and
                                        conditions and our Privacy Policy which explains <br />how we may collect,
                                        use and disclose your personal information including to third parties.
                                    </td>
                                </tr>
                                <div class="row">
                                    <br />
                                    <br />
                                </div>
                                <!--sixth row end-->
                                <!--seventh row start-->
                                <div class="row">
                                    <div class="" style="width: 10%;float:left">

                                    </div>
                                    <div class="" style="width: 30%;float: left;">
                                        <button mat-button color="" style="background: #999999;
                                                                            border-radius: 10px;font-style: normal;
                                                                            font-weight: 600;
                                                                            font-size: 18px;
                                                                            line-height: 40px;
                                                                            width: 85%;
                                                                            align-items: center;
                                                                            height: 60px;
                                                                            margin-right: 5px;
                                                                            color: #FFFFFF;"
                                            routerLink="/car">Back</button>

                                    </div>
                                    <div class="" style="width: 20%;float:left">

                                    </div>
                                    <div class="" style="width: 30%;float:left">
                                        <button [disabled]="" mat-button color="" style="background: #303253;
                                                                    border-radius: 10px;font-style: normal;
                                                                    font-weight: 600;
                                                                    font-size: 18px;
                                                                    line-height: 40px;
                                                                    width: 85%;
                                                                    align-items: center;
                                                                    height: 60px;
                                                                    margin-right: 5px;
                                                                    color: #FFFFFF;">Find
                                            Plans</button>
                                    </div>
                                    <div class="" style="width: 10%;float:left">

                                </div>
                                </div>
                                <br />
                                <!--seventh row end-->
                            </table>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
    </div>
    <!--<new section start-->
        <div class="container2">
            <div class="main2">
                <h2>Have a question?</h2>
                <p>
                    If you cannot find answer to your question in our FAQ,
                    you can always contact us. We wil answer to you shortly!
                </p>
                <img src="/assets/home_images/bg_img/dots_img.png" alt="">
                <div class="help-support">
                    <br><br><br>
                    <button mat-fab style="background-color:#01C48D;width:80px;height:80px;">
                        <i class="fa fa-headphones fa-lg" style="font-size:35px;color:#FFF;"></i>
                    </button>
                    <br>
                    <h4>Help & Support</h4>
                    <p>We’re here to help with any questions or issues.</p><br>
                    <b>support@kapalinbroking.com</b><br>
                    <b>+91-22-62363690 | +91-22-62361889</b>
                </div>
            </div>
        </div>




</div>
<app-footer></app-footer>









<!--<h1 class="text-center">CAR INSURANCE</h1>
<div class="py-3 px-5">
    <div class="px-3 tabs-data">
        <h4 class="text-center">Please Enter Details Of Your Car</h4>
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
            <li [ngbNavItem]="1" style="width: 50%;">
                <a ngbNavLink style="text-align:center;color: black;">Renewal</a>
                <ng-template ngbNavContent>
                    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" autocomplete="off">
                        <input type="hidden" name="enquiryType" value="renew_enquiry" id="enquiryType">
                        <input type="hidden" name="lead_id" value="lead_id" id="lead_id">
                        <div class="row">
                            <label for="make_model" class="spacer-b10 center1">Make & Model :</label>
                            <label class="field center">
                                <select formControlName="makeModel"
                                    (change)="getFuelType('car_fuel_type', registrationForm.get('makeModel').value)"
                                    class="custom-select" name="make_model">
                                    <option value="">Select Car Model</option> 
                                    <option *ngFor="let model of carModelDetails?.makeModel" [value]="model?.id">
                                        {{model?.car_model_name}}</option>
                                </select> 
                            </label>
                        </div>
                        <div class="row">
                            <label for="fuel_type" class="spacer-b10 center1">Fuel Type :</label>
                            <label class="field center" style="margin-left: 3.9cm;width: 9.1cm;">
                                <select formControlName="fuelType"
                                    (change)="getVariantType('car_variant', registrationForm.get('fuelType').value)"
                                    class="custom-select" name="fuel_type" id="fuel_type">
                                    <option value="">Select Fuel Type</option>
                                    <option *ngFor="let fuel of fuelTypeDetails" [value]="fuel?.id">{{fuel?.fuel_name}}
                                    </option>
                                </select>
                            </label>
                        </div>
                        <div class="row">
                            <label for="variant" class="spacer-b10 center1">Variant:</label>
                            <label class="field center" style="margin-left: 4.5cm;width: 9.1cm;">
                                <select formControlName="variant" class="custom-select" name="variant" id="variant">
                                    <option value="">Select Car Variant</option>
                                    <option *ngFor="let variant of variantTypeDetails" [value]="variant?.id">{{
                                        variant?.variant }}</option>
                                </select>
                            </label>
                        </div>
                        <div class="row">
                            <label for="rto" class="spacer-b10 center1">RTO:</label>
                            <label class="field center" style="margin-left: 4.9cm;width: 9.1cm;">
                                <select formControlName="rto" class="custom-select" name="rto" id="rto">
                                    <option value="">Select RTO of Car Registration</option>
                                    <option *ngFor="let rto of carModelDetails?.rto" [value]="rto?.id">{{
                                        rto.rto_description }}</option>
                                </select>
                            </label>
                        </div>
                        <div class="row">
                            <label for="" class="spacer-b10 center1">Manufacturing Month:</label>
                            <label class="field center" style="margin-left: 2cm;width: 9.1cm;">
                                <select formControlName="manufactMonth" class="custom-select" name="manufacturing_month"
                                    id="manufacturing_month">
                                    <option value="">Select Manufacturing Month</option><option *ngFor="let month of M_Month" [value]="month?.id">{{ month.name }}</option>
                                </select>
                            </label>
                        </div>
                        <div class="row">
                            <label for="" class="spacer-b10 center1">Manufacturing Year :</label>
                            <label class="field center" style="margin-left: 2.2cm;width: 9.1cm;">
                                <select formControlName="manufactYear" class="custom-select" name="manufacturing_year"
                                    id="manufacturing_year">
                                    <option value="">Select Manufacturing Year</option>
                                    <option *ngFor="let year of M_Year" [value]="year">{{ year }}</option>
                                </select>
                            </label>
                        </div> 
                        <div class="row">
                            <div class="input-group">
                                <label for="" class="spacer-b10 center1">Registration Date :</label>
                                <div class="position-relative" style="margin-left: 2.65cm;width: 9.1cm;">
                                    <div class="calendar-icon"><i class="fa fa-calendar"></i></div>
                                    <input class="form-control date-input" (click)="d.toggle()" placeholder="Select Registration Date"
                                        name="dp" formControlName="regtDate" ngbDatepicker #d="ngbDatepicker">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label for="" class="spacer-b10 center1" style="margin-top: 10px;">Last Policy Expiry Date :</label>
                            <div class="position-relative" style="margin-left: 1.55cm;width: 9.1cm;margin-top: 10px;">
                                <div class="calendar-icon"><i class="fa fa-calendar"></i></div>
                                <input class="form-control date-input" (click)="d1.toggle()" placeholder="Select Last Policy Expiry Date"
                                    name="dp" formControlName="expiryDate" ngbDatepicker #d1="ngbDatepicker">
                            </div>
                        </div>
                        <div class="row">
                            <label for="claimStatus" class="spacer-b10 center1" style="margin-top: 10px;">Last Policy Claim Status :</label>
                            <label class="field center" style="margin-left: 1.45cm;width: 9.1cm;margin-top: 10px">
                                <select formControlName="claimStatus" class="custom-select" id="">
                                    <option value="">Select Claim Status in Last Policy</option>
                                    <option [value]="'yes'">Yes, I had claim in Last Policy</option>
                                    <option [value]="'no'">No, I have not claimed in Last Policy</option>
                                </select>
                            </label>
                        </div>
                        <div class="spacer-b10 center1" style="margin-left: 19cm;"
                            *ngIf="registrationForm.get('claimStatus').value == 'no'">
                            <div class="row">
                                <label class="container2">0% 
                                    <input type="radio" name="last_policy_ncb" value="0"
                                        formControlName="last_policy_ncb">
                                        <span class="checkmark2"> <i class="iconc"></i> </span>
                                </label>
                            </div>
                            <div class="row">
                                <label class="container2">20% 
                                    <input type="radio" name="last_policy_ncb" value="20"
                                        formControlName="last_policy_ncb">
                                        <span class="checkmark2"> <i class="iconc"></i> </span>
                                </label>
                            </div>
                            <div class="row">
                                <label class="container2">25% 
                                    <input type="radio" name="last_policy_ncb" value="25"
                                        formControlName="last_policy_ncb">
                                        <span class="checkmark2"> <i class="iconc"></i> </span>
                                </label>
                            </div>
                            <div class="row">
                                <label class="container2">35% 
                                    <input type="radio" name="last_policy_ncb" value="35"
                                        formControlName="last_policy_ncb">
                                        <span class="checkmark2"> <i class="iconc"></i> </span>
                                </label>
                            </div>
                            <div class="row">
                                <label class="container2">45% 
                                    <input type="radio" name="last_policy_ncb" value="45"
                                        formControlName="last_policy_ncb">
                                        <span class="checkmark2"> <i class="iconc"></i> </span>
                                </label> 
                            </div>
                            <div class="row">
                                <label class="container2">50% 
                                    <input type="radio" name="last_policy_ncb" value="50"
                                        formControlName="last_policy_ncb">
                                        <span class="checkmark2"> <i class="iconc"></i> </span>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                                <label class="container1" style="margin-left: 6cm;">
                                    I have read and agree to the <a href="privacy-policy" target="_blank" class="smart-link"
                                    style="color: #E71D36;"> Privacy Policy</a>
                                    <input type="checkbox" checked="checked">
                                    <span class="checkmark1"></span>
                                </label> 
                        </div>
                        <div class="" style="margin-left: 10cm;">
                            <button class="button btn-primary" style="background-color: #E71D36;">Continue</button>
                        </div>
                    </form>
                </ng-template>
            </li> 
            <li [ngbNavItem]="2" style="width: 50%;">
                <a ngbNavLink style="text-align:center;color: black;">New</a>
                <ng-template ngbNavContent>
                    <form [formGroup]="newForm" (ngSubmit)="onSubmit1()" autocomplete="off">
                        <input type="hidden" name="enquiryType" value="new_enquiry" id="enquiryType">
                        <input type="hidden" name="lead_id" value="lead_id" id="lead_id">
                        <div class="row">
                            <label for="make_model" class="spacer-b10 center1">Make & Model :</label>
                            <label class="field center">
                                <select formControlName="makeModel"
                                    (change)="getFuelType('car_fuel_type', newForm.get('makeModel').value)"
                                    class="custom-select" name="make_model" id="make_model">
                                    <option value="">Select Car Model</option>
                                    <option *ngFor="let model of carModelDetails?.makeModel" [value]="model?.id">
                                        {{model?.car_model_name}}</option>
                                </select>
                            </label>
                        </div>
                        <div class="row">
                            <label for="fuel_type" class="spacer-b10 center1">Fuel Type :</label>
                            <label class="field center" style="margin-left: 3.9cm;width: 9.1cm;">
                                <select formControlName="fuelType"
                                    (change)="getVariantType('car_variant', newForm.get('fuelType').value)"
                                    class="custom-select" name="fuel_type" id="fuel_type">
                                    <option value="">Select Fuel Type</option>
                                    <option *ngFor="let fuel of fuelTypeDetails" [value]="fuel?.id">{{fuel?.fuel_name}}
                                    </option>
                                </select>
                            </label>
                        </div>
                        <div class="row">
                            <label for="variant" class="spacer-b10 center1">Variant:</label>
                            <label class="field center" style="margin-left: 4.5cm;width: 9.1cm;">
                                <select formControlName="variant" class="custom-select" name="variant" id="variant">
                                    <option value="">Select Car Variant</option>
                                    <option *ngFor="let variant of variantTypeDetails" [value]="variant?.id">{{
                                        variant?.variant }}</option>
                                </select>
                            </label>
                        </div>
                        <div class="row">
                            <label for="rto" class="spacer-b10 center1">RTO:</label>
                            <label class="field center" style="margin-left: 4.9cm;width: 9.1cm;">
                                <select formControlName="rto" class="custom-select" name="rto" id="rto">
                                    <option value="">Select RTO of Car Registration</option>
                                    <option *ngFor="let rto of carModelDetails?.rto" [value]="rto?.id">{{
                                        rto.rto_description }}</option>
                                </select>
                            </label>
                        </div>
                        <div class="row">
                            <label for="" class="spacer-b10 center1">Manufacturing Month:</label>
                            <label class="field center" style="margin-left: 2cm;width: 9.1cm;">
                                <select formControlName="manufactMonth" class="custom-select" name="manufacturing_month"
                                    id="manufacturing_month">
                                    <option value="">Select Manufacturing Month</option>
                                    <option *ngFor="let month of M_Month" [value]="month?.id">{{ month.name }}</option>
                                </select>
                            </label>
                        </div>
                        <div class="row">
                            <label for="" class="spacer-b10 center1">Manufacturing Year :</label>
                            <label class="field center" style="margin-left: 2.2cm;width: 9.1cm;">
                                <select formControlName="manufactYear" class="custom-select" name="manufacturing_year"
                                    id="manufacturing_year">
                                    <option value="">Select Manufacturing Year</option>
                                    <option *ngFor="let year of M_Year" [value]="year">{{ year }}</option>
                                </select>
                            </label>
                        </div>
                        <div class="row"> 
                            <div class="input-group">
                                <label for="" class="spacer-b10 center1">Registration Date :</label>
                                <div class="position-relative" style="margin-left: 2.65cm;width: 9.1cm;">
                                    <div class="calendar-icon"><i class="fa fa-calendar"></i></div>
                                    <input class="form-control date-input" (click)="d.toggle()" placeholder="Select Registration Date"
                                        name="dp" formControlName="regtDate" ngbDatepicker #d="ngbDatepicker">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="container1" style="margin-left: 6cm;">
                                I have read and agree to the <a href="privacy-policy" target="_blank" class="smart-link"
                                style="color: #E71D36;"> Privacy Policy</a>
                                <input type="checkbox" checked="checked">
                                <span class="checkmark1"></span>
                              </label>
                    </div>
                    <div class="" style="margin-left: 10cm;">
                        <button class="button btn-primary" style="background-color: #E71D36;">Continue</button>
                    </div>
                    </form>
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
        <pre class="display">{{ active }}</pre>
    </div>
</div>-->