



.container {
    font-family: 'Averin';
  }
  .buttons {
    max-width: 100%;
    overflow-x: hidden;
  }
  
  .divHomebackground{
    background-image: url("/assets/home_images/blue_bg.png");
    height:880px;
    width:100%;
    background-size: 100%;
  }
  
  
  .search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: blue
  }
  
  .pfont{
    font-family: 'Poppins', sans-serif;
  }
  .test {
    width: 350px;
    height: 320px;
    background-color: #999999;
  }
  
  
  .base{
    position: absolute;
  left: 16.74%;
  right: 49.93%;
  top: 17.06%;
  bottom: 82.34%;
  
  background: #EB6D47;
  box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
  }
  
  .title{
    font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.2px;
  
  color: #303253;
  
  }
  .field{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;  
    color: #303253;
    
  }
  .container2 {
    height: auto;
    margin-top: -120px;
    padding-top: 0px;
    padding-bottom:30px;
  }
  .container2 h2 {
    font-family: Poppins;
    color: #303253;
    font-size: 52px;
    line-height: 78px;
    font-weight: 600;
    text-align: center;
  }
  .main2 {
    margin: auto;
    margin-top: 310px;
    height: 600px;
  }
  .main2 p {
    height: 71px;
    margin: auto;
    font-family: Poppins;
    font-size: 24px;
    line-height: 40px;
    font-weight: 400;
    color: #999999;
    width: 700px;
    flex-grow: 0;
  }
  .main2 img {
    position: relative;
    left: 230px;
    top: 40px;
    z-index: -1;
  }
  .help-support {
    margin: auto;
    background-color: #ffffff;
    box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.07);
    width: 700px;
    height: 422px;
    text-align: center;
  }
  .help-support h4 {
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    font-family: Poppins;
    color: #303253;
  }
  .help-support p {
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    color: #999999;
    font-family: Poppins;
    width: 300px;
  }
  .help-support b {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    font-family: Poppins;
    color: #303253;
  }
  
  
  .carPrePolice{
    font-family: Poppins;
font-size: 16px;
line-height: 28px;

color: #303253;

  }
  .haveAnyQue{
    font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 78px;
  
  text-align: center;
  
  color: #303253;
  
  }
  .checkbox {
      width: 20px;
      height: 20px;
      border-radius: 6px;
      margin-left: 75px;
  }
  
  
  
  
  
  .text-center {
      align-items: center;
      color: #E71D36;
      padding-top: 30px;
      font-family:'Averin';
      font-weight:bold;
  }
  .text-center1 {
      text-align: center;
      align-items: center;
      padding-top:20px;
      color:rgb(0, 174, 255);
      font-family:'Averin';
      font-weight:bold;
  }
  .row {
      font-family: 'Averin';
  }
  .spacer-b10 {
      margin-bottom: 10px;
  }
  .field {
      display: block;
      position: relative;
      color: grey;
  }
  .custom-select {
      position: relative;
  }
  .btn-primary {
      background-color: green;
      width: 3cm;
      height: 1.2cm;
      margin-bottom: 20px;
  }
  .calendar-icon {
      position: absolute;
      left: 5%;
      top: 50%;
      transform: translateY(-50%);
  }
  .date-input {
      padding-left: 15%;
  }
  .field-icon {
      position: absolute;
      left: 5%;
      top: 50%;
      transform: translateY(-50%);
      color: grey;
  }
  .container-div {
      // display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 15px;
      color: #fff;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background: #E71D36;
      border-radius: 5px;
      border: 1px solid #E71D36;
    }
    
    /* Hide the browser's default radio button */
    .container-div input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }
    
    /* Create a custom radio button */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      // background-color: #eee;
      background-color: #fff;
      border: 2px solid #E71D36;
      border-radius: 50%;
      margin-top: 8%;
      margin-left: 10%;
    }
    
    /* On mouse-over, add a grey background color */
    .container-div:hover input ~ .checkmark {
      background-color: #fff;
    }
    
    /* When the radio button is checked, add a blue background */
    .container-div input:checked ~ .checkmark {
      background-color: #fff;
    }
    
    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
    
    /* Show the indicator (dot/circle) when checked */
    .container-div input:checked ~ .checkmark:after {
      display: block;
    }
    
    /* Style the indicator (dot/circle) */
    .container-div .checkmark:after {
      top: 5px;
      left: 5px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: #E71D36;
    }
    .display {
      display: none;
  }
  .tabs-data {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #a8d9e6;
    width: 80%;
    margin-left: 3cm;
  }
  .center {
    align-items: center;
    margin-left: 3cm;
  }
  .center1 {
    align-items: center;
    margin-left: 3.2cm;
  }
  .container1 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color:white;
  }
  
  /* On mouse-over, add a grey background color */
  .container1:hover input ~ .checkmark1 {
    background-color: white;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container1 input:checked ~ .checkmark1 {
    background-color: #E71D36;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark1:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container1 input:checked ~ .checkmark1:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container1 .checkmark1:after {
    left: 10px;
    top: 5px;
    width: 5px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  /* The container */
  .container2 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container2 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container2:hover input ~ .checkmark2 {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container2 input:checked ~ .checkmark2 {
    background-color: #E71D36;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark2:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container2 input:checked ~ .checkmark2:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container2 .checkmark2:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }

  // checkbox
  ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #50B83C!important;
  }

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #50B83C;
  }