.required {
  color: red;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items {
  border: 1px solid #ced4da;
  background-color: white;
  padding: .375rem .75rem;
}

::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  padding: 5px 0;

}

::ng-deep .ng-select .ng-select-container {
  padding: .875rem .75rem;
}

.ng-select {
  border: 1px solid #ced4da;
    height: calc(2.5em + .75rem + 2px);
    border-radius: .25rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #999999;
}

::ng-deep .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
  padding: 0 .75rem;
}