<app-header-lite></app-header-lite>
<div class="container-fluid">
  <div class="row">
    <div class="heading">
      <h2>Health Insurance</h2>
    </div>
    <div class="empty"></div>
  </div>
  <div class="container1">
    <div class="main">
      <div class="progress-bar">
        <div class="progress">
        </div>
      </div>
      <h4>Proposer Details</h4>
      <div class="row">
        <div class="col-5">
          <p>First Name<span class="required">*
            </span> :</p>
        </div>
        <div class="col-7">
          <input type="text" placeholder="First Name" id="p_first_name" [(ngModel)]="formData.p_first_name"
            name="p_first_name" (change)="onchangeValidations()">
        </div>
        <div class="col-5">
        </div>
        <div class="col-7">
          <div id="p_first_name_err" style="display:none;margin-top:10px" class="alert alert-danger">
            <div>Please fill out this field.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <p>Middle Name
            :</p>
        </div>
        <div class="col-7">
          <input type="text" placeholder="Middle Name" [(ngModel)]="formData.p_mid_name" name="p_mid_name"
            id="p_mid_name" (change)="onchangeValidations()">
        </div>
        <div class="col-5">
        </div>
        <!-- <div class="col-7">
                    <div id="p_mid_name_err" style="display:none;margin-top:10px" class="alert alert-danger">
                        <div>Please fill out this field.
                        </div>
                    </div>
                </div> -->
      </div>
      <div class="row">
        <div class="col-5">
          <p>Last Name<span class="required">*
            </span> :</p>
        </div>
        <div class="col-7">
          <input type="text" placeholder="Last Name" [(ngModel)]="formData.p_last_name" name="p_last_name"
            id="p_last_name" (change)="onchangeValidations()">
        </div>
        <div class="col-5">
        </div>
        <div class="col-7">
          <div id="p_last_name_err" style="display:none;margin-top:10px" class="alert alert-danger">
            <div>Please fill out this field.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <p>Date of Birth<span class="required">*
            </span> :</p>
        </div>
        <div class="col-7">
          <input type="text" (click)="d.toggle()" placeholder="Select Date of Birth"
            [minDate]="{year: 1980, month: 1, day: 1}" [(ngModel)]="formData.dob" name="dob" id="dob" ngbDatepicker
            #d="ngbDatepicker" (change)="onchangeValidations()">
        </div>
        <div class="col-5">
        </div>
        <div class="col-7">
          <div id="dob_err" style="display:none;margin-top:10px" class="alert alert-danger">
            <div>Please fill out this field.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <p>Gender<span class="required">*
            </span> :</p>
        </div>
        <div class="col-7">
          <mat-radio-group aria-label="Select an option" [(ngModel)]="formData.gender" name="gender"
            (change)="onchangeValidations()">
            <mat-radio-button value="0">Male</mat-radio-button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <mat-radio-button value="1">Female</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="col-5">
        </div>
        <div class="col-7">
          <div id="gender_err" style="display:none;margin-top:10px" class="alert alert-danger">
            <div>Please fill out this field.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <p>Marital Status<span class="required">*
            </span> :</p>
        </div>
        <div class="col-7">
          <select name="" id="marital_status" [(ngModel)]="formData.marital_status" name="marital_status"
            (change)="onchangeValidations()">
            <option value="" disabled>Marital Status</option>
            <option value="Married">Married</option>
            <option value="Single">Single</option>
            <option value="Widowed">Widowed</option>
            <option value="Divorced">Divorced</option>
            <option value="Seperated">Seperated</option>
          </select>
        </div>
        <div class="col-5">
        </div>
        <div class="col-7">
          <div id="marital_status_err" style="display:none;margin-top:10px" class="alert alert-danger">
            <div>Please fill out this field.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <p>GSTIN (Optional) :</p>
        </div>
        <div class="col-7">
          <input type="text" placeholder="GST No." [(ngModel)]="formData.gst_id_number" id="gst_id_number"
            name="gst_id_number" (change)="onchangeValidations()">
        </div>
        <div class="col-5">
        </div>
        <div class="col-7">
          <div id="gst_id_number_err" style="display:none;margin-top:10px" class="alert alert-danger">
            <div>Please fill out this field.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <p>Annual Income<span class="required">*
            </span> :</p>
        </div>
        <div class="col-7">
          <input type="text" (keydown)="checkNumbers($event)" [(ngModel)]="formData.apollo_annual_income"
            name="apollo_annual_income" class="" placeholder="e.g. 500000" (change)="onchangeValidations()">
          <!-- <select (keydown)="checkNumbers($event)" [(ngModel)]="formData.apollo_annual_income"
                    name="apollo_annual_income" (change)="onchangeValidations()">
                        <option value="10000 - 50000">10000 - 50000</option>
                        <option value="50000 - 1.00 Lacs">50000 - 1 Lakh</option>
                        <option value="1.00 Lacs - 10.00 Lacs">1 Lakh - 10 Lakh</option>
                        <option value="10.00 Lacs - 20.00 Lacs">10 Lakh - 20 Lakh</option>
                        <option value="20.00 Lacs - 30.00 Lacs">20 Lakh - 30 Lakh</option>
                        <option value="30.00 Lacs - 50.00 Lacs">30 Lakh - 50 Lakh</option>
                    </select> -->
        </div>
        <div class="col-5">
        </div>
        <div class="col-7">
          <div id="apollo_annual_income_err" style="display:none;margin-top:10px" class="alert alert-danger">
            <div>Please fill out this field.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <p>Aadhaar Card Number<span class="required">*
            </span> :</p>
        </div>
        <div class="col-7">
          <input type="text" placeholder="1234 1234 1234" [(ngModel)]="formData.p_aadhar" name="p_aadhar"
            (change)="onchangeValidations()">
        </div>
        <div class="col-5">
        </div>
        <div class="col-7">
          <div id="p_aadhar_err" style="display:none;margin-top:10px" class="alert alert-danger">
            <div>Please fill out this field.
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="row">
                <div class="col-5">
                    <p>PAN Card No. :<span class="required">*
                        </span> :</p>
                </div>
                <div class="col-7">
                    <input type="text" placeholder="ABCDE1234F" name="">
                </div>
                <div class="col-5">
                </div>
                <div class="col-7">
                    <div id="p_aadhar_err" style="display:none;margin-top:10px" class="alert alert-danger">
                        <div>Please fill out this field.
                        </div>
                    </div>
                </div>
            </div> -->
      <div class="row" *ngIf="companyId == 3">
        <div class="col-5">
          <p>ID Proof Type<span class="required">*
            </span> :</p>
        </div>
        <div class="col-7">
          <select name="" id="" [(ngModel)]="formData.apollo_id_proof_type" name="apollo_id_proof_type"
            (change)="onchangeValidations()">
            <option value="" disabled>ID Proof</option>
            <option value="DriveLicense">Driving License</option>
            <option value="PAN">PAN</option>
            <option value="Passport">Passport</option>
            <option value="VoterId">Voter ID</option>
          </select>
        </div>
        <div class="col-5">
        </div>
        <div class="col-7">
          <div id="apollo_id_proof_type_err" style="display:none;margin-top:10px" class="alert alert-danger">
            <div>Please fill out this field.
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="companyId == 3">
        <div class="col-5">
          <p>ID Proof Number<span class="required">*
            </span> :</p>
        </div>
        <div class="col-7">
          <input type="text" placeholder="ID Number" [(ngModel)]="formData.apollo_id_proof_no" name="apollo_id_proof_no"
            (change)="onchangeValidations()">
        </div>
        <div class="col-5">
        </div>
        <div class="col-7">
          <div id="apollo_id_proof_no_err" style="display:none;margin-top:10px" class="alert alert-danger">
            <div>Please fill out this field.
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="companyId == 3">
        <div class="col-5">
          <p>Profession<span class="required">*
            </span> :</p>
        </div>
        <div class="col-7" style="margin-left: -25px;">
          <!-- <select name="" id="" [(ngModel)]="formData.apollo_profession" name="apollo_profession"
                        (change)="onchangeValidations()">
                        <option value="" disabled>Profession</option>
                        <option *ngFor="let apollo of apollo_profession" [value]="apollo.occupation_name">
                            {{apollo.occupation_name}}
                        </option>
                    </select> -->
          <ng-select name="" id="" [(ngModel)]="formData.apollo_profession" name="apollo_profession"
            (change)="onchangeValidations()">
            <ng-option *ngFor="let apollo of apollo_profession" [value]="apollo.occupation_name">
              {{apollo.occupation_name}}</ng-option>
          </ng-select>
        </div>
        <div class="col-5">
        </div>
        <div class="col-7">
          <div id="apollo_profession_err" style="display:none;margin-top:10px" class="alert alert-danger">
            <div>Please fill out this field.
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="row">
                <div class="col-5">
                    <p>Existing E-Insurance Account No.(Optional) :</p>
                </div>
                <div class="col-7">
                    <input type="text" placeholder="12321321312" [(ngModel)]="formData.eia_no" name="eia_no">
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <p>Does your or any of the person proposed to
                        be insured’s occupation or nature of job
                        involve working in mines, explosive units,
                        marine, electrical, metal, oil/gas or
                        chemical industry; armed forces; handling
                        of heavy machinery or hazardous materials;
                        driving of heavy motor vehicles, working
                        at heights or significant manual labor?<span class="required">*
                        </span></p>
                </div>
                <div class="col-7">
                    <mat-radio-group aria-label="Select an option" [(ngModel)]="formData.apollo_question"
                        name="apollo_question" (change)="onchangeValidations()">
                        <mat-radio-button value="true">Yes</mat-radio-button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-radio-button value="false">No</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="col-5">
                </div>
                <div class="col-7">
                    <div id="apollo_question_err" style="display:none;margin-top:10px" class="alert alert-danger alrt form-control">
                        <div>Please fill out this field.
                        </div>
                    </div>
                </div>
            </div> -->
      <div class="row">
        <div class="col-3">
          <button mat-button style="background-color:#999999;" (click)="redirect()">Back</button>
        </div>
        <div class="col-4"></div>
        <div class="col-3">
          <button mat-button style="background-color:#303253;" (click)="submitform()">Next</button>
        </div>
      </div>
    </div>
    <div class="sidebar">
      <h3>Policy Details</h3>
      <!-- <div class="row">
                <div class="col-6">
                    <p>Proposer Age :</p>
                </div>
                <div class="col-6">
                    <b>{{enquiryDetails?.age}}</b>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p>Proposer Gender :</p>
                </div>
                <div class="col-6">
                    <b>Male ????</b>
                </div>
            </div> -->
      <div class="row">
        <div class="col-6">
          <p>Insured Members :</p>
        </div>
        <div class="col-6">
          <!-- <b>1 Adult,<br>
                        2 Children</b> -->
          <b>{{enquiryDetails?.adults}} Adults,<br>
            {{enquiryDetails?.children}} Children</b>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <p>Eldest Age :</p>
        </div>
        <div class="col-6">
          <!-- <b>40 Years</b> -->
          <b>{{enquiryDetails?.age}} Years</b>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <p>Insurance Cover :</p>
        </div>
        <div class="col-6">
          <!-- <b>1 - 2 Lakhs</b> -->
          <b>{{enquiryDetails?.min_insurance_cover}}-{{enquiryDetails?.max_insurance_cover}} Lakhs</b>
        </div>
      </div>
      <!-- <div class="row">
                <div class="col-6">
                    <p>NCB Discount :</p>
                </div>
                <div class="col-6">
                    <b>25% ????</b>
                </div>
            </div> -->
      <!-- <div class="row">
                <div class="col-6">
                    <p>Order Id :</p>
                </div>
                <div class="col-6">
                    <b>MGB2PGJ1KAB ????</b>
                </div>
            </div> -->
      <div class="row">
        <div class="col-6">
          <p>Policy Term :</p>
        </div>
        <div class="col-6">
          <b>1 Year</b>
        </div>
      </div>
      <!-- <div class="row">
                <div class="col-6">
                    <p>Add-ons</p>
                </div>
                <div class="col-6">
                    <b>NA ????</b>
                </div>
            </div> -->
      <hr>
      <div class="row">
        <div class="col-6">
          <p>GST @ 18%</p>
        </div>
        <div class="col-6">
          <!-- <b>₹ 435</b> -->
          <b>₹ {{+enquiryDetails?.premium - (+enquiryDetails?.premium/+gst) | number: '1.0-0'}}</b>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-6">
          <h6>Final Premium</h6>
        </div>
        <div class="col-6">
          <strong>₹ {{enquiryDetails?.premium}}</strong>
        </div>
      </div>
      <button mat-button style="background-color:#303253;" routerLink="/health">Edit</button>
    </div>
  </div>
</div>
<app-footer></app-footer>
