<div class="container-fluid">
  <div class="row">
    <div class="col-6 rightside">
      <a href="" style="text-decoration: none"><h5>CAPALIN</h5></a>
      <div class="main">
        <div class="row">
          <h4>Welcome back.</h4>
        </div>
        <br />
        <div class="row">
          <p>Email address</p>
        </div>
        <div class="row">
          <input
            type="text"
            placeholder="Enter Email Address"
            (keypress)="smallAlphaOnly($event)"
            maxlength="60"
          />
        </div>
        <br />
        <p>Password</p>
        <div class="row">
          <input
            type="text"
            placeholder="Enter password"
            (paste)="onPaste($event)"
            maxlength="60"
          />
        </div>
        <br />
        <div class="row">
          <div class="col-6">
            <div class="checkbox">
              <label
                ><input type="checkbox" value="" /><b>Keep me sign in</b></label
              >
            </div>
          </div>
          <div class="col-6">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href=""><b>Forgot password?</b></a>
          </div>
        </div>
        <div class="row login">
          <button mat-button>Sign in</button>
        </div>
        <br />
        <div class="row">
          <b>Don’t have an account?</b>&nbsp;&nbsp;&nbsp;
          <a href=""><b style="color: #eb6e47">Sign up now</b></a>
        </div>
        <br /><br />
        <div class="row partner">
          <button mat-button>Be a Partner</button>
        </div>
      </div>
    </div>
    <div class="col-6 leftside">
      <img src="assets/home_images/other/quote-left.png" alt="" />
      <div class="quote">
        <h3>This platform is one of the</h3>
        <h3>best companies I have dealt</h3>
        <h3>with in India. They’re always</h3>
        <h3>happy to help, and I wouldn’t</h3>
        <h3>hesitate to recommend them.</h3>
        <b>Daniel Anderson</b>&nbsp;&nbsp;&nbsp;
        <svg
          width="20"
          height="21"
          viewBox="0 0 20 21"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            opacity="0.15"
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M10 20.3008C15.5228 20.3008 
                    20 15.8236 20 10.3008C20 4.77793 15.5228 0.300781 10 0.300781C4.47715 0.300781 0 4.77793 0 
                    10.3008C0 15.8236 4.47715 20.3008 10 20.3008Z"
            fill="#33B58A"
          />
          <path
            d="M8.66534 13.4876L5.94725 10.7858C5.87129 10.7098 5.83331 10.6122 5.83331 
                    10.4928C5.83331 10.3735 5.87129 10.2758 5.94725 10.1999L6.54946 9.61393C6.62541 9.52712 
                    6.72036 9.48372 6.83429 9.48372C6.94822 9.48372 7.04859 9.52712 7.13539 9.61393L8.95831 
                    11.4368L12.8645 7.5306C12.9514 7.44379 13.0517 7.40039 13.1657 7.40039C13.2796 7.40039 
                    13.3745 7.44379 13.4505 7.5306L14.0527 8.11653C14.1286 8.19249 14.1666 8.29015 14.1666 
                    8.4095C14.1666 8.52886 14.1286 8.62652 14.0527 8.70247L9.25127 13.4876C9.17532 13.5744 
                    9.07766 13.6178 8.95831 13.6178C8.83895 13.6178 8.74129 13.5744 8.66534 13.4876Z"
            fill="#33B58A"
          />
        </svg>
        <span> Verified customer</span>
      </div>
      <img class="shape" src="/assets/home_images/other/Shape3.png" alt="" />
    </div>
  </div>
</div>
