.container-fluid
{
    height: 100%;
    overflow: hidden;
}
.rightside h5
{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1px;
    color: #303253;
}
.rightside .main
{
    width: 360px;
    height: 604px;
    margin: 0 auto;
    margin-top: 130px;
}
.rightside .main h4
{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.2px;
    color: #303253;
}
.main .row
{
    margin: 0px;
    padding: 0px;
}
.main p
{
    margin: 0px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #303253;
}
.main input
{   
    width: 360px;
    height: 56px;
    background: #FFFFFF;
    border: 1px solid #C3CAD9;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #303253;
    margin-top: 5px;
}
.checkbox input
{
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
.checkbox b
{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #303253;
}
.main a
{
    text-decoration: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #303253;
    padding-top: 10px;
}
.main .login button
{
    width: 360px;
    height: 56px;
    background: #EB6E47;
    border-radius: 8px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}
.main .partner button
{
    width: 360px;
    height: 56px;
    background: #FFFFFF;
    border: 2px solid #EB6E47;
    border-radius: 8px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #EB6E47;
}
.main b
{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #303253;
}
.main a
{
    padding-top: 0px;
}
.leftside
{
    background-color: #303253;
    height: 100vh;
}
.leftside img
{
    width: 46px;
    height: 46px;
    position: relative;
    top: 200px;
    left: 100px;
}
.leftside .shape
{
    width: 46px;
    height: 46px;
    position: relative;
    top: 50px;
    left: 50px;
}
.leftside .quote
{
    width: 450px;
    height: 260px;
    margin-left: 100px;
    margin-top: 250px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 52px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.quote b
{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #ECDCC4;
}
.quote span
{
    font-family: Poppins;
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #33B58A;
}
@media only screen and (max-width: 1300px) {
    .rightside .main
    {
        width: 360px;
        height: 604px;
        margin-left: 19%;
        margin-top: 130px;
    }
}