<div class="container">
    <h1 class="heading">CUSTOMER REGISTRATION</h1>
    <div class="">
        <h6 class="centerdiv bold">Join our Point of Sale Person (POSP) program and become Digital Partner</h6>
        <h6 class="centerdiv bold">You will able to sell various kind of Insurance Policies from All Insurers</h6>
    </div>
</div>
<div class="container wrapper-div">
    <div class="row">
    <div class="col-6 top-spacer">
        <label for="">First Name :</label>
        <label class="field">
            <input type="text" name="first_name" id="fname" class="form-control date-input"
                placeholder="First Name">
            <label for="proposer_fname" class="field-icon"><i class="fa fa-user"></i></label>
        </label>
    </div>
    <div class="col-6 top-spacer">
        <label for="">Last Name :</label>
        <label class="field">
            <input type="text" name="last_name" id="lname" class="form-control date-input"
                placeholder="Last Name">
            <label for="proposer_lname" class="field-icon"><i class="fa fa-user"></i></label>
        </label>
    </div></div>
    <div class="row">
        <div class="col-6">
            <label for="email" class="">Email :</label>
            <label class="field">
                <input type="email" name="email" id="email" class="form-control date-input"
                    placeholder="eg. abc@gmail.com">
                <label for="email" class="field-icon"><i class="fa fa-envelope"></i></label>
            </label>
        </div>
        <div class="col-6">
            <label for="mobile" class="">Mobile : </label>
            <label class="field">
                <input type="text" name="mobile" id="mobile" class="form-control date-input"
                    placeholder="Enter mobile no." maxlength="10" minlength="10">
                <label for="mobile" class="field-icon"><i class="fa fa-mobile"></i></label>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <label for="mobile" class="">Create Password for your account : </label>
            <label class="field">
                <input type="text" name="password" id="password" class="form-control date-input"
                    placeholder="Enter password" maxlength="10" minlength="10">
                <label for="password" class="field-icon"><i class="fa fa-lock"></i></label>
            </label>
        </div>
        <div class="col-6">
            <label for="mobile" class="">Re-enter Password: </label>
            <label class="field">
                <input type="text" name="password" id="password" class="form-control date-input"
                    placeholder="Enter password" maxlength="10" minlength="10">
                <label for="password" class="field-icon"><i class="fa fa-lock"></i></label>
            </label>
        </div>
    </div>
    <div class="row">
        <button type="submit" class="button btn-primary top-spacer bot-spacer"><a href="customer/verify"
            style="color:whitesmoke">Submit</a></button>
    </div>
</div>