<app-header-lite></app-header-lite>
<div style="
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    color: #303253;
    margin: 15px 70px;
  ">
  Car Insurance
</div>
<!--first row end-->
<div class="row">
  <div style="margin: 0 80px; display: inline-flex; width: 100%">
    <div style="
        background: #ffffff;
        width: 70%;
        height: fit-content;
        box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
        border-radius: 12px;
      ">
      <div class="container form-group">
        <div class="row">
          <div class="" style="
              height: 15px;
              width: 40%;
              float: left;
              background-color: #eb6d47;
              box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
              border-radius: 12px 0px 0px 0px;
            "></div>
          <div class="" style="
              height: 15px;
              width: 60%;
              float: left;
              margin-left: 0px;
              background-color: #dddddd;
              box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
              border-radius: 0px 12px 0px 0px;
            "></div>
        </div>
        <br />
        <form (ngSubmit)="onSubmit()" autocomplete="off" style="padding: 40px">
          <!--2nd row start-->
          <!-- Personal Details Start-->
          <div class="row">
            <div class="col-md-12" style="
                text-align: center;
                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 32px;
                line-height: 48px;
                text-align: center;
                letter-spacing: 0.2px;
                color: #303253;
                margin-top: -40px;
              ">
              Personal Details
            </div>
          </div>
          <div class="row">
            <br />
          </div>
          <!-- second row start -->
          <div class="row">
            <div class="col-md-6" style="
                font-family: Poppins;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                /* identical to box height */

                color: #303253;
              ">
              <label id="example-radio-group-label">Gender<span class="required">* </span> :</label>
            </div>
            <div class="col-md-6">
              <mat-radio-group aria-label="Select an option" [(ngModel)]="personalForm.gender" name="gender">
                <div class="row" style="
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 21px;
                    /* identical to box height */

                    color: #303253;
                  ">
                  <div class="col-md-6">
                    <mat-radio-button value="Male">Male</mat-radio-button>
                  </div>
                  <div class="col-md-6">
                    <mat-radio-button value="Female">Female</mat-radio-button>
                  </div>
                </div>
              </mat-radio-group>
              <div style="display: none" id="gender_err" class="alert alert-danger">
                <div>Please Select Gender.</div>
              </div>
            </div>
          </div>
          <div class="row">
            <br />
          </div>
          <!-- second row end -->

          <!-- 3rd row start -->
          <div class="row">
            <div class="col-md-6" style="
                font-family: Poppins;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                /* identical to box height */

                color: #303253;
              ">
              <label id="example-radio-group-label">Marital status<span class="required">* </span> :</label>
            </div>
            <div class="col-md-6">
              <mat-radio-group aria-label="Select an option" [(ngModel)]="personalForm.marital_status"
                name="marital_status">
                <div class="row" style="
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 21px;
                    /* identical to box height */

                    color: #303253;
                  ">
                  <div class="col-md-6">
                    <mat-radio-button value="Single">Single</mat-radio-button>
                  </div>
                  <div class="col-md-6">
                    <mat-radio-button value="Married">Married</mat-radio-button>
                  </div>
                </div>
              </mat-radio-group>
              <div style="display: none" id="marital_status_err" class="alert alert-danger">
                <div>Please Select Marital Status.</div>
              </div>
            </div>
          </div>
          <div class="row">
            <br />
          </div>

          <!-- 3rd row end -->
          <div class="row" style="margin-top: 20px">
            <div class="col-md-6 field" style="
                font-family: Poppins;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                /* identical to box height */
                color: #303253;
                margin-top: 15px;
              ">
              <label for="Date of Birth">Date of Birth<span class="required">* </span> :</label>
            </div>

            <div class="col-md-6 field">
              <div class="input-group input-group-lg">
                <input type="text" class="form-control" style="
                    border-radius: 10px;
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    height: 56px;

                    /* identical to box height */
                    color: #999999;
                  " placeholder="Please Select Date Of Birth" autocomplete="off" [(ngModel)]="personalForm.dob"
                  name="dob" [minDate]="{ year: 1980, month: 1, day: 1 }" ngbDatepicker #d="ngbDatepicker"
                  (click)="d.toggle()" readonly />
              </div>
              <div style="display: none" id="dob_err" class="alert alert-danger">
                <div>Please Select Date Of Birth.</div>
              </div>
            </div>
          </div>
          <!-- Personal Details End -->

          <!-- Nominee Details Start-->
          <div class="row">
            <div class="col-md-12" style="
                text-align: center;
                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 32px;
                line-height: 48px;
                text-align: center;
                letter-spacing: 0.2px;
                color: #303253;
                margin-top: 30px;
              ">
              Nominee Details
            </div>
          </div>
          <div class="row">
            <br />
          </div>
          <!-- second row start -->
          <div class="row">
            <div class="col-md-6" style="
                font-family: Poppins;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                /* identical to box height */

                color: #303253;
              ">
              <label for="nominee_name">Nominee Name<span class="required">* </span> :</label>
            </div>
            <div class="col-md-6">
              <div class="input-group input-group-lg">
                <input type="text" class="form-control" style="
                    border-radius: 10px;
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    height: 56px;

                    /* identical to box height */
                    color: #999999;
                  " placeholder="Nominee Name " autocomplete="off" [(ngModel)]="personalForm.nominee_name"
                  name="nominee_name" id="nominee_name" />
              </div>
              <div style="display: none; margin-top: 10px" id="nominee_name_err" class="alert alert-danger">
                <div>Please Enter Nominee Name.</div>
              </div>
            </div>
          </div>
          <div class="row">
            <br />
          </div>
          <!-- second row end -->

          <!-- 3rd row end -->
          <div class="row" style="margin-top: 20px">
            <div class="col-md-6 field" style="
                font-family: Poppins;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                /* identical to box height */
                color: #303253;
                margin-top: 15px;
              ">
              <label for="nominee_dob">Date of Birth<span class="required">* </span> :</label>
            </div>

            <div class="col-md-6 field">
              <div class="input-group input-group-lg">
                <input type="text" class="form-control" style="
                    border-radius: 10px;
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    height: 56px;
                    /* identical to box height */
                    color: #999999;
                  " placeholder="Please Select Date Of Birth" autocomplete="off" [(ngModel)]="personalForm.nominee_dob"
                  name="nominee_dob" [minDate]="{ year: 1980, month: 1, day: 1 }" ngbDatepicker #d="ngbDatepicker"
                  (click)="d.toggle()" readonly />
              </div>
              <div style="display: none" id="nominee_dob_err" class="alert alert-danger">
                <div>Please Select Date Of Birth.</div>
              </div>
            </div>
          </div>
          <div class="row">
            <br />
          </div>

          <!-- 3rd row start -->
          <div class="row">
            <div class="col-md-6" style="
                font-family: Poppins;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                /* identical to box height */

                color: #303253;
              ">
              <label id="nominee_relationship">Relationship <span class="required">* </span> :</label>
            </div>
            <div class="col-md-6">
              <div class="input-group input-group-lg">
                <select class="form-control" style="
                    border-radius: 10px;
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    height: 56px;

                    /* identical to box height */
                    color: #999999;
                  " autocomplete="off" [(ngModel)]="personalForm.nominee_relationship" name="nominee_relationship"
                  id="nominee_relationship">
                  <option value="" disabled>Select Relationship</option>
                  <option value="Spouse">Spouse</option>
                  <option value="Father">Father</option>
                  <option value="Mother">Mother</option>
                  <option value="Son">Son</option>
                  <option value="Daughter">Daughter</option>
                  <option value="Brother">Brother</option>
                  <option value="Sister">Sister</option>
                  <option value="Other">Other</option>
                </select>
              </div>
              <div style="display: none" id="marital_status_err" class="alert alert-danger">
                <div>Please Select Marital Status.</div>
              </div>
            </div>
          </div>
          <div class="row">
            <br />
            <br />
          </div>
          <!-- Nominee Details End -->

          <div class="row">
            <div class="" style="width: 10%; float: left"></div>
            <div class="" style="width: 30%; float: left">
              <button mat-button color="" style="
                  background: #999999;
                  border-radius: 10px;
                  font-style: normal;
                  font-weight: 600;
                  font-size: 18px;
                  line-height: 40px;
                  width: 100%;
                  align-items: center;
                  height: 60px;
                  margin-right: 5px;
                  color: #ffffff;
                " (click)="goback()">
                Back
              </button>
            </div>
            <div class="" style="width: 20%; float: left"></div>
            <div class="" style="width: 30%; float: left">
              <button mat-button color="" style="
                  background: #303253;
                  border-radius: 10px;
                  font-style: normal;
                  font-weight: 600;
                  font-size: 18px;
                  line-height: 40px;
                  width: 100%;
                  align-items: center;
                  height: 60px;
                  margin-right: 5px;
                  color: #ffffff;
                " type="submit">
                Next
              </button>
            </div>
            <!-- routerLink="/car/CarDetails" -->
            <div class="" style="width: 10%; float: left"></div>
          </div>
        </form>
      </div>
    </div>

    <!--new section-->
    <div style="width: 7%"></div>
    <div>
      <div class="row">
        <div style="
            background: #ffffff;
            box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
            border-radius: 12px;
          ">
          <div class="row">
            <div class="" style="
                height: 15px;
                width: 100%;
                margin-right: 15px;
                margin-left: 15px;
                background-color: #dddddd;
                box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
                border-radius: 12px 12px 0px 0px;
              "></div>
          </div>

          <div class="container form-group">
            <form (ngSubmit)="onSubmit()" autocomplete="off" style="padding: 20px">
              <div class="row">
                <div class="col-md-12" style="
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 32px;
                    margin-top: 5px;
                    color: #303253;
                  ">
                  Car Details
                </div>
              </div>
              <div>
                <table style="width: 100%">
                  <tr class="row" style="margin-top: 20px">
                    <td class="col-md-8 field" style="
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                        color: #303253;
                      ">
                      <label for="Bike Manufacturer  ">Car Manufacturer :</label>
                    </td>
                    <td class="col-md-4 field" style="
                        font-family: Poppins;
                        padding-left: 10px;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        color: #303253;
                      ">
                      <label for="Honda  ">{{ carData?.car_model_name }}</label>
                    </td>
                  </tr>
                  <!--2nd row start-->
                  <tr class="row" style="margin-top: 20px">
                    <td class="col-md-8 field" style="
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                        color: #303253;
                      ">
                      <label for="Variant & Model  ">Variant :</label>
                    </td>
                    <td class="col-md-4 field" style="
                        font-family: Poppins;
                        padding-left: 10px;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        color: #303253;
                      ">
                      <label for="Unicorn,Self Start Disc  ">{{
                        carData?.variant
                      }}</label>
                    </td>
                  </tr>

                  <!--2nd row end-->
                  <!--3rd row start-->
                  <tr class="row" style="margin-top: 20px">
                    <td class="col-md-8 field" style="
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                        color: #303253;
                      ">
                      <label for="Manufacturing Year ">Manufacturing Year :
                      </label>
                    </td>
                    <td class="col-md-4 field" style="
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        color: #303253;
                      ">
                      <label for="2020 ">{{
                        carData?.manufacturing_date.split("-")[0]
                      }}</label>
                    </td>
                  </tr>
                  <!--3rd row end-->
                  <!--4th-->
                  <tr class="row" style="margin-top: 20px">
                    <td class="col-md-8 field" style="
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                        color: #303253;
                      ">
                      <label for="Registration Date  ">Registration Date :
                      </label>
                    </td>
                    <td class="col-md-4 field" style="
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        color: #303253;
                      ">
                      <label for="02 Jan 2020 ">{{
                        regDate | date: "dd-MMM-yyyy"
                      }}</label>
                    </td>
                  </tr>
                  <!--4th-->
                  <!--5th-->
                  <tr class="row" style="margin-top: 10px" *ngIf="carData?.policy_type != 'new_enquiry'">
                    <td class="col-md-8 field" style="
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                        color: #303253;
                      ">
                      <label for=" NCB on previous policy  ">
                        NCB on previous policy :
                      </label>
                    </td>
                    <td class="col-md-4 field" style="
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        color: #303253;
                      ">
                      <label for="20%">{{ carData?.ncb }}%</label>
                    </td>
                  </tr>

                  <!--5th-->
                  <!--6th-->
                  <tr class="row" style="margin-top: 10px" *ngIf="carData?.policy_type != 'new_enquiry'">
                    <td class="col-md-8 field" style="
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                        color: #303253;
                      ">
                      <label for="  Expiry Date :  "> Expiry Date : </label>
                    </td>
                    <td class="col-md-4 field" style="
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        color: #303253;
                      ">
                      <label for="04 Jan 2021">{{
                        expdate | date: "dd-MMM-yyyy"
                      }}</label>
                    </td>
                  </tr>

                  <!--6th-->
                  <!--7th-->
                  <tr class="row" style="margin-top: 10px">
                    <td class="col-md-8 field" style="
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                        color: #303253;
                      ">
                      <label for="   Insurance Company ">
                        Insurance Company :
                      </label>
                    </td>
                    <td class="col-md-4 field" style="
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        color: #303253;
                      ">
                      <label for=" HDFC Ergo">{{
                        carData?.company_name
                      }}</label>
                    </td>
                  </tr>

                  <!--7th-->
                  <!--8th-->
                  <tr class="row" style="margin-top: 10px">
                    <td class="col-md-8 field" style="
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                        color: #303253;
                      ">
                      <label for=" Cover Amount (IDV) ">
                        Cover Amount (IDV) :
                      </label>
                    </td>
                    <td class="col-md-4 field" style="
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        color: #303253;
                      ">
                      <label for=" ₹16,435">{{ carData?.idv }}</label>
                    </td>
                  </tr>
                  <!--8th-->
                  <!--9th row  start-->
                  <!-- <tr class="row" style="margin-top:10px;">
                                    <td class="col-md-8 field" style="  font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #303253;">

                                        <label for=" NCB Discount "> NCB Discount :
                                        </label>
                                    </td>
                                    <td class="col-md-4 field" style=" font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #303253;">

                                        <label for=" 25%">{{carData?.ncb}}%</label>
                                    </td>

                                </tr> -->
                  <!--9th row end-->
                  <!--10th row  start-->
                  <!-- <tr class="row" style="margin-top:10px;">
                                    <td class="col-md-8 field" style="  font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #303253;">

                                        <label for=" Order Id "> Order Id :
                                        </label>
                                    </td>
                                    <td class="col-md-4 field" style=" font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #303253;">

                                        <label for=" MGB2PGJ1KAB"></label>
                                    </td>

                                </tr> -->
                  <!--10th row end-->
                  <!--11th row  start-->
                  <tr class="row" style="margin-top: 10px">
                    <td class="col-md-8 field" style="
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                        color: #303253;
                      ">
                      <label for="Policy Term "> Policy Term : </label>
                    </td>
                    <td class="col-md-4 field" style="
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        color: #303253;
                      ">
                      <label for=" 1 Year">1 Year</label>
                    </td>
                  </tr>
                  <!--11th row end-->
                  <!--12th row  start-->
                  <tr class="row" style="margin-top: 10px">
                    <td class="col-md-8 field" style="
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                        color: #303253;
                      ">
                      <label for="Add-ons "> Add-ons: </label>
                    </td>
                    <td class="col-md-4 field" style="
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        color: #303253;
                      ">
                      <label for=" NA">{{
                          carData?.zero_depreciation == "true"
                            ? "Zero Dep,"
                            : ""
                        }}{{
                          carData?.rode_side_assistance == "true"
                            ? "Roadside Assistance,"
                            : ""
                        }}{{
                          carData?.invoice_cover == "true"
                            ? "Invoice Cover,"
                            : ""
                        }}{{
                          carData?.engine_protector == "true"
                            ? "Engine Cover,"
                            : ""
                        }}{{
                          carData?.ncb_protection == "true"
                            ? "NCB Protect,"
                            : ""
                        }}{{ carData?.consumable == "true" ? "Consumable," : ""
                        }}{{
                          carData?.key_protector == "true"
                            ? "Key Protect,"
                            : ""
                        }}{{
                          carData?.paid_driver_legal_liability_cover == "true"
                            ? "Paid Driver Legability,"
                            : ""
                        }}{{
                          carData?.driver_cover == "true"
                            ? "Passenger PA,"
                            : ""
                        }}{{
                          carData?.pa_to_owner_driver == "true"
                            ? "PA Owner Driver,"
                            : ""
                        }}</label>
                    </td>
                  </tr>
                  <div class="row">
                    <div class="col-md-1" style="margin-bottom: 15px"></div>
                    <div class="col-md-9" style="border-bottom: 1px solid #dddddd"></div>
                    <div class="col-md-2"></div>
                  </div>
                  <!--12th row end-->
                  <!--12th row  start-->

                  <tr class="row" style="padding-top: 20px">
                    <td class="col-md-8 field" style="
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                        color: #303253;
                      ">
                      <label for="GST @ 18%">GST @ 18% </label>
                    </td>
                    <td class="col-md-4 field" style="
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        color: #303253;
                      ">
                      <label for="₹435">{{
                        +carData?.final_premium * +carData?.gst -
                          +carData?.final_premium | number: "1.0-0"
                      }}</label>
                    </td>
                  </tr>

                  <!--12th row end-->
                  <div class="row" style="margin-top: 10px">
                    <div class="col-md-1"></div>
                    <div class="col-md-9" style="border-bottom: 1px solid #dddddd"></div>
                    <div class="col-md-2"></div>
                  </div>
                  <!--13th row start-->
                  <tr class="row" style="margin-top: 10px">
                    <td class="col-md-8 field" style="
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 20px;
                        line-height: 30px;
                        color: #303253;
                      ">
                      <label for="Final Premium">Final Premium </label>
                    </td>
                    <td class="col-md-4 field" style="
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 30px;
                        color: #303253;
                      ">
                      <label for="₹1,435">{{
                        carData?.final_premium | number: "1.0-0"
                      }}</label>
                    </td>
                  </tr>
                  <div class="row">
                    <br />
                  </div>
                  <!--13th row end-->
                  <!--14th start start-->
                  <div class="row">
                    <div class="" style="width: 10%; float: left"></div>

                    <div class="" style="width: 80%; float: left">
                      <button class="btn" routerLink="/bike" style="
                          background: #303253;
                          color: #ffffff;
                          border-radius: 8px;
                          width: 100%;
                          font-family: Poppins;
                        ">
                        Edit
                      </button>
                    </div>
                  </div>
                  <!--14th row end-->
                </table>
              </div>
            </form>
          </div>
        </div>
        <div class="" style="width: 15%; float: left"></div>
      </div>
    </div>
  </div>
  <!--new section end-->
</div>
<app-footer></app-footer>
