.container {
    font-family: 'Averin';
}
.buttons {
    max-width: 100%;
    overflow-x: hidden;
}

.divHomebackground{
    background-image: url("/assets/home_images/blue_bg.png");
    height:880px;
    width: 100%;
}
.homePageTitle{
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 72px;
line-height: 80px;
/* or 111% */

letter-spacing: -3px;

color: #FFFFFF;
}
.homebutton{
    border-radius: 100%;


}
.boxBorderd1
{

    background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 16px;
}
.divServices{
    background-color:#DDDDDD;
}
.h6{
    letter-spacing: 3px;
}
.h1{
    letter-spacing: -2px;
    font-weight: semibold;
}
.feature{
    font-family: Poppins;
    font-style: normal;
    font-weight: Bold 700  ;
    font-size: 56px;
    line-height: 64px;
    /* identical to box height, or 114% */
    
    text-align: center;
    letter-spacing: -2px;
    }
    .boxBorderd
    {
        width: 470px;
        height: 170px;
        background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    }
    .Bitmap {
        width: 570px;
        height: 272px;
        object-fit: contain;
        text-align: center;
      }
      
.Rectangle{
      width: 570px;
  height: 144px;
  margin: 272px 0 0;
  padding: 41px 52px 36px 48px;
  background-color: #ffffff;
}