<div class="">
  <div class="divHomebackground">
      

        <div class="row">
        
              
              <br/>
              <br/>
              <br/>
              <br/>
        </div>

    <div class="row">
            <div class="col-md-2">
                <div style="color:white"> 
                </div> 
            </div>
            
            <div class="col-md-4 ">
                <br/>
                <br/>
                <br/>
                <br/>
                  <div class="row  " style="
                  font-family: Poppins;
                  font-style: normal;
                  font-weight: 600;
                  font-size: 72px;
                  line-height: 80px; 
                  letter-spacing: -3px; 
                  color: #FFFFFF;
                  "> 
                          Save Time & Money with Insurance
                  </div>
                <br/>
                  <div class="row" style="color:white; font-size:20px;font-family: poppins;line-height: 32px;"> 
                    No one know retail better than us
                </div>
                 <br/>  
                  <div class="row homebutton">
                    <a class="btn-btn-lg"   style="background-color: #FA824C; color:white;width: 140px;text-align: center;font-size: 12px;
                    padding:12px;border-radius: 10px;font-weight: 700;"   routerLink="">
                      GET A QUOTE</a> &nbsp; 
                  </div> 
           </div> 
           
       
      <div class="col-md-6">
        <table>
          <tr>
            <td>
              <img src="/assets/home_images/doctor_nurse.png" style="height : 75% ;  width :90%" >
            </td>
          </tr>
        </table> 
      </div> 

      


    </div>  
  </div> 
 <br/>
 <br/>
 <div class="row" style="font-family: Poppins;color: #303253;" > 
       
        <div class="col-md-12 h6" style="text-align:center; font-weight: bold;font-size: 18px;line-height: 32px;"> 
          LET'S FIND YOU THE BEST INSURANCE 
        </div>
        
</div>
<br/>

<div class="row"   > 
    <div class="col-md-2"> 
    </div>

    <div class="col-md-2" style="font-size: 24px;font-weight: bold;font-family: Poppins;color: #303253;text-align:center;font-weight: 600px;">
      <a href="/bike">
      <img src="/assets/home_images/Bike.png"  ></a>
      <br/>
      Bike
    </div>

    <div class="col-md-1"> 
    </div> 
     
    <div class="col-md-2" style="font-size: 24px;font-weight: bold;font-family: Poppins;color: #303253;text-align:center;font-weight: 600px;">
      <a href="/car">
      <img src="/assets/home_images/Car.png"  ></a>
      <br/>
      Car
    </div>

    <div class="col-md-1"> 
    </div>
 
    <div class="col-md-2" style="font-size: 24px;font-weight: bold;font-family: Poppins;color: #303253;text-align:center;font-weight: 600px;">
      <a href="/health" >
      <img src="/assets/home_images/Heart.png" ></a>
      <br/>
      Health
    </div> 

    <div class="col-md-2"> 
    </div>

  </div>
 
<div>
  <br/>
  <br/>
  <br/>
  <br/>
  
</div>

<!-- About start-->
<div class="row"   >  
      <div class="col-md-1">  
      </div>

      <div class="col-md-5" > 
          <tr>
            <td>
              <img src="/assets/home_images/insurance_1.png" height="650px" width="591px ">
            </td>
          </tr>
      </div>

      <div class="col-md-1">  
      </div>

      <div class="col-md-4"> 
            <div class="row"  >
                <br/>
                <br/>
              
            </div>
              <div class="row " style="font-family: Poppins;
              font-style: normal;
              font-weight: 600;
              font-size: 18px;
              line-height: 32px;
              /* identical to box height, or 178% */
              
              letter-spacing: 3px;
              text-transform: uppercase;
              
              color: #EB6E47;">
                <div class="col-md-12">    
                    ABOUT US
                </div>
              </div>


              <div class="row"  > 
            </div>


            <div class="row">
                  <div class="col-md-11" style="font-family: Poppins;
                                                font-style: normal;
                                                font-weight: 600;
                                                font-size: 56px;
                                                line-height: 64px;
                                                /* or 114% */
                                                
                                                letter-spacing: -2px;
                                                
                                                color: #303253;">
                                     Insurance Solution For You
                   </div>
                   <div class="col-md-1">

                   </div>
              </div>

              <div class="row " style="font-family: Poppins;
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 32px;
              /* or 160% */
              
              
              color: #303253;
              ">
                  <div class="col-md-11">    
                    Buying insurance from a safe, trustworthy and stress-free partner. We also provide a promise to ensure complete satisfaction and make it easy for you to understand the complex insurance terms. Get instant quotes and stress-free claims from all the top insurers suited just for you.
                  </div>
                  <div class=" col-md-1"></div>
              </div>
              <br/>
              <br/>
    
              <div class="row"  > 
                <button  mat-stroked-button   style=" background-color: #FA824C;  color:white;font-size: 72px;"   routerLink=""> 3
                <span style=" background-color: #FA824C;  color:white;font-size: 22px;text-align: unset;margin-top: -25px3;">+ </span>
                </button>  
                                 
                <div class="col-md-5"  style="font-size:24px;font-weight: bold;">
                          Years On The Market
                      </div>

                      <div class="col-md-7">
                      </div>
              </div> 
      </div>

      <div class="col-md-1">  
      </div>
      
  </div>
</div>
 
 
<!-- About End-->

      <div>
      <br/>
      <br/>
      <br/>

      </div>
<!-- Features Start-->

<div class="row">
        <div class="col-md-4">
        </div>

        <div class="col-md-4 h6" style="font-weight: bold;color:#FA824C;padding-left: -25px;
        font-family: Poppins; font-size: 18px; text-align: center;">
        FEATURES
        </div>

        <div class="col-md-4">
        </div>
</div>

<div class="row">
       
        <div class="col-sm-12" style="font-size: 56px; font-weight: bold;padding-left:25px;text-align: center;" >
        Why Choose Us 
        </div>
      
</div>

        <div class="row">
        <br/>
        <br/>

        </div>

<div class="row">
  <div class="col-md-2"></div>
<div class="col-md-2 boxBorderd1"  >
        <div class="row" style="padding-left: 15px;">
          <tr>
            <td>
              <img src="/assets/home_images/support.png" width=135 height=135> 
            </td>
          </tr>
        </div> 
       <br/>
        <div class="row" style="font-weight: bold;padding-left: 15px;font-family:Secular one;font-size: 24px;">
          24/7 Support
        </div>
        <br/>
        <div class="row" style="padding-left: 15px;font-family: Assistant;font-size: 16px;line-height: 32px;color: #303253">
          For all your complex to simple questions, we have got the answers.
        </div>
</div>

      <div class="col-md-1"> 
      </div>

<div class="col-md-2 boxBorderd1">
  <div class="row" style="padding-left: 15px;">
    <tr>
      <td>
        <img src="/assets/home_images/planning.png" width=135 height=135> 
      </td>
    </tr>
  </div> 
  <br/>
  <div class="row" style="font-weight: bold;padding-left: 15px;font-family:Secular one;font-size: 24px;">
   Planning
  </div>
  <br/>
  <div class="row" style="padding-left: 15px;font-family: Assistant;font-size: 16px;line-height: 32px;color: #303253">
    With Customer First approach, we believe in giving best advice to you.
  </div>
   
     
</div>
 
<div class="col-md-1">
  
</div>
<div class="col-md-2 boxBorderd1">
  <div class="row" style="padding-left: 15px;">
    <tr>
      <td>
        <img src="/assets/home_images/consulting.png" width=135 height=135> 
      </td>
    </tr>
  </div> 
  <br/>
  <div class="row" style="font-weight: bold;padding-left: 15px;font-family:Secular one;font-size: 24px;">
  Consulting
  </div>
  <br/>
  <div class="row" style="padding-left: 15px;font-family: Assistant;font-size: 16px;line-height: 32px;color: #303253;">
    One stop solution to cater to your needs and ensure you have all that you need.
  </div>

  
</div>
<div class="col-md-2">

</div>

</div>

<!-- Features End-->
<div>
<br/>
<br/>
<br/>
<br/>
<br/>

</div>
<!--Our services-->

<div class="row divServices">
  <br/>
<br/>

</div>
      <div class="row divServices">
        <div class="col-md-2">

        </div>
      
          <div class="col-md-10 h6" style="color:#FA824C ; font-weight: 600;">
            OUR SERVICES
          </div>
 
      </div>

      <div class="row divServices">
        <div class="col-md-2">

        </div>
        <div class="col-md-4 h1" >
          Insurance Plans For 
          Different Risk’s
        </div>
        <div class="col-md-1">

        </div>
      
      
        <div class="col-md-3" style="
                                    font-family: Poppins;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 12px;
                                    line-height: 32px;
                                    /* or 200% */
                                    color: #303253; 
                                    margin-left: -25px;
        ">
          Insurance can seem complex and confusing. We will do all we can to simplify it for you. We work with the best insurance partners to get you the lowest and best quotes.
        </div>
        <div class="col-md-2">

        </div>
     
      </div>



    
  

  <div class="row divServices">
    <div class="col-md-2">
    </div>
    <div class="col-md-4">
      <div class="card Bitmap" style="border-radius: 25px;">
        <img class="card-img-top " src="/assets/home_images/bike_insurance.png"  height= 272    >
        <div class="card-body">

          <div class="row" style=" font-family: Poppins;font-weight: 600;
          font-size: 24px;
          line-height: 32px;">
            Bike Insurance
          </div>

          <div class="row " style="color:#30325380;">
            No Inspection needed and Instant policy generation
          </div>
          
             
        </div>
      </div>
    </div>
    <div class="col-md-4">

      <div class="card Bitmap" style="width: 570px;border-radius: 25px;">
        <img class="card-img-top" src="/assets/home_images/car_insurance.png"  height= 272  >
        <div class="card-body">

          <div class="row" style=" font-family: Poppins;font-weight: 600;
          font-size: 24px;
          line-height: 32px;">
            Car Insurance
          </div>

          <div class="row"  style="color:#30325380;">
            Renew in a few minutes and get instant policy
          </div>
          
             
        </div>
      </div>
    </div>
    <div class="col-md-2">
    </div>
</div>
  

<div class="row divServices">
  <br/>
</div>



<div class="row divServices">
  <div class="col-md-2">
  </div>
  <div class="col-md-4">
    <div class="card  Bitmap" style="border-radius: 25px;">
      <img class="card-img-top" src="/assets/home_images/health_insurance.png"  height= 272  >
      <div class="card-body">

        <div class="row" style="font-family: Poppins;font-weight: 600;
        font-size: 24px;
        line-height: 32px;">
          Health Insurance
        </div>

        <div class="row" style="color:#30325380;">
          All major health issues covered including COVID-19
        </div>
        
           
      </div>
    </div>
  </div>
  <div class="col-md-4">

    <div class="card  Bitmap" style="border-radius: 25px;">
      <img class="card-img-top" src="/assets/home_images/CyberRisk_Insurance.png"  height= 272  >
      <div class="card-body">

        <div class="row" style="font-family: Poppins;font-weight: 600;
        font-size: 24px;
        line-height: 32px;">
          Cyber Risk Insurance
        </div>

        <div class="row"  style="color:#30325380;">
          Coming soon
        </div>
        
           
      </div>
    </div>
  </div>
  <div class="col-md-2">
  </div>
</div>

 
  
<div class="row divServices">
  <br/>
  <br/>
  <br/>
  <br/>
</div>
<!--our services end-->

<!--FAQ start-->
<div class="row "style="background-color:white">
  <br/>
  <br/>
  <br/>
  <br/>
</div>
<div class="row">
  <div class="col-md-1">
  </div>
  
  <div class="col-md-5">
            <img src="/assets/home_images/FAQs.png" style="width:90%"
              height=617px;>
    </div>
   
    <div class="col-md-1">

    </div>
    

    <div class="col-md-5" >
      
        <div class="row ">

        <div class="col-md-12" style="font-family: Poppins;
                                  font-style: normal;
                                  font-weight: 600;
                                  font-size: 18px;
                                  line-height: 32px;
                                  letter-spacing: 3px;
                                  text-transform: uppercase;
                                  
                                  color: #EB6E47;">
                             FAQ
       </div>
       </div>
       <br/>
            <div class="row">
                  <div class="col-md-12 " style="font-family: Poppins;
                                                font-style: normal;
                                                font-weight: 600;
                                                font-size: 56px;
                                                line-height: 64px;
                                                letter-spacing: -2px;
                                                color: #303253;">
                    Frequently Asked 
                    Questions
                  </div>
                  <br/>
                
                  <div class="col-md-1">

                  </div>
            </div>
            <br/>
            <br/>
             <div class="row">
                        <div class="col-md-1">
                            <button  class="btn btn-default btn-xs"  style=" width: 32px;
                                                                          height: 32px;
                                                                          left: 835px;
                                                                          top: 4794px;
                                                                          
                                                                          background: #303253;
                                                                          border-radius: 8px;"   routerLink="">
                                                                           <!--<span style="width: 16px;
                                                                           height: 4px;
                                                                           left: 843px;
                                                                           top: 4808px;
                                                                           
                                                                           background: #ECDCC4;
                                                                           border-radius: 2px;">-->-</button>  
                        </div>

                        <div class="col-md-7" style="font-family: Poppins;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 32px;
                        
                        color: #303253;">
                          How is the premium for my motor
                        insurance policy determined ?
                      </div>  
                      <div class="col-md-2"></div> 
              </div>
                      <br/>
              <div class="row">
              </div>

              <div class="row boxBorderd" >
              
                      <div class="col-md-11" style="font-family: Poppins;
                      font-style: normal;
                      font-weight: normal;
                      font-size: 14px;
                      line-height: 32px;
                      color: #303253;">
                          Many factors determine the premium you will pay.
                          For Own Damage Cover, different insurance companies charge different premiums
                          for similar coverage. Shop around; 
                          getting three or more comparison quotes is worthwhile.
                          Check various insurers’...<span style="color:#FA824C;font-weight: bold;"> Read More</span>
                      </div>   
                      <div class="col-md-1">

                      </div>
              </div>

            <div class="row">
              <br/> 
            </div>

            <div class="row">
                    <div class="col-md-1">
                      <button  class="btn btn-default btn-xs"  style="  background-color:white; border:2px solid black; 
                      color:black;font-size: 20px; " routerLink=""> +</button> 
                    </div>

                    <div class="col-md-9" style="font-family: Poppins;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 32px;
                  
                    color: #303253;">
                      What are the factors that affect
                      health insurance premium?
                    </div>
                    <div class="col-md-2"></div>
            </div>
                      
                      
            <div class="row">
              <br/> 
            </div>


                      <div class="row">
                        <div class="col-md-1">
                          <button  class="btn btn-default btn-xs"  style="
                             background-color:white; border:2px solid black; color:black;font-size: 20px;"  
                           routerLink=""> +</button>  

                        </div>

                        <div class="col-md-8" style="font-family: Poppins;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 24px;
                        line-height: 32px;
                      
                        color: #303253;">
                          What is a pre-existing condition
                          in health insurance policy?
                        </div>
                    </div>
                    <div class="col-md-3
                    ">

                    </div>
                      
        
        </div>
        
    </div>
     
  
<!--FAQ End-->

<!--CAPALIN PARTNERS start-->
  


<div class="row">
  <br/> 
  <br/> 
  <br/> 
  <br/> 
  <br/> 
  <br/> 
  <br/> 
   <br/>
   <br/> 
</div>

      <div class="row" >
          <div class="col-md-12 h6" style="font-weight: bold;color:#FA824C;padding-left: -25px;font-family: Poppins; font-size: 18px; text-align: center;" >
            CAPALIN PARTNERS
          </div>
      </div>


        <div class="row">
        <br/> 
        </div>

    <div class=" row">
        <div class="col-md-12" style="font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 56px;
        line-height: 64px;
        text-align: center;" >
          Partners We Trust
        </div>
      </div>
        <br/>
        <br/>

        <div class="row" style="margin-top:20px;">
          <div class="col-md-1">

          </div>
          <div class="col-md-3">
            <img src="/assets/home_images/partner/sbi.png" width="167" height="60">

          </div>     

          <div class="col-md-2" >
            <img src="/assets/home_images/partner/bajaj.png" width="202" height="96">

          </div>

          <div class="col-md-2" style="text-align: right;">
            <img src="/assets/home_images/partner/icici.png" width="167" height="60">

          </div>

          <div class="col-md-3" style="text-align: right;">
            <img src="/assets/home_images/partner/national_insurance.png" width="167" height="60" >

          </div>

        </div>
        <div class="row" style="margin-top:20px;">
                <div class="col-md-1">

                </div>

                <div class="col-md-1">
                  <img src="/assets/home_images/partner/tata.png">

                </div>
                <div class="col-md-1">

                </div>

                <div class="col-md-2">
                  <img src="/assets/home_images/partner/the_new_india.png">

                </div>
                

                <div class="col-md-2">
                  <img src="/assets/home_images/partner/digit.png">

                </div>

                <div class="col-md-1">

                </div>

                <div class="col-md-2">
                  <img src="/assets/home_images/partner/united_india.png">

                </div>


                <div class="col-md-1" style="text-align: right;">
                  <img src="/assets/home_images/partner/hdfc.png">

                </div>
                <div class="col-md-1">

                </div>

          
        </div>
 
 

        <div class="row" style="margin-top:20px;">
          <div class="col-md-1">

          </div>

          <div class="col-md-2">
            <img src="/assets/home_images/partner/The_Oriental_Insurance.png">

          </div>

          <div class="col-md-2">
             

          </div>
          <div class="col-md-2">
            <img src="/assets/home_images/partner/star.png">

          </div>
          <div class="col-md-1">
             

          </div>
          
          <div class="col-md-3">
            <img src="/assets/home_images/partner/manipal.png" width="100%" height="90px">

          </div>
           <div class="col-md-1">

                </div>
                  

        </div>

<!--CAPALIN PARTNERS end-->

