.container-fluid
{
    height: auto;
    padding: 95px;
    margin: 0 auto;
}
.heading
{
    margin-bottom: 20px;
    width: 800px;
    margin: 0 auto;
}
.empty
{
  width: 520px;
}
.heading h2
{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    color: #303253;
}
.container1
{
    display: inline-flex;
    width: 100%;
    justify-content: center;
}
.main
{
    width: 860px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.07);
    border-radius: 12px;   
    overflow: hidden; 
}
.progress-bar
{
    width: 860px;
    height: 15px;
    background: #DDDDDD;
    box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.07);
}
.progress
{
    width: 860px;
    height: 15px;
    background: #EB6D47;
    border-radius: 0px;
    box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.07);
}
.main h4
{
    margin-top: 30px;
    margin-bottom: 40px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #303253;
}
.main h6
{
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #303253;
    padding-bottom: 30px;
}
.main .row
{
    margin-left: 48px;
    margin-bottom: 30px;
}
.main p
{
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #303253;
    margin-top: 0px;
}
.main input, .main select
{
    width: 401px;
    height: 56px;
    border: 1.6px solid #DFDFDF;
    box-sizing: border-box;
    border-radius: 12px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;  
    color: #999999;
    padding-left: 20px;
}
.main button
{
    width: 248px;
    height: 60px;
    margin-top: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    border-radius: 10px;
    color: #FFFFFF;
}
.sidebar
{
    width: 370px;
    height: 615px;
    margin-left: 90px;
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.07);
    border-radius: 12px;
    padding-left: 32px;
    padding-top: 40px;  
}
.sidebar h3
{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #303253;
    margin-bottom: 30px;
}
.sidebar p
{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #303253;
}
.sidebar b
{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #303253;
}
.sidebar .row
{
    margin-top: 5px;
    margin-bottom: 5px;
}
.sidebar hr
{
    margin-left: 18px;
    margin-bottom: 20px;
    width: 270px;
    background-color:  #DDDDDD;
}
.sidebar h6
{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #303253;
}
.sidebar strong
{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #303253;
}
.sidebar button
{
    width: 306px;
    height: 48px;
    background: #303253;
    border-radius: 8px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}
//Green Radio Button    
::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: #50B83C !important;
  }
  
  ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #50B83C!important;   /*inner circle color change*/
  }
  
  ::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
   border-color:#50B83C!important; /*outer ring color change*/
  }
@media only screen and (max-width: 1300px) {
    .container-fluid
    {
      padding-left: 6.5%;
    }
    .main {
      width: 730px;
    }
    .main p
    {
      margin-left: -30px;
    }
    .main input,
    .main select
    {
      margin-left: -25px;
      width: 300px;
    }
    .main button
    {
      margin-left: -35px;
    }
    .sidebar {
      margin-left: 5.5%;
      width: 375px;
    }
  }
  @media only screen and (max-width: 1425px) {
    .container-fluid
    {
      padding-left: 6.5%;
    }
    .main {
      width: 730px;
    }
    .main p
    {
      margin-left: -30px;
    }
    .main input,
    .main select
    {
      margin-left: -25px;
      width: 300px;
    }
    .main button
    {
      margin-left: -35px;
    }
    .sidebar {
      margin-left: 5.5%;
      width: 375px;
    }
    .alert-danger {
      width: 300px;
      margin-left: -23px;
    }
  }
  @media only screen and (max-width: 1480px) 
  {
    .empty
    {
      width: 500px;
    }
  }
  @media only screen and (max-width: 1460px) 
  {
    .empty
    {
      width: 490px;
    }
  }
  @media only screen and (max-width: 1450px) 
  {
    .empty
    {
      width: 450px;
    }
  }
  @media only screen and (max-width: 1407px) 
  {
    .empty
    {
      width: 400px;
    }
  }
  @media only screen and (max-width: 1353px) 
  {
    .empty
    {
      width: 340px;
    }
  }
  @media only screen and (max-width: 1289px) 
  {
    .empty
    {
      width: 280px;
    }
  }
  @media only screen and (max-width: 1225px) 
  {
    .empty
    {
      width: 240px;
    }
  }