<app-header-lite></app-header-lite>
<div class="container-fluid">
    <div class="row">
        <div class="heading">
            <h2>Health Insurance</h2>
        </div>
        <div class="empty"></div>
    </div>
    <div class="container1">
        <div class="main">
            <div class="progress-bar">
                <div class="progress">
                </div>
            </div>
            <h4>Nominee Details</h4>
            <h6>Existing Insurance Details</h6>
            <div class="row">
                <div class="col-5">
                    <p>Is the proposer or any of the persons
                        proposed, already insured under or
                        proposed for a health insurance policy for
                        inpatient hospitalization with Apollo Munich
                        Health or any other insurance company?
                        If yes, please indicate below the policy/
                        Application number(s) (Please mention
                        application number in case of pending
                        proposal): Since when are you
                        continuously insured :</p>
                </div>
                <div class="col-7">
                    <mat-radio-group aria-label="Select an option" [(ngModel)]="formData.Existing" name="Existing">
                        <mat-radio-button value="1" [checked]="formData.Existing == 1">Yes</mat-radio-button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-radio-button value="0" [checked]="formData.Existing == 0">No</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="col-5">
                </div>
                <div class="col-7">
                    <div id="Existing_err" style="display:none" class="alert alert-danger form-control">
                        <div>Please fill out this field.
                        </div>
                    </div>
                </div>
            </div>
            <h6>Nominee for Insured</h6>
            <div class="row">
                <div class="col-5">
                    <p>Select Relation with Proposer :</p>
                </div>
                <div class="col-7">
                    <select name="" id="" [(ngModel)]="formData.nominee_relationship" name="nominee_relationship">
                        <option value="" disabled>Select Relationship</option>
                        <option value="Child">Child</option>
                        <option value="Father">Father</option>
                        <option value="Mother">Mother</option>
                        <option value="Brother">Brother</option>
                        <option value="Sister">Sister</option>
                        <option value="Wife">Wife</option>
                        <option value="Husband">Husband</option>
                        <option value="Daughter">Daughter</option>
                        <option value="Son">Son</option>
                        <option value="Father-in-law">Father-in-law</option>
                        <option value="Mother-in-law">Mother-in-law</option>
                        <option value="Partner">Partner</option>
                        <option value="Employee">Employee</option>
                        <option value="Special-Concession-Adult">Special-Concession-Adult</option>
                        <option value="Special-Concession-Child">Special-Concession-Child</option>
                    </select>
                </div>
                <div class="col-5">
                </div>
                <div class="col-7">
                    <div id="nominee_relationship_err" style="display:none" class="alert alert-danger form-control">
                        <div>Please fill out this field.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <p>Nominee Name :</p>
                </div>
                <div class="col-7">
                    <input type="text" placeholder="Full Name" [(ngModel)]="formData.nominee_name" name="nominee_name">
                </div>
                <div class="col-5">
                </div>
                <div class="col-7">
                    <div id="nominee_name_err" style="display:none" class="alert alert-danger form-control">
                        <div>Please fill out this field.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <button mat-button style="background-color:#999999;" (click)="back()">Back</button>
                </div>
                <div class="col-4"></div>
                <div class="col-3">
                    <button mat-button style="background-color:#303253;" (click)="submitform()">Next</button>
                </div>
            </div>
        </div>
        <div class="sidebar">
            <h3>Policy Details</h3>
            <!-- <div class="row">
                <div class="col-6">
                    <p>Proposer Age :</p>
                </div>
                <div class="col-6">
                    <b>40 Years</b>
                    <b>{{enquiryDetails['age']}}</b>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p>Proposer Gender :</p>
                </div>
                <div class="col-6">
                    <b>Male</b>
                </div>
            </div> -->
            <div class="row">
                <div class="col-6">
                    <p>Insured Members :</p>
                </div>
                <div class="col-6">
                    <!-- <b>1 Adult,<br>
                        2 Children</b> -->
                    <b>{{enquiryDetails['adults']}} Adults,<br>
                        {{enquiryDetails['children']}} Children</b>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p>Eldest Age :</p>
                </div>
                <div class="col-6">
                    <!-- <b>40 Years</b> -->
                    <b>{{enquiryDetails['age']}} Years</b>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p>Insurance Cover :</p>
                </div>
                <div class="col-6">
                    <!-- <b>1 - 2 Lakhs</b> -->
                    <b>{{enquiryDetails['min_insurance_cover']}}-{{enquiryDetails['max_insurance_cover']}} Lakhs</b>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-6">
                    <p>NCB Discount :</p>
                </div>
                <div class="col-6">
                    <b>25%</b>
                </div>
            </div> -->
            <!-- <div class="row">
                <div class="col-6">
                    <p>Order Id :</p>
                </div>
                <div class="col-6">
                    <b>MGB2PGJ1KAB</b>
                </div>
            </div> -->
            <div class="row">
                <div class="col-6">
                    <p>Policy Term :</p>
                </div>
                <div class="col-6">
                    <b>1 Year</b>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-6">
                    <p>Add-ons</p>
                </div>
                <div class="col-6">
                    <b>NA</b>
                </div>
            </div> -->
            <hr>
            <div class="row">
                <div class="col-6">
                    <p>GST @ 18%</p>
                </div>
                <div class="col-6">
                    <!-- <b>₹ 435</b> -->
                    <b>₹ {{+enquiryDetails['premium'] - (+enquiryDetails['premium']/+gst) | number: '1.0-0'}}</b>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-6">
                    <h6>Final Premium</h6>
                </div>
                <div class="col-6">
                    <!-- <strong>₹ 1,435</strong> -->
                    <strong>₹ {{enquiryDetails['premium']}}</strong>
                </div>
            </div>
            <button mat-button style="background-color:#303253;" routerLink="/health">Edit</button>
        </div>
    </div>
</div>
<app-footer></app-footer>