<app-header-lite></app-header-lite>
<div class="">
  <div class="row">
    <br><br>
  </div>
  <div class="row">
    <div style="width: 1200px;margin: 0 auto;display: inline-flex;">
      <!--first row start-->
      <div class=" col-md-11" style="font-family: Poppins;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 48px;
                    margin-left: 10px;
                    line-height: 72px;
                    color: #303253;">
        Bike Insurance
      </div>
    </div>
  </div>
  <!--first row end-->
  <div class="row">
    <div style="width: 1200px;margin: 0 auto;display: inline-flex;">
      <div class="" style="background-color: white;width:820px;float: left;
                                        height:max-content;background: #FFFFFF;
                                         box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
                                         border-radius: 12px;">


        <div class=" container form-group">
          <div class="row">
            <div class="" style="height:15px ; width: 25%;float:left; 
                    background-color: #EB6D47;
                    box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
                    border-radius:12px 0px 0px 0px">
            </div>
            <div class="" style="height:15px ; width: 75%;float:left;
                    margin-left:0px;background-color: #DDDDDD;
                    box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
                    border-radius:0px 12px 0px 0px">

            </div>

          </div>
          <br />
          <form autocomplete="off">
            <!--2nd row start-->
            <div class="row">
              <div class="col-md-12" style="text-align: center;font-family: Poppins;
                                                            font-style: normal;
                                                            font-weight: 600;
                                                            font-size: 32px;
                                                            line-height: 48px;
                                                            text-align: center;
                                                            letter-spacing: 0.2px;
                                                            color: #303253;">
                Bike Owner

              </div>
            </div>
            <!--2nd row end-->
            <!--3rd row start-->
            <div>
              <table style="width:100%">
                <tr class="row" style="margin-top:20px;margin-left: 15px;">
                  <td class="col-md-6 field" style="  font-family: Poppins;
                                                                        font-style: normal;
                                                                        font-weight: normal;
                                                                        font-size: 16px;
                                                                        line-height: 24px;
                                                                       
                                                                        color: #303253;
                                                                        margin-top:15px">

                    <label for="Bike Belongs to  :">Bike Belongs to<span class="required">*
                      </span> :</label>
                  </td>
                  <td class="col-md-6 field  ">
                    <div class="input-group input-group-lg ">
                      <select (change)="validations()" type="text" class="form-control  " style="border-radius:10px;
                                                                    font-family: Poppins;
                                                                    font-style: normal;
                                                                    font-weight: normal;
                                                                    font-size: 16px;
                                                                    line-height: 24px;
                                                                    height:56px;
                                                                    
                                                                    /* identical to box height */ 
                                                                    color: #999999;" placeholder="Individual"
                        autocomplete="off" [(ngModel)]="formData.bike_owner" name="bike_owner" id="bike_owner">
                        <option value="" disabled>Select Car Owner
                        </option>
                        <option value="individual">Individual
                        </option>
                        <option value="company">Company
                        </option>
                      </select>
                    </div>
                    <div style="display: none;margin-top: 10px" id="bike_owner_err" class="alert alert-danger">
                      <div>Please fill out this field..
                      </div>
                    </div>
                  </td>

                </tr>
                <!--3rd row end-->
                <!--4th row start-->
                <tr class="row" style="margin-top:20px;margin-left: 15px;" *ngIf="formData.bike_owner == 'company'">
                  <td class="col-md-6 field" style="  font-family: Poppins;
                                                                        font-style: normal;
                                                                        font-weight: normal;
                                                                        font-size: 16px;
                                                                        line-height: 24px;
                                                                       
                                                                        color: #303253;
                                                                        margin-top:15px">

                    <label for="Company Name ">Company Name<span class="required">*
                      </span> :</label>
                  </td>
                  <td class="col-md-6 field  ">
                    <div class="input-group input-group-lg ">
                      <input (change)="validations()" type="text" class="form-control  " style="border-radius:10px;
                                                                    font-family: Poppins;
                                                                    font-style: normal;
                                                                    font-weight: normal;
                                                                    font-size: 16px;
                                                                    line-height: 24px;
                                                                    height:56px;
                                                                    
                                                                    /* identical to box height */ 
                                                                    color: #999999;" placeholder="Company Name"
                        autocomplete="off" [(ngModel)]="formData.company_name" name="company_name" id="company_name">
                    </div>
                    <div style="display: none;margin-top: 10px" id="company_name_err" class="alert alert-danger">
                      <div>Please fill out this field.
                      </div>
                    </div>
                  </td>

                </tr>
                <!--4th row end-->
                <!--5th row start-->
                <tr class="row" style="margin-top:20px;margin-left: 15px;">
                  <td class="col-md-6 field" style="  font-family: Poppins;
                                                                        font-style: normal;
                                                                        font-weight: normal;
                                                                        font-size: 16px;
                                                                        line-height: 24px;
                                                                       
                                                                        color: #303253;
                                                                        margin-top:15px">

                    <label for="First Name ">First Name <span class="required">*
                      </span> :</label>
                  </td>
                  <td class="col-md-6 field  ">
                    <div class="input-group input-group-lg ">
                      <input (change)="validations()" type="text" class="form-control  " style="border-radius:10px;
                                                                    font-family: Poppins;
                                                                    font-style: normal;
                                                                    font-weight: normal;
                                                                    font-size: 16px;
                                                                    line-height: 24px;
                                                                    height:56px;
                                                                    
                                                                    /* identical to box height */ 
                                                                    color: #999999;" placeholder="First Name "
                        autocomplete="off" [(ngModel)]="formData.first_name" name="first_name" id="first_name">
                    </div>
                    <div style="display: none;margin-top: 10px" id="first_name_err" class="alert alert-danger">
                      <div>Please fill out this field.
                      </div>
                    </div>
                  </td>
                </tr>
                <!--5th row end-->
                <!--6th row start-->
                <tr class="row" style="margin-top:20px;margin-left: 15px;">
                  <td class="col-md-6 field" style="  font-family: Poppins;
                                                                        font-style: normal;
                                                                        font-weight: normal;
                                                                        font-size: 16px;
                                                                        line-height: 24px;
                                                                       
                                                                        color: #303253;
                                                                        margin-top:15px">

                    <label for="Last Name ">Last Name<span class="required">*
                      </span> :</label>
                  </td>
                  <td class="col-md-6 field  ">
                    <div class="input-group input-group-lg ">
                      <input (change)="validations()" type="text" class="form-control  " style="border-radius:10px;
                                                                    font-family: Poppins;
                                                                    font-style: normal;
                                                                    font-weight: normal;
                                                                    font-size: 16px;
                                                                    line-height: 24px;
                                                                    height:56px;
                                                                    
                                                                    /* identical to box height */ 
                                                                    color: #999999;" placeholder="Last Name  "
                        autocomplete="off" [(ngModel)]="formData.last_name" name="last_name" id="last_name">
                    </div>
                    <div style="display: none;margin-top: 10px" id="last_name_err" class="alert alert-danger">
                      <div>Please fill out this field.
                      </div>
                    </div>
                  </td>
                </tr>
                <!--6th row end-->

                <!--7th row start-->
                <tr class="row" style="margin-top:20px;margin-left: 15px;">
                  <td class="col-md-6 field" style="  font-family: Poppins;
                                                                        font-style: normal;
                                                                        font-weight: normal;
                                                                        font-size: 16px;
                                                                        line-height: 24px;
                                                                       
                                                                        color: #303253;
                                                                        margin-top:15px">

                    <label for="Email Address  ">Email Address<span class="required">*
                      </span> :</label>
                  </td>
                  <td class="col-md-6 field  ">
                    <div class="input-group input-group-lg ">
                      <input (change)="validations()" type="text" class="form-control  " style="border-radius:10px;
                                                                    font-family: Poppins;
                                                                    font-style: normal;
                                                                    font-weight: normal;
                                                                    font-size: 16px;
                                                                    line-height: 24px;
                                                                    height:56px;
                                                                    
                                                                    /* identical to box height */ 
                                                                    color: #999999;" placeholder="JohnDoe33@gmail.com"
                        autocomplete="off" [(ngModel)]="formData.email" name="email" id="email">
                      <!-- <select name="" id="" class="form-control" style="border-radius:10px;
                                                                                                font-family: Poppins;
                                                                                                font-style: normal;
                                                                                                font-weight: normal;
                                                                                                font-size: 16px;
                                                                                                line-height: 24px;
                                                                                                height:56px;margin-left: 10px;
                                                                                                color: #999999;">
                                                <option value="" selected>@gmail.com</option>
                                                <option value="">@yahoo.com</option>
                                                <option value="">@rediffmail.com</option>
                                            </select> -->
                    </div>
                    <!-- <div style="display: none;" id="email_err" class="alert alert-danger">
                                        <div>Please fill out this field.
                                        </div>
                                    </div> -->
                  </td>

                </tr>
                <!--7th row end-->
                <!--8th row start-->
                <tr class="row" style="margin-top:20px;margin-left: 15px;">
                  <td class="col-md-6 field" style="  font-family: Poppins;
                                                                        font-style: normal;
                                                                        font-weight: normal;
                                                                        font-size: 16px;
                                                                        line-height: 24px;
                                                                       
                                                                        color: #303253;
                                                                        margin-top:15px">

                    <label for="Mobile Number  ">Mobile Number<span class="required">*
                      </span> :</label>
                  </td>
                  <td class="col-md-6 field  ">
                    <div class="input-group input-group-lg ">
                      <!-- <select name="" id="" style="border-radius:10px;
                                                                        font-family: Poppins;
                                                                        font-style: normal;
                                                                        font-weight: normal;
                                                                        font-size: 16px;
                                                                        line-height: 24px;
                                                                        height:56px; 
                                                                        color: #999999;
                                                                        border: #999999 1px solid;">
                                            <option value="+91" selected>+91</option>
                                            <option value="+12">+12</option>
                                            <option value="+22">+22</option>
                                            <option value="+93">+93</option>
                                        </select> -->
                      <input (change)="validations()" maxlength="10" (keydown)="checkmobile($event)" type="text"
                        class="form-control  " style="border-radius:10px;
                                                                    font-family: Poppins;
                                                                    font-style: normal;
                                                                    font-weight: normal;
                                                                    font-size: 16px;
                                                                    line-height: 24px;
                                                                    height:56px;
                                                                    /* identical to box height */ 
                                                                    color: #999999;" placeholder="10 digit number   "
                        autocomplete="off" [(ngModel)]="formData.mobile" name="mobile" id="mobile">
                    </div>
                    <div style="display: none; margin-top: 10px" id="mobile_err" class="alert alert-danger">
                      <div>Please fill out this field.
                      </div>
                    </div>
                  </td>

                </tr>
                <!--8th row end-->
                <!--9th row start-->
                <tr class="row" style="margin-top:20px;margin-left: 15px;">
                  <td class="col-md-6 field" style="  font-family: Poppins;
                                                                        font-style: normal;
                                                                        font-weight: normal;
                                                                        font-size: 16px;
                                                                        line-height: 24px;
                                                                       
                                                                        color: #303253;
                                                                        margin-top:15px">

                    <label for="GSTIN (Optional)   ">GSTIN (Optional) :</label>
                  </td>
                  <td class="col-md-6 field  ">
                    <div class="input-group input-group-lg ">
                      <input (change)="validations()" type="text" class="form-control  " style="border-radius:10px;
                                                                    font-family: Poppins;
                                                                    font-style: normal;
                                                                    font-weight: normal;
                                                                    font-size: 16px;
                                                                    line-height: 24px;
                                                                    height:56px;
                                                                    
                                                                    /* identical to box height */ 
                                                                    color: #999999;" placeholder="GST no. "
                        autocomplete="off" [(ngModel)]="formData.gst_no" name="gst_no" id="gst_no">

                    </div>
                    <div style="display: none; margin-top: 10px" id="gst_no_err" class="alert alert-danger">
                      <div>Please Enter Valid GSTIN.
                      </div>
                    </div>
                  </td>

                </tr>
                <div class="row">
                  <br />
                  <br />
                </div>
                <!--9th row end-->
                <!--10th row start-->
                <div class="row">
                  <div class="" style="width: 10%;float: left;">
                  </div>
                  <div class="" style="width: 30%;float: left;">
                    <button mat-button color="" style="background: #999999;
                                                                            border-radius: 10px;font-style: normal;
                                                                            font-weight: 600;
                                                                            font-size: 18px;
                                                                            line-height: 40px;
                                                                            width: 100%;
                                                                            align-items: center;
                                                                            height: 60px;
                                                                            margin-right: 5px;
                                                                            color: #FFFFFF;"
                      routerLink="/bike/BikeInsurance">Back</button>

                  </div>
                  <div class="" style="width: 20%;float: left;">

                  </div>
                  <div class="" style="width: 30%;float: left;">
                    <button mat-button color="" style="background: #303253;
                                                                    border-radius: 10px;font-style: normal;
                                                                    font-weight: 600;
                                                                    font-size: 18px;
                                                                    line-height: 40px;
                                                                    width: 100%;
                                                                    align-items: center;
                                                                    height: 60px;
                                                                    margin-right: 5px;
                                                                    color: #FFFFFF;"
                      (click)="submitform()">Next</button>
                  </div>
                  <!-- /bike/BikePersonalDetails -->
                  <div class="" style="width: 10%;float: left;">

                  </div>
                </div>
                <!--10th row end-->
              </table>
            </div>

          </form>
        </div>
      </div>

      <!--new section-->

      <div class=" container"
        style="width: 400px;float: left;margin: 0px;padding: 0px;margin-left: 70px;background: #FFFFFF;box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);border-radius: 12px;padding-left: 20px;">
        <div class="row">
          <div class="col-md-12" style="height:2px ; 
            box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
           border-radius:12px 0px 0px 0px;margin-bottom: 15px;">
          </div>
          <div class="" style="width: 190px;float: left;">
            <div class=" container form-group">
              <form autocomplete="off">

                <div class="row">

                  <div class="col-md-12" style="font-family: Poppins;
                                                        font-style: normal;
                                                        font-weight: 600;
                                                        font-size: 24px;
                                                        line-height: 32px;
                                                        
                                                        color: #303253;">


                    Bike Details
                  </div>
                </div>
                <div>
                  <table style="width:100%">

                    <tr class="row" style="margin-top:20px;">
                      <td class="col-md-6 field" style="  font-family: Poppins;
                                                        font-style: normal;
                                                        font-weight: normal;
                                                        font-size: 16px;
                                                        line-height: 24px;
                                                        color: #303253;">

                        <label for="Bike Manufacturer  ">Bike Manufacturer :</label>
                      </td>
                      <td class="col-md-6 field" style="  font-family: Poppins;padding-left:10px;
                                                        font-style: normal;
                                                        font-weight: 600;
                                                        font-size: 16px;
                                                        line-height: 24px;
                                                        color: #303253;">

                        <!-- <label for="Honda  ">Honda</label> -->
                        <label for="Honda  ">{{bikeData?.biManufacturer}}</label>
                      </td>

                    </tr>
                    <!--2nd row start-->
                    <tr class="row" style="margin-top:20px;">
                      <td class="col-md-6 field" style="  font-family: Poppins;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                        color: #303253;">

                        <label for="Variant & Model  ">Variant & Model :</label>
                      </td>
                      <td class="col-md-6 field" style="font-family: Poppins;padding-left:10px;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    color: #303253;">

                        <!-- <label for="Unicorn,Self Start Disc  ">Unicor, Self Start Disc</label> -->
                        <label for="Unicorn,Self Start Disc  ">{{bikeData?.biModel}}</label>
                      </td>

                    </tr>

                    <!--2nd row end-->
                    <!--3rd row start-->
                    <tr class="row" style="margin-top:20px;">
                      <td class="col-md-6 field" style="  font-family: Poppins;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 24px;
                            color: #303253;">

                        <label for="Manufacturing Year ">Manufacturing Year :
                        </label>
                      </td>
                      <td class="col-md-6 field" style="  font-family: Poppins;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        color: #303253;">

                        <!-- <label for="2020 ">2020</label> -->
                        <label for="2020 ">{{bikeData?.manufacturingYear}}</label>
                      </td>

                    </tr>
                    <!--3rd row end-->
                    <!--4th-->
                    <tr class="row" style="margin-top:20px;">
                      <td class="col-md-6 field" style="  font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    color: #303253;">

                        <label for="Registration Date  ">Registration Date :
                        </label>
                      </td>
                      <td class="col-md-6 field" style="  font-family: Poppins;
                                                    font-style: normal;
                                                    font-weight: 600;
                                                    font-size: 16px;
                                                    line-height: 24px;
                                                    color: #303253;">

                        <!-- <label for="02 Jan 2020 ">02Jan2020</label> -->
                        <label for="02 Jan 2020 ">{{bikeData?.registerDate.toString().replaceAll('/','-')}}</label>
                      </td>

                    </tr>
                    <!--4th-->
                    <!--5th-->
                    <tr class="row" style="margin-top:10px;">
                      <td class="col-md-6 field" style="  font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    color: #303253;">

                        <label for=" NCB on previous policy  "> NCB on previous policy :
                        </label>
                      </td>
                      <td class="col-md-6 field" style=" font-family: Poppins;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    color: #303253;">

                        <label for="20%">{{bikeData?.policyType != 'new_enquiry' ? bikeData?.prevNcb
                                                : '0'}}%</label>
                      </td>

                    </tr>

                    <!--5th-->
                    <!--6th-->
                    <tr class="row" style="margin-top:10px;">
                      <td class="col-md-6 field" style="  font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    color: #303253;">

                        <label for="  Expairy Date :  "> Expairy Date :
                        </label>
                      </td>
                      <td class="col-md-6 field" style=" font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: #303253;">

                        <label for="04 Jan 2021">{{bikeData?.policyType != 'new_enquiry' ?
                                                bikeData?.prevPolicyEndDate.toString().replaceAll('/','-') :
                                                '-'}}</label>
                      </td>

                    </tr>

                    <!--6th-->
                    <!--7th-->
                    <tr class="row" style="margin-top:10px;">
                      <td class="col-md-6 field" style="  font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    color: #303253;">

                        <label for="   Insurance Company "> Insurance Company :
                        </label>
                      </td>
                      <td class="col-md-6 field" style=" font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: #303253;">

                        <!-- <label for=" HDFC Ergo"> HDFC Ergo ??</label> -->
                        <label for=" HDFC Ergo">{{bikeDataSummary?.company_name}}</label>
                      </td>

                    </tr>

                    <!--7th-->
                    <!--8th-->
                    <tr class="row" style="margin-top:10px;">
                      <td class="col-md-6 field" style="  font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    color: #303253;">

                        <label for=" Cover Amount (IDV) "> Cover Amount (IDV) :
                        </label>
                      </td>
                      <td class="col-md-6 field" style=" font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: #303253;">

                        <label for=" ₹16,435"> ₹{{bikeData?.idv}}</label>
                      </td>

                    </tr>
                    <!--8th-->
                    <!--9th row  start-->
                    <tr class="row" style="margin-top:10px;">
                      <td class="col-md-6 field" style="  font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    color: #303253;">

                        <label for=" NCB Discount "> NCB Discount :
                        </label>
                      </td>
                      <td class="col-md-6 field" style=" font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: #303253;">

                        <label for=" 25%"> {{bikeData?.newNcb}}%</label>
                      </td>

                    </tr>
                    <!--9th row end-->
                    <!--10th row  start-->
                    <!-- <tr class="row" style="margin-top:10px;">
                                        <td class="col-md-6 field" style="  font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    color: #303253;">

                                            <label for=" Order Id "> Order Id :
                                            </label>
                                        </td>
                                        <td class="col-md-6 field" style=" font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: #303253;">

                                            <label for=" MGB2PGJ1KAB">MGB2PGJ1KAB</label>
                                        </td>

                                    </tr> -->
                    <!--10th row end-->
                    <!--11th row  start-->
                    <tr class="row" style="margin-top:10px;">
                      <td class="col-md-6 field" style="  font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    color: #303253;">

                        <label for="Policy Term "> Policy Term :
                        </label>
                      </td>
                      <td class="col-md-6 field" style=" font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: #303253;">

                        <!-- <label for=" 1 Year">3 Years</label> -->
                        <label for=" 1 Year">{{bikeData?.policyTerm}} Year(s)</label>
                      </td>

                    </tr>
                    <!--11th row end-->
                    <!--12th row  start-->
                    <tr class="row" style="margin-top:10px;">
                      <td class="col-md-6 field" style="  font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    color: #303253;">

                        <label for="Add-ons "> Add-ons:
                        </label>
                      </td>
                      <td class="col-md-6 field" style=" font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: #303253;">

                        <label for=" NA">{{bikeData?.zero_depreciation == 'true' ? 'Zero Dep,' :
                                                ''}}{{bikeData?.rode_side_assistance == 'true' ? 'Roadside Assistance,'
                                                :
                                                ''}}{{bikeData?.invoice_cover == 'true' ? 'Invoice Cover,' :
                                                ''}}{{bikeData?.ncb_protection == 'true' ? 'NCB Protect,' :
                                                ''}}{{bikeData?.consumable == 'true' ? 'Consumable,' :
                                                ''}}{{bikeData?.paid_driver_legal_liability_cover == 'true' ? 'Paid
                                                Driver Legability,' :
                                                ''}}{{bikeData?.driver_cover == 'true' ? 'Passenger PA,' :
                                                ''}}{{bikeData?.pa_to_owner_driver == 'true' ? 'PA Owner Driver,' :
                                                ''}}</label>
                      </td>

                    </tr>
                    <div class="row">
                      <div class="col-md-1" style="margin-bottom:15px">

                      </div>
                      <div class="col-md-9" style="border-bottom: 1px solid #DDDDDD;">

                      </div>
                      <div class="col-md-2">

                      </div>

                    </div>
                    <!--12th row end-->
                    <!--12th row  start-->

                    <tr class="row" style=" padding-top: 20px;">
                      <td class="col-md-8 field" style="  font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    color: #303253;
                   ">

                        <label for="GST @ 18%">GST @ 18%
                        </label>
                      </td>
                      <td class="col-md-4 field" style=" font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: #303253;">

                        <!-- <label for="₹435">₹435 ???</label> -->
                        <label for="₹435">₹{{+bikeDataSummary?.premium -
                                                (+bikeDataSummary?.premium/+gst) | number:'1.0-0'}}</label>
                      </td>

                    </tr>

                    <!--12th row end-->
                    <div class="row" style="margin-top:10px">
                      <div class="col-md-1">

                      </div>
                      <div class="col-md-9" style="border-bottom: 1px solid #DDDDDD;">

                      </div>
                      <div class="col-md-2">

                      </div>
                    </div>
                    <!--13th row start-->
                    <tr class="row" style="margin-top:10px;">
                      <td class="col-md-8 field" style="  font-family: Poppins;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 20px;
                        line-height: 30px;
                        color: #303253;">

                        <label for="Final Premium">Final Premium
                        </label>
                      </td>
                      <td class="col-md-4 field" style=" font-family: Poppins;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 30px;
                    color: #303253;">

                        <!-- <label for="₹1,435">₹1,435 ???</label> -->
                        <label for="₹1,435">₹{{bikeDataSummary?.premium | number:'1.0-0'}}</label>
                      </td>

                    </tr>
                    <div class="row">
                      <br />
                    </div>
                    <!--13th row end-->
                    <!--14th start start-->
                    <div class="row">
                      <div class="" style="width: 10%;float: left;">

                      </div>

                      <div class="" style="width: 80%; float: left;">
                        <button class="btn " routerLink="/bike" style="background: #303253;color: #FFFFFF;
                                                                            border-radius: 8px;width:100%;
                                                                            font-family: Poppins;">Edit</button>

                      </div>
                      <div class="" style="width: 0%;float: left;">

                      </div>
                    </div>
                    <!--14th row end-->



                  </table>
                </div>


              </form>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!--new section end-->





  </div>
</div>
<app-footer></app-footer>









































<!--<div class="container">
    <div class="row">
        <div class="container text-center">
             <h6>{{bikeData?.bibikeModel}} | {{bikeData?.bibikeFuel}} & {{bikeData?.bibikeVariant}} | IDV:{{bikeData?.idv}} | Premium:</h6>
           
        </div>
    </div> 
    <form   autocomplete="off">
    <div class="py-3 px-5">
        <div class="px-3 tabs-data">  
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs" style="margin-top: 20px;background-color: #a8d9e6;">
               
                <li [ngbNavItem]="1">
                    <a ngbNavLink style="font-weight: bold;">Step 1: Bike Owner</a>
                     <ng-template ngbNavContent>
                        <div class="container" style="margin-top: 40px;">
                            <div class="row">
                                <div class="col-3">
                                    <h5 style="font-weight: bold;">This Bike belongs to:</h5> 
                                </div>
                                 <div class="col-3">
                                    <label class="container-div">
                                        <input type="radio" name=""  value="individual">
                                        <span class="checkmark"></span>Individual
                                    </label><br>
                                    <label class="container-div">
                                        <input type="radio" name="" value="company" >
                                        <span class="checkmark"></span>Company
                                    </label>
                                    
                                </div>
                            </div>
                            <div class="row">
                                    <label for="" class="" style="margin-left: 4.5cm;">Company Name :  </label>
                                    <label class="field" style="margin-left: 2.5cm;width: 10cm;">
                                        <input type="text" name="company_name" id="company_name" class="form-control date-input"
                                            placeholder="Company Name">
                                        <label for="" class="field-icon"><i class="fa fa-user"></i></label>
                                    </label>
                            </div>

                            <div class="row">
                                <label for="" class="" style="margin-left: 4.5cm;">First Name :  </label>
                                <label class="field" style="margin-left: 2.5cm;width: 10cm;">
                                    <input type="text" name="p_first_name" id="p_first_name" class="form-control date-input"
                                        placeholder="First Name">
                                    <label for="" class="field-icon"><i class="fa fa-user"></i></label>
                                </label>
                        </div>
                            <div class="row">
                                    <label for="" class="" style="margin-left: 4.5cm;">Last Name : </label>
                                    <label class="field" style="margin-left: 2.5cm;width: 10cm;">
                                        <input type="text" name="p_last_name" id="p_last_name" class="form-control date-input"
                                            placeholder="Last Name">
                                        <label for="" class="field-icon"><i class="fa fa-user"></i></label>
                                    </label>
                            </div>
                            <div class="row">
                                    <label for="" class="" style="margin-left: 4.5cm;">Email : </label>
                                    <label class="field" style="margin-left: 3.4cm;width: 10cm;">
                                        <input type="text" name="email" id="email" class="form-control date-input"
                                            placeholder="eg:- abc@gmail.com">
                                        <label for="" class="field-icon"><i class="fa fa-envelope"></i></label>
                                    </label>
                            </div>
                            <div class="row">
                                    <label for="" class="" style="margin-left: 4.5cm;">Mobile : </label>
                                    <label class="field" style="margin-left: 3.2cm;width: 10cm;">
                                        <input type="text" name="mobile" id="mobile" class="form-control date-input"
                                            placeholder="Enter Mobile no">
                                        <label for="" class="field-icon"><i class="fa fa-mobile"></i></label>
                                    </label>
                            </div>
                            <div class="row">
                                    <label for="" class="" style="margin-left: 4.5cm;">GST # (Optional) : </label>
                                    <label class="field" style="margin-left: 1.4cm;width: 10cm;">
                                        <input type="text" name="gst_no" id="gst_no" class="form-control date-input"
                                            placeholder="Enter GST Number">
                                        <label for="" class="field-icon"><i class="fa fa-pencil"></i></label>
                                    </label>
                            </div>
                            <div class="row py-2 ">
                                <button type="button" class="btn btn-success" style="width:3cm;margin-left: 11cm;background-color: #E71D36;margin-top: 30px;"
                                    [disabled]="active === 2" (click)="nav.select(2)">Continue</button>
                                    <!-- <button type="button" class="btn btn-success" style="width:3cm;margin-left: 11cm;background-color: #E71D36;margin-top: 30px;"
                                    [disabled]="active === 2" (click)="nav.select(2)">Continue</button>
                                    
                            </div>
                        </div>
                    
                    </ng-template>
                </li>
                <li [ngbNavItem]="2">
                    <a ngbNavLink style="font-weight: bold;">Step 2: Personal Details</a>
                    <ng-template ngbNavContent>
                        <div class="row">
                            <div class="col-6">
                                <h3 style="font-weight: bold;margin: 40px;">Personal Details</h3>
                                <div class="row" style="margin-bottom: 20px;">
                                    <div class="col-4">
                                        <h6 style="font-weight: bold;">Gender:</h6> 
                                    </div>
                                    <div class="col-3">
                                        <label class="container-div">
                                            <input type="radio" name="gender" value="0">
                                            <span class="checkmark"></span>Male
                                        </label><br>
                                        <label class="container-div">
                                            <input type="radio" name="gender" value="1">
                                            <span class="checkmark"></span>Female
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <h3 style="font-weight: bold;margin: 40px;">Nominee Details</h3>
                                <div class="row" style="margin-bottom: 20px;">
                                    <label for="" class="" style="font-weight: bold;">Name : </label>
                                    <label class="field" style="margin-left: 1.8cm;">
                                        <input type="text" name="nominee_name" id="nominee_name" class="form-control date-input"
                                            placeholder="Name">
                                        <label for="" class="field-icon"><i class="fa fa-user"></i></label>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="row" style="margin-bottom: 20px;">
                                    <div class="col-4">
                                        <h6 style="font-weight: bold;">Marital Status:</h6> 
                                    </div>
                                    <div class="col-3">
                                        <label class="container-div">
                                            <input type="radio" name="marital_status" value="Single">
                                            <span class="checkmark"></span>Single
                                        </label><br>
                                        <label class="container-div">
                                            <input type="radio" name="marital_status" value="Married">
                                            <span class="checkmark"></span>Married
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row" style="margin-bottom: 20px;">
                                <label for="" class="" style="font-weight: bold;">Date of Birth :</label>
                                <label  class="field" style="margin-left: 20px;">
                                    <div  class="position-relative">
                                        <div class="calendar-icon" style="color: grey;"><i class="fa fa-calendar"></i></div>
                                        <input class="form-control date-input" autocomplete="off" placeholder="Date of Birth￼" 
                                         name="dob" [minDate]="{year: 1980, month: 1, day: 1}" (click)="d.toggle()" ngbDatepicker #d="ngbDatepicker">
                                    </div>
                                </label></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="row" style="margin-bottom: 20px;">
                                    <label for="" class="" style="font-weight: bold;margin-left: 20px;">Date of Birth :</label>
                                    <label for="" class="field" style="margin-left: 20px;width: 8cm;">
                                        <div  class="position-relative">
                                            <div class="calendar-icon" style="color: grey;"><i class="fa fa-calendar"></i></div>
                                            <input class="form-control date-input" autocomplete="off" placeholder="Date of Birth￼" 
                                            name="nominee_dob" [minDate]="{year: 1980, month: 1, day: 1}" (click)="d1.toggle()"  ngbDatepicker #d1="ngbDatepicker">
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row" style="margin-bottom: 20px;">
                                <label for="" class="" style="font-weight: bold;">Relationship : </label>
                                <label class="field" style="margin-left: 20px;">
                                    <select class="custom-select" name="nominee_relationship" id="nominee_relationship">
                                        <option value="">Relationship</option>
                                        <option value="Spouse">Spouse</option>
                                        <option value="Father">Father</option>
                                        <option value="Mother">Mother</option>
                                        <option value="Son">Son</option>
                                        <option value="Daughter">Daughter</option>
                                        <option value="Brother">Brother</option>
                                        <option value="Sister">Sister</option>
                                        <option value="Other">Other</option>
                                    </select>
                                    <i class="arrow double"></i>   
                                </label></div>
                            </div>
                        </div>
                        <div class="row py-2" style="margin-top: 10px;">
                            <button type="button" class="btn btn-success mr-auto" style="width:2cm;background-color: #E71D36;margin: 20px;"
                              [disabled]="active === 1" (click)="nav.select(1)">Back</button>
                            <button type="button" class="btn btn-success ml-auto" style="width:3cm;background-color: #E71D36;margin: 20px;"
                              [disabled]="active === 3" (click)="nav.select(3)">Continue</button>
                        </div>
                    </ng-template>
                </li>
                <li [ngbNavItem]="3">
                    <a ngbNavLink style="font-weight: bold;">Step 3: bike Registration Address</a>
                    <ng-template ngbNavContent>
                        <div class="container" style="margin-top:2cm;">
                        <div class="row">
                                <label for="" class="" style="margin-left: 3cm;font-weight: bold;">Registration Address :</label>
                                <label class="field" style="width: 16cm;margin-left:20px">
                                    <input type="text" name="address" id="address" class="form-control date-input"
                                     placeholder="Flat - No. ABC...">
                                   <label for="" class="field-icon"><i class="fa fa-map-marker"></i></label>
                                </label>
                        </div>
                        <div class="row">
                                <label for="" class="" style="margin-left: 3cm;font-weight: bold;">Area/Locality :</label>
                                <label class="field" style="width: 16cm;margin-left:1.7cm">
                                    <input type="text" name="area_locality" id="area_locality" class="form-control date-input"
                                            placeholder="e.g. Bandra...">
                                    <label for="" class="field-icon"><i class="fa fa-map-marker"></i></label> 
                                </label>
                        </div>
                        <div class="row">
                                <label for="" class="" style="margin-left: 3cm;font-weight: bold;">Landmark :</label>
                                <label class="field" style="width: 16cm;margin-left:2.3cm">
                                    <input type="text" name="landmark" id="landmark" class="form-control date-input"
                                        placeholder="e.g. Near ABCD...">
                                    <label for="" class="field-icon"><i class="fa fa-map-marker"></i></label>
                                </label>
                        </div>
                        <div class="row">
                                <label for="" class="" style="margin-left: 3cm;font-weight: bold;">Pincode :</label>
                                <label class="field" style="width: 10cm;margin-left: 2.7cm;">
                                    <input type="text" name="pincode_id" id="pincode_id" class="form-control"
                                        placeholder="e.g. 400055">
                                </label>
                        </div>
                        <div class="row">
                                <label for="" class="" style="margin-left: 3cm;font-weight: bold;">City :</label>
                                <label class="field" style="width: 10cm;margin-left: 3.3cm;">
                                    <select class="custom-select">
                                        <option value="">Select City</option>
                                        <option value=""></option>
                                    </select>
                                    <i class="arrow double"></i>   
                                </label>
                        </div>
                        <div class="row">
                            <label for="" class="" style="margin-left: 3cm;font-weight: bold;">State :</label>
                            <label class="field" style="width: 10cm;margin-left: 3.2cm;">
                                <select class="custom-select" >
                                    <option value="">Select State</option>
                                    <option value="" ></option>
                                    
                                </select>
                                <i class="arrow double"></i>   
                            </label>
                    </div>
                        <div class="container">
                            <label class="option" style="font-weight: bold;">
                                <input type="checkbox" style="margin-left: 6.5cm;"  name="add_communication_address"  >
                                <span class="checkbox"></span>  My Communication Address is different from my Registration Address           
                            </label>  
                        </div>
                        <div>

                            <div class="row">
                                <label for="" class="" style="margin-left: 3cm;font-weight: bold;">Communication Address :</label>
                                <label class="field" style="width: 16cm;margin-left:20px">
                                    <input type="text" name="communication_address" id="communication_address" class="form-control date-input"
                                     placeholder="Flat - No. ABC...">
                                   <label for="" class="field-icon"><i class="fa fa-map-marker"></i></label>
                                </label>
                        </div>
                        <div class="row">
                                <label for="" class="" style="margin-left: 3cm;font-weight: bold;">Area/Locality :</label>
                                <label class="field" style="width: 16cm;margin-left:1.7cm">
                                    <input type="text" name="communication_area_locality" id="communication_area_locality" class="form-control date-input"
                                            placeholder="e.g. Bandra...">
                                    <label for="" class="field-icon"><i class="fa fa-map-marker"></i></label> 
                                </label>
                        </div>
                        <div class="row">
                                <label for="" class="" style="margin-left: 3cm;font-weight: bold;">Landmark :</label>
                                <label class="field" style="width: 16cm;margin-left:2.3cm">
                                    <input type="text"  name="communication_landmark" id="communication_landmark" class="form-control date-input"
                                        placeholder="e.g. Near ABCD...">
                                    <label for="" class="field-icon"><i class="fa fa-map-marker"></i></label>
                                </label>
                        </div>
                        <div class="row">
                                <label for="" class="" style="margin-left: 3cm;font-weight: bold;">Pincode :</label>
                                <label class="field" style="width: 10cm;margin-left: 2.7cm;">
                                    <input type="text" name="communication_pincode" id="communication_pincode" class="form-control"
                                        placeholder="e.g. 400055">
                                </label>
                        </div>
                        <div class="row">
                                <label for="" class="" style="margin-left: 3cm;font-weight: bold;">City :</label>
                                <label class="field" style="width: 10cm;margin-left: 3.3cm;">
                                    <select class="custom-select">
                                        <option value="">Select City</option>
                                        <option value= ""></option>
                                    </select>
                                    <i class="arrow double"></i>   
                                </label>
                        </div>
                        <div class="row">
                            <label for="" class="" style="margin-left: 3cm;font-weight: bold;">State :</label>
                            <label class="field" style="width: 10cm;margin-left: 3.2cm;">
                                <select class="custom-select" >
                                    <option value="">Select State</option>
                                    <option value=""></option>
                                    
                                </select>
                                <i class="arrow double"></i>   
                            </label>
                    </div>
                        </div>
                        <div class="row py-2 ">
                            <button type="button" class="btn btn-success mr-auto" style="width:2cm;background-color: #E71D36;margin: 20px;"
                              [disabled]="active === 2" (click)="nav.select(2)">Back</button>
                            <button type="button" class="btn btn-success ml-auto" style="width:3cm;background-color: #E71D36;margin: 20px;"
                              [disabled]="active === 4" (click)="nav.select(4)">Continue</button>
                        </div></div>
                    </ng-template>
                </li>
                <li [ngbNavItem]="4">
                    <a ngbNavLink style="font-weight: bold;">Step 4: Vehicle Details</a>
                    <ng-template ngbNavContent>
                        <div class="row" style="margin-top: 1cm;">
                            <div class="col-6">
                                <div class="row">
                                    <label for="" class="" style="font-weight: bold;margin-left: 20px;">Registration Number :</label>
                                    <label class="field" style="width: 8cm;margin-left: 15px;">
                                        <input type="text" name="bike_register_no" id="bike_register_no" class="form-control date-input"
                                        placeholder="e.g. AB9863">
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <label for="" class="" style="font-weight: bold;">Expiring Policy Number :</label>
                                    <label class="field" style="width: 8cm;margin-left: 15px;">
                                        <input type="text" name="expiry_policy_no" id="expiry_policy_no" class="form-control date-input"
                                            placeholder="Enter expiring policy's no.">
                                        <label for="" class="field-icon"><i class="fa fa-pencil"></i></label>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <label for="" class="" style="font-weight: bold;margin-left: 20px;">Engine Number :</label>
                                    <label class="field" style="width: 8cm;margin-left: 1.4cm;">
                                        <input type="text" name="enginee_no" id="enginee_no" class="form-control date-input"
                                        placeholder="Last 6 Digits...">
                                        <label for="" class="field-icon"><i class="fa fa-pencil-square"></i></label>
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <label for="" class="" style="font-weight: bold;">Existing Insurance :</label>
                                    <label class="field" style="width: 8cm;margin-left: 1.4cm;">
                                        <select class="custom-select" name="existing_insurance" id="existing_insurance">
                                        <option value="">Select Company</option>
                                        <option value=""></option>
                                        
                                        </select>
                                        <i class="arrow double"></i>   
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <label for="" class="" style="font-weight: bold;margin-left: 20px;">Chassis Number :</label>
                                    <label class="field" style="width: 8cm;margin-left: 1.4cm;">
                                        <input type="text" name="chassis_no" id="chassis_no" class="form-control date-input"
                                        placeholder="Last 6 Digits...">
                                        <label for="" class="field-icon"><i class="fa fa-pencil-square-o"></i></label>
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="">
                                        <h6 style="font-weight: bold;">Is your bike financed ?</h6> 
                                    </div>
                                    <div class="col-3" style="margin-left: 1cm;">
                                        <label class="container-div">
                                            <input type="radio"  name="" value="true">
                                            <span class="checkmark"></span>Yes
                                        </label><br>
                                        <label class="container-div">
                                            <input type="radio" name="" value="false">
                                            <span class="checkmark"></span>No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <label for="" class="" style="font-weight: bold;margin-left: 20px;">Select Loan Provider Financier's Name*
                                        :</label>
                                    <label class="field" style="width: 8cm;margin-left: 15px;">
                                        <select class="custom-select" name="" id="">
                                            <option value="">Select Financier's Name</option>
                                            <option value=""></option>
                                            
                                            </select>
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <label for="" class="" style="font-weight: bold;">City from where Loan was taken :</label>
                                    <label class="field" style="width: 8cm;margin-left: 15px;">
                                        <input type="text" name="loan_city" id="loan_city" class="form-control date-input"
                                            placeholder="Enter City from where Loan was taken">
                                        <label for="" class="field-icon"><i class="fa fa-pencil"></i></label>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row py-2">
                            <button type="button" class="btn btn-success mr-auto" style="width:2cm;background-color: #E71D36;margin: 20px;"
                              [disabled]="active === 3" (click)="nav.select(3)">Back</button>
                               
                                <button type="button" class="btn btn-success ml-auto" style="width:3cm;background-color: #E71D36;margin: 20px;"><a href="bike/summary" style="background-color: #E71D36;color: whitesmoke;">Continue</a></button> 
                        </div> 
                    </ng-template>
                </li>
               
            </ul>
            <div [ngbNavOutlet]="nav" class="mt-2"></div>
            <pre class="display">{{ active }}</pre>
        </div>
    </div>
     </form>
</div>

<ng-template #email let-modal>
    <div class="modal-header text-white" style="background-color: green;">
        <h3 class="text-white">Save Proposal Form on Email</h3>
        <button type="button" class="close text-white" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-6 py-2">
                <label class="field" style="width: 6.5cm;">
                    <!-- <input type="email" [(ngModel)]="formData.email_proposal" name="email_proposal" id="" class="form-control date-input" placeholder="Email"> 
                    <label for="" class="field-icon"><i class="fa fa-envelope"></i></label>
                </label>
            </div>
            <div class="col-6 py-2">
                <button type="button" class="btn btn-success" style="width:5cm">Email Proposal Form</button>
            </div>
        </div>
    </div>
</ng-template>-->
