/*
.popups {
    color: black;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.container {
    font-family:'Averin';
}
*/
.container-fluid {
  height: auto;
}

.innerDiv {
  background-color: #ffffff;
  width: 370px;
  height: 517px;
  margin-top: 76px;
  margin-left: 100px;
  box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.07);
  border-radius: 12px;
  color: #303253;
  font-family: Poppins;
}

.innerDiv h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  padding-top: 40px;
  padding-left: 32px;
}

.innerDiv b {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-top: 30px;
  margin-left: 32px;
  margin-bottom: 15px;
  display: block;
}

.innerDiv select {
  width: 80%;
  height: 30px;
  margin-left: 32px;
  border: 0px;
  box-sizing: border-box;
  border-radius: 12px;
}

.innerDiv hr {
  width: 270px;
  background-color: #DDDDDD;
}

.innerDiv button {
  background-color: #303253;
  width: 306px;
  height: 48px;
  margin-top: 40px;
  margin-left: 32px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 27px;
  border-radius: 8px;
}

.main {
  padding-left: 50px;
}

.main h2 {
  margin-top: 76px;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  font-family: Poppins;
  color: #303253;
}

.popup {
  width: 860px;
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 23px;
  padding-left: 64px;
  background-color: #FFFFFF;
  box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.07);
  border-radius: 12px;
}

.popup b {
  color: #303253;
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}

.popup button {
  color: #2229B6;
  font-family: Poppins;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  background-color: #FFFFFF;
  border: #FFFFFF;
  position: absolute;
  margin-left: 400px;
}

.popup strong {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #303253;
  display: inline;
  margin-left: 210px;
}

.popup p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #303253;
  display: inline;
}

.popup .btn-primary {
  background: #999999;
  border-radius: 10px;
  width: 248px;
  height: 60px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
  color: #FFFFFF;
  position: initial;
  margin-left: 30px;
  margin-bottom: 30px;
}

.row p {
  margin-left: 34px;
  margin-top: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #5A7184;
}

.sort {
  margin-left: 220px;
}

.sort select {
  width: 200px;
  height: 52px;
  background: #F9FAFB;
  border-radius: 8px;
  border: 0;
}

.inner-main {
  width: 860px;
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 23px;
  padding-bottom: 30px;
  background-color: #FFFFFF;
  box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.07);
  border-radius: 12px;
}

.inner-main h5 {
  margin-left: 34px;
}

.inner-main p {
  color: #959EAD;
}

.option {
  width: 821px;
  background: #FFFFFF;
  mix-blend-mode: normal;
  box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.07);
  border-radius: 12px;
  margin-bottom: 10px;
  margin-left: 20px;
  padding-left: 20px;
}

.option-selected {
  width: 821px;
  height: 90px;
  background-color: #EEF8EC;
  mix-blend-mode: normal;
  box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.07);
  border-radius: 12px;
  margin-bottom: 10px;
  margin-left: 20px;
  padding-left: 20px;
}

mat-radio-button {
  float: left;
  padding-top: 33px;
}

.option img,
.option-selected img {
  width: 70px;
  height: 50px;
  margin-left: 20px;
  margin-top: 20px;
}

.option p,
.option-selected p {
  display: inline;
}

.caption {
  margin-left: 60px;
  width: 300px;
  height: 80px;
  display: inline-flex;
}

.op-selected {
  color: #50B83C;
}

.price {

  display: inline-flex;
  margin-left: 0px;
  height: 70px;
  width: 320px;
}

.price button {
  background-color: #303253;
  width: 110px;
  height: 40px;
  margin-top: 15px;
  margin-left: 120px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 40px;
  border-radius: 10px;
}

@media only screen and (max-width: 1300px) {
  .innerDiv {
    background-color: #ffffff;
    width: 370px;
    height: 517px;
    margin-top: 76px;
    margin-left: 6%;
    box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.07);
    border-radius: 12px;
    color: #303253;
    font-family: Poppins;
  }

  .sort {
    margin-left: 80px;
  }

  .option {
    width: 100%;
    height: 90px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.07);
    border-radius: 12px;
    margin-bottom: 10px;
    margin-left: 20px;
    padding-left: 20px;
  }

  .caption {
    margin-left: 10px;
    width: 300px;
    height: 80px;
    display: inline-flex;
  }

  .price {

    display: inline-flex;
    margin-left: -10px;
    height: 70px;
    width: 320px;
  }

  .price button {
    background-color: #303253;
    width: 110px;
    height: 40px;
    margin-top: 15px;
    margin-left: 60px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 40px;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 1360px) {
  .sort {
    margin-left: 80px;
  }
}

//Toggle Collapse Icons
.btn:after {
  content: "X";
}

/* Icon when the collapsible content is hidden */
.btn.collapsed:after {
  content: "See More";
}

.Footer {
  position: fixed;
  bottom: 0px;
  background-color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
  /* height: 135px; */
  color: #ffffff;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0px 20px 40px rgb(3 0 77 / 42%);
}

.tg .tg-yw4l {
  vertical-align: top;
  width: 25%;
}

.tg .tg-t1l0 {
  font-size: 14px;
  font-family: "Arial Black", Gadget, sans-serif !important;
  ;
  vertical-align: top;
  width: 25%;
}

.centerdiv {
  text-align: center;
}

.compare {
  background-color: #303253;
}


.colour {
  color: #303253;
}


::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #50B83C;
}

.save {
  width: 630px;
  height: 56px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  background: #EB6E47;
  border-radius: 8px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

}
