<!-- <h2 class="container text-center" style="margin-top: 20px;margin-bottom: 20px;color: #E71D36;font-weight: bold;">HEALTH INSURANCE</h2>
 <div class="row" style="margin-bottom: 20px;">   
    <div class="container col-5 popups" style="width: 8cm"> 
        <div class="">
            <h6 class="" style="color:  #E71D36;">Showing Results for :-  <span style="color: #000;margin-left: 10px;">{{ healthData.age+' Years , '+healthData.gender }}</span> </h6>
        </div>
        <div class=""> 
            <h6 class="" style="color: #2EA7C4">Insurance Cover :- <span style="color: #000">{{ healthData.min_insurance_cover+' - '+healthData.max_insurance_cover+' Lacs'}}</span> </h6>
        </div>
        <div class="">
            <h6 class="" style="color: #2EA7C4">Eldest Member Age :- <span style="color: #000">{{ healthData.age+' Years' }}</span> </h6>
        </div>
        <div class="">
            <h6 class="" style="color: #2EA7C4">Insured Members :- <span style="color: #000">{{ healthData.adults+' Adults & '+healthData.children+' Children' }}</span> </h6>
        </div> 
    </div>
    <div class="container col-6 popups">
        We did not get quotes from the following :
    </div>
</div>
<div class="row" style="margin-bottom: 20px;">
<div class="container col-5" style="margin-left: 25px;">
    <div class="row popups" *ngFor="let quote of quotesData" style="margin-bottom: 20px;">
        <div class="row hdfcHeadrer" style="background-color: #E71D36;width:14.5cm;margin-left: 0px;">
            <div class="col-4">
                <img src="{{baseApiUrl}}/{{quote.logo.replace('public/', '/')}}" alt="" class="img-thumbnail" style="width:500px;height:90px">
            </div>
            <div class="col-4" style="padding-top: 20px;height: 2cm;color: whitesmoke;"> 
                Cover :₹ {{quote.sum_assured}} Lacs
            </div>
        </div>
        <div class="row">
            <div class="col-4" style="margin-left: 40px;font-size: 25px;margin-top:20px;">
                ₹  {{quote.premium_with_tax | number : '1.0-0'}}
            </div>
            <div class="col-4">
                <button class="btn btn-primary" (click)= "bookNow(quote.id ,leadId, quote.master_sheet_id, quote.sum_assured, quote.premium_with_tax ,quote.area_code, quote.health_id)"
                style="width: 3.5cm;background-color: #E71D36;margin-top:20px;margin-left: 50px;margin-bottom: 20px;">Buy Now</button>    
            </div>
        </div> 
    </div>
</div>  -->
<app-header-lite></app-header-lite>
<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <div class="innerDiv">
        <h3>Policy Details</h3>
        <b>Insurance Cover</b>
        <select name="" id="" [(ngModel)]="enquiryCover">
          <option value="" disabled>Select Insurance Cover</option>
          <option value="1.00-2.00">1-2 Lacs</option>
          <option value="2.00-3.50">2-3.5 Lacs</option>
          <option value="3.50-4.50">3.50-4.50 Lacs</option>
          <option value="5.00-6.50">5-6.50 Lacs</option>
          <option value="6.50-9.00">6.50-9 Lacs</option>
          <option value="9.00-12.00">9-12 Lacs</option>
          <option value="12.00-15.00">12-15 Lacs</option>
          <option value="16.00-25.00">16-25 Lacs</option>
          <option value="26.00-100.00">Above 25 Lacs</option>
        </select>
        <hr>
        <b>Eldest Member Age</b>
        <select name="" id="" [(ngModel)]="enquiryAge">
          <option value="" disabled>Age Of Eldest Member</option>
          <option *ngFor="let age of ages" value="{{age}}">{{age}}</option>
        </select>
        <hr>
        <b>Insured Members</b>
        <select name="" id="" [(ngModel)]="enquiryMembers">
          <!-- <option value="" disabled>1 Adult & 2 Children</option> -->
          <option value="1,0">1 Adult Only</option>
          <option value="1,1">1 Adult &amp; 1 Child</option>
          <option value="1,2">1 Adult &amp; 2 Children</option>
          <option value="1,3">1 Adult &amp; 3 Children</option>
          <option value="1,4">1 Adult &amp; 4 Children</option>
          <option value="2,0">2 Adults Only</option>
          <option value="2,1">2 Adults &amp; 1 Child</option>
          <option value="2,2">2 Adults &amp; 2 Children</option>
          <option value="2,3">2 Adults &amp; 3 Children</option>
          <option value="2,4">2 Adults &amp; 4 Children</option>
        </select>
        <button mat-button (click)="editHealthQuotes()">Apply</button>
        <!-- <button mat-button (click)="openScrollableContent(longContent)">Apply</button> -->
      </div>
    </div>
    <div class="col-8 main">
      <h2>Health Insurance</h2>
      <div class="popup">
        <!-- <b>40 Years, Male, 2 Children, 1 - 2 Lacs</b> -->
        <b>{{healthData?.age}} Years, {{healthData?.children}} Children,
          {{healthData?.min_insurance_cover}}-{{healthData?.max_insurance_cover}} Lacs</b>
        <button class="btn collapsed" data-toggle="collapse" data-target="#details"></button><br><br>
        <div class="collapse" id="details">
          <!-- <p>Proposer Age :</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <strong>{{healthData?.age}} Years</strong><br><br>
                    <p>Proposer Gender :</p>&nbsp;&nbsp;
                    <strong> Male ????</strong><br><br> -->
          <p>Insured Members :</p>&nbsp;
          <strong>{{healthData?.adults}} Adults & {{healthData?.children}} Children</strong><br><br>
          <!-- Eldest Age : 40 Years<br> -->
          <p>Eldest Age :</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <strong>{{healthData?.age}} Years</strong><br><br>
          <!-- Insurance Cover : 1 - 2 Lakhs<br><br> -->
          <p>Insurance Cover :</p>&nbsp;&nbsp;&nbsp;
          <strong>{{healthData?.max_insurance_cover}} Lacs</strong><br><br>
          <button class="btn btn-primary" (click)="redirectToEdit()">Edit</button>
        </div>
      </div>
      <div class="row">
        <div>
          <!-- <p>Showing 1-10 from 22 total for ‘Health insurance’</p> -->
          <p>Showing {{ (p - 1) * itemsPerPage + 1 }} - {{ p * itemsPerPage }} from {{
                        quotesData.length }} total for ‘Health insurance’</p>
        </div>
        <div class="sort">
          Sort by :
          <select name="" id="" (change)="setOrderBy($event.target.value)">
            <!-- <option value="" disabled>Highest rating</option> -->
            <option value="company_name" selected>Company Name</option>
            <option value="sumAssuredNumeric">Sum Assured</option>
            <option value="premium_with_tax">Premiun (Low to High)</option>
            <option value="premium_with_tax_true">Premiun (High to low)</option>
          </select>
        </div>
      </div>
      <div class="inner-main">
        <h5>Compare or Buy Insurance Provider</h5>
        <p>You can compare between multiple insurance providers that suit your needs</p><br>
        <mat-radio-group aria-label="">

          <div class="option"
            *ngFor="let quote of quotesData | orderBy: orderby : reverseFlag | paginate:{itemsPerPage:itemsPerPage,currentPage:p}">
            <mat-checkbox value="" (change)="checkBoxBottonClick(quote, $event)"></mat-checkbox>
            <!-- <img src="/assets/home_images/partner/hdfc.png" alt=""> -->
            <img src="{{baseApiUrl}}/{{quote.logo.replace('public/', '/')}}" alt="">
            <div class="caption">
              <span><b>{{quote.company_name}}</b><br>{{ quote.policy_name }}<br>
                Insurance Cover : ₹ {{quote.sum_assured}} Lacs<br>

              </span>
            </div>
            <div class="price">
              <span>1 Year<br>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M10.0001 18.3996C5.36091 18.3996 1.6001 14.6388 
                                    1.6001 9.99961C1.6001 5.36042 5.36091 1.59961 10.0001 1.59961C14.6393 1.59961 18.4001 5.36042 18.4001 
                                    9.99961C18.4001 14.6388 14.6393 18.3996 10.0001 18.3996Z" fill="#50B83C" />
                  <path d="M11.4609 8.51562C11.388 9.19271 11.125 9.73958 10.6719 10.1562C10.2188 10.5729 
                                    9.53906 10.849 8.63281 10.9844L12.0156 14.9531H10.375L7 11.0078L7.15625 9.86719H7.875C8.13021 
                                    9.86719 8.35417 9.85677 8.54688 9.83594C8.73958 9.8151 8.90625 9.78646 9.04688 9.75C9.19271 9.70833 
                                    9.31771 9.65885 9.42188 9.60156C9.52604 9.53906 9.6224 9.46875 9.71094 9.39062C9.9401 9.17188 10.0885 
                                    8.88021 10.1562 8.51562H7V7.375H10.1406C10.099 7.17188 10.0312 7 9.9375 6.85938C9.84896 6.71354 9.73177 
                                    6.58333 9.58594 6.46875C9.4401 6.35417 9.2474 6.27083 9.00781 6.21875C8.77344 6.16667 8.45833 6.14062 
                                    8.0625 6.14062H7V5H13.75V6.14062H10.75C10.9323 6.27083 11.0833 6.44271 11.2031 6.65625C11.3229 6.86979 
                                    11.4062 7.10938 11.4531 7.375H13.75V8.51562H11.4609Z" fill="#ECDCC4" />
                </svg>
                <b>&#8377; {{quote.premium_with_tax | number : '1.0-0'}}</b></span>
              <button mat-button
                (click)="bookNow(quote.id ,leadId, quote.master_sheet_id, quote.sum_assured, quote.premium_with_tax ,quote.area_code, quote.health_id)">Buy</button>
            </div>
          </div>
          <!-- <div class="option-selected">
                        <mat-radio-button value=""></mat-radio-button>
                        <img src="/assets/home_images/partner/bajaj.png" alt="">
                        <div class="caption">
                            <span><b class="op-selected">Bajaj Allianz</b><br>Insurance Cover : ₹2 Lakhs<br>NCB Discount
                                : 25%</span>
                        </div>
                        <div class="price">
                            <span>1 Year<br>
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.0001 18.3996C5.36091 18.3996 1.6001 14.6388 
                                    1.6001 9.99961C1.6001 5.36042 5.36091 1.59961 10.0001 1.59961C14.6393 1.59961 18.4001 5.36042 18.4001 
                                    9.99961C18.4001 14.6388 14.6393 18.3996 10.0001 18.3996Z" fill="#50B83C" />
                                    <path d="M11.4609 8.51562C11.388 9.19271 11.125 9.73958 10.6719 10.1562C10.2188 10.5729 
                                    9.53906 10.849 8.63281 10.9844L12.0156 14.9531H10.375L7 11.0078L7.15625 9.86719H7.875C8.13021 
                                    9.86719 8.35417 9.85677 8.54688 9.83594C8.73958 9.8151 8.90625 9.78646 9.04688 9.75C9.19271 9.70833 
                                    9.31771 9.65885 9.42188 9.60156C9.52604 9.53906 9.6224 9.46875 9.71094 9.39062C9.9401 9.17188 10.0885 
                                    8.88021 10.1562 8.51562H7V7.375H10.1406C10.099 7.17188 10.0312 7 9.9375 6.85938C9.84896 6.71354 9.73177 
                                    6.58333 9.58594 6.46875C9.4401 6.35417 9.2474 6.27083 9.00781 6.21875C8.77344 6.16667 8.45833 6.14062 
                                    8.0625 6.14062H7V5H13.75V6.14062H10.75C10.9323 6.27083 11.0833 6.44271 11.2031 6.65625C11.3229 6.86979 
                                    11.4062 7.10938 11.4531 7.375H13.75V8.51562H11.4609Z" fill="#ECDCC4" />
                                </svg>
                                <b class="op-selected">&#8377; 2353</b></span>
                            <button mat-button>Buy</button>
                        </div>
                    </div>
                    <div class="option">
                        <mat-radio-button value=""></mat-radio-button>
                        <img src="/assets/home_images/partner/icici.png" alt="">
                        <div class="caption">
                            <span><b>Star Insurance</b><br>Insurance Cover : ₹2 Lakhs<br>NCB Discount : 25%</span>
                        </div>
                        <div class="price">
                            <span>1 Year<br>
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.0001 18.3996C5.36091 18.3996 1.6001 14.6388 
                                    1.6001 9.99961C1.6001 5.36042 5.36091 1.59961 10.0001 1.59961C14.6393 1.59961 18.4001 5.36042 18.4001 
                                    9.99961C18.4001 14.6388 14.6393 18.3996 10.0001 18.3996Z" fill="#50B83C" />
                                    <path d="M11.4609 8.51562C11.388 9.19271 11.125 9.73958 10.6719 10.1562C10.2188 10.5729 
                                    9.53906 10.849 8.63281 10.9844L12.0156 14.9531H10.375L7 11.0078L7.15625 9.86719H7.875C8.13021 
                                    9.86719 8.35417 9.85677 8.54688 9.83594C8.73958 9.8151 8.90625 9.78646 9.04688 9.75C9.19271 9.70833 
                                    9.31771 9.65885 9.42188 9.60156C9.52604 9.53906 9.6224 9.46875 9.71094 9.39062C9.9401 9.17188 10.0885 
                                    8.88021 10.1562 8.51562H7V7.375H10.1406C10.099 7.17188 10.0312 7 9.9375 6.85938C9.84896 6.71354 9.73177 
                                    6.58333 9.58594 6.46875C9.4401 6.35417 9.2474 6.27083 9.00781 6.21875C8.77344 6.16667 8.45833 6.14062 
                                    8.0625 6.14062H7V5H13.75V6.14062H10.75C10.9323 6.27083 11.0833 6.44271 11.2031 6.65625C11.3229 6.86979 
                                    11.4062 7.10938 11.4531 7.375H13.75V8.51562H11.4609Z" fill="#ECDCC4" />
                                </svg>
                                <b>&#8377; 2500</b></span>
                            <button mat-button>Buy</button>
                        </div>
                    </div>
                    <div class="option">
                        <mat-radio-button value=""></mat-radio-button>
                        <img src="/assets/home_images/partner/manipal.png" alt="">
                        <div class="caption">
                            <span><b>Manipal Cigna</b><br>Insurance Cover : ₹2 Lakhs<br>NCB Discount : 25%</span>
                        </div>
                        <div class="price">
                            <span>1 Year<br>
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.0001 18.3996C5.36091 18.3996 1.6001 14.6388 
                                    1.6001 9.99961C1.6001 5.36042 5.36091 1.59961 10.0001 1.59961C14.6393 1.59961 18.4001 5.36042 18.4001 
                                    9.99961C18.4001 14.6388 14.6393 18.3996 10.0001 18.3996Z" fill="#50B83C" />
                                    <path d="M11.4609 8.51562C11.388 9.19271 11.125 9.73958 10.6719 10.1562C10.2188 10.5729 
                                    9.53906 10.849 8.63281 10.9844L12.0156 14.9531H10.375L7 11.0078L7.15625 9.86719H7.875C8.13021 
                                    9.86719 8.35417 9.85677 8.54688 9.83594C8.73958 9.8151 8.90625 9.78646 9.04688 9.75C9.19271 9.70833 
                                    9.31771 9.65885 9.42188 9.60156C9.52604 9.53906 9.6224 9.46875 9.71094 9.39062C9.9401 9.17188 10.0885 
                                    8.88021 10.1562 8.51562H7V7.375H10.1406C10.099 7.17188 10.0312 7 9.9375 6.85938C9.84896 6.71354 9.73177 
                                    6.58333 9.58594 6.46875C9.4401 6.35417 9.2474 6.27083 9.00781 6.21875C8.77344 6.16667 8.45833 6.14062 
                                    8.0625 6.14062H7V5H13.75V6.14062H10.75C10.9323 6.27083 11.0833 6.44271 11.2031 6.65625C11.3229 6.86979 
                                    11.4062 7.10938 11.4531 7.375H13.75V8.51562H11.4609Z" fill="#ECDCC4" />
                                </svg>
                                <b>&#8377; 2500</b></span>
                            <button mat-button>Buy</button>
                        </div>
                    </div>
                    <div class="option">
                        <mat-radio-button value=""></mat-radio-button>
                        <img src="/assets/home_images/partner/tata.png" alt="">
                        <div class="caption">
                            <span><b>Tata AIG</b><br>Insurance Cover : ₹2 Lakhs<br>NCB Discount : 25%</span>
                        </div>
                        <div class="price">
                            <span>1 Year<br>
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.0001 18.3996C5.36091 18.3996 1.6001 14.6388 
                                    1.6001 9.99961C1.6001 5.36042 5.36091 1.59961 10.0001 1.59961C14.6393 1.59961 18.4001 5.36042 18.4001 
                                    9.99961C18.4001 14.6388 14.6393 18.3996 10.0001 18.3996Z" fill="#50B83C" />
                                    <path d="M11.4609 8.51562C11.388 9.19271 11.125 9.73958 10.6719 10.1562C10.2188 10.5729 
                                    9.53906 10.849 8.63281 10.9844L12.0156 14.9531H10.375L7 11.0078L7.15625 9.86719H7.875C8.13021 
                                    9.86719 8.35417 9.85677 8.54688 9.83594C8.73958 9.8151 8.90625 9.78646 9.04688 9.75C9.19271 9.70833 
                                    9.31771 9.65885 9.42188 9.60156C9.52604 9.53906 9.6224 9.46875 9.71094 9.39062C9.9401 9.17188 10.0885 
                                    8.88021 10.1562 8.51562H7V7.375H10.1406C10.099 7.17188 10.0312 7 9.9375 6.85938C9.84896 6.71354 9.73177 
                                    6.58333 9.58594 6.46875C9.4401 6.35417 9.2474 6.27083 9.00781 6.21875C8.77344 6.16667 8.45833 6.14062 
                                    8.0625 6.14062H7V5H13.75V6.14062H10.75C10.9323 6.27083 11.0833 6.44271 11.2031 6.65625C11.3229 6.86979 
                                    11.4062 7.10938 11.4531 7.375H13.75V8.51562H11.4609Z" fill="#ECDCC4" />
                                </svg>
                                <b>&#8377; 2500</b></span>
                            <button mat-button>Buy</button>
                        </div>
                    </div> -->
        </mat-radio-group>
        <pagination-controls maxSize="9" previousLabel="Previous" nextLabel="Next" (pageChange)="p=$event"
          screenReaderCurrentLabel="You're on page" responsive="true">
        </pagination-controls>
      </div>
    </div>
  </div>
  <img src="/assets/home_images/bg_img/dots_img.png" alt="">
</div>
<app-footer></app-footer>


<ng-template #longContent let-modal class="modal-width">
  <div class="modal-header">
    <h4 class="modal-title colour">Compare Health Insurance</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- <table class="table table-bordered tg centerdiv "> -->
    <!-- table table-bordered border-primary -->
    <table class="table table-bordered border-primary">
      <!-- <tr>
                <td class="tg-t1l0">Company</td>
                <td class="tg-yw4l" *ngFor="let compare of compare_data"> <b>
                    <img src="{{baseApiUrl}}/{{value.logo.replace('public/', '/')}}" alt="">
                </b></td>
            </tr> -->
      <tr>
        <td class="tg-t1l0 align-middle">Plan Name</td>
        <td class="tg-yw4l text-center" *ngFor="let compare of compare_data">
          <img src="{{baseApiUrl}}/{{compare.logo.replace('public/', '/')}}" alt="" class="img-fluid"><br>
          <b>{{compare.company_name}}</b>
        </td>
      </tr>
      <tr>
        <td class="tg-t1l0">Cover</td>
        <td class="tg-yw4l" *ngFor="let compare of compare_data"> {{compare.sum_assured}} Lac</td>
      </tr>
      <tr>
        <td class="tg-t1l0">Premium</td>
        <td class="tg-yw4l" *ngFor="let compare of compare_data"> {{compare.premium_with_tax | number:'1.0-0'
                    }}</td>
      </tr>
      <tr>
        <td class="tg-t1l0">Existing Diseases</td>
        <td class="tg-yw4l" *ngFor="let compare of compare_data">
          Covered after {{compare.pre_existing_diseases}} years</td>
      </tr>

      <tr>
        <td class="tg-t1l0">Room Rent Limit</td>
        <td class="tg-yw4l" *ngFor="let compare of compare_data"> {{compare.normal_room_limit}}</td>
      </tr>
      <tr>
        <td class="tg-t1l0">Co-Pay</td>
        <td class="tg-yw4l" *ngFor="let compare of compare_data"> {{compare.copay_before_age_limit}} %</td>
      </tr>
      <tr>
        <td class="tg-t1l0">Unique Features</td>
        <td class="tg-yw4l" *ngFor="let compare of compare_data" ng-bind-html="compare.unique_features"> </td>
      </tr>
      <tr>
        <td class="tg-t1l0">Pre Hospitalisation Expenses</td>
        <td class="tg-yw4l" *ngFor="let compare of compare_data"> Upto {{compare.pre_hospitalisation}} Days</td>
      </tr>
      <tr>
        <td class="tg-t1l0">Post Hospitalisation Expenses</td>
        <td class="tg-yw4l" *ngFor="let compare of compare_data"> Upto {{compare.post_hospitalisation}} Days
        </td>
      </tr>
      <tr>
        <td class="tg-t1l0">Claim Based Loading</td>
        <td class="tg-yw4l" *ngFor="let compare of compare_data"> {{compare.claim_based_loading}}</td>
      </tr>
      <tr>
        <td class="tg-t1l0">Restoration Benefit</td>
        <td class="tg-yw4l" *ngFor="let compare of compare_data"> {{compare.restoration_benefit}}</td>
      </tr>
      <tr>
        <td class="tg-t1l0">Day Care Procedures</td>
        <td class="tg-yw4l" *ngFor="let compare of compare_data"> {{compare.day_care_procedures}}</td>
      </tr>
      <tr>
        <td class="tg-t1l0">Emergency Ambulance</td>
        <td class="tg-yw4l" *ngFor="let compare of compare_data"> Rs. {{compare.emergency_ambulance |
                    number:'1.0-0' }} / Claim</td>
      </tr>
      <tr>
        <td class="tg-t1l0">Maternity Benefit</td>
        <td class="tg-yw4l" *ngFor="let compare of compare_data"> {{compare.maternity_benefit}}</td>
      </tr>
      <tr>
        <td class="tg-t1l0">Network Hospitals</td>
        <td class="tg-yw4l" *ngFor="let compare of compare_data"> {{compare.network_hospitals | number:'1.0-0'
                    }} + </td>
      </tr>
      <tr>
        <td class="tg-t1l0">Initial Waiting Period</td>
        <td class="tg-yw4l" *ngFor="let compare of compare_data"> {{compare.initial_waiting_period}}</td>
      </tr>
      <tr>
        <td class="tg-t1l0">Specific Waiting Period</td>
        <td class="tg-yw4l" *ngFor="let compare of compare_data"> {{compare.specific_waiting_period}}</td>
      </tr>
      <tr>
        <td class="tg-t1l0">Coverage</td>
        <td class="tg-yw4l" *ngFor="let compare of compare_data"> {{compare.worldwide_coverage}}</td>
      </tr>
      <tr>
        <td class="tg-t1l0">Renewal Age Limit</td>
        <td class="tg-yw4l" *ngFor="let compare of compare_data"> {{compare.renewal_age}}</td>
      </tr>
      <tr>
        <td class="tg-t1l0">Tax Benefit</td>
        <td class="tg-yw4l" *ngFor="let compare of compare_data"> {{compare.tax_benefit}}</td>
      </tr>
      <tr>
        <td class="tg-t1l0">Free Look Period</td>
        <td class="tg-yw4l" *ngFor="let compare of compare_data"> {{compare.free_look_period}} Days</td>
      </tr>
      <tr>
        <td class="tg-t1l0">Grace Period</td>
        <td class="tg-yw4l" *ngFor="let compare of compare_data"> {{compare.grace_period}} Days</td>
      </tr>
    </table>
  </div>
</ng-template>

<div class="Footer" *ngIf="footerstatus">
  <div class="row">
    <div class="col-12 justify-content-start">
      <div *ngFor="let value of compare_data" class="d-inline">
        <img src="{{baseApiUrl}}/{{value.logo.replace('public/', '/')}}" alt="" width="80" height="60" class="ml-3">
      </div>
    </div>
  </div>
  <div class="row" style="padding-left: 25px;">
    <div class="mt-3 d-flex justify-content-around">
      <button mat-button class="compare mb-2 mr-2" (click)="openScrollableContent(longContent)">Compare</button>
    </div>
    <div class="mt-3 d-flex justify-content-around">
      <button mat-button class="compare mb-2 mr-2" (click)="downloadHealthComparePdf(compare_data)">Save Pdf</button>
      <!-- <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button> -->
    </div>
  </div>
  <!-- <button class="btn btn-outline-primary mb-2 mr-2" (click)="openSm(content)">Compare</button>
    <button class="btn btn-outline-primary mb-2 mr-2" (click)="openSm(content)">Download PDF</button> -->
</div>
