<app-header-lite></app-header-lite>
<div class="">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="row">
      <br />
      <br />
    </div>
    <!--first row start-->
    <div
      class="col-md-11"
      style="
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        margin-bottom: 48px;
        line-height: 72px;
        color: #303253;
      "
    >
      Car Insurance
    </div>
  </div>
  <!--first row end-->

  <div class="row">
    <div class="" style="width: 8%; float: left"></div>
    <div
      class=""
      style="
        background-color: white;
        width: 50%;
        float: left;
        height: max-content;
        background: #ffffff;
        box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
        border-radius: 12px;
      "
    >
      <div class="container form-group">
        <div class="row">
          <div
            class=""
            style="
              height: 15px;
              width: 25%;
              float: left;
              background-color: #eb6d47;
              box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
              border-radius: 12px 0px 0px 0px;
            "
          ></div>
          <div
            class=""
            style="
              height: 15px;
              width: 75%;
              float: left;
              margin-left: 0px;
              background-color: #dddddd;
              box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
              border-radius: 0px 12px 0px 0px;
            "
          ></div>
        </div>
        <br />
        <form autocomplete="off">
          <!--2nd row start-->
          <div class="row">
            <div
              class="col-md-12"
              style="
                text-align: center;
                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 32px;
                line-height: 48px;
                text-align: center;
                letter-spacing: 0.2px;
                color: #303253;
              "
            >
              Car Owner
            </div>
          </div>
          <!--2nd row end-->
          <!--3rd row start-->
          <div style="padding-right: 20px">
            <table style="width: 100%">
              <tr class="row" style="margin-top: 20px; margin-left: 15px">
                <td
                  class="col-md-6 field"
                  style="
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;

                    color: #303253;
                    margin-top: 15px;
                  "
                >
                  <label for="Car Belongs to  :"
                    >Car Belongs to<span class="required">* </span> :</label
                  >
                </td>
                <td class="col-md-6 field">
                  <div class="input-group input-group-lg">
                    <select
                      class="form-control"
                      style="
                        border-radius: 10px;
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                        height: 56px;

                        /* identical to box height */
                        color: #999999;
                      "
                      autocomplete="off"
                      [(ngModel)]="formData.car_owner"
                      name="car_owner"
                      id="car_owner"
                    >
                      <option value="" disabled>Select Car Owner</option>
                      <option value="individual">Individual</option>
                      <option value="company">Company</option>
                    </select>
                  </div>
                  <div
                    style="display: none; margin-top: 10px"
                    id="car_owner_err"
                    class="alert alert-danger"
                  >
                    <div>Please Select Car Owner.</div>
                  </div>
                </td>
              </tr>
              <!--3rd row end-->
              <!--4th row start-->
              <tr
                class="row"
                style="margin-top: 20px; margin-left: 15px"
                *ngIf="formData.car_owner == 'company'"
              >
                <td
                  class="col-md-6 field"
                  style="
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;

                    color: #303253;
                    margin-top: 15px;
                  "
                >
                  <label for="Company Name "
                    >Company Name<span class="required">* </span> :</label
                  >
                </td>
                <td class="col-md-6 field">
                  <div class="input-group input-group-lg">
                    <input
                      type="text"
                      class="form-control"
                      style="
                        border-radius: 10px;
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                        height: 56px;

                        /* identical to box height */
                        color: #999999;
                      "
                      placeholder="Company Name"
                      autocomplete="off"
                      [(ngModel)]="formData.company_name"
                      name="company_name"
                      id="company_name"
                    />
                  </div>
                  <div
                    style="display: none; margin-top: 10px"
                    id="company_name_err"
                    class="alert alert-danger"
                  >
                    <div>Please Enter Company Name.</div>
                  </div>
                </td>
              </tr>
              <!--4th row end-->
              <!--5th row start-->
              <tr class="row" style="margin-top: 20px; margin-left: 15px">
                <td
                  class="col-md-6 field"
                  style="
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;

                    color: #303253;
                    margin-top: 15px;
                  "
                >
                  <label for="First Name "
                    >First Name<span class="required">* </span> :</label
                  >
                </td>
                <td class="col-md-6 field">
                  <div class="input-group input-group-lg">
                    <input
                      type="text"
                      class="form-control"
                      style="
                        border-radius: 10px;
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                        height: 56px;

                        /* identical to box height */
                        color: #999999;
                      "
                      placeholder="First Name "
                      autocomplete="off"
                      [(ngModel)]="formData.p_first_name"
                      name="p_first_name"
                      id="p_first_name"
                    />
                  </div>
                  <div
                    style="display: none; margin-top: 10px"
                    id="p_first_name_err"
                    class="alert alert-danger"
                  >
                    <div>Please Enter First Name.</div>
                  </div>
                </td>
              </tr>
              <!--5th row end-->
              <!--6th row start-->
              <tr class="row" style="margin-top: 20px; margin-left: 15px">
                <td
                  class="col-md-6 field"
                  style="
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;

                    color: #303253;
                    margin-top: 15px;
                  "
                >
                  <label for="Last Name "
                    >Last Name<span class="required">* </span> :</label
                  >
                </td>
                <td class="col-md-6 field">
                  <div class="input-group input-group-lg">
                    <input
                      type="text"
                      class="form-control"
                      style="
                        border-radius: 10px;
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                        height: 56px;

                        /* identical to box height */
                        color: #999999;
                      "
                      placeholder="Last Name  "
                      autocomplete="off"
                      [(ngModel)]="formData.p_last_name"
                      name="p_last_name"
                      id="p_last_name"
                    />
                  </div>
                  <div
                    style="display: none; margin-top: 10px"
                    id="p_last_name_err"
                    class="alert alert-danger"
                  >
                    <div>Please Enter Last Name.</div>
                  </div>
                </td>
              </tr>
              <!--6th row end-->

              <!--7th row start-->
              <tr class="row" style="margin-top: 20px; margin-left: 15px">
                <td
                  class="col-md-6 field"
                  style="
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;

                    color: #303253;
                    margin-top: 15px;
                  "
                >
                  <label for="Email Address  "
                    >Email Address<span class="required">* </span> :</label
                  >
                </td>
                <td class="col-md-6 field">
                  <div class="input-group input-group-lg">
                    <input
                      type="text"
                      class="form-control"
                      style="
                        border-radius: 10px;
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                        height: 56px;

                        /* identical to box height */
                        color: #999999;
                      "
                      placeholder="JohnDoe33@gmail.com"
                      autocomplete="off"
                      [(ngModel)]="formData.email"
                      name="email"
                      id="email"
                    />
                    <!-- <select name="" id="" class="form-control" style="border-radius:10px;
                                                                                                font-family: Poppins;
                                                                                                font-style: normal;
                                                                                                font-weight: normal;
                                                                                                font-size: 16px;
                                                                                                line-height: 24px;
                                                                                                height:56px;margin-left: 10px;
                                                                                                color: #999999;">
                                                <option value="" selected>@gmail.com</option>
                                                <option value="">@yahoo.com</option>
                                                <option value="">@rediffmail.com</option>
                                            </select> -->
                  </div>
                  <!-- <div style="display: none;" id="email_err" class="alert alert-danger">
                                        <div>Please Enter Email.
                                        </div>
                                    </div> -->
                </td>
              </tr>
              <!--7th row end-->
              <!--8th row start-->
              <tr class="row" style="margin-top: 20px; margin-left: 15px">
                <td
                  class="col-md-6 field"
                  style="
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;

                    color: #303253;
                    margin-top: 15px;
                  "
                >
                  <label for="Mobile Number"
                    >Mobile Number<span class="required">* </span> :</label
                  >
                </td>
                <td class="col-md-6 field">
                  <div class="input-group input-group-lg">
                    <!-- <select name="" id="" style="border-radius:10px;
                                        font-family: Poppins;
                                        font-style: normal;
                                        font-weight: normal;
                                        font-size: 16px;
                                        line-height: 24px;
                                        height:56px; 
                                        color: #999999;
                                        border: #999999 1px solid;"> 
                                    <option value="+91" selected>+91</option>
                                    <option value="+12">+12</option>
                                    <option value="+22">+22</option>
                                    <option value="+93">+93</option>
                                    </select>&nbsp;&nbsp; -->
                    <input
                      type="text"
                      maxlength="10"
                      (keydown)="checkmobile($event)"
                      class="form-control no-spin"
                      style="
                        border-radius: 10px;
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                        height: 56px;

                        /* identical to box height */
                        color: #999999;
                      "
                      placeholder="10 digit number   "
                      autocomplete="off"
                      [(ngModel)]="formData.mobile"
                      name="mobile"
                      id="mobile"
                    />
                  </div>
                  <div
                    style="display: none; margin-top: 10px"
                    id="mobile_err"
                    class="alert alert-danger"
                  >
                    <div>Please Enter Mobile Number.</div>
                  </div>
                </td>
              </tr>
              <!--8th row end-->
              <!--9th row start-->
              <tr class="row" style="margin-top: 20px; margin-left: 15px">
                <td
                  class="col-md-6 field"
                  style="
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;

                    color: #303253;
                    margin-top: 15px;
                  "
                >
                  <label for="GSTIN (Optional)   ">GSTIN (Optional) :</label>
                </td>
                <td class="col-md-6 field">
                  <div class="input-group input-group-lg">
                    <input
                      type="text"
                      class="form-control"
                      style="
                        border-radius: 10px;
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                        height: 56px;

                        /* identical to box height */
                        color: #999999;
                      "
                      placeholder="GST no. "
                      autocomplete="off"
                      [(ngModel)]="formData.gst_no"
                      name="gst_no"
                      id="gst_no"
                    />
                  </div>
                  <div
                    style="display: none; margin-top: 10px"
                    id="gst_no_err"
                    class="alert alert-danger"
                  >
                    <div>Please Enter Valid GSTIN.</div>
                  </div>
                </td>
              </tr>
              <div class="row">
                <br />
                <br />
              </div>
              <!--9th row end-->
              <!--10th row start-->
              <div class="row">
                <div class="" style="width: 10%; float: left"></div>
                <div class="" style="width: 30%; float: left">
                  <button
                    mat-button
                    color=""
                    style="
                      background: #999999;
                      border-radius: 10px;
                      font-style: normal;
                      font-weight: 600;
                      font-size: 18px;
                      line-height: 40px;
                      width: 100%;
                      align-items: center;
                      height: 60px;
                      margin-right: 5px;
                      color: #ffffff;
                    "
                    (click)="goback()"
                  >
                    Back
                  </button>
                </div>
                <div class="" style="width: 20%; float: left"></div>
                <div class="" style="width: 30%; float: left">
                  <button
                    mat-button
                    color=""
                    style="
                      background: #303253;
                      border-radius: 10px;
                      font-style: normal;
                      font-weight: 600;
                      font-size: 18px;
                      line-height: 40px;
                      width: 100%;
                      align-items: center;
                      height: 60px;
                      margin-right: 5px;
                      color: #ffffff;
                    "
                    (click)="submitform()"
                  >
                    Next
                  </button>
                </div>
                <!-- routerLink="/car/CarPersonalDetail" -->
                <div class="" style="width: 10%; float: left"></div>
              </div>
              <!--10th row end-->
            </table>
          </div>
        </form>
      </div>
    </div>

    <!--new section-->
    <div class="container" style="width: 35%; float: left">
      <div class="row">
        <div
          class=""
          style="
            background: #ffffff;
            width: 85%;
            box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
            border-radius: 12px;
          "
        >
          <div class="row">
            <div
              class=""
              style="
                height: 15px;
                width: 100%;
                margin-right: 15px;
                margin-left: 15px;
                background-color: #dddddd;
                box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
                border-radius: 12px 12px 0px 0px;
              "
            ></div>
          </div>

          <div class="container form-group">
            <form autocomplete="off" style="padding: 20px">
              <div class="row">
                <div
                  class="col-md-12"
                  style="
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 32px;

                    color: #303253;
                  "
                >
                  Car Details
                </div>
              </div>
              <div>
                <table style="width: 100%">
                  <tr class="row" style="margin-top: 20px">
                    <td
                      class="col-md-8 field"
                      style="
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                        color: #303253;
                      "
                    >
                      <label for="Bike Manufacturer  "
                        >Car Manufacturer :</label
                      >
                    </td>
                    <td
                      class="col-md-4 field"
                      style="
                        font-family: Poppins;
                        padding-left: 10px;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        color: #303253;
                      "
                    >
                      <label for="Honda  ">{{ carData?.car_model_name }}</label>
                    </td>
                  </tr>
                  <!--2nd row start-->
                  <tr class="row" style="margin-top: 20px">
                    <td
                      class="col-md-8 field"
                      style="
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                        color: #303253;
                      "
                    >
                      <label for="Variant & Model  ">Variant :</label>
                    </td>
                    <td
                      class="col-md-4 field"
                      style="
                        font-family: Poppins;
                        padding-left: 10px;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        color: #303253;
                      "
                    >
                      <label for="Unicorn,Self Start Disc  ">{{
                        carData?.variant
                      }}</label>
                    </td>
                  </tr>

                  <!--2nd row end-->
                  <!--3rd row start-->
                  <tr class="row" style="margin-top: 20px">
                    <td
                      class="col-md-8 field"
                      style="
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                        color: #303253;
                      "
                    >
                      <label for="Manufacturing Year "
                        >Manufacturing Year :
                      </label>
                    </td>
                    <td
                      class="col-md-4 field"
                      style="
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        color: #303253;
                      "
                    >
                      <label for="2020 ">{{
                        carData?.manufacturing_date?.split("-")[0]
                      }}</label>
                    </td>
                  </tr>
                  <!--3rd row end-->
                  <!--4th-->
                  <tr class="row" style="margin-top: 20px">
                    <td
                      class="col-md-8 field"
                      style="
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                        color: #303253;
                      "
                    >
                      <label for="Registration Date  "
                        >Registration Date :
                      </label>
                    </td>
                    <td
                      class="col-md-4 field"
                      style="
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        color: #303253;
                      "
                    >
                      <label for="02 Jan 2020 ">{{
                        regDate | date: "dd-MMM-yyyy"
                      }}</label>
                    </td>
                  </tr>
                  <!--4th-->
                  <!--5th-->
                  <tr
                    class="row"
                    style="margin-top: 10px"
                    *ngIf="carData?.policy_type != 'new_enquiry'"
                  >
                    <td
                      class="col-md-8 field"
                      style="
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                        color: #303253;
                      "
                    >
                      <label for=" NCB on previous policy  ">
                        NCB on previous policy :
                      </label>
                    </td>
                    <td
                      class="col-md-4 field"
                      style="
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        color: #303253;
                      "
                    >
                      <label for="20%">{{ carData?.ncb }}%</label>
                    </td>
                  </tr>

                  <!--5th-->
                  <!--6th-->
                  <tr
                    class="row"
                    style="margin-top: 10px"
                    *ngIf="carData?.policy_type != 'new_enquiry'"
                  >
                    <td
                      class="col-md-8 field"
                      style="
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                        color: #303253;
                      "
                    >
                      <label for="  Expiry Date :  "> Expiry Date : </label>
                    </td>
                    <td
                      class="col-md-4 field"
                      style="
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        color: #303253;
                      "
                    >
                      <label for="04 Jan 2021">{{
                        expdate | date: "dd-MMM-yyyy"
                      }}</label>
                    </td>
                  </tr>

                  <!--6th-->
                  <!--7th-->
                  <tr class="row" style="margin-top: 10px">
                    <td
                      class="col-md-8 field"
                      style="
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                        color: #303253;
                      "
                    >
                      <label for="   Insurance Company ">
                        Insurance Company :
                      </label>
                    </td>
                    <td
                      class="col-md-4 field"
                      style="
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        color: #303253;
                      "
                    >
                      <label for=" HDFC Ergo">{{
                        carData?.company_name
                      }}</label>
                    </td>
                  </tr>

                  <!--7th-->
                  <!--8th-->
                  <tr class="row" style="margin-top: 10px">
                    <td
                      class="col-md-8 field"
                      style="
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                        color: #303253;
                      "
                    >
                      <label for=" Cover Amount (IDV) ">
                        Cover Amount (IDV) :
                      </label>
                    </td>
                    <td
                      class="col-md-4 field"
                      style="
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        color: #303253;
                      "
                    >
                      <label for=" ₹16,435">{{ carData?.idv }}</label>
                    </td>
                  </tr>
                  <!--8th-->
                  <!--9th row  start-->
                  <!-- <tr class="row" style="margin-top:10px;">
                                        <td class="col-md-8 field" style="  font-family: Poppins;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                color: #303253;">

                                            <label for=" NCB Discount "> NCB Discount :
                                            </label>
                                        </td>
                                        <td class="col-md-4 field" style=" font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #303253;">

                                            <label for=" 25%">{{carData?.ncb}}%</label> 
                                        </td>

                                    </tr> -->
                  <!--9th row end-->
                  <!--10th row  start-->
                  <!-- <tr class="row" style="margin-top:10px;">
                                        <td class="col-md-8 field" style="  font-family: Poppins;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                color: #303253;">

                                            <label for=" Order Id "> Order Id :
                                            </label>
                                        </td>
                                        <td class="col-md-4 field" style=" font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #303253;">

                                            <label for=" MGB2PGJ1KAB"></label>
                                        </td>

                                    </tr> -->
                  <!--10th row end-->
                  <!--11th row  start-->
                  <tr class="row" style="margin-top: 10px">
                    <td
                      class="col-md-8 field"
                      style="
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                        color: #303253;
                      "
                    >
                      <label for="Policy Term "> Policy Term : </label>
                    </td>
                    <td
                      class="col-md-4 field"
                      style="
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        color: #303253;
                      "
                    >
                      <label for=" 1 Year">1 Year</label>
                    </td>
                  </tr>
                  <!--11th row end-->
                  <!--12th row  start-->
                  <tr class="row" style="margin-top: 10px">
                    <td
                      class="col-md-8 field"
                      style="
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                        color: #303253;
                      "
                    >
                      <label for="Add-ons "> Add-ons: </label>
                    </td>
                    <td
                      class="col-md-4 field"
                      style="
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        color: #303253;
                      "
                    >
                      <!-- 
                                            <label for=" NA">{{carData?.zero_depreciation == 'true' ? ''}}</label>
                                            <label for=" NA">{{carData?.zero_depreciation == 'true' ? ''}}</label> -->
                      <label for=" NA"
                        >{{
                          carData?.zero_depreciation == "true"
                            ? "Zero Dep,"
                            : ""
                        }}{{
                          carData?.rode_side_assistance == "true"
                            ? "Roadside Assistance,"
                            : ""
                        }}{{
                          carData?.invoice_cover == "true"
                            ? "Invoice Cover,"
                            : ""
                        }}{{
                          carData?.engine_protector == "true"
                            ? "Engine Cover,"
                            : ""
                        }}{{
                          carData?.ncb_protection == "true"
                            ? "NCB Protect,"
                            : ""
                        }}{{ carData?.consumable == "true" ? "Consumable," : ""
                        }}{{
                          carData?.key_protector == "true"
                            ? "Key Protect,"
                            : ""
                        }}{{
                          carData?.paid_driver_legal_liability_cover == "true"
                            ? "Paid Driver Legability,"
                            : ""
                        }}{{
                          carData?.driver_cover == "true"
                            ? "Passenger PA,"
                            : ""
                        }}{{
                          carData?.pa_to_owner_driver == "true"
                            ? "PA Owner Driver,"
                            : ""
                        }}</label
                      >
                    </td>
                  </tr>
                  <div class="row">
                    <div class="col-md-1" style="margin-bottom: 15px"></div>
                    <div
                      class="col-md-9"
                      style="border-bottom: 1px solid #dddddd"
                    ></div>
                    <div class="col-md-2"></div>
                  </div>
                  <!--12th row end-->
                  <!--12th row  start-->

                  <tr class="row" style="padding-top: 20px">
                    <td
                      class="col-md-8 field"
                      style="
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                        color: #303253;
                      "
                    >
                      <label for="GST @ 18%">GST @ 18% </label>
                    </td>
                    <td
                      class="col-md-4 field"
                      style="
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        color: #303253;
                      "
                    >
                      <label for="₹435">{{
                        +carData?.final_premium * +carData?.gst -
                          +carData?.final_premium | number: "1.0-0"
                      }}</label>
                    </td>
                  </tr>

                  <!--12th row end-->
                  <div class="row" style="margin-top: 10px">
                    <div class="col-md-1"></div>
                    <div
                      class="col-md-9"
                      style="border-bottom: 1px solid #dddddd"
                    ></div>
                    <div class="col-md-2"></div>
                  </div>
                  <!--13th row start-->
                  <tr class="row" style="margin-top: 10px">
                    <td
                      class="col-md-8 field"
                      style="
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 20px;
                        line-height: 30px;
                        color: #303253;
                      "
                    >
                      <label for="Final Premium">Final Premium </label>
                    </td>
                    <td
                      class="col-md-4 field"
                      style="
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 30px;
                        color: #303253;
                      "
                    >
                      <label for="₹1,435">{{
                        carData?.final_premium | number: "1.0-0"
                      }}</label>
                    </td>
                  </tr>
                  <div class="row">
                    <br />
                  </div>
                  <!--13th row end-->
                  <!--14th start start-->
                  <div class="row">
                    <div class="" style="width: 10%; float: left"></div>

                    <div class="" style="width: 80%; float: left">
                      <button
                        class="btn"
                        routerLink="/bike"
                        style="
                          background: #303253;
                          color: #ffffff;
                          border-radius: 8px;
                          width: 100%;
                          font-family: Poppins;
                        "
                      >
                        Edit
                      </button>
                    </div>
                  </div>
                  <!--14th row end-->
                </table>
              </div>
            </form>
          </div>
        </div>
        <div class="" style="width: 15%; float: left"></div>
      </div>
    </div>

    <!--new section end-->
  </div>
</div>
<app-footer></app-footer>
