<h2 class="container text-center" style="margin-top: 20px;margin-bottom: 20px;color: #E71D36;font-weight: bold;">BIKE
    INSURANCE</h2>
<div class="row">
    <div class="container col-5 popups" style="width: 8cm">
        <div class="">
            <h6 class="" style="color:  #E71D36;">Showing Results for :- <span
                    style="color: #000">{{bikeData.biManufacturer+','+bikeData.biModel+','+bikeData.biRto}}</span> </h6>
        </div>
        <div class="">
            <h6 class="" style="color: #2EA7C4">IDV (-) :- <span style="color: #000">{{bikeData.idv}}</span> </h6>
        </div>
        <div class="">
            <h6 class="" style="color: #2EA7C4">Last Policy Claim & NCB :- <span
                    style="color: #000">{{bikeData.newNcb}}</span> </h6>
        </div>
        <div class="">
            <h6 class="" style="color: #2EA7C4">Registration Date :- <span
                    style="color: #000">{{bikeData.registerDate}}</span> </h6>
        </div>
        <div class="">
            <h6 class="" style="color: #2EA7C4">Last Policy Expiry Date :- <span style="color: #000">
                    {{bikeData.prevPolicyEndDate}}</span> </h6>
        </div>
        <div class="row">
            <div class="">
                <h6 class="" style="color: #2EA7C4; margin-left: 15px;">Recommended Add Ons :-</h6>
            </div>
            <div class="" style="margin-left: 20px;color: #E71D36">
                <label class="">
                    <input type="checkbox" [(ngModel)]="zero_depreciation"
                        (change)="RecommendedAddOns('zero_depreciation',bikeData.zero_depreciation)">
                    <span class="" style="margin-left: 10px;">
                        <span class=""><i class=""></i>Zero Dep</span>
                    </span>
                </label><br>
                <label class="">
                    <input type="checkbox" [(ngModel)]="passenger_cover"
                        (change)="RecommendedAddOns('passenger_cover',bikeData.passenger_cover)">
                    <span class="" style="margin-left: 10px;">
                        <span class=""><i class=""></i>Passenger Cover</span>
                    </span>
                </label><br>
                <label class="">

                    <input type="checkbox" [(ngModel)]="paid_driver_legal_liability_cover"
                        (change)="RecommendedAddOns('paid_driver_legal_liability_cover',bikeData.paid_driver_legal_liability_cover)">
                    <span class=""><i class=""></i>Paid Driver Legal Liability Cover</span>

                </label>
            </div>
        </div>
    </div>
    <div class="col-6" style="margin-right:30px;background-color:rgb(111, 178, 209);margin-bottom: 20px;">
        <div class="row popups">
            <div class="col-6" style="margin-top: 1cm;color: #E71D36; font-weight: bold;">
                Add Ons
            </div>
            <div class="col-6" style="margin-top:20px;">
                <label class="container-div">
                    <input type="checkbox" name="" style="margin-right: 10px;" [(ngModel)]="rode_side_assistance"
                        [checked]="checkbox" (change)="addOn(rode_side_assistance,'rode_side_assistance')">
                    <span class="checkmark"></span>Roadside Assistance
                </label><br>
                <label class="container-div">
                    <input type="checkbox" name="" style="margin-right: 10px;" [(ngModel)]="invoice_cover"
                        [checked]="checkbox" (change)="addOn(invoice_cover,'invoice_cover')">
                    <span class="checkmark"></span>Invoice Cover
                </label><br>
                <label class="container-div">
                    <input type="checkbox" name="" style="margin-right: 10px;" [(ngModel)]="consumable"
                        [checked]="checkbox" (change)="addOn(consumable,'consumable')">
                    <span class="checkmark"></span>Consumable
                </label><br>
                <label class="container-div">
                    <input type="checkbox" name="" style="margin-right: 10px;" [(ngModel)]="pa_to_owner_driver"
                        [checked]="checkbox" (change)="addOn(pa_to_owner_driver,'pa_to_owner_driver')">
                    <span class="checkmark"></span>PA Owner Driver
                </label><br>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container col-5">
        <div class="row popups" *ngFor="let quota of quotaSuccess">
            <div class="row hdfcHeadrer" style="background-color: #E71D36;margin-left: 2.5px;">
                <div class="col-4">
                    <img src="http://localhost/kaplin/{{quota.logo.replace('public/', '/')}}" alt=""
                        class="img-thumbnail" style="width:500px;height:90px">
                    <!-- <img src="http://localhost/kaplin/{{insurer.logo.replace('public', '')}}" alt="" class="img-thumbnail" style="width:500px;height:90px"> -->
                </div>
                <div class="col-4" style="padding-top: 20px;">
                    IDV :₹{{bikeData.idv}} <br />
                    NCB :{{bikeData.ncb}}%
                </div>
                <div class="col-4" style="padding-top: 20px;font-size: 35px;">
                    <h4>Premium Breakup</h4>
                </div>
            </div>
            <div class="container" style="margin-left: 5cm;">
                1 Year : ₹ {{ totalPrice | number : '1.0-0'}}<br>
                2 Years : ₹ {{ totalPrice1 | number : '1.0-0'}}<br>
                3 Years : ₹ {{ totalPrice2 | number : '1.0-0'}}
            </div>
            <div class="container">
                <button
                    (click)="bookNowBikeHDFC(thirdPartyPlans.enquiryData.leadId, thirdPartyPlans.availablePlans.master_sheet_id, enquiry_id, thirdPartyPlans.insurerApiData.idv, thirdPartyPlans.insurerApiData.finalPremium,'','',  thirdPartyPlans.insurerApiData.odPremium, 'rollover', thirdPartyPlans.insurerApiData.pa_to_owner_driver)"
                    class="btn btn-primary" style="background-color: #E71D36;margin-bottom: 20px;margin-left: 4.5cm;">
                    Buy Now</button>
            </div>
        </div>
    </div>
    <div class="col-6" style="margin-right:30px;background-color:rgb(111, 178, 209);margin-bottom: 20px;">
        <div class="row popups">
            <div class="" style="margin-top: 1cm;color: #E71D36; font-weight: bold;margin-left: 20px;">
                Additional Covers
            </div>
            <div class="row" style="margin-top: 2cm;color: black;">
                <label for="">
                    <h6 class="">Electrical Accessories :</h6>
                </label>
                <label for="" class="field">
                    <input type="text" id="" name="" [(ngModel)]="bikeData.electrical_accessories"
                        class="date-input py-1" style="margin-left:10px;width: 7cm;" value=""
                        placeholder="Electrical Accessories Value" maxlength="6">
                    <label class="field-icon" style="margin-left: 10px;"><i class="fa fa-rupee"></i></label>
                </label>
            </div>
            <div class="row" style="color: black;margin-left: 2.6cm;">
                <label for="">
                    <h6 class="">Non-Electrical Accessories :</h6>
                </label>
                <label for="" class="field">
                    <input type="text" id="" name="" [(ngModel)]="bikeData.non_electrical_accessories"
                        class="date-input py-1" style="margin-left:10px;width: 7cm;" value=""
                        placeholder="Non Electrical Accessories Value" maxlength="6">
                    <label class="field-icon" style="margin-left: 10px;"><i class="fa fa-rupee"></i></label>
                </label>
            </div>
            <div class="">
                <!-- <button type="button" class="btn btn-outline-dark footerbut" style="background-color:#E71D36;margin-left: 5cm;margin-bottom: 20px" >Update Additional Covers</button> -->
                <button type="button" (click)="editBikeInsurerApi()" class="btn btn-outline-dark footerbut"
                    style="background-color:#E71D36;margin-left: 5cm;margin-bottom: 20px">Update Additional
                    Covers</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-5"></div>
    <div class="col-6" style="margin-left:75px;background-color:rgb(111, 178, 209);margin-bottom: 20px;">
        <div class="row popups">
            <div class="" style="margin-top: 1cm;color: #E71D36; font-weight: bold;margin-left: 20px;">
                Discounts
            </div>
            <div class="row" style="margin-top: 2cm;color: black;">
                <label class="field">
                    <select class="custom-select" style="width: 10cm;"
                        [(ngModel)]="bikeData.voluntary_deductible_value">
                        <option value="">Voluntary Deductible</option>
                        <option value="2500">2,500</option>
                        <option value="5000">5,000</option>
                        <option value="7500">7,500</option>
                        <option value="15000">15,000</option>
                    </select>
                    <i class="arrow double"></i>
                </label>
            </div>
            <div class="row" style="color: black;margin-left: 2cm;">
                <label for="" class="">
                    <input type="checkbox" id="" [(ngModel)]="anti_theft_device">
                    <span class="">
                        <span class=""> <i class=""></i> ARAI Approved Anti Theft Device Fitted ? </span>
                    </span>
                </label>
            </div>
            <div class="row" style="color: black;margin-left: 2cm;">
                <label for="" class="">
                    <input type="checkbox" id="" [(ngModel)]="automobile_association">
                    <span class="">
                        <span class=""> <i class=""></i> Bike Owner a member of Automobile Association of India ?
                        </span>
                    </span>
                </label>
            </div>
            <div class="">
                <button type="button" class="btn btn-outline-dark footer2"
                    style="background-color:#E71D36;margin-left: 5cm;margin-bottom: 20px" (click)="editDiscountsApi()">
                    Update Discounts</button>
            </div>
        </div>
    </div>
</div>