.container {
    padding-top: 20px;
    font-family: 'Averin';
}
.left {
    float: left;
}
.quo {
    float: right;
}
.row {
    font-family: 'Averin';
}
.row1 {
    color: black;
    font-family: 'Averin';
}
.colm2 {
    width:16.67%;
}
.colm4 {
    width: 25%;
}
.colm {
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    float: left;
}
.section {
    margin-bottom: 22px;
}
.field {
    display: block;
    position: relative;
}
.custom-select {
    position: relative;
}
.calendar-icon {
    position: absolute;
    left: 5%;
    top: 50%;
    color: grey;
    transform: translateY(-50%);
}
.date-input {
    padding-left: 15%;
}
.field-icon {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
}
.option {
    color: grey;
}
.frm-row {
    color: #337ab7;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 4px; 
    width: 4.3cm;
    margin-top: 6px;
}
.centerdiv {
    text-align: center;
}
.popups {
    color: black;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.opt {
    margin-left: 10px;
}
.text-white {
    color:whitesmoke;
    background-color: green;
    font-family: 'Averin';
}
.sideshift {
    margin-left: 35px;
    color: black;
}
.side1 {
    color: black;
}
.footerbut {
    background-color: green;
    float: left;
    color:whitesmoke;
    margin-right: 6.4cm;
}
.footer2 {
    background-color: green;
    float: left;
    color:whitesmoke;
    margin-right: 8.2cm;
}
.hdfcHeadrer{
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    width: 100%;
}