<app-header-lite></app-header-lite>
<div>
  <br />
</div>

<div class="row">
  <br />
  <br />
</div>
<div class="container" id="maindiv">
  <div class="row">

    <!--first row start-->
    <div class=" col-md-12" style="font-family: Poppins;
                                                    font-style: normal;
                                                    font-weight: 600;
                                                    font-size: 48px;
                                                    line-height: 72px;
                                                    color: #303253;">
      Bike Insurance Policy Summary
    </div>
  </div>

  <div class="row">
    <br />
    <br />
  </div>


  <!-- fist section bike details start -->
  <div style="background: #FFFFFF;
                    box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
                    border-radius: 12px; padding: 20px; ">

    <div class="row" style="margin-left: 15px;">
      <div class="col-md-10" style="font-family: Poppins;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 24px;
                                            line-height: 32px;
                                            
                                            color: #303253;">
        Bike Details
      </div>

      <div class="col-md-2">
        <button data-html2canvas-ignore="true" mat-button style="background: #999999;
                                            border-radius: 8px;font-style: normal;
                                            font-weight: 600;
                                            font-size: 18px;
                                            line-height: 40px;
                                            width: 150px;
                                            align-items: center; 
                                            margin-right: 5px;
                                            color: #FFFFFF;" (click)="goToEdit('BikeDetails',1)">Edit
        </button>
        <!-- routerLink="/bike/BikeDetails" -->
      </div>

    </div>
    <!-- <div class="row">
            <br />
        </div> -->

    <!--  row 1 start -->
    <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
      <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        Registration Number :
      </div>
      <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        <!-- MH 01 AA 1234 -->
        {{SummaryData?.registeration_no}}
      </div>

    </div>
    <!-- row 1 end -->

    <!--  row 2 start -->
    <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
      <div class="col-md-3" style="  font-family: Poppins;
                                           font-style: normal;
                                           font-weight: normal;
                                           font-size: 16px;
                                           line-height: 24px;
                                           color: #303253;">
        Bike Manufacturer:
      </div>
      <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                           font-style: normal;
                                           font-weight: 600;
                                           font-size: 16px;
                                           line-height: 24px;
                                           color: #303253;">
        <!-- Honda -->
        {{bikeData?.manufacturer}}
      </div>

    </div>
    <!-- row 2 end -->


    <!--  row 3 start -->
    <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
      <div class="col-md-3" style="  font-family: Poppins;
                                           font-style: normal;
                                           font-weight: normal;
                                           font-size: 16px;
                                           line-height: 24px;
                                           color: #303253;">
        Variant & Model :
      </div>
      <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                           font-style: normal;
                                           font-weight: 600;
                                           font-size: 16px;
                                           line-height: 24px;
                                           color: #303253;">
        <!-- Unicorn, Self Start Disc -->
        {{bikeData?.model}}
      </div>

    </div>
    <!-- row 3 end -->

    <!--  row 4 start -->
    <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
      <div class="col-md-3" style="  font-family: Poppins;
                                           font-style: normal;
                                           font-weight: normal;
                                           font-size: 16px;
                                           line-height: 24px;
                                           color: #303253;">
        Manufacturing Year :
      </div>
      <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                           font-style: normal;
                                           font-weight: 600;
                                           font-size: 16px;
                                           line-height: 24px;
                                           color: #303253;">
        <!-- 2020 -->
        {{bikeData?.manufacturing_date.split("-")[0]}}
      </div>

    </div>
    <!-- row 4 end -->


    <!--  row 5 start -->
    <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
      <div class="col-md-3" style="  font-family: Poppins;
                                           font-style: normal;
                                           font-weight: normal;
                                           font-size: 16px;
                                           line-height: 24px;
                                           color: #303253;">
        Registration Date :
      </div>
      <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                           font-style: normal;
                                           font-weight: 600;
                                           font-size: 16px;
                                           line-height: 24px;
                                           color: #303253;">
        <!-- 02 Jan 2020 -->
        {{regDate | date:'dd MMM yyyy'}}
      </div>

    </div>
    <!-- row 5 end -->

    <!--  row 6 start -->
    <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
      <div class="col-md-3" style="  font-family: Poppins;
                                           font-style: normal;
                                           font-weight: normal;
                                           font-size: 16px;
                                           line-height: 24px;
                                           color: #303253;">
        Engine Number :
      </div>
      <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                           font-style: normal;
                                           font-weight: 600;
                                           font-size: 16px;
                                           line-height: 24px;
                                           color: #303253;">
        <!-- Honda -->
        {{SummaryData?.enginee_no}}
      </div>

    </div>
    <!-- row 6 end -->


    <!--  row 7 start -->
    <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
      <div class="col-md-3" style="  font-family: Poppins;
                                           font-style: normal;
                                           font-weight: normal;
                                           font-size: 16px;
                                           line-height: 24px;
                                           color: #303253;">
        Chasis Number :
      </div>
      <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                           font-style: normal;
                                           font-weight: 600;
                                           font-size: 16px;
                                           line-height: 24px;
                                           color: #303253;">
        <!-- Unicorn, Self Start Disc -->
        {{SummaryData?.chassis_no}}
      </div>

    </div>
    <!-- row 7 end -->


    <!--  row 8 start -->
    <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
      <div class="col-md-3" style="  font-family: Poppins;
                                           font-style: normal;
                                           font-weight: normal;
                                           font-size: 16px;
                                           line-height: 24px;
                                           color: #303253;">
        Is your bike financed :
      </div>
      <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                           font-style: normal;
                                           font-weight: 600;
                                           font-size: 16px;
                                           line-height: 24px;
                                           color: #303253;">
        <!-- Yes -->
        {{SummaryData?.is_bike_finance == 'true' ? 'Yes' : 'No'}}
      </div>

    </div>
    <!-- row 8 end -->
  </div>
  <!-- fist section bike details end -->


  <br />



  <!-- ##### second section  ###  Previous Policy Details #####   start -->
  <div style="background: #FFFFFF;
         box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
         border-radius: 12px;padding: 20px;" *ngIf="bikeData?.policy_type != 'new_enquiry'">

    <div class="row" style="padding-top : 10px; margin-left: 15px;">
      <div class="col-md-10" style="font-family: Poppins;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 24px;
                                            line-height: 32px;
                                            
                                            color: #303253;">
        Previous Policy Details
      </div>

      <div class="col-md-2">
        <button mat-button data-html2canvas-ignore="true" style="background: #999999;
                                            border-radius: 8px;font-style: normal;
                                            font-weight: 600;
                                            font-size: 18px;
                                            line-height: 40px;
                                            width: 150px;
                                            align-items: center; 
                                            margin-right: 5px;
                                            color: #FFFFFF;" (click)="goToEdit('BikePreviousPolicyDetails',0)">Edit
        </button>
        <!-- routerLink="/bike/BikePreviousPolicyDetails" -->
      </div>

    </div>


    <!--  row 1 start -->
    <div class="row" style="padding-top: 5px;padding-bottom: 10px; margin-left: 15px;">
      <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        Insurance Company :
      </div>
      <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        <!-- Bajaj Allianz -->
        {{SummaryData?.existing_insurance}}
      </div>

    </div>
    <!-- row 1 end -->

    <!--  row 2 start -->
    <div class="row" style="padding-top: 5px;padding-bottom: 10px; margin-left: 15px;">
      <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        Policy Number :
      </div>
      <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        <!-- Bajaj Allianz -->
        {{SummaryData?.expiry_policy_no}}
      </div>

    </div>
    <!-- row 2 end -->


    <!--  row 3 start -->
    <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
      <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        NCB on Previous Policy :
      </div>
      <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        <!-- 20% -->
        {{bikeData?.prev_ncb}}%
      </div>

    </div>
    <!-- row 3 end -->

    <!--  row 4 start -->
    <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
      <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        Claim Status :
      </div>
      <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        <!-- No -->
        {{bikeData?.claim_status == 'true' ? 'Yes' : 'No'}}
      </div>

    </div>
    <!-- row 4 end -->


    <!--  row 5 start -->
    <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
      <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        Policy Expiry Date :
      </div>
      <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        <!-- 02 Jan 2021 -->
        {{expiryDate | date:'dd MMM yyyy'}}
      </div>

    </div>
    <!-- row 5 end -->

  </div>
  <!-- ##### second section  ###  Previous Policy Details #####   End -->

  <br />




  <!-- ##### third section  ###  New Policy Details #####   start -->
  <div style="background: #FFFFFF;
         box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
         border-radius: 12px;padding: 20px;">

    <div class="row" style="padding-top : 10px; margin-left: 15px;">
      <div class="col-md-10" style="font-family: Poppins;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 24px;
                                            line-height: 32px;
                                            
                                            color: #303253;">
        New Policy Details
      </div>

      <div class="col-md-2">
        <button mat-button data-html2canvas-ignore="true" style="background: #999999;
                                            border-radius: 8px;font-style: normal;
                                            font-weight: 600;
                                            font-size: 18px;
                                            line-height: 40px;
                                            width: 150px;
                                            align-items: center; 
                                            margin-right: 5px;
                                            color: #FFFFFF;" (click)="goToEdit('BikeInsurance',0)">Edit
        </button>
        <!-- routerLink="/bike/PolicyDetails" -->
      </div>

    </div>


    <!--  row 1 start -->
    <div class="row" style="padding-top: 5px;padding-bottom: 10px; margin-left: 15px;">
      <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        Insurance Company :
      </div>
      <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        <!-- HDFC Ergo -->
        {{bikeData?.address}}
      </div>

    </div>
    <!-- row 1 end -->

    <!--  row 2 start -->
    <div class="row" style="padding-top: 5px;padding-bottom: 10px; margin-left: 15px;">
      <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        NCB Discount Policy :
      </div>
      <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        <!-- 30% ???? -->
        {{bikeQuotes?.newNcb}}%
      </div>

    </div>
    <!-- row 2 end -->


    <!--  row 3 start -->
    <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
      <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        Policy Start Date :
      </div>
      <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        <!-- 04 Jan 2021 ???? -->
        {{newPolicyStart | date:'dd MMM yyyy'}}
      </div>

    </div>
    <!-- row 3 end -->

    <!--  row 4 start -->
    <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
      <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        Cover Amount (IDV) :
      </div>
      <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        <!-- ₹16,435 -->
        ₹{{+bikeData?.idv}}
      </div>

    </div>
    <!-- row 4 end -->


    <!--  row 5 start -->
    <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
      <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        Policy Term :
      </div>
      <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        {{bikeData?.policy_term}} Year(s)
      </div>

    </div>
    <!-- row 5 end -->



    <!--  row 6 start -->
    <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
      <div class="col-md-3" style="  font-family: Poppins;
                                                font-style: normal;
                                                font-weight: normal;
                                                font-size: 16px;
                                                line-height: 24px;
                                                color: #303253;">
        Add Ons :
      </div>
      <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                                font-style: normal;
                                                font-weight: 600;
                                                font-size: 16px;
                                                line-height: 24px;
                                                color: #303253;">
        <!-- NA ???? -->
        {{bikeData?.zero_depreciation == 'true' ? 'Zero Dep,' :
                ''}}{{bikeData?.rode_side_assistance == 'true' ? 'Roadside Assistance,'
                :
                ''}}{{bikeData?.invoice_cover == 'true' ? 'Invoice Cover,' :
                ''}}{{bikeData?.ncb_protection == 'true' ? 'NCB Protect,' :
                ''}}{{bikeData?.consumable == 'true' ? 'Consumable,' :
                ''}}{{bikeData?.paid_driver_legal_liability_cover == 'true' ? 'Paid Driver Legability,' :
                ''}}{{bikeData?.passenger_cover == 'true' ? 'Passenger PA,' :
                ''}}{{bikeData?.pa_to_owner_driver == 'true' ? 'PA Owner Driver,' :
                ''}}
      </div>

    </div>
    <!-- row 6 end -->



  </div>
  <!-- ##### third section  ###  New Policy Details #####   end -->

  <br />
  <!-- ##### fourth section  ###  Bike Owner #####   start -->
  <div style="background: #FFFFFF;
         box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
         border-radius: 12px;padding: 20px;">

    <div class="row" style="padding-top : 10px; margin-left: 15px;">
      <div class="col-md-10" style="font-family: Poppins;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 24px;
                                            line-height: 32px;
                                            
                                            color: #303253;">
        Bike Owner
      </div>

      <div class="col-md-2">
        <button data-html2canvas-ignore="true" mat-button style="background: #999999;
                                            border-radius: 8px;font-style: normal;
                                            font-weight: 600;
                                            font-size: 18px;
                                            line-height: 40px;
                                            width: 150px;
                                            align-items: center; 
                                            margin-right: 5px;
                                            color: #FFFFFF;" (click)="goToEdit('proposal',1)">Edit
        </button>
        <!-- routerLink="/bike/proposal" -->
      </div>

    </div>


    <!--  row 1 start -->
    <div class="row" style="padding-top: 5px;padding-bottom: 10px; margin-left: 15px;">
      <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        Bike Belongs to :
      </div>
      <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        <!-- Individual -->
        {{SummaryData?.bike_owner}}
      </div>

    </div>
    <!-- row 1 end -->

    <!--  row 2 start -->
    <div class="row" style="padding-top: 5px;padding-bottom: 10px; margin-left: 15px;">
      <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        First Name :
      </div>
      <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        <!-- John -->
        {{SummaryData?.first_name}}
      </div>

    </div>
    <!-- row 2 end -->


    <!--  row 3 start -->
    <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
      <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        Last Name :
      </div>
      <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        <!-- Doe -->
        {{SummaryData?.last_name}}
      </div>

    </div>
    <!-- row 3 end -->

    <!--  row 4 start -->
    <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
      <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        Email Address :
      </div>
      <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        <!-- john.doe@gmail.com -->
        {{SummaryData?.email}}
      </div>

    </div>
    <!-- row 4 end -->


    <!--  row 5 start -->
    <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
      <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        Mobile Number :
      </div>
      <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        <!-- 9876543210 -->
        {{SummaryData?.mobile}}
      </div>

    </div>
    <!-- row 5 end -->



    <!--  row 6 start -->
    <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
      <div class="col-md-3" style="  font-family: Poppins;
                                                font-style: normal;
                                                font-weight: normal;
                                                font-size: 16px;
                                                line-height: 24px;
                                                color: #303253;">
        GSTIN (Optional) :
      </div>
      <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                                font-style: normal;
                                                font-weight: 600;
                                                font-size: 16px;
                                                line-height: 24px;
                                                color: #303253;">
        <!-- NA -->
        {{SummaryData?.gst_no}}
      </div>

    </div>
    <!-- row 6 end -->



  </div>
  <!-- ##### fourth section  ###  Bike Owner #####   end -->




  <br />
  <!-- ##### fifthth section  ###  Personal Details #####   start -->
  <div style="background: #FFFFFF;
         box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
         border-radius: 12px;padding: 20px;">

    <div class="row" style="padding-top : 10px; margin-left: 15px;">
      <div class="col-md-10" style="font-family: Poppins;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 24px;
                                            line-height: 32px;
                                            
                                            color: #303253;">
        Personal Details
      </div>

      <div class="col-md-2">
        <button mat-button data-html2canvas-ignore="true" style="background: #999999;
                                            border-radius: 8px;font-style: normal;
                                            font-weight: 600;
                                            font-size: 18px;
                                            line-height: 40px;
                                            width: 150px;
                                            align-items: center; 
                                            margin-right: 5px;
                                            color: #FFFFFF;" (click)="goToEdit('BikePersonalDetails',1)">Edit
        </button>
        <!-- routerLink="/bike/BikePersonalDetails" -->
      </div>

    </div>


    <!--  row 1 start -->
    <div class="row" style="padding-top: 5px;padding-bottom: 10px; margin-left: 15px;">
      <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        Gender :
      </div>
      <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        <!-- Male -->
        {{SummaryData?.gender == 'male' ? 'Male': 'Female'}}
      </div>

    </div>
    <!-- row 1 end -->

    <!--  row 2 start -->
    <div class="row" style="padding-top: 5px;padding-bottom: 10px; margin-left: 15px;">
      <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        Marital Status :
      </div>
      <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        <!-- Single -->
        {{SummaryData?.marital_status}}
      </div>

    </div>
    <!-- row 2 end -->


    <!--  row 3 start -->
    <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
      <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        Date of Birth :
      </div>
      <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        <!-- 01 Jan 1990 -->
        {{dob | date:'dd MMM yyyy'}}
      </div>

    </div>
    <!-- row 3 end -->

    <!--  row 4 start -->
    <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
      <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        Cover Amount (IDV) :
      </div>
      <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        <!-- ₹16,435 -->
        ₹{{+bikeData?.idv}}
      </div>

    </div>
    <!-- row 4 end -->


    <!--  row 5 start -->
    <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
      <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        Policy Term :
      </div>
      <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        {{bikeData?.policy_term}} Year(s)
      </div>

    </div>
    <!-- row 5 end -->



    <!--  row 6 start -->
    <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
      <div class="col-md-3" style="  font-family: Poppins;
                                                font-style: normal;
                                                font-weight: normal;
                                                font-size: 16px;
                                                line-height: 24px;
                                                color: #303253;">
        Add Ons :
      </div>
      <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                                font-style: normal;
                                                font-weight: 600;
                                                font-size: 16px;
                                                line-height: 24px;
                                                color: #303253;">
        <!-- NA ???? -->
        {{bikeData?.zero_depreciation == 'true' ? 'Zero Dep,' :
                ''}}{{bikeData?.rode_side_assistance == 'true' ? 'Roadside Assistance,'
                :
                ''}}{{bikeData?.invoice_cover == 'true' ? 'Invoice Cover,' :
                ''}}{{bikeData?.ncb_protection == 'true' ? 'NCB Protect,' :
                ''}}{{bikeData?.consumable == 'true' ? 'Consumable,' :
                ''}}{{bikeData?.paid_driver_legal_liability_cover == 'true' ? 'Paid Driver Legability,' :
                ''}}{{bikeData?.driver_cover == 'true' ? 'Passenger PA,' :
                ''}}{{bikeData?.pa_to_owner_driver == 'true' ? 'PA Owner Driver,' :
                ''}}
      </div>

    </div>
    <!-- row 6 end -->



  </div>
  <!-- ##### fifth section  ###  Personal Details #####   end -->




  <br />
  <!-- ##### Fifth section  ### Bike Registration Address #####   start -->

  <div style="background: #FFFFFF;
         box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
         border-radius: 12px;padding: 20px;">

    <div class="row" style="padding-top : 10px; margin-left: 15px;">
      <div class="col-md-10" style="font-family: Poppins;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 24px;
                                            line-height: 32px;
                                            
                                            color: #303253;">
        Bike Registration Address
      </div>

      <div class="col-md-2">
        <button data-html2canvas-ignore="true" mat-button style="background: #999999;
                                            border-radius: 8px;font-style: normal;
                                            font-weight: 600;
                                            font-size: 18px;
                                            line-height: 40px;
                                            width: 150px;
                                            align-items: center; 
                                            margin-right: 5px;
                                            color: #FFFFFF;" (click)="goToEdit('BikeRegAddress',1)">Edit
        </button>
        <!-- routerLink="/bike/BikeRegAddress" -->
      </div>

    </div>


    <!--  row 1 start -->
    <div class="row" style="padding-top: 5px;padding-bottom: 10px; margin-left: 15px;">
      <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        Registration Address :
      </div>
      <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        <!-- MH 01 AA 1234 -->
        {{SummaryData?.reg_address}}
      </div>

    </div>
    <!-- row 1 end -->

    <!--  row 2 start -->
    <div class="row" style="padding-top: 5px;padding-bottom: 10px; margin-left: 15px;">
      <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        Area | Locality :
      </div>
      <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        <!-- Honda -->
        {{SummaryData?.reg_locality}}
      </div>

    </div>
    <!-- row 2 end -->


    <!--  row 3 start -->
    <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
      <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        Landmark :
      </div>
      <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        <!-- Unicorn, Self Start Disc -->
        {{SummaryData?.reg_landmark}}
      </div>

    </div>
    <!-- row 3 end -->

    <!--  row 4 start -->
    <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
      <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        PIN Code :
      </div>
      <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        <!-- 2020 -->
        {{SummaryData?.reg_pincode}}
      </div>

    </div>
    <!-- row 4 end -->


    <!--  row 5 start -->
    <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
      <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        City :
      </div>
      <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        <!-- 02 Jan 2020 -->
        {{SummaryData?.reg_city_name}}
      </div>

    </div>
    <!-- row 5 end -->



    <!--  row 6 start -->
    <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
      <div class="col-md-3" style="  font-family: Poppins;
                                                font-style: normal;
                                                font-weight: normal;
                                                font-size: 16px;
                                                line-height: 24px;
                                                color: #303253;">
        State :
      </div>
      <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                                font-style: normal;
                                                font-weight: 600;
                                                font-size: 16px;
                                                line-height: 24px;
                                                color: #303253;">
        <!-- 02 Jan 2020 -->
        {{SummaryData?.reg_state_name}}
      </div>

    </div>
    <!-- row 6 end -->



  </div>
  <!-- ##### fifth section  ###  Bike Registration Address #####   end -->






  <!-- ##### Sixth section  ### Premium Details #####   start -->

  <div style="background: #FFFFFF;
         box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
         border-radius: 12px;padding: 20px;">

    <div class="row" style="padding-top : 10px; margin-left: 15px;">
      <div class="col-md-10" style="font-family: Poppins;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 24px;
                                            line-height: 32px;
                                            
                                            color: #303253;">
        Premium Details
      </div>

      <div class="col-md-2">

      </div>

    </div>


    <!--  row 1 start -->
    <div class="row" style="padding-top: 5px;padding-bottom: 10px; margin-left: 15px;">
      <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        Order Id :
      </div>
      <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        -
      </div>

    </div>
    <!-- row 1 end -->

    <!--  row 2 start -->
    <div class="row" style="padding-top: 5px;padding-bottom: 10px; margin-left: 15px;">
      <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        GST @ 18%
      </div>
      <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        <!-- Single ???? -->
        ₹{{+bikeData?.premium - (+bikeData?.premium/1.18) | number:'1.0-0'}}
      </div>

    </div>
    <!-- row 2 end -->


    <!--  row 3 start -->
    <div class="row" style="padding-top: 5px;padding-bottom: 10px;margin-left: 15px;">
      <div class="col-md-3" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        Final Premium
      </div>
      <div class="col-md-9 " style="  font-family: Poppins;padding-left:10px;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">
        <!-- ₹1,435 ???? -->
        ₹{{+bikeData?.premium | number:'1.0-0'}}
      </div>

    </div>
    <!-- row 3 end -->





  </div>
  <!-- ##### sixth section  ###  Premium Details #####   end -->

  <br />
  <br />


  <div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">

      <button mat-button style="background: #EB6E47;;
                                                border-radius: 8px;font-style: normal;
                                                font-weight: 600;
                                                font-size: 18px;
                                                line-height: 40px;
                                                width: 150px;
                                                align-items: center; 
                                                margin-right: 5px;
                                                color: #FFFFFF; width: 100%;" (click)="convetToPDF()">Save as
        PDF
      </button>

      <br>
      <br>


      <button mat-button style="background: #EB6E47;;
            border-radius: 8px;font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 40px;
            width: 150px;
            align-items: center; 
            margin-right: 5px;
            color: #FFFFFF; width: 100%;" (click)="bike_payment_request()"> Go To Payment
      </button>

    </div>
    <div class="col-md-3">

    </div>

  </div>



</div>
<app-footer></app-footer>
