.mat-icon-button {
  padding: 0 !important;
  min-width: 0 !important;
  width: 17px !important;
  height: 17px !important;
  flex-shrink: 0 !important;
  line-height: 35px !important;
  border-radius: 50% !important;
}
.subtext {
  font-family: Poppins;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #959ead;
  margin: 5px 0px 2px 0; //sushil
}
.compName {
  color: #303253;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  font-family: Poppins;
  margin: 8px 0px 2px 0; //sushil
  text-align: left;
}
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
.addonsRadio {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #303253;
}
//Radio Button
::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: #50b83c !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #50b83c !important; /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked
  .mat-radio-outer-circle {
  border-color: #50b83c !important; /*outer ring color change*/
}

//Checkbox
::ng-deep
  .mat-checkbox-checked.mat-accent
  .mat-checkbox-ripple
  .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: #50b83c !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #50b83c;
}

//Green Radio Button
.radio-item {
  display: inline-block;
  position: relative;
  padding: 0 6px;
  margin: 10px 0 0;
}

.radio-item input[type="radio"] {
  display: none;
}

.radio-item label {
  color: #666;
  font-weight: normal;
}

.radio-item label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 20px;
  height: 20px;
  border-radius: 11px;
  border: 2px solid #50b83c;
  background-color: transparent;
}

.radio-item input[type="radio"]:checked + label:after {
  border-radius: 11px;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 9px;
  left: 10px;
  content: " ";
  display: block;
  background: #50b83c;
}

.Footer {
  position: fixed;
  bottom: 0px;
  background-color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
  margin-left: 15px;
  /* height: 135px; */
  color: #ffffff;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0px 20px 40px rgb(3 0 77 / 42%);
  z-index: 1;
}

.tg .tg-yw4l {
  vertical-align: top;
  width: 25%;
}
.tg .tg-t1l0 {
  font-size: 14px;
  font-family: "Arial Black", Gadget, sans-serif !important;
  vertical-align: top;
  width: 25%;
}
.centerdiv {
  text-align: center;
}

.compare {
  background-color: #303253;
}
