<app-header-lite></app-header-lite>
<div class="">
  <div class="row">
    <br />
    <br />
  </div>

  <!--changed-->
  <div class="row">
    <div style="margin: 0 auto; display: inline-flex; width: 1200px">
      <div class="" style="width: 370px">
        <div class="row">
          <br />
          <br />
        </div>

        <!--
    <div class="row">
        <div class="" style="width: 10%;float: left;">

        </div>
        <div class="" style="width: 15%;float: left;">
            <div class="row">
                <br />
                <br />

            </div>
        -->

        <div
          style="
            background: #ffffff;
            box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
            border-radius: 12px;
          "
        >
          <div class="container" style="padding: 20px">
            <div class="row">
              <div
                class="col-md-12"
                style="
                  font-family: Poppins;
                  font-style: normal;
                  font-weight: 600;
                  font-size: 24px;
                  line-height: 32px;
                  color: #303253;
                  padding-top: 20px;
                "
              >
                Policy Details
              </div>
            </div>

            <div class="row">
              <!--changed-->
              <br />
            </div>
            <!--
                    <div class="row">
                        <div class="col-md-12" style="font-family: Poppins;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        color: #303253;padding-top: 2px;margin-left: 15px;">
                        Cover Amount (IDV)
                        </div>
                    

                    </div>

                    <div class="row">
                    
                        <div class="col-md-12" style="font-family: Poppins;
                                                    font-style: normal;
                                                    font-weight: normal;
                                                    font-size: 12px;
                                                    line-height: 18px;
                                                    padding-top: 10px;
                                                    margin-left: 10px;
                                                    color: #303253;">
                            IDV has been set for best deal from every insurer.
                        </div>
                    </div>
                    <div class="row">
                        <br/>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-1"  >

                        </div>
                        <div class="col-md-9"   style="border-bottom: 1px solid #DDDDDD;">
                                
                        </div>
                        <div class="col-md-2"  >

                        </div>
                    
                    </div>-->

            <!-- <div class="row">
                        <div class="col-md-12" style="font-family: Poppins;
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 24px;
                                    line-height: 32px;
                                    color: #303253;padding-top: 20px; ">
                            Policy Details
                        </div>
                    </div>
                    <div class="row">
                        <br />
                    </div>


                    <div class=" row">

                        <div class="col-md-12" style="font-family: Poppins;
                                                font-style: normal;
                                                font-weight: 600;
                                                font-size: 16px;
                                                line-height: 24px;
                                            
                                                color: #303253;">
                            Policy Type

                        </div>
                    </div>


                    <div class="row" style="font-family: Poppins;
                                        font-style: normal;
                                        font-weight: normal;
                                        font-size: 14px;
                                        line-height: 21px;

                                        color: #303253; padding-top:15px;     ">

                        <div class="col-md-6">
                            <mat-radio-button value="1">Comprehensive</mat-radio-button>

                        </div>
                        <div class="col-md-6">
                            <mat-radio-button value="2">TP Liability</mat-radio-button>
                        </div>

                    </div>
                    !-->

            <!--changes-->

            <div class="row">
              <div
                class="col-md-12"
                style="
                  font-family: Poppins;
                  font-style: normal;
                  font-weight: 600;
                  font-size: 16px;
                  line-height: 24px;
                  color: #303253;
                  padding-top: 2px;
                  margin-left: 15px;
                "
              >
                Cover Amount (IDV)
              </div>
            </div>

            <div
              class="row"
              style="
                font-family: Poppins;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 21px;
                color: #303253;
                padding-top: 10px;
                margin-left: 15px;
              "
            >
              <div class="col-md-5" style="padding: 0">
                <mat-radio-button
                  (click)="onClickRadioButton(true)"
                  [checked]="true"
                  value="1"
                  >Best Deal</mat-radio-button
                >
              </div>
              <!--changes are made here-->

              <div class="col-md-6" style="padding: 0">
                <mat-radio-button (click)="onClickRadioButton(false)" value="2"
                  >Choose My Own</mat-radio-button
                >
              </div>

              <div
                class="col-md-12"
                *ngIf="radioButtonClicked == true"
                style="
                  font-family: Poppins;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 12px;
                  line-height: 18px;
                  padding-top: 10px;
                  margin-left: 10px;
                  color: #303253;
                "
              >
                IDV has been set for best deal from every insurer.
              </div>

              <div
                class="col"
                *ngIf="radioButtonClicked == false"
                style="margin: 0 auto"
              >
                <input
                  type="text"
                  (keydown)="onKeydown($event, box.value)"
                  #box
                  style="
                    border: 1.6px solid #dfdfdf;
                    padding-left: 20px;
                    padding-right: 20px;
                    box-sizing: border-box;
                    width: 300px;
                    height: 56px;
                    margin-top: 10px;
                    margin-bottom: 20px;
                    border-radius: 12px;
                  "
                />

                <div
                  class="col-md-20"
                  style="
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 10px;
                    line-height: 18px;
                    padding-top: 5px;
                    margin-left: 10px;
                    color: #303253;
                  "
                >
                  IDV Range: Rs. 1,16,435 - Rs. 2,34,422
                </div>
              </div>
            </div>

            <!-- <div class="row">

                        <div class="col-md-12" style="font-family: Poppins;
                                                font-style: normal;
                                                font-weight: normal;
                                                font-size: 12px;
                                                line-height: 18px;
                                                padding-top: 10px;
                                                margin-left: 10px;
                                                color: #303253;">
                            IDV has been set for best deal from every insurer.
                        </div>
                    </div>-->
            <div class="row">
              <br />
            </div>

            <div class="row">
              <div class="col-md-1"></div>
              <div
                class="col-md-9"
                style="border-bottom: 1px solid #dddddd"
              ></div>
              <div class="col-md-2"></div>
            </div>

            <!--
                        changes are made here..
                    -->

            <div class="row">
              <div
                class="col-md-12"
                style="
                  font-family: Poppins;
                  font-style: normal;
                  font-weight: 600;
                  font-size: 16px;
                  line-height: 24px;
                  margin-top: 14px;
                  color: #303253;
                  padding-top: 2px;
                  margin-left: 15px;
                "
              >
                Last Policy Claim & NCB
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <select
                  [(ngModel)]="prev_ncb"
                  (change)="onValueChange('ncb', prev_ncb)"
                  name=""
                  id=""
                  style="
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 21px;
                    border: #ffffff 0px;
                    margin-top: 8px;
                    margin-bottom: 10px;
                    color: #303253;
                    padding-top: 2px;
                    margin-left: 30px;
                    width: 85%;
                  "
                >
                  <option value="0">0% NCB & No Claim</option>
                  <option value="20">20% NCB & No Claim</option>
                  <option value="25">25% NCB & No Claim</option>
                  <option value="35">35% NCB & No Claim</option>
                  <option value="45">45% NCB & No Claim</option>
                  <option value="50">50% NCB & No Claim</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-md-1"></div>
              <div
                class="col-md-9"
                style="border-bottom: 1px solid #dddddd"
              ></div>
              <div class="col-md-2"></div>
            </div>

            <div class="row">
              <div
                class="col-md-12"
                style="
                  font-family: Poppins;
                  font-style: normal;
                  font-weight: 600;
                  font-size: 16px;
                  line-height: 24px;
                  margin-top: 14px;
                  color: #303253;
                  padding-top: 2px;
                  margin-left: 15px;
                "
              >
                Registration Date
              </div>
            </div>
            <div class="row">
              <div style="margin: 0 auto">
                <input
                  type="date"
                  [(ngModel)]="registerDateCar1"
                  (change)="
                    onValueChange('car_register_date', registerDateCar1)
                  "
                  style="
                    border: 1.6px solid #dfdfdf;
                    padding-left: 20px;
                    padding-right: 20px;
                    box-sizing: border-box;
                    width: 296px;
                    height: 56px;
                    margin-top: 10px;
                    margin-bottom: 20px;
                    border-radius: 12px;
                  "
                  placeholder="Select Registration Date"
                  autocomplete="off"
                />
              </div>
            </div>

            <div class="row">
              <div class="col-md-1"></div>
              <div
                class="col-md-9"
                style="border-bottom: 1px solid #dddddd"
              ></div>
              <div class="col-md-2"></div>
            </div>
            <div class="row">
              <div
                class="col-md-12"
                style="
                  font-family: Poppins;
                  font-style: normal;
                  font-weight: 600;
                  font-size: 16px;
                  line-height: 24px;
                  margin-top: 14px;
                  color: #303253;
                  padding-top: 2px;
                  margin-left: 15px;
                "
              >
                Last Policy Expiry Day
              </div>
            </div>
            <div class="row">
              <div style="margin: 0 auto">
                <input
                  type="date"
                  [(ngModel)]="policyExpiry"
                  (change)="
                    onValueChange(
                      'previous_year_policy_expirty_date',
                      policyExpiry
                    )
                  "
                  style="
                    border: 1.6px solid #dfdfdf;
                    box-sizing: border-box;
                    width: 296px;
                    height: 56px;
                    margin-top: 10px;
                    margin-bottom: 20px;
                    padding-left: 20px;
                    padding-right: 20px;
                    border-radius: 12px;
                  "
                  placeholder="Select Registration Date"
                  autocomplete="off"
                />
              </div>
            </div>

            <div class="row">
              <div class="col-md-1"></div>
              <div
                class="col-md-9"
                style="border-bottom: 1px solid #dddddd"
              ></div>
              <div class="col-md-2"></div>
            </div>
            <!--
                        changes end here
                    -->

            <div class="row">
              <div
                class="col-md-12"
                style="
                  font-family: Poppins;
                  font-style: normal;
                  font-weight: 600;
                  font-size: 16px;
                  line-height: 24px;
                  margin-left: 10px;
                  padding-top: 15px;
                  color: #303253;
                "
              >
                Add Ons
              </div>
            </div>

            <div class="row addonsRadio1">
              <div class="col-12" style="margin-left: 10px; padding-top: 5px">
                <!-- <mat-radio-group [(ngModel)]="zero_depreciation" name="zero_depreciation">
                                <mat-radio-button (click)="RecommendedAddOns('zero_depreciation',zero_depreciation)"
                                    value="true">Zero
                                    Depreciation
                                </mat-radio-button>
                            </mat-radio-group> -->
                <!-- <input type="checkbox" id="" [(ngModel)]="zero_depreciation" name="zero_depreciation"
                                checked="{{zero_depreciation == 'true'}}" value=""
                                (click)="RecommendedAddOns('zero_depreciation',zero_depreciation)"><label>
                                Zero Depreciation</label> -->
                <mat-checkbox
                  class="form-control"
                  [(ngModel)]="zero_depreciation"
                  (change)="
                    RecommendedAddOns('zero_depreciation', zero_depreciation)
                  "
                  name="zero_depreciation"
                >
                  <label>Zero Depreciation</label>
                </mat-checkbox>
              </div>
            </div>
            <!-- <div class="row addonsRadio">
                        <div class="col-12" style="margin-left:22px;padding-top: 2px">
                            <mat-radio-group [(ngModel)]="invoice_cover"
                                (change)="addOn(invoice_cover,'invoice_cover')">
                                <mat-radio-button [value]="true">Invoice Cover
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div> -->
            <div class="row addonsRadio2">
              <div class="col-12" style="margin-left: 10px; padding-top: 5px">
                <!-- <mat-radio-group [(ngModel)]="carData.rode_side_assistance" name="rode_side_assistance">
                                <mat-radio-button value="true"
                                    (click)="RecommendedAddOns('rode_side_assistance',carData.rode_side_assistance)">
                                    Roadside
                                    Assistance
                                </mat-radio-button>
                            </mat-radio-group> -->
                <mat-checkbox
                  class="form-control"
                  [(ngModel)]="rode_side_assistance"
                  (change)="
                    RecommendedAddOns(
                      'rode_side_assistance',
                      rode_side_assistance
                    )
                  "
                  name="rode_side_assistance"
                >
                  <label>Roadside Assistance</label>
                </mat-checkbox>
              </div>
            </div>
            <div class="row addonsRadio3">
              <div class="col-12" style="margin-left: 10px; padding-top: 5px">
                <!-- <mat-radio-group [(ngModel)]="invoice_cover" name="invoice_cover">
                                <mat-radio-button value="true" (click)="addOn(invoice_cover,'invoice_cover')">Invoice
                                    Cover
                                </mat-radio-button>
                            </mat-radio-group> -->
                <mat-checkbox
                  class="form-control"
                  [(ngModel)]="invoice_cover"
                  (change)="addOn(invoice_cover, 'invoice_cover')"
                  name="invoice_cover"
                >
                  <label>Invoice Cover</label>
                </mat-checkbox>
              </div>
            </div>
            <div class="row addonsRadio4">
              <div class="col-12" style="margin-left: 10px; padding-top: 5px">
                <!-- <mat-radio-group [(ngModel)]="engine_protector" name="engine_protector">
                                <mat-radio-button (click)="addOn(engine_protector,'engine_protector')" value="true">
                                    Engine
                                    Cover
                                </mat-radio-button>
                            </mat-radio-group> -->
                <mat-checkbox
                  class="form-control"
                  [(ngModel)]="engine_protector"
                  (change)="addOn(engine_protector, 'engine_protector')"
                  name="engine_protector"
                >
                  <label>Engine Cover</label>
                </mat-checkbox>
              </div>
            </div>
            <div class="row addonsRadio5">
              <div class="col-12" style="margin-left: 10px; padding-top: 5px">
                <!-- <mat-radio-group [(ngModel)]="ncb_protection" name="ncb_protection">
                                <mat-radio-button (click)="addOn(ncb_protection,'ncb_protection')" value="true">NCB
                                    Protect
                                </mat-radio-button>
                            </mat-radio-group> -->
                <mat-checkbox
                  class="form-control"
                  [(ngModel)]="ncb_protection"
                  (change)="addOn(ncb_protection, 'ncb_protection')"
                  name="ncb_protection"
                >
                  <label>NCB Protect</label>
                </mat-checkbox>
              </div>
            </div>
            <div class="row addonsRadio6">
              <div class="col-12" style="margin-left: 10px; padding-top: 5px">
                <!-- <mat-radio-group [(ngModel)]="consumable" name="consumable">
                                <mat-radio-button (click)="addOn(consumable,'consumable')" value="true">
                                    Consumable
                                </mat-radio-button>
                            </mat-radio-group> -->
                <mat-checkbox
                  class="form-control"
                  [(ngModel)]="consumable"
                  (change)="addOn(consumable, 'consumable')"
                  name="consumable"
                >
                  <label>Consumable</label>
                </mat-checkbox>
              </div>
            </div>
            <div class="row addonsRadio7">
              <div class="col-12" style="margin-left: 10px; padding-top: 5px">
                <!-- <mat-radio-group [(ngModel)]="key_protector" name="key_protector">
                                <mat-radio-button (click)="addOn(key_protector,'key_protector')" value="true">
                                    Key Protect
                                </mat-radio-button>
                            </mat-radio-group> -->
                <mat-checkbox
                  class="form-control"
                  [(ngModel)]="key_protector"
                  (change)="addOn(key_protector, 'key_protector')"
                  name="key_protector"
                >
                  <label>Key Protect</label>
                </mat-checkbox>
              </div>
            </div>
            <div class="row addonsRadio8">
              <div class="col-12" style="margin-left: 10px; padding-top: 5px">
                <!-- <mat-radio-group name="tyre_cover" [(ngModel)]="tyre_cover">
                                <mat-radio-button (click)="addOn(tyre_cover,'tyre_cover')" value="true">Tyre
                                    Cover
                                </mat-radio-button>
                            </mat-radio-group> -->
                <mat-checkbox
                  class="form-control"
                  [(ngModel)]="tyre_cover"
                  (change)="addOn(tyre_cover, 'tyre_cover')"
                  name="tyre_cover"
                >
                  <label>Tyre Cover</label>
                </mat-checkbox>
              </div>
            </div>
            <div class="row addonsRadio9">
              <div class="col-12" style="margin-left: 10px; padding-top: 5px">
                <!-- <mat-radio-group [(ngModel)]="paid_driver_legal_liability_cover"
                                name="paid_driver_legal_liability_cover">
                                <mat-radio-button
                                    (click)="addOn(paid_driver_legal_liability_cover,'paid_driver_legal_liability_cover')"
                                    value="true">Paid Driver Legal Liability Cover
                                </mat-radio-button>
                            </mat-radio-group> -->
                <mat-checkbox
                  class="form-control"
                  [(ngModel)]="paid_driver_legal_liability_cover"
                  (change)="
                    addOn(
                      paid_driver_legal_liability_cover,
                      'paid_driver_legal_liability_cover'
                    )
                  "
                  name="paid_driver_legal_liability_cover"
                >
                  <label>Paid Driver Legal Liability Cover</label>
                </mat-checkbox>
              </div>
            </div>
            <div class="row addonsRadio10">
              <div class="col-12" style="margin-left: 10px; padding-top: 5px">
                <!-- <mat-radio-group [(ngModel)]="pa_to_owner_driver" name="pa_to_owner_driver">
                                <mat-radio-button (click)="addOn(pa_to_owner_driver,'pa_to_owner_driver')" value="true">
                                    PA Owner
                                    Driver
                                </mat-radio-button>
                            </mat-radio-group> -->
                <mat-checkbox
                  class="form-control"
                  [(ngModel)]="pa_to_owner_driver"
                  (change)="addOn(pa_to_owner_driver, 'pa_to_owner_driver')"
                  name="pa_to_owner_driver"
                >
                  <label>PA Owner Driver</label>
                </mat-checkbox>
              </div>
            </div>
            <!-- <div class="row addonsRadio2">
                        <div class="col-12" style=" margin-left: 10px;padding-top: 2px;">
                            <mat-radio-button name="third_party_damage" value="1"> Third Party Property Damage
                            </mat-radio-button>
                        </div>
                    </div> -->
            <!-- <div class="row addonsRadio11">
                        <div class="col-12" style="margin-left: 10px;padding-top: 2px"> -->
            <!-- <mat-radio-group [(ngModel)]="driver_cover" name="driver_cover">
                                <mat-radio-button value="true" (click)="addOn(driver_cover,'driver_cover')">
                                    Passenger PA Cover
                                </mat-radio-button>
                            </mat-radio-group> -->
            <!-- <mat-checkbox class="form-control" [(ngModel)]="driver_cover"
                                (change)="addOn(driver_cover,'driver_cover')" name="driver_cover">
                                <label>Passenger PA Cover</label>
                            </mat-checkbox>
                        </div>
                    </div> -->
            <!-- <div class="row" style="color: black;padding-top: 2px;">
                        <div class="col-12">
                            <label class="field" style="width: 8cm;margin-left:10px">
                                <select class="col-12 form-control" name="driver_cover"
                                    [(ngModel)]="carData.driver_cover"
                                    (change)="RecommendedAddOns('driver_cover',carData.driver_cover)">
                                    <option value="0" disabled>Passenger Cover</option>
                                    <option value="1">50,000</option>
                                    <option value="2">1,00,000</option>
                                    <option value="4">2,00,000</option>
                                </select>
                            </label>
                        </div>
                    </div> -->
            <div class="row">
              <select
                class="form-control"
                name="driver_cover"
                [(ngModel)]="carData.driver_cover"
                (change)="
                  RecommendedAddOns('driver_cover', carData.driver_cover)
                "
                style="
                  border: 1.6px solid #dfdfdf;
                  box-sizing: border-box;
                  /* border-radius: 12px; */
                  margin-left: 25px;
                  margin-bottom: 10px;
                  margin-top: 5px;
                  margin-left: 25px;
                  margin-right: 5px;
                "
              >
                <option value="0" disabled>Passenger Cover</option>
                <option value="1">50,000</option>
                <option value="2">1,00,000</option>
                <option value="4">2,00,000</option>
              </select>
            </div>
            <div class="row">
              <div class="col-md-1"></div>
              <div
                class="col-md-9"
                style="border-bottom: 1px solid #dddddd"
              ></div>
              <div class="col-md-2"></div>
            </div>

            <div class="row">
              <div
                class="col-md-12"
                style="
                  font-family: Poppins;
                  font-style: normal;
                  font-weight: 600;
                  font-size: 16px;
                  line-height: 24px;
                  margin-left: 10px;
                  padding-top: 15px;
                  color: #303253;
                "
              >
                Additional Covers
              </div>
            </div>
            <div
              class="row"
              style="color: black; margin-left: 10px; padding-top: 2px"
            >
              <div class="col-12">
                <label for="" class=""
                  >Electrical Accessories :
                  <!-- <span class="">
                                <span class=""> <i class=""></i> ARAI Approved Anti Theft Device Fitted ? </span>
                            </span> -->
                </label>
                <input
                  class="col-12 form-control"
                  type="text"
                  id=""
                  name="electrical_accessories"
                  [(ngModel)]="carData.electrical_accessories"
                  placeholder="Electrical Accessories Value"
                  maxlength="5"
                />
              </div>
            </div>
            <div
              class="row"
              style="color: black; margin-left: 10px; padding-top: 2px"
            >
              <div class="col-12">
                <label for="" class=""
                  >Non-Electrical Accessories :
                  <!-- <span class="">
                                <span class=""> <i class=""></i> ARAI Approved Anti Theft Device Fitted ? </span>
                            </span> -->
                </label>
                <input
                  class="col-12 form-control"
                  type="text"
                  id=""
                  name="electrical_accessories"
                  [(ngModel)]="carData.non_electrical_accessories"
                  placeholder="Non Electrical Accessories Value"
                  maxlength="5"
                />
              </div>
            </div>
            <div
              class="row"
              style="color: black; margin-left: 10px; padding-top: 2px"
            >
              <div class="col-12">
                <label for="" class=""
                  >External Electric BI Fuel Kit :
                  <!-- <span class="">
                                <span class=""> <i class=""></i> ARAI Approved Anti Theft Device Fitted ? </span>
                            </span> -->
                </label>

                <input
                  class="col-12 form-control"
                  type="text"
                  id=""
                  name="electrical_accessories"
                  [(ngModel)]="carData.external_bi_fuel_kit_value"
                  placeholder="External Bi Fuel Kit Value"
                  maxlength="5"
                />
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <br />
                <button
                  class="btn"
                  style="
                    background: #303253;
                    color: #ffffff;
                    margin-left: 25px;
                    border-radius: 8px;
                    width: 92%;
                    font-family: Poppins;
                  "
                  (click)="editInsurerApi()"
                >
                  Update Additional Covers
                </button>
              </div>
            </div>

            <div class="row">
              <div
                class="col-md-12"
                style="
                  font-family: Poppins;
                  font-style: normal;
                  font-weight: 600;
                  font-size: 16px;
                  line-height: 24px;
                  margin-left: 10px;
                  padding-top: 15px;
                  color: #303253;
                "
              >
                Discounts
              </div>
            </div>

            <!--dummy-->
            <!-- <div class="row" style="color: black;margin-left: 10px;padding-top: 2px">
                        <div class="col-12">
                            <label class="field">
                                <select class="col-12 form-control" [(ngModel)]="carData.voluntary_deductible_value">
                                    <option value="0" disabled>Voluntary Deductible</option>
                                    <option value="2500">2,500</option>
                                    <option value="5000">5,000</option>
                                    <option value="7500">7,500</option>
                                    <option value="15000">15,000</option>
                                </select>
                            </label>
                        </div>
                    </div> -->
            <div class="row">
              <select
                class="form-control"
                [(ngModel)]="carData.voluntary_deductible_value"
                style="
                  border: 1.6px solid #dfdfdf;
                  box-sizing: border-box;
                  /* border-radius: 12px; */
                  margin-left: 35px;
                  margin-right: 15px;
                  margin-bottom: 10px;
                  margin-top: 3px;
                "
              >
                <option value="0">Voluntary Deductible</option>
                <option value="2500">2,500</option>
                <option value="5000">5,000</option>
                <option value="7500">7,500</option>
                <option value="15000">15,000</option>
              </select>
            </div>
            <!--
                    <div class="row" style="color: black;margin-left: 10px;padding-top: 2px">
                        <label for="" class="">
                            <input type="checkbox" id="" name="antiTheftDevice" [checked]="antiTheftDeviceChecked"
                                value="" (click)="setChecked($event,'antiTheftDeviceChecked')">
                            <span class="">
                                <span class=""> <i class=""></i> ARAI Approved Anti Theft Device Fitted ? </span>
                            </span>
                        </label>
                    </div>
                    <div class="row" style="color: black;margin-left: 10px;padding-top: 2px">
                        <label for="" class="">
                            <input type="checkbox" id="" [checked]="autoAssocChecked"
                                (click)="setChecked($event,'autoAssocChecked')">
                            <span class="">
                                <span class=""> <i class=""></i> Car Owner a member of Automobile Association of India ?
                                </span>
                            </span>
                        </label>
                    </div>-->
            <div class="row">
              <div class="col-md-12">
                <br />
                <button
                  class="btn"
                  style="
                    background: #303253;
                    color: #ffffff;
                    margin-left: 25px;
                    border-radius: 8px;
                    width: 92%;
                    font-family: Poppins;
                  "
                  (click)="editDiscountsApi()"
                >
                  Apply
                </button>
              </div>
            </div>
            <div class="row">
              <br />
              <br />
            </div>

            <div class="row">
              <br />
            </div>
          </div>
        </div>
      </div>

      <div class="" style="width: 65%; float: left">
        <div class="row">
          <div class="" style="width: 10%; float: left"></div>
          <div
            class="col-md-11"
            style="
              font-family: Poppins;
              font-style: normal;
              font-weight: 600;
              font-size: 48px;
              line-height: 72px;
              color: #303253;
            "
          >
            Car Insurance
          </div>
        </div>
        <div class="row">
          <br />
        </div>
        <div class="row">
          <div class="col-md-1"></div>

          <div
            class="col-md-10"
            style="
              background: #ffffff;
              box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
              border-radius: 12px;
            "
          >
            <div
              class="row"
              style="padding-top: 10px; padding-bottom: 10px"
              *ngIf="showCarInsurance == false"
            >
              <div class="col-md-1"></div>
              <div
                class="col-md-9"
                style="
                  font-family: Poppins;
                  font-style: normal;
                  font-weight: 600;
                  font-size: 16px;
                  line-height: 24px;

                  color: #303253;
                "
              >
                <!-- Tata, Nexon XZ+ (Petrol), 02 Jan 2020 -->
                {{ carData?.biCarModel }}, {{ carData?.biCarVariant }} ({{
                  carData?.biCarFuel
                }}),
                {{ registerDateCar1 | date: "dd-MMM-yyyy" }}
              </div>
              <a href="javascript:void(0)">
                <div
                  class="col-md-2"
                  style="
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 21px;
                    display: flex;
                    align-items: center;
                    text-align: center;

                    color: #2229b6;
                  "
                  (click)="displayCarInsurance()"
                >
                  See More
                </div>
              </a>
            </div>

            <div *ngIf="showCarInsurance == true">
              <div class="row" style="padding-top: 10px; padding-bottom: 10px">
                <div class="col-md-1"></div>
                <div
                  class="col-md-6"
                  style="
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    color: #303253;
                  "
                >
                  Car Manufacturer :
                </div>
                <div
                  class="col-md-4"
                  style="
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    color: #303253;
                  "
                >
                  <!-- Tata -->
                  {{ carData?.biCarModel }}
                </div>
                <div class="col-md-1">
                  <i
                    class="fa fa-close fa-lg"
                    (click)="displayCarInsurance()"
                  ></i>
                </div>
              </div>

              <div class="row" style="padding-top: 10px; padding-bottom: 10px">
                <div class="col-md-1"></div>
                <div
                  class="col-md-6"
                  style="
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    color: #303253;
                  "
                >
                  Variant :
                </div>
                <div
                  class="col-md-5"
                  style="
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    color: #303253;
                  "
                >
                  <!-- Nexon XZ+ -->
                  {{ carData?.biCarVariant }}
                  <!-- {{carData?.biCarModel}} -->
                </div>
              </div>

              <div class="row" style="padding-top: 10px; padding-bottom: 10px">
                <div class="col-md-1"></div>
                <div
                  class="col-md-6"
                  style="
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    color: #303253;
                  "
                >
                  Manufacturing Year :
                </div>
                <div
                  class="col-md-5"
                  style="
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    color: #303253;
                  "
                >
                  <!-- 2020 -->
                  {{ carData?.manufacturingYear }}
                </div>
              </div>

              <div class="row" style="padding-top: 10px; padding-bottom: 10px">
                <div class="col-md-1"></div>
                <div
                  class="col-md-6"
                  style="
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    color: #303253;
                  "
                >
                  Fuel Type :
                </div>
                <div
                  class="col-md-5"
                  style="
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    color: #303253;
                  "
                >
                  <!-- Petrol -->
                  {{ carData?.biCarFuel }}
                </div>
              </div>

              <div class="row" style="padding-top: 10px; padding-bottom: 10px">
                <div class="col-md-1"></div>
                <div
                  class="col-md-6"
                  style="
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    color: #303253;
                  "
                >
                  Registration Date :
                </div>
                <div
                  class="col-md-5"
                  style="
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    color: #303253;
                  "
                >
                  <!-- 02 Jan 2020 -->
                  {{ registerDateCar1 | date: "dd-MMM-yyyy" }}
                </div>
              </div>

              <div class="row" style="padding-top: 10px; padding-bottom: 10px">
                <div class="col-md-1"></div>
                <div
                  class="col-md-6"
                  style="
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    color: #303253;
                  "
                >
                  NCB on previous policy :
                </div>
                <div
                  class="col-md-5"
                  style="
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    color: #303253;
                  "
                >
                  {{ carData?.ncb }} %
                </div>
              </div>

              <div class="row" style="padding-top: 10px; padding-bottom: 10px">
                <div class="col-md-1"></div>
                <div
                  class="col-md-6"
                  style="
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    color: #303253;
                  "
                >
                  Expiry Date :
                </div>
                <div
                  class="col-md-5"
                  style="
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    color: #303253;
                  "
                >
                  <!-- 04 Jan 2021 -->
                  {{ policyExpiry | date: "dd-MMM-yyyy" }}
                </div>
              </div>

              <div class="row" style="padding-top: 10px; padding-bottom: 10px">
                <div class="col-md-1"></div>
                <div class="col-md-2">
                  <button
                    class="btn"
                    (click)="redirectToEdit()"
                    style="
                      background: #999999;
                      border-radius: 10px;
                      color: #ffffff;
                      font-family: Poppins;
                      width: 248px;
                      padding-top: 15px;
                      padding-bottom: 15px;
                    "
                  >
                    Edit
                  </button>
                </div>
                <div class="col-md-9"></div>
              </div>
              <div
                class="row"
                style="padding-top: 5px; padding-bottom: 5px"
              ></div>
            </div>
          </div>
          <div class="col-md-1"></div>
        </div>

        <div class="row">
          <br />
        </div>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <div
              style="
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                color: #5a7184;
              "
            >
              Shown {{ (p - 1) * itemsPerPage + 1 }} -
              {{ p * itemsPerPage }} from {{ quotaSuccess.length }} total for
              ‘car insurance’
              <!-- new row out side box end-->
            </div>
            <div class="row">
              <div class="col-md-1"></div>

              <!-- <div class="col-md-2" style="text-align: right;">
                            sort by:
                        </div>
                        <div class="col-md-3">
                            <select type="text" class="form-control  " style="border-radius:10px;
                                                    font-family: Poppins;
                                                    font-style: normal;
                                                    font-weight: normal;
                                                    font-size: 12px;
                                                  
                                                    
                                                    /* identical to box height */ 
                                                    color: #999999;" autocomplete="off">

                                <option>Highest Rating</option>

                            </select>


                        </div> -->
            </div>
          </div>
          <!-- <div class="col-md-1">

                </div> -->
        </div>

        <div class="row">
          <br />
          <!-- <br />
                <br />
                <br /> -->
        </div>

        <div class="row">
          <div class="col-md-1"></div>
          <div
            class="col-md-10"
            style="
              background: #ffffff;
              box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
              border-radius: 12px;
            "
          >
            <div class="row">
              <div class="col-md-1"></div>
              <div
                class="col-md-11"
                style="
                  font-family: Poppins;
                  font-style: normal;
                  font-weight: 600;
                  font-size: 20px;
                  line-height: 24px;
                  /* identical to box height, or 120% */
                  letter-spacing: 0.2px;
                  color: #161d25;
                  margin-top: 20px;
                "
              >
                Compare or Buy Insurance Provider
              </div>
            </div>

            <div class="row">
              <div class="col-md-1"></div>
              <div
                class="col-md-11"
                style="
                  font-family: Poppins;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 14px;
                  line-height: 20px;
                  padding-top: 10px;

                  color: #959ead;
                "
              >
                You can compare between multiple insurance providers that suit
                your needs
              </div>
            </div>

            <div
              class="row"
              style="padding-top: 10px"
              *ngFor="
                let quota of quotaSuccess
                  | paginate: { itemsPerPage: itemsPerPage, currentPage: p }
              "
            >
              <!-- <div class="row" style="padding-top:10px"
                        *ngFor="let i of carInsuranceArr | paginate:{itemsPerPage:itemsPerPage,currentPage:p}"> -->

              <div
                class="col-md-12"
                style="
                  background: #ffffff;
                  mix-blend-mode: normal;
                  box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
                  border-radius: 12px;
                  padding: 10px;
                "
              >
                <div class="row">
                  <div class="col-md-1" style="align-items: center">
                    <div class="row">
                      <br />
                    </div>
                    <div
                      class="row"
                      style="margin-top: 10px; margin-left: 10px"
                    >
                      <mat-checkbox
                        value=""
                        (change)="checkBoxBottonClick(quota, $event)"
                      ></mat-checkbox>
                    </div>
                    <div class="row">
                      <br />
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="row">
                      <br />
                    </div>
                    <div class="row" style="width: 90px !important">
                      <img
                        src="{{ baseApiUrl }}/{{
                          quota.availablePlans.logo.replace('public/', '/')
                        }}"
                        alt=""
                        style="width: 90px !important"
                      />
                    </div>
                    <div class="row">
                      <br />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="row">
                      <!-- {{i.textMsg1}} -->
                      {{ quota.availablePlans.company_name }}
                    </div>
                    <div class="row">
                      <!-- {{i.textMsg2}} -->
                      Cover Amount(IDV): {{ quota.insurerApiData.idv }}
                    </div>
                    <div class="row">
                      NCB Discount : {{ quota.insurerApiData.ncbBonusDisplay }}
                    </div>
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-md-2">
                    <div class="row">
                      1 year
                      <!-- {{i.textMsg4}} -->
                    </div>

                    <div class="row">
                      <button
                        mat-icon-button
                        style="
                          background-color: #50b83c;
                          color: #ecdcc4;
                          width: 17px;
                          height: 17px;
                          margin-top: 5px;
                        "
                        aria-label="Example icon button with a home icon"
                      >
                        <i
                          class="fa fa-sm fa-inr"
                          style="margin-top: -20px"
                          aria-hidden="true"
                        ></i></button
                      >&nbsp;&nbsp;
                      <!-- {{i.textMsg5}} -->
                      ₹{{
                        +quota.insurerApiData.display.displayPremium *
                          +quota.insurerApiData.taxRate | number: "1.0-0"
                      }}
                    </div>
                  </div>
                  <div class="col-md-2">
                    <!-- <button class="btn btn-primary " style="background:#303253;
                            border-radius: 10px;width: 110px;
                            font-family: Poppins;padding-top: 25px;padding-bottom: 15px;"
                                        (click)="bookNowHDFC(thirdPartyPlans.enquiryData.leadId, thirdPartyPlans.availablePlans.master_sheet_id, enquiry_id, thirdPartyPlans.insurerApiData.idv, thirdPartyPlans.insurerApiData.display.displayPremium * thirdPartyPlans.insurerApiData.taxRate, thirdPartyPlans.insurerApiData.transactionId_1, thirdPartyPlans.insurerApiData.transactionId_2, thirdPartyPlans.insurerApiData.odPremium, 'rollover', thirdPartyPlans.insurerApiData.display.pa_to_owner_driver,quota.insurerApiData.finalPremium,quota.insurerApiData.tpPremium)">Buy</button> -->
                    <button
                      class="btn"
                      style="
                        background: #303253;
                        border-radius: 10px;
                        width: 75px;
                        /* height: 40px; */
                        color: #ffffff;
                        font-family: Poppins;
                        /* padding-top: 10px; */
                        /* padding-bottom: 10px; */
                        margin-top: 20px;
                      "
                      (click)="
                        bookNowHDFC(
                          quota.enquiryData.leadId,
                          quota.availablePlans.master_sheet_id,
                          enquiry_id,
                          quota.insurerApiData.idv,
                          +quota.insurerApiData.display.displayPremium *
                            quota.insurerApiData.taxRate,
                          quota.insurerApiData.transactionId_1,
                          quota.insurerApiData.transactionId_2,
                          quota.insurerApiData.odPremium,
                          'rollover',
                          quota.insurerApiData.display.pa_to_owner_driver,
                          quota.insurerApiData.finalPremium,
                          quota.insurerApiData.tpPremium,
                          quota
                        )
                      "
                    >
                      Buy
                    </button>
                    <!-- <button class="btn btn-primary " style="background:#303253;
                            border-radius: 10px;width: 110px;
                            font-family: Poppins;padding-top: 25px;padding-bottom: 15px;"
                                        (click)="bookNowHDFC(thirdPartyPlans.enquiryData.leadId, thirdPartyPlans.availablePlans.master_sheet_id, enquiry_id, quota.insurerApiData.idv, quota.insurerApiData.finalPremium, thirdPartyPlans.insurerApiData.transactionId_1, thirdPartyPlans.insurerApiData.transactionId_2, quota.insurerApiData.tpPremium, 'rollover', thirdPartyPlans.insurerApiData.display.pa_to_owner_driver)">Buy</button> -->
                    <!-- routerLink="/car/CarOwner" -->
                  </div>
                </div>
              </div>
              <div class="col-md-1"></div>
            </div>
            <div style="margin-top: 20px">
              <pagination-controls
                maxSize="9"
                previousLabel="Previous"
                (click)="pageChanged($event)"
                nextLabel="Next"
                (pageChange)="p = $event"
                screenReaderCurrentLabel="You're on page"
                responsive="true"
              >
              </pagination-controls>
            </div>
            <!-- <pagination-controls id="some_id" (pageChange)="p=$event" (pageBoundsCorrection)="p=$event"
                        maxSize="9" directionLinks="true" autoHide="true" responsive="true" previousLabel="Previous"
                        nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                        screenReaderCurrentLabel="You're on page">
                    </pagination-controls> -->
            <div class="col-md-1"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="Footer" *ngIf="footerstatus">
      <div class="row">
        <div class="col-12 justify-content-start">
          <div *ngFor="let value of compare_data" class="d-inline">
            <img
              src="{{ baseApiUrl }}/{{
                value.availablePlans.logo.replace('public/', '/')
              }}"
              alt=""
              width="80"
              height="60"
              style="object-fit: contain"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mt-3 d-flex justify-content-around">
          <!-- <button class="btn btn-outline-primary mb-2 mr-2">Compare</button>  -->
          <button
            mat-button
            class="compare mb-2 mr-2"
            (click)="downloadCarComparePdf(compare_data)"
          >
            Save Pdf
          </button>
        </div>
      </div>
      <!-- <button class="btn btn-outline-primary mb-2 mr-2" (click)="openSm(content)">Compare</button>
        <button class="btn btn-outline-primary mb-2 mr-2" (click)="openSm(content)">Download PDF</button> -->
    </div>

    <!--<div class="container">
<div class="row">
    <br/>
    <br/>
</div>
<!--first row start-->
    <!--<div class="row">
                       <!-- <div class="col-md-1">

                        </div>
                        <div class="col-md-2" style="font-family: Poppins;
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 24px;
                                    line-height: 32px;
                                    color: #303253; ">
                        Policy Details
                   
                     <div class="col-md-10" style="font-family: Poppins;
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 48px;
                                    line-height: 72px;
                                   
                                    color: #303253; ">
                        Car Insurance

                        <div class=" row">

                        </div>
                  </div>

<br/>
                <!-first row end-->

    <!-- <div class=" row">
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-10" style="font-family: Poppins;
                                                font-style: normal;
                                                font-weight: 600;
                                                font-size: 16px;
                                                line-height: 24px;
                                            
                                                color: #303253;">
                        Policy Type

                        <div class="row">
                            <br/>
                        </div>
                        <div class="row">
                            
                                <mat-radio-group aria-label="Select an option">
                                                    <div class="row" style="font-family: Poppins;
                                                                            font-style: normal;
                                                                            font-weight: normal;
                                                                            font-size: 14px;
                                                                            line-height: 21px;
                                                                            /* identical to box height */
                                                                            
                                                                            
                                                                            color: #303253;
                                                                            
                                                                            "> 
                                                        <div class="col-md-6" >
                                                            <mat-radio-button value="1">Comprehensive</mat-radio-button>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <mat-radio-button value="2">TP Liability</mat-radio-button>
                                                        </div>
                                                    </div>
                                         
                                                  </mat-radio-group>

                        
                                            </div>
                                        </div>
                                        <div class="col-md-1">

                                        </div>
                                    </div>

                                <div class="row">
                                    <br/>
                                </div>

                <div class="row">
                                <div class="col-md-1">

                                </div>
                                <div class="col-md-10" style="font-family: Poppins;
                                                            font-style: normal;
                                                            font-weight: 600;
                                                            font-size: 16px;
                                                            line-height: 24px;
                                                            /* identical to box height */
                                                            
                                                            
                                                            color: #303253;">
                                    Cover Amount (IDV)
                                    
                                    <div class="row">
                                        <br/>
                                    </div>
                
                                        <div class="row">
                                
                                    <mat-radio-group aria-label="Select an option">
                                                        <div class="row" style="font-family: Poppins;
                                                                                font-style: normal;
                                                                                font-weight: normal;
                                                                                font-size: 14px;
                                                                                line-height: 21px;
                                                                                /* identical to box height */
                                                                                
                                                                                
                                                                                color: #303253;
                                                                                
                                                                                "> 
                                                            <div class="col-md-6">
                                                                <mat-radio-button value="1">Best Deal</mat-radio-button>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <mat-radio-button value="2">Choose My Own</mat-radio-button>
                                                            </div>
                                                        </div>
                                                        
                                                
                                                      </mat-radio-group>
    
                                        
                                        </div>
                                    </div>
                                            <div class="col-md-1">

                                            </div>
                                            
                                        
                        </div>
                        <div class="row">
                            <br/>
                        </div>
                       
                <div class="row">
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-11" style="font-family: Poppins;
                                                font-style: normal;
                                                font-weight: normal;
                                                font-size: 12px;
                                                line-height: 18px;
                                                
                                                color: #303253;">
                        IDV has been set for best deal from every insurer.
                    </div>
                </div>
                <div class="row">
                    <br/>
                </div>
                <div class="row">
                    <div class="col-md-1"  >

                    </div>
                    <div class="col-md-11"   style="border: 1px solid #DDDDDD; width: 270;">
                            
                    </div>
                   
                </div>
                <div class="row">
                    <br/>
                
                </div>
                <div class="row">
                    <div class="col-md-1"  >

                    </div>
                    <div class="col-md-10" style="font-family: Poppins;
                                                    font-style: normal;
                                                    font-weight: 600;
                                                    font-size: 16px;
                                                    line-height: 24px;
                                                    /* identical to box height */
                                                    
                                                    
                                                    color: #303253;" >
                        Add Ons
                    </div>
                    <div class="col-md-1"  >

                    </div>
                </div>
                <div class="row">
                    <br/>
                </div>
                <div class="row">
                    <div class="col-md-1"  >

                    </div>
                    <mat-radio-group aria-label="Select an option">
                        <div class="col-md-11" style="font-family: Poppins;
                                                font-style: normal;
                                                font-weight: normal;
                                                font-size: 14px;
                                                line-height: 21px;
                                                /* identical to box height */
                                                
                                                
                                                color: #303253;
                                                
                                                "> 
                            
                                <mat-radio-button value="1"> PA Owner Driver  </mat-radio-button>
                            </div>
                        </mat-radio-group>
    
                
                </div>
              
                <div class="row">
                    <div class="col-md-1"  >

                    </div>
                    <mat-radio-group aria-label="Select an option">
                        <div class="col-md-11" style="font-family: Poppins;
                                                font-style: normal;
                                                font-weight: normal;
                                                font-size: 14px;
                                                line-height: 21px;
                                                /* identical to box height */
                                                
                                                
                                                color: #303253;
                                                
                                                "> 
                            
                                <mat-radio-button value="1"> Zero Depreciation  </mat-radio-button>
                            </div>
                        </mat-radio-group>
    
                
                </div>
                
                <div class="row">
                    <div class="col-md-1"  >

                    </div>
                    <mat-radio-group aria-label="Select an option">
                        <div class="col-md-11" style="font-family: Poppins;
                                                font-style: normal;
                                                font-weight: normal;
                                                font-size: 14px;
                                                line-height: 21px;
                                                /* identical to box height */
                                                
                                                
                                                color: #303253;
                                                
                                                "> 
                            
                                <mat-radio-button value="1"> Third Party Property Damage </mat-radio-button>
                            </div>
                        </mat-radio-group>
    
                
                </div>
                <div class="row">
                    <div class="col-md-1"  >

                    </div>
                    <mat-radio-group aria-label="Select an option">
                        <div class="col-md-11" style="font-family: Poppins;
                                                font-style: normal;
                                                font-weight: normal;
                                                font-size: 14px;
                                                line-height: 21px;
                                                /* identical to box height */
                                                
                                                
                                                color: #303253;
                                                
                                                "> 
                            
                                <mat-radio-button value="1">  Passenger PA Cover </mat-radio-button>
                                
                            </div>
                        </mat-radio-group>
                        <div class="col-md-1">
                            <select>
                                <option>
                                    
                                </option>
                            </select>
                        </div>
    
                
                </div>
                <div class="row">
                    <div class="col-md-1"  >

                    </div>
                    <div class="col-md-11"   style="border: 1px solid #DDDDDD; width: 270;">
                            
                    </div>

            </div>
                <div class="row">
                    <div class="col-md-1"  >

                    </div>
                    <div class="col-md-10" style="font-family: Poppins;
                                                    font-style: normal;
                                                    font-weight: 600;
                                                    font-size: 16px;
                                                    line-height: 24px;
                                                    /* identical to box height */
                                                    
                                                    
                                                    color: #303253;" >
                        Discounts
                    </div>
                        <div class="col-md-1"  >

                        </div>
                        
            </div>
                <div class="row">
                            <div class="col-md-1">

                            </div>
                            <div class="col-md-10" style="margin-left: 50px;">
                            
                            </div>
                            <div class="col-md-1">
                            
                            </div>
                </div>

                <div class="row">
                            <div class="col-md-2">

                            </div>

                            <div class="col-md-9">
                                <select>
                                    <option>
                                        
                                    </option>
                                </select>
                            </div>

                            <div class="col-md-1">

                            </div>
                </div>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-11">
                        <button class="btn btn-primary " routerLink="" style="background: #303253;
                                                                            border-radius: 8px;width:200px;
                                                                            font-family: Poppins;width: 306px;">Apply</button>

                    </div>
            </div>
        </div>
        <!--<div class="col-md-1">

        </div>-->
    <!-- </div>
    </div>-->
  </div>
</div>

<app-footer></app-footer>
