.container {
  font-family: "Averin";
}
.row {
  font-family: "Averin";
}
// .text-center {
//     align-items: center;
//     text-align: center;
//     margin-top: 1.5cm;
// }
.text-center1 {
  align-items: center;
  margin-left: 12.7cm;
}
.text-center2 {
  align-items: center;
  margin-left: 9cm;
  margin-top: 1cm;
}
.text-right {
  float: right;
  color: orange;
  margin-top: 1.5cm;
  margin-left: 10cm;
}
.text-right1 {
  float: right;
  color: orange;
  margin-left: 9cm;
}
.display {
  display: none;
}
.date-input {
  padding-left: 15%;
}
.field-icon {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  color: grey;
}
.field {
  display: block;
  position: relative;
  width: 10cm;
}
.container-div {
  // display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  // background: #4ebd4a;
  // border-radius: 5px;
  // border: 1px solid #2F8640;
}

/* Hide the browser's default radio button */
.container-div input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  // background-color: #eee;
  background-color: #fff;
  border: 2px solid #e71d36;
  border-radius: 50%;
  margin-top: 0%;
  margin-left: 10%;
}

/* On mouse-over, add a grey background color */
.container-div:hover input ~ .checkmark {
  background-color: #fff;
}

/* When the radio button is checked, add a blue background */
.container-div input:checked ~ .checkmark {
  background-color: #fff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-div input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container-div .checkmark:after {
  top: 5px;
  left: 5px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #e71d36;
}

.tabs-data {
  border: 1px solid #ddd;
  border-radius: 5px;
  // width: 27cm;
  width: 100%;
}

.calendar-icon {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
}
