<div class="container">
    <div class="row">
        <div class="container text-center">
            <h6>IDV:| Premium:</h6>

        </div>
    </div>
    <form autocomplete="off">
        <div class="py-3 px-5">
            <div class="px-3 tabs-data">
                <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs"
                    style="margin-top: 20px;background-color: #a8d9e6;">
                    <li [ngbNavItem]="1" style="width: 20%;">
                        <a ngbNavLink style="font-weight: bold;">Proposer</a>
                        <ng-template ngbNavContent>
                            <input type="hidden" [(ngModel)]="formData.health_enquiry_id" name="health_enquiry_id"
                                value="">
                            <h4 style="text-align: center;font-weight: bold;margin-top: 20px;">Proposer is the Person
                                who will pay the Premium for this Policy</h4>
                            <div class="row" style="margin-top: 40px;">
                                <div class="row">
                                    <label for="" class="" style="margin-left: 4.5cm;">First Name : </label>
                                    <label class="field" style="margin-left: 2.5cm;width: 10cm;">
                                        <input type="text" [(ngModel)]="formData.p_first_name" name="p_first_name"
                                            id="p_first_name" class="form-control date-input" placeholder="First Name">
                                        <label for="" class="field-icon"><i class="fa fa-user"></i></label>
                                    </label>
                                </div>
                                <div class="row">
                                    <label for="" class="" style="margin-left: 4cm;">Middle Name : </label>
                                    <label class="field" style="margin-left: 2.6cm;width: 10cm;">
                                        <input type="text" [(ngModel)]="formData.p_mid_name" name="p_mid_name"
                                            id="p_mid_name" class="form-control date-input" placeholder="Middle Name">
                                        <label for="" class="field-icon"><i class="fa fa-user"></i></label>
                                    </label>
                                </div>
                                <div class="row">
                                    <label for="" class="" style="margin-left: 4.5cm;">Last Name : </label>
                                    <label class="field" style="margin-left: 2.5cm;width: 10cm;">
                                        <input type="text" [(ngModel)]="formData.p_last_name" name="p_last_name"
                                            id="p_last_name" class="form-control date-input" placeholder="Last Name">
                                        <label for="" class="field-icon"><i class="fa fa-user"></i></label>
                                    </label>
                                </div>
                                <div class="row">
                                    <div class="input-group">
                                        <label for="" class="" style="margin-left: 4cm;">Date Of Birth :</label>
                                        <div class="position-relative" style="margin-left: 2.6cm;width: 10cm;">
                                            <div class="calendar-icon"><i class="fa fa-calendar"></i></div>
                                            <input class="form-control date-input"
                                                [minDate]="{year: 1980, month: 1, day: 1}" [(ngModel)]="formData.dob"
                                                name="nominee_dob" id="dob" (click)="d.toggle()"
                                                placeholder="Select Date of Birth" name="dp" ngbDatepicker
                                                #d="ngbDatepicker">
                                        </div>
                                    </div>
                                </div> <br />
                                <div class="row" style="margin-left: 4.7cm;margin-top: 10px;">
                                    <h6 style="margin-right: 2cm;">Gender :</h6>
                                    <label class="container-div" style="margin-left: 20px;">
                                        <input type="radio" [(ngModel)]="formData.gender" name="gender" value="0">
                                        <span class="checkmark"></span>Male
                                    </label><br>
                                    <label class="container-div" style="margin-left: 20px;">
                                        <input type="radio" [(ngModel)]="formData.gender" name="gender" value="1">
                                        <span class="checkmark"></span>Female
                                    </label>
                                </div>
                                <div class="row">
                                    <label for="" class="" style="margin-left: 4cm;margin-top: 10px;">Marital Status :
                                    </label>
                                    <label class="field" style="margin-left: 2.5cm;width: 10cm;">
                                        <select class="custom-select" [(ngModel)]="formData.marital_status"
                                            name="marital_status">
                                            <option value="">Marital Status</option>
                                            <option value="Married">Married</option>
                                            <option value="Single">Single</option>
                                            <option value="Widowed">Widowed</option>
                                            <option value="Divorced">Divorced</option>
                                            <option value="Seperated">Seperated</option>
                                        </select>
                                        <i class="arrow double"></i>
                                    </label>
                                </div>
                                <div class="row">
                                    <label for="" class="" style="margin-left: 4.1cm;">GST Number : </label>
                                    <label class="field" style="margin-left: 2.5cm;width: 10cm;">
                                        <input type="text" [(ngModel)]="formData.gst_id_number" name="gst_id_number"
                                            class="form-control date-input" placeholder="GST Number">
                                        <label for="" class="field-icon"><i class="fa fa-dedent"></i></label>
                                    </label>
                                </div>
                                <div class="row">
                                    <label for="" class="" style="margin-left: 3.7cm;">Aadhar Number : </label>
                                    <label class="field" style="margin-left: 2.5cm;width: 10cm;">
                                        <input type="text" [(ngModel)]="formData.p_aadhar" name="p_aadhar"
                                            class="form-control date-input" placeholder="Aadhar Number">
                                        <label for="" class="field-icon"><i class="fa fa-dedent"></i></label>
                                    </label>
                                </div>
                                <div class="row">
                                    <label for="" class="" style="margin-left: 3.75cm;">Annual Income : </label>
                                    <label class="field" style="margin-left: 2.5cm;width: 10cm;">
                                        <input type="text" [(ngModel)]="formData.apollo_annual_income"
                                            name="apollo_annual_income" class="form-control date-input"
                                            placeholder="e.g. 500000">
                                        <label for="" class="field-icon"><i class="fa fa-rupee"></i></label>
                                    </label>
                                </div>
                                <div class="row">
                                    <label for="" class="" style="margin-left: 4cm;">ID Proof Type : </label>
                                    <label class="field" style="margin-left: 2.5cm;width: 10cm;">
                                        <select class="custom-select" [(ngModel)]="formData.apollo_id_proof_type"
                                            name="apollo_id_proof_type">
                                            <option value="">Select ID Proof Type</option>
                                            <option value="DriveLicense">Driving License</option>
                                            <option value="PAN">PAN</option>
                                            <option value="Passport">Passport</option>
                                            <option value="VoterId">Voter ID</option>
                                        </select>
                                        <i class="arrow double"></i>
                                    </label>
                                </div>
                                <div class="row">
                                    <label for="" class="" style="margin-left: 3.5cm;">ID Proof Number : </label>
                                    <label class="field" style="margin-left: 2.5cm;width: 10cm;">
                                        <input type="text" [(ngModel)]="formData.apollo_id_proof_no"
                                            name="apollo_id_proof_no" class="form-control date-input"
                                            placeholder="ID Proof Number">
                                        <label for="" class="field-icon"><i class="fa fa-pencil"></i></label>
                                    </label>
                                </div>
                                <div class="row">
                                    <label for="" class="" style="margin-left: 4.6cm;">Profession : </label>
                                    <label class="field" style="margin-left: 2.5cm;width: 10cm;">
                                        <select class="custom-select" [(ngModel)]="formData.apollo_profession"
                                            name="apollo_profession">
                                            <option>Select Profession</option>
                                            <ng-container *ngFor="let apollo of apollo_profession">
                                                <option [value]="apollo.occupation_name">{{apollo.occupation_name}}
                                                </option>
                                            </ng-container>
                                        </select>
                                        <i class="arrow double"></i>
                                    </label>
                                </div>
                                <div class="row py-2 ">
                                    <button type="button" (click)="submitform()" class="btn btn-success"
                                        style="width:3cm;margin-left: 11cm;background-color: #E71D36;margin-top: 30px;"
                                        [disabled]="active === 2" (click)="nav.select(2)">Continue</button>
                                </div>
                            </div>

                        </ng-template>
                    </li>
                    <li [ngbNavItem]="2" style="width: 20%;">
                        <a ngbNavLink style="font-weight: bold;">Insured Members</a>
                        <ng-template ngbNavContent>
                            <h4 style="text-align: center;font-weight: bold;margin-top: 20px;">Details of the Person(s)
                                being insured under the policy</h4>
                            <div *ngFor="let i of [].constructor(adults); let a = index">
                                <h4 style="text-align: center;font-weight: bold;margin-top: 20px;">Adult {{ (a + 1) }}
                                </h4>
                                <div class="row">
                                    <label for="" class="" style="margin-left: 1.35cm;">Select Relation with Proposer :
                                    </label>
                                    <label class="field" style="margin-left: 2.5cm;width: 10cm;">
                                        <select class="custom-select" [(ngModel)]="Adult_array[a].relationship"
                                            name="Adult_array[a].relationship">
                                            <option value="">Select Relation</option>
                                            <option *ngFor="let relation of proposal_relation"
                                                value="{{relation.relationship_proposer}}">{{
                                                relation.relationship_proposer
                                                }}
                                            </option>
                                        </select>
                                        <i class="arrow double"></i>
                                    </label>
                                </div>
                                <div class="row">
                                    <label for="" class="" style="margin-left: 4.5cm;">First Name : </label>
                                    <label class="field" style="margin-left: 2.5cm;width: 10cm;">
                                        <input type="text" [(ngModel)]="Adult_array[a].i_first_name"
                                            name="Adult_array[a].i_first_name" id="i_first_name"
                                            class="form-control date-input" placeholder="First Name">
                                        <label for="" class="field-icon"><i class="fa fa-user"></i></label>
                                    </label>
                                </div>
                                <div class="row">
                                    <label for="" class="" style="margin-left: 4cm;">Middle Name : </label>
                                    <label class="field" style="margin-left: 2.6cm;width: 10cm;">
                                        <input type="text" [(ngModel)]="Adult_array[a].i_middle_name"
                                            name="Adult_array[a].i_middle_name" id="i_middle_name"
                                            class="form-control date-input" placeholder="Middle Name">
                                        <label for="" class="field-icon"><i class="fa fa-user"></i></label>
                                    </label>
                                </div>
                                <div class="row">
                                    <label for="" class="" style="margin-left: 4.5cm;">Last Name : </label>
                                    <label class="field" style="margin-left: 2.5cm;width: 10cm;">
                                        <input type="text" [(ngModel)]="Adult_array[a].i_last_name"
                                            name="Adult_array[a].i_last_name" id="i_last_name"
                                            class="form-control date-input" placeholder="Last Name">
                                        <label for="" class="field-icon"><i class="fa fa-user"></i></label>
                                    </label>
                                </div>
                                <div class="row">
                                    <div class="input-group">
                                        <label for="" class="" style="margin-left: 4cm;">Date Of Birth :</label>
                                        <div class="position-relative" style="margin-left: 2.6cm;width: 10cm;">
                                            <div class="calendar-icon"><i class="fa fa-calendar"></i></div>
                                            <input class="form-control date-input"
                                                [minDate]="{year: 1980, month: 1, day: 1}"
                                                [(ngModel)]="Adult_array[a].dob" name="Adult_array[a].dob"
                                                (click)="d.toggle()" placeholder="Select Date of Birth" ngbDatepicker
                                                #d="ngbDatepicker">
                                        </div>
                                    </div>
                                </div> <br />
                                <div class="row" style="margin-left: 4.7cm;">
                                    <h6 style="margin-right: 2cm;">Gender :</h6>
                                    <label class="container-div" style="margin-left: 20px;">
                                        <input type="radio" [(ngModel)]="Adult_array[a].gender" name="adult_{{a}}"
                                            value="Male">
                                        <span class="checkmark"></span>Male
                                    </label><br>
                                    <label class="container-div" style="margin-left: 20px;">
                                        <input type="radio" [(ngModel)]="Adult_array[a].gender" name="adult_{{a}}"
                                            value="Female">
                                        <span class="checkmark"></span>Female
                                    </label>
                                </div>
                                <div class="row">
                                    <label for="" class="" style="margin-left: 5.3cm;">Height : </label>
                                    <label class="field" style="margin-left: 2.5cm;width: 5cm;">
                                        <select class="custom-select" [(ngModel)]="Adult_array[a].height_feet"
                                            name="Adult_array[a].height_feet">
                                            <option value="">Feet</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                        </select>
                                        <i class="arrow double"></i>
                                    </label>
                                    <label class="field" style="width: 5cm;">
                                        <select class="custom-select" [(ngModel)]="Adult_array[a].height_inch"
                                            name="Adult_array[a].height_inch">
                                            <option value="">inches</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                        </select>
                                        <i class="arrow double"></i>
                                    </label>
                                </div>
                                <div class="row">
                                    <label for="" class="" style="margin-left: 5.2cm;">Weight : </label>
                                    <label class="field" style="margin-left: 2.5cm;width: 10cm;">
                                        <input type="text" [(ngModel)]="Adult_array[a].weight"
                                            name="Adult_array[a].weight" class="form-control date-input"
                                            placeholder="Enter Weight">
                                        <label for="" class="field-icon"><i class=""></i></label>
                                    </label>
                                </div>
                            </div>
                            <div *ngFor="let a of [].constructor(children); let i = index">
                                <h4 style="text-align: center;font-weight: bold;margin-top: 20px;">Child {{ (i + 1) }}
                                </h4>
                                <div class="row">
                                    <label for="" class="" style="margin-left: 1.35cm;">Select Relation with Proposer :
                                    </label>
                                    <label class="field" style="margin-left: 2.5cm;width: 10cm;">
                                        <select class="custom-select" [(ngModel)]="Child_array[i].relationship"
                                            name="Child_array[i].relationship">
                                            <option value="">Select Relation</option>
                                            <option *ngFor="let relation of proposal_relation"
                                                value="{{relation.relationship_proposer}}">{{
                                                relation.relationship_proposer
                                                }}
                                            </option>
                                        </select>
                                        <i class="arrow double"></i>
                                    </label>
                                </div>
                                <div class="row">
                                    <label for="" class="" style="margin-left: 4.5cm;">First Name : </label>
                                    <label class="field" style="margin-left: 2.5cm;width: 10cm;">
                                        <input type="text" [(ngModel)]="Child_array[i].i_first_name"
                                            name="Child_array[i].i_first_name" id="i_first_name"
                                            class="form-control date-input" placeholder="First Name">
                                        <label for="" class="field-icon"><i class="fa fa-user"></i></label>
                                    </label>
                                </div>
                                <div class="row">
                                    <label for="" class="" style="margin-left: 4cm;">Middle Name : </label>
                                    <label class="field" style="margin-left: 2.6cm;width: 10cm;">
                                        <input type="text" [(ngModel)]="Child_array[i].i_middle_name"
                                            name="Child_array[i].i_middle_name" id="i_middle_name"
                                            class="form-control date-input" placeholder="Middle Name">
                                        <label for="" class="field-icon"><i class="fa fa-user"></i></label>
                                    </label>
                                </div>
                                <div class="row">
                                    <label for="" class="" style="margin-left: 4.5cm;">Last Name : </label>
                                    <label class="field" style="margin-left: 2.5cm;width: 10cm;">
                                        <input type="text" [(ngModel)]="Child_array[i].i_last_name"
                                            name="Child_array[i].i_last_name" id="i_last_name"
                                            class="form-control date-input" placeholder="Last Name">
                                        <label for="" class="field-icon"><i class="fa fa-user"></i></label>
                                    </label>
                                </div>
                                <div class="row">
                                    <div class="input-group">
                                        <label for="" class="" style="margin-left: 4cm;">Date Of Birth :</label>
                                        <div class="position-relative" style="margin-left: 2.6cm;width: 10cm;">
                                            <div class="calendar-icon"><i class="fa fa-calendar"></i></div>
                                            <input class="form-control date-input"
                                                [minDate]="{year: 1980, month: 1, day: 1}"
                                                [(ngModel)]="Child_array[i].dob" name="Child_array[i].dob"
                                                (click)="d.toggle()" placeholder="Select Date of Birth" ngbDatepicker
                                                #d="ngbDatepicker">
                                        </div>
                                    </div>
                                </div> <br />
                                <div class="row" style="margin-left: 4.7cm;">
                                    <h6 style="margin-right: 2cm;">Gender :</h6>
                                    <label class="container-div" style="margin-left: 20px;">
                                        <input type="radio" [(ngModel)]="Child_array[i].gender" name="child_{{i}}"
                                            value="Male">
                                        <span class="checkmark"></span>Male
                                    </label><br>
                                    <label class="container-div" style="margin-left: 20px;">
                                        <input type="radio" [(ngModel)]="Child_array[i].gender" name="child_{{i}}"
                                            value="Female">
                                        <span class="checkmark"></span>Female
                                    </label>
                                </div>
                                <div class="row">
                                    <label for="" class="" style="margin-left: 5.3cm;">Height : </label>
                                    <label class="field" style="margin-left: 2.5cm;width: 5cm;">
                                        <select class="custom-select" [(ngModel)]="Child_array[i].height_feet"
                                            name="Child_array[i].height_feet">
                                            <option value="">Feet</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                        </select>
                                        <i class="arrow double"></i>
                                    </label>
                                    <label class="field" style="width: 5cm;">
                                        <select class="custom-select" [(ngModel)]="Child_array[i].height_inch"
                                            name="Child_array[i].height_inch">
                                            <option value="">inches</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                        </select>
                                        <i class="arrow double"></i>
                                    </label>
                                </div>
                                <div class="row">
                                    <label for="" class="" style="margin-left: 5.2cm;">Weight : </label>
                                    <label class="field" style="margin-left: 2.5cm;width: 10cm;">
                                        <input type="text" [(ngModel)]="Child_array[i].weight"
                                            name="Child_array[i].weight" class="form-control date-input"
                                            placeholder="Enter Weight">
                                        <label for="" class="field-icon"><i class=""></i></label>
                                    </label>
                                </div>
                            </div>
                            <div class="row py-2" style="margin-top: 10px;">
                                <button type="button" class="btn btn-success mr-auto"
                                    style="width:2cm;background-color: #E71D36;margin: 20px;" [disabled]="active === 1"
                                    (click)="nav.select(1)">Back</button>
                                <button type="button" (click)="submitform1()" class="btn btn-success ml-auto"
                                    style="width:3cm;background-color: #E71D36;margin: 20px;" [disabled]="active === 3"
                                    (click)="nav.select(3)">Continue</button>
                            </div>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="3" style="width: 20%;">
                        <a ngbNavLink style="font-weight: bold;">Contact Details</a>
                        <ng-template ngbNavContent>
                            <h4 style="text-align: center;font-weight: bold;margin-top: 20px;">Details required Where we
                                can Contact you</h4>
                            <h4 style="text-align: center;font-weight: bold;margin-top: 20px;">Mailing Address</h4>
                            <div class="row">
                                <label for="" class="" style="margin-left: 4.5cm;">Mailing Address : </label>
                                <label class="field" style="margin-left: 2.5cm;width: 10cm;">
                                    <input type="text" [(ngModel)]="formData.address" name="address"
                                        class="form-control date-input" placeholder="">
                                    <label for="" class="field-icon"><i class="fa fa-map-marker"></i></label>
                                </label>
                            </div>
                            <div class="row">
                                <label for="" class="" style="margin-left: 4.8cm;">Area / Locality : </label>
                                <label class="field" style="margin-left: 2.5cm;width: 10cm;">
                                    <input type="text" [(ngModel)]="formData.area_locality" name="area_locality"
                                        class="form-control date-input" placeholder="">
                                    <label for="" class="field-icon"><i class="fa fa-map-marker"></i></label>
                                </label>
                            </div>
                            <div class="row">
                                <label for="" class="" style="margin-left: 5.55cm;">Landmark : </label>
                                <label class="field" style="margin-left: 2.5cm;width: 10cm;">
                                    <input type="text" [(ngModel)]="formData.landmark" name="landmark"
                                        class="form-control date-input" placeholder="">
                                    <label for="" class="field-icon"><i class="fa fa-map-marker"></i></label>
                                </label>
                            </div>
                            <div class="row">
                                <label for="" class="" style="margin-left: 5.9cm;">Pincode :</label>
                                <label class="field" style="width: 10cm;margin-left: 2.5cm;">
                                    <input type="text" [(ngModel)]="formData.pincode_id" name="pincode_id"
                                        id="pincode_id" class="form-control" placeholder="e.g. 400055"
                                        (keyup)="getHealthCity($event,0)">
                                </label>
                            </div>
                            <div class="row">
                                <label for="" class="" style="margin-left: 6.5cm;">City :</label>
                                <label class="field" style="width: 10cm;margin-left: 2.5cm;">
                                    <select class="custom-select" id="selectCity"
                                        (change)="changeHealthCity($event.target.value)" [(ngModel)]="cityOpt"
                                        name="cityOpt">
                                        <option value="">Select City</option>
                                        <option *ngFor="let city of cityStateName" [ngValue]="city">
                                            {{city.city}}</option>
                                    </select>
                                    <i class="arrow double"></i>
                                </label>
                            </div>
                            <div class="row">
                                <label for="" class="" style="margin-left: 6.3cm;">State :</label>
                                <label class="field" style="width: 10cm;margin-left: 2.5cm;">
                                    <select class="custom-select" [(ngModel)]="stateOpt" name="stateOpt">
                                        <option value="">Select State</option>
                                        <option *ngFor="let State of cityStateName" [ngValue]="State">
                                            {{State.state_name}}</option>
                                    </select>
                                    <i class="arrow double"></i>
                                </label>
                            </div>
                            <h4 style="text-align: center;font-weight: bold;margin-top: 20px;">Contact Details</h4>
                            <div class="row">
                                <label for="" class="" style="margin-left: 6cm;">Email : </label>
                                <label class="field" style="margin-left: 3cm;width: 10cm;">
                                    <input type="text" [(ngModel)]="formData.email" name="email" id="email"
                                        class="form-control date-input" placeholder="eg:- abc@gmail.com">
                                    <label for="" class="field-icon"><i class="fa fa-envelope"></i></label>
                                </label>
                            </div>
                            <div class="row">
                                <label for="" class="" style="margin-left: 5.8cm;">Mobile : </label>
                                <label class="field" style="margin-left: 3cm;width: 10cm;">
                                    <input type="text" [(ngModel)]="formData.mobile" name="mobile" id="mobile"
                                        class="form-control date-input" placeholder="Enter Mobile no.">
                                    <label for="" class="field-icon"><i class="fa fa-mobile"></i></label>
                                </label>
                            </div>
                            <!-- <div class="row">
                            <label for="" class="" style="margin-left: 4.2cm;">Alternate Mobile : </label>
                            <label class="field" style="margin-left: 3cm;width: 10cm;">
                                <input type="text" [(ngModel)]="formData.alt_mobile" name="alt_mobile" id="alt_mobile" class="form-control date-input"
                                    placeholder="Enter Mobile no.">
                                <label for="" class="field-icon"><i class="fa fa-mobile"></i></label>
                            </label>
                        </div> -->
                            <div class="row py-2">
                                <button type="button" class="btn btn-success mr-auto"
                                    style="width:2cm;background-color: #E71D36;margin: 20px;" [disabled]="active === 2"
                                    (click)="nav.select(3)">Back</button>
                                <button type="button" (click)="submitform();nav.select(4)"
                                    class="btn btn-success ml-auto"
                                    style="width:3cm;background-color: #E71D36;margin: 20px;"
                                    [disabled]="active === 4">Continue</button>
                                <!-- <button style='display:none;' type="button" class="btn btn-success ml-auto saveformContinue" style="width:3cm;background-color: #E71D36;margin: 20px;"
                              [disabled]="active === 4" (click)="nav.select(4)">Continue</button>  -->
                            </div>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="4" style="width: 20%;">
                        <a ngbNavLink style="font-weight: bold;">Medical History</a>
                        <ng-template ngbNavContent>
                            <!-- <div *ngIf="isedit == 1"> -->
                            <div *ngFor="let health_proposal_question of health_proposal_questions; let i = index"
                                class="row" style="margin-top: 20px;width:100%">
                                <div id='{{health_proposal_question.id}}'>
                                    <h6 style="margin-left: 2cm;">{{ health_proposal_question.questions }} :</h6>
                                    <label class="container-div">
                                        <input type="radio"
                                            (click)="createadultsChildren(health_proposal_question.id,'Yes',i)"
                                            name="{{health_proposal_question.id}}" value="Yes"
                                            [checked]="isedit == 1 && this.medicalHistoryFormData['mainQues'][health_proposal_question.id] == 'Yes'">
                                        <span class="checkmark"></span>Yes
                                    </label>
                                    <label class="container-div">
                                        <input type="radio"
                                            (click)="createadultsChildren(health_proposal_question.id,'No',i)"
                                            name="{{health_proposal_question.id}}" value="No"
                                            [checked]="isedit == 1 && this.medicalHistoryFormData['mainQues'][health_proposal_question.id] == 'No'">
                                        <span class="checkmark"></span>No
                                    </label>
                                    <br />
                                </div>
                                <!-- <span *ngIf="newqueIds.indexOf(health_proposal_question.id) == -1">
                                    <div>
                                        <h6 style="margin-left: 2cm;">{{ health_proposal_question.questions }} :
                                        </h6>
                                        <label class="container-div">
                                            <input type="radio"
                                                (click)="createadultsChildren(health_proposal_question.id,'Yes',i)"
                                                name="{{health_proposal_question.id}}" value="Yes">
                                            <span class="checkmark"></span>Yes
                                        </label>
                                        <label class="container-div">
                                            <input type="radio"
                                                (click)="createadultsChildren(health_proposal_question.id,'No',i)"
                                                name="{{health_proposal_question.id}}" value="No">
                                            <span class="checkmark"></span>No
                                        </label>
                                    </div>
                                </span>
                                <span *ngIf="newqueIds.indexOf(health_proposal_question.id) != -1">
                                    <div *ngFor="let newq of newquehistory;let x = index">
                                        <span *ngIf="newq[0] == health_proposal_question.id">
                                            <h6 style="margin-left: 2cm;">{{ health_proposal_question.questions
                                                }}_hi :
                                            </h6>
                                            <label class="container-div">
                                                <input type="radio"
                                                    (click)="createadultsChildren(health_proposal_question.id,'Yes',i)"
                                                    name="{{health_proposal_question.id}}" value="Yes"
                                                    [checked]="newq[3].indexOf('No') == -1">
                                                <span class="checkmark"></span>Yes
                                            </label>
                                            <label class="container-div">
                                                <input type="radio"
                                                    (click)="createadultsChildren(health_proposal_question.id,'No',i)"
                                                    name="{{health_proposal_question.id}}" value="No"
                                                    [checked]="newq[3].indexOf('Yes') == -1">
                                                <span class="checkmark"></span>No
                                            </label>
                                        </span>
                                    </div>
                                </span> -->
                                <span *ngIf="selectedOption.includes(health_proposal_question.id)">
                                    <div *ngFor="let adu of Adult_array; let a = index" style="margin-left: 20px;">
                                        {{adu.i_first_name}}
                                        <div class="col-6">
                                            <h5>Adult</h5>
                                            <label class="container-div">
                                                <input (click)="sunquestions(health_proposal_question.id,'Yes',i,a)"
                                                    name="adult_{{health_proposal_question.id}}_{{a}}" type="radio"
                                                    value="1"
                                                    [checked]="isedit == 1 && this.medicalHistoryFormData['subQues'][Adult_array1[a]] && this.medicalHistoryFormData['subQues'][Adult_array1[a]][health_proposal_question.id] == 'Yes'">
                                                <span class="checkmark"></span>Yes
                                            </label>
                                            <label class="container-div">
                                                <input (click)="sunquestions(health_proposal_question.id,'No',i,a)"
                                                    name="adult_{{health_proposal_question.id}}_{{a}}" type="radio"
                                                    value="0"
                                                    [checked]="isedit == 1 && this.medicalHistoryFormData['subQues'][Adult_array1[a]] && this.medicalHistoryFormData['subQues'][Adult_array1[a]][health_proposal_question.id] == 'No'">
                                                <span class="checkmark"></span>No
                                            </label>
                                        </div>
                                        <span *ngIf="selectedOptionFromQuestions.includes(health_proposal_question.id)">
                                            <div *ngFor="let ques of health_proposal_questions[i]['sub_question']; let c = index"
                                                style="margin-left: 20px;">
                                                <div class="col-6">
                                                    <label class="container-div">
                                                        {{ques['sub_questions']}}: <input type="text"
                                                            style="opacity:unset"
                                                            (change)="sunquestions2(ques.id,'adult',c,a,$event.target.value,health_proposal_question.id)"
                                                            name="{{ques['sub_questions']}}"
                                                            [value]="medicalHistoryFormData['subQuesForm'][Adult_array1[a]] ? medicalHistoryFormData['subQuesForm'][Adult_array1[a]][ques['id']][1] : ''">
                                                    </label>

                                                </div>
                                            </div>
                                        </span>
                                    </div>
                                </span>
                                <span *ngIf="selectedOption.includes(health_proposal_question.id)">
                                    <div *ngFor="let child of Child_array; let d = index" style="margin-left: 20px;">
                                        {{child.i_first_name}}
                                        <div class="col-6">
                                            <h5>Child</h5>
                                            <label class="container-div">
                                                <input (click)="sunquestions1(health_proposal_question.id,'Yes',i,d)"
                                                    name="child_{{health_proposal_question.id}}_{{d}}" type="radio"
                                                    value="1"
                                                    [checked]="isedit == 1 && this.medicalHistoryFormData['subQues'][Child_array1[d]] && this.medicalHistoryFormData['subQues'][Child_array1[d]][health_proposal_question.id] == 'Yes'">
                                                <span class="checkmark"></span>Yes
                                            </label>
                                            <label class="container-div">
                                                <input (click)="sunquestions1(health_proposal_question.id,'No',i,d)"
                                                    name="child_{{health_proposal_question.id}}_{{d}}" type="radio"
                                                    value="0"
                                                    [checked]="isedit == 1 && this.medicalHistoryFormData['subQues'][Child_array1[d]] && this.medicalHistoryFormData['subQues'][Child_array1[d]][health_proposal_question.id] == 'No'">
                                                <span class="checkmark"></span>No
                                            </label>
                                        </div>
                                        <span *ngIf="selectedOptionFromChild.includes(health_proposal_question.id)">
                                            <div *ngFor="let ques of health_proposal_questions[i]['sub_question']; let b = index"
                                                style="margin-left: 20px;">
                                                <div class="col-6">
                                                    <label class="container-div">
                                                        {{ques['sub_questions']}}: <input type="text"
                                                            style="opacity:unset"
                                                            (change)="sunquestions2(ques.id,'child',d,b,$event.target.value,health_proposal_question.id)"
                                                            name="{{ques['sub_questions']}}"
                                                            [value]="medicalHistoryFormData['subQuesForm'][Child_array1[d]] ? medicalHistoryFormData['subQuesForm'][Child_array1[d]][ques['id']][1] : ''">
                                                    </label>
                                                </div>
                                            </div>
                                        </span>
                                    </div>
                                </span>
                            </div>
                            <!-- </div> -->








                            <!--for edit data-->
                            <!-- <div *ngIf="isedit == 0">
                                <div *ngFor="let health_proposal_question of health_proposal_questions; let i = index"
                                    class="row" style="margin-top: 20px;width:100%">

                                    <span *ngIf="newqueIds.indexOf(health_proposal_question.id) == -1">
                                        <h6 style="margin-left: 2cm;">{{ health_proposal_question.questions }} :
                                        </h6>
                                        <label class="container-div">
                                            <input type="radio"
                                                (click)="createadultsChildren(health_proposal_question.id,'Yes',i)"
                                                name="{{health_proposal_question.id}}" value="Yes">
                                            <span class="checkmark"></span>Yes
                                        </label>
                                        <label class="container-div">
                                            <input type="radio"
                                                (click)="createadultsChildren(health_proposal_question.id,'No',i)"
                                                name="{{health_proposal_question.id}}" value="No">
                                            <span class="checkmark"></span>No
                                        </label>
                                        <br />
                                    </span>
                                    <span *ngIf="newqueIds.indexOf(health_proposal_question.id) != -1">
                                        <div *ngFor="let newq of newquehistory;let x = index">
                                            <span *ngIf="newq[0] == health_proposal_question.id">
                                                <h6 style="margin-left: 2cm;">{{ health_proposal_question.questions }} :
                                                </h6>
                                                <label class="container-div">
                                                    <input type="radio"
                                                        (click)="createadultsChildren(health_proposal_question.id,'Yes',i)"
                                                        name="{{health_proposal_question.id}}" value="Yes"
                                                        [checked]="newq[3].indexOf('No') == -1">
                                                    <span class="checkmark"></span>Yes
                                                </label>
                                                <label class="container-div">
                                                    <input type="radio"
                                                        (click)="createadultsChildren(health_proposal_question.id,'No',i)"
                                                        name="{{health_proposal_question.id}}" value="No"
                                                        [checked]="newq[3].indexOf('Yes') == -1">
                                                    <span class="checkmark"></span>No
                                                </label>
                                            </span>

                                            <span *ngIf="newq[3].indexOf('No') == -1">
                                                <div *ngFor="let adu of Adult_array; let a = index"
                                                    style="margin-left: 20px;">
                                                    {{adu.i_first_name}}_{{a}}
                                                    <div class="col-6">
                                                        <h5>Adult</h5>
                                                        <label class="container-div">
                                                            <input
                                                                (click)="sunquestions(health_proposal_question.id,'Yes',i,a,adu.index,'','','')"
                                                                name="adult_{{health_proposal_question.id}}_{{adu.index}}"
                                                                type="radio" value="1"
                                                                [checked]="newq[1].indexOf(adu['id']) != -1">
                                                            <span class="checkmark"></span>Yes
                                                        </label>
                                                        <label class="container-div">
                                                            <input
                                                                (click)="sunquestions(health_proposal_question.id,'No',i,a,adu.index,'','','')"
                                                                name="adult_{{health_proposal_question.id}}_{{adu.index}}"
                                                                type="radio" value="0"
                                                                [checked]="newq[1].indexOf(adu['id']) == -1">
                                                            <span class="checkmark"></span>No
                                                        </label>
                                                    </div>
                                                    <div *ngFor="let ques of medical_sub_questions_history; let c = index"
                                                        style="margin-left: 20px;">
                                                        <div
                                                            *ngIf="newq[0] == subQ['question_id'] && subQ['insured_id'] == adu['id']">
                                                            <div class="col-6">
                                                                <label class="container-div">
                                                                    {{subQ['sub_questions']}}: <input type="text"
                                                                        style="opacity:0.6"
                                                                        value="{{subQ['sub_question_answer']}}"
                                                                        name="{{subQ['sub_questions']}}">
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div *ngFor="let child of Child_array; let d = index"
                                                    style="margin-left: 20px;">
                                                    {{child.i_first_name}}
                                                    <div class="col-6">
                                                        <h5>Child</h5>
                                                        <label class="container-div">
                                                            <input
                                                                (click)="sunquestions1(health_proposal_question.id,'Yes',i,child.index,'','','')"
                                                                name="child_{{health_proposal_question.id}}_{{child.index}}"
                                                                type="radio" value="1"
                                                                [checked]="newq[1].indexOf(child['id']) != -1">
                                                            <span class="checkmark"></span>Yes
                                                        </label>
                                                        <label class="container-div">
                                                            <input
                                                                (click)="sunquestions1(health_proposal_question.id,'No',i,child.index,'','','')"
                                                                name="child_{{health_proposal_question.id}}_{{child.index}}"
                                                                type="radio" value="0"
                                                                [checked]="newq[1].indexOf(child['id']) == -1">
                                                            <span class="checkmark"></span>No
                                                        </label>
                                                    </div>
                                                    <div *ngFor="let ques of medical_sub_questions_history; let c = index"
                                                        style="margin-left: 20px;">
                                                        <div
                                                            *ngIf="newq[0] == subQ['question_id'] && subQ['insured_id'] == child['id']">
                                                            <div class="col-6">
                                                                <label class="container-div">
                                                                    {{subQ['sub_questions']}}: <input type="text"
                                                                        style="opacity:0.6" newq
                                                                        value="{{subQ['sub_question_answer']}}"
                                                                        name="{{subQ['sub_questions']}}">
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </span>
                                        </div>
                                    </span>

                                        
                                </div>
                            </div> -->
                            <div class="row py-2">
                                <button type="button" class="btn btn-success mr-auto"
                                    style="width:2cm;background-color: #E71D36;margin: 20px;" [disabled]="active === 3"
                                    (click)="nav.select(3)">Back</button>
                                <button type="button" (click)="submitform2()" class="btn btn-success ml-auto"
                                    style="width:3cm;background-color: #E71D36;margin: 20px;" [disabled]="active === 5"
                                    (click)="nav.select(5)">Continue</button>
                            </div>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="5" style="width: 20%;">
                        <a ngbNavLink style="font-weight: bold;">Nominee Details</a>
                        <ng-template ngbNavContent>
                            <div class="row">
                                <h4 style="font-weight: bold;margin-left: 10cm;margin-top: 20px;">Existing Insurance
                                    Details :</h4>
                                <div class="row">
                                    <h6 style="margin-left: 1cm;margin-right: 10px;">Is the proposer or any of the
                                        persons proposed, already insured under or proposed for a health insurance
                                        policy for inpatient hospitalization with Apollo Munich Health or any other
                                        insurance company? If yes, please indicate below the policy/Application
                                        number(s) (Please mention application number in case of pending proposal): Since
                                        when are you continuously insured :</h6>
                                    <label class="container-div" style="margin-left: 21cm;">
                                        <input type="radio" [(ngModel)]="formData.Existing"
                                            [checked]="formData.Existing == 1" name="Existing" value="1">
                                        <span class="checkmark"></span>Yes
                                    </label><br />
                                    <label class="container-div">
                                        <input type="radio" [(ngModel)]="formData.Existing"
                                            [checked]="formData.Existing == 0" name="Existing" value="0">
                                        <span class="checkmark"></span>No
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <h4 style="font-weight: bold;margin-left: 10cm;margin-top: 20px;">Nominee For Insured :
                                </h4>
                            </div>
                            <div class="row" style="margin-top: 20px;">
                                <h6 style="margin-left: 5cm;margin-top: 5px;">Relationship with Proposer :</h6>
                                <label class="field" style="margin-left:10px">
                                    <select class="custom-select" [(ngModel)]="formData.nominee_relationship"
                                        name="nominee_relationship">
                                        <option value="">Select Relationship</option>
                                        <option value="Child">Child</option>
                                        <option value="Father">Father</option>
                                        <option value="Mother">Mother</option>
                                        <option value="Brother">Brother</option>
                                        <option value="Sister">Sister</option>
                                        <option value="Wife">Wife</option>
                                        <option value="Husband">Husband</option>
                                        <option value="Daughter">Daughter</option>
                                        <option value="Son">Son</option>
                                        <option value="Father-in-law">Father-in-law</option>
                                        <option value="Mother-in-law">Mother-in-law</option>
                                        <option value="Partner">Partner</option>
                                        <option value="Employee">Employee</option>
                                        <option value="Special-Concession-Adult">Special-Concession-Adult</option>
                                        <option value="Special-Concession-Child">Special-Concession-Child</option>
                                    </select>
                                    <i class="arrow double"></i>
                                </label>
                            </div>
                            <div class="row">
                                <label for="" class="" style="margin-left: 6.7cm;margin-top: 5px;">Nominee Name :
                                </label>
                                <label class="field" style="margin-left:20px">
                                    <input type="text" [(ngModel)]="formData.nominee_name" name="nominee_name"
                                        class="form-control date-input" placeholder="Nominee Name">
                                    <label for="" class="field-icon"><i class="fa fa-user"></i></label>
                                </label>
                            </div>
                            <div class="row py-2">
                                <button type="button" class="btn btn-success mr-auto"
                                    style="width:2cm;background-color: #E71D36;margin: 20px;" [disabled]="active === 4"
                                    (click)="nav.select(3)">Back</button>

                                <button type="button" (click)="submitform()" class="btn btn-success ml-auto"
                                    style="width:3cm;background-color: #E71D36;margin: 20px;"><a
                                        href="health/summary?enquiry_id={{enquiry_id}}&proposal_id={{insured_member_form.proposal_id}}"
                                        style="background-color: #E71D36;color: whitesmoke;">Continue</a></button>
                            </div>
                        </ng-template>
                    </li>
                </ul>
                <div [ngbNavOutlet]="nav" class="mt-2"></div>
                <pre class="display">{{ active }}</pre>
            </div>
        </div>
    </form>
</div>

<ng-template #email let-modal>
    <div class="modal-header text-white" style="background-color: green;">
        <h3 class="text-white">Save Proposal Form on Email</h3>
        <button type="button" class="close text-white" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-6 py-2">
                <label class="field" style="width: 6.5cm;">
                    <!-- <input type="email" [(ngModel)]="formData.email_proposal" name="email_proposal" id="" class="form-control date-input" placeholder="Email"> -->
                    <label for="" class="field-icon"><i class="fa fa-envelope"></i></label>
                </label>
            </div>
            <div class="col-6 py-2">
                <button type="button" class="btn btn-success" style="width:5cm">Email Proposal Form</button>
            </div>
        </div>
    </div>
</ng-template>