<div class="container">
    <div class="row">
        <div class="container text-center">
            <h6>{{carData?.biCarModel}} | {{carData?.biCarFuel}} & {{carData?.biCarVariant}} | IDV: {{carData?.idv}}</h6>
           
        </div>
    </div>  
    <form   autocomplete="off">
    <div class="py-3 px-5">
        <div class="px-3 tabs-data">   
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs" style="margin-top: 20px;background-color: #a8d9e6;">
               
                <li [ngbNavItem]="1">
                    <a ngbNavLink style="font-weight: bold;">Step 1: Car Owner</a>
                     <ng-template ngbNavContent> 
                        <div class="container" style="margin-top: 40px;">
                            <div class="row">
                                <div class="col-3">
                                    <h5 style="font-weight: bold;">This Car belongs to:</h5> 
                                    <input type="hidden"   [(ngModel)]="formData.car_enquiry_id" name="car_enquiry_id"  value="{{carData.carEnquiryId}}" >
                                </div>
                                 <div class="col-3">
                                    <label class="container-div">
                                       
                                        <input type="radio"   [(ngModel)]="formData.car_owner" name="car_owner"  value="individual"(click)="company_name_btn(false)" >
                                        <span class="checkmark"></span>Individual
                                    </label><br>
                                    <label class="container-div">
                                        <input type="radio"    [(ngModel)]="formData.car_owner" name="car_owner" value="company" (click)="company_name_btn(true)" >
                                        <span class="checkmark"></span>Company
                                    </label>
                                    
                                </div>
                            </div>
                            <div class="row"   *ngIf="company_name_tab">
                                    <label for="" class="" style="margin-left: 3.7cm;">Company Name :  </label>
                                    <label class="field" style="margin-left: 2.5cm;width: 10cm;">
                                        <input type="text" [(ngModel)]="formData.company_name" name="company_name" id="company_name" class="form-control date-input"
                                            placeholder="Company Name">
                                        <label for="" class="field-icon"><i class="fa fa-user"></i></label>
                                    </label>
                            </div>

                            <div class="row">
                                <label for="" class="" style="margin-left: 4.5cm;">First Name :  </label>
                                <label class="field" style="margin-left: 2.5cm;width: 10cm;">
                                    <input type="text" [(ngModel)]="formData.p_first_name" name="p_first_name" id="p_first_name" class="form-control date-input"
                                        placeholder="First Name">
                                    <label for="" class="field-icon"><i class="fa fa-user"></i></label>
                                </label>
                        </div>
                            <div class="row">
                                    <label for="" class="" style="margin-left: 4.5cm;">Last Name : </label>
                                    <label class="field" style="margin-left: 2.5cm;width: 10cm;">
                                        <input type="text" [(ngModel)]="formData.p_last_name" name="p_last_name" id="p_last_name" class="form-control date-input"
                                            placeholder="Last Name">
                                        <label for="" class="field-icon"><i class="fa fa-user"></i></label>
                                    </label>
                            </div>
                            <div class="row">
                                    <label for="" class="" style="margin-left: 4.5cm;">Email : </label>
                                    <label class="field" style="margin-left: 3.4cm;width: 10cm;">
                                        <input type="text" [(ngModel)]="formData.email" name="email" id="email" class="form-control date-input"
                                            placeholder="eg:- abc@gmail.com">
                                        <label for="" class="field-icon"><i class="fa fa-envelope"></i></label>
                                    </label>
                            </div>
                            <div class="row">
                                    <label for="" class="" style="margin-left: 4.5cm;">Mobile : </label>
                                    <label class="field" style="margin-left: 3.2cm;width: 10cm;">
                                        <input type="text" [(ngModel)]="formData.mobile" name="mobile" id="mobile" class="form-control date-input"
                                            placeholder="Enter Mobile no">
                                        <label for="" class="field-icon"><i class="fa fa-mobile"></i></label>
                                    </label>
                            </div>
                            <div class="row">
                                    <label for="" class="" style="margin-left: 4.5cm;">GST # (Optional) : </label>
                                    <label class="field" style="margin-left: 1.4cm;width: 10cm;">
                                        <input type="text" [(ngModel)]="formData.gst_no" name="gst_no" id="gst_no" class="form-control date-input"
                                            placeholder="Enter GST Number">
                                        <label for="" class="field-icon"><i class="fa fa-pencil"></i></label>
                                    </label>
                            </div> 
                            <!-- <div class="row py-2 text-center2">
                                <button type="button" class="btn btn-success" style="width:6cm"
                                    (click)="openEmailModal()"><i class="fa fa-envelope"
                                        style="padding-right: 10px;"></i>Save Quote & Pay Later</button>
                            </div> -->
                            <div class="row py-2 ">
                                <button type="button" class="btn btn-success" style="width:3cm;margin-left: 11cm;background-color: #E71D36;margin-top: 30px;"
                                    [disabled]="active === 2" (click)="nav.select(3)" *ngIf="company_name_tab">Continue</button>
                                    <button type="button" class="btn btn-success" style="width:3cm;margin-left: 11cm;background-color: #E71D36;margin-top: 30px;"
                                    [disabled]="active === 2" (click)="nav.select(2)" *ngIf="!company_name_tab">Continue</button>
                                    
                            </div>
                        </div>
                    
                    </ng-template>
                </li>
                <li [ngbNavItem]="2">
                    <a ngbNavLink style="font-weight: bold;">Step 2: Personal Details</a>
                    <ng-template ngbNavContent>
                        <div class="row">
                            <div class="col-6">
                                <h3 style="font-weight: bold;margin: 40px;">Personal Details</h3>
                                <div class="row" style="margin-bottom: 20px;">
                                    <div class="col-4">
                                        <h6 style="font-weight: bold;">Gender:</h6> 
                                    </div>
                                    <div class="col-3">
                                        <label class="container-div">
                                            <input type="radio" [(ngModel)]="formData.gender" name="gender" value="0">
                                            <span class="checkmark"></span>Male
                                        </label><br>
                                        <label class="container-div">
                                            <input type="radio" [(ngModel)]="formData.gender" name="gender" value="1">
                                            <span class="checkmark"></span>Female
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <h3 style="font-weight: bold;margin: 40px;">Nominee Details</h3>
                                <div class="row" style="margin-bottom: 20px;">
                                    <label for="" class="" style="font-weight: bold;">Name : </label>
                                    <label class="field" style="margin-left: 1.8cm;">
                                        <input type="text" [(ngModel)]="formData.nominee_name" name="nominee_name" id="nominee_name" class="form-control date-input"
                                            placeholder="Name">
                                        <label for="" class="field-icon"><i class="fa fa-user"></i></label>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="row" style="margin-bottom: 20px;">
                                    <div class="col-4">
                                        <h6 style="font-weight: bold;">Marital Status:</h6> 
                                    </div>
                                    <div class="col-3">
                                        <label class="container-div">
                                            <input type="radio" [(ngModel)]="formData.marital_status" name="marital_status" value="Single">
                                            <span class="checkmark"></span>Single
                                        </label><br>
                                        <label class="container-div">
                                            <input type="radio" [(ngModel)]="formData.marital_status" name="marital_status" value="Married">
                                            <span class="checkmark"></span>Married
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row" style="margin-bottom: 20px;">
                                <label for="" class="" style="font-weight: bold;">Date of Birth :</label>
                                <label  class="field" style="margin-left: 20px;">
                                    <div  class="position-relative">
                                        <div class="calendar-icon" style="color: grey;"><i class="fa fa-calendar"></i></div>
                                        <input class="form-control date-input" autocomplete="off" placeholder="Date of Birth￼" 
                                        [(ngModel)]="formData.dob" name="dob" [minDate]="{year: 1980, month: 1, day: 1}" (click)="d.toggle()" ngbDatepicker #d="ngbDatepicker">
                                    </div>
                                </label></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="row" style="margin-bottom: 20px;">
                                    <label for="" class="" style="font-weight: bold;margin-left: 20px;">Date of Birth :</label>
                                    <label for="" class="field" style="margin-left: 20px;width: 8cm;">
                                        <div  class="position-relative">
                                            <div class="calendar-icon" style="color: grey;"><i class="fa fa-calendar"></i></div>
                                            <input class="form-control date-input" autocomplete="off" placeholder="Date of Birth￼" 
                                            [(ngModel)]="formData.nominee_dob" name="nominee_dob" [minDate]="{year: 1980, month: 1, day: 1}" (click)="d1.toggle()"  ngbDatepicker #d1="ngbDatepicker">
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row" style="margin-bottom: 20px;">
                                <label for="" class="" style="font-weight: bold;">Relationship : </label>
                                <label class="field" style="margin-left: 20px;">
                                    <select class="custom-select" [(ngModel)]="formData.nominee_relationship" name="nominee_relationship" id="nominee_relationship">
                                        <option value="">Relationship</option>
                                        <option value="Spouse">Spouse</option>
                                        <option value="Father">Father</option>
                                        <option value="Mother">Mother</option> 
                                        <option value="Son">Son</option>
                                        <option value="Daughter">Daughter</option>
                                        <option value="Brother">Brother</option>
                                        <option value="Sister">Sister</option>
                                        <option value="Other">Other</option>
                                    </select>
                                    <i class="arrow double"></i>   
                                </label></div>
                            </div>
                        </div>
                        <!-- <div class="row py-2 text-center2">
                            <button type="button" class="btn btn-success" style="width:6cm"
                                (click)="openEmailModal()"><i class="fa fa-envelope"
                                    style="padding-right: 10px;"></i>Save Quote & Pay Later</button>
                        </div> -->
                        <div class="row py-2" style="margin-top: 10px;">
                            <button type="button" class="btn btn-success mr-auto" style="width:2cm;background-color: #E71D36;margin: 20px;"
                              [disabled]="active === 1" (click)="nav.select(1)">Back</button>
                            <button type="button" class="btn btn-success ml-auto" style="width:3cm;background-color: #E71D36;margin: 20px;"
                              [disabled]="active === 3" (click)="nav.select(3)">Continue</button>
                        </div>
                    </ng-template>
                </li>
                <li [ngbNavItem]="3">
                    <a ngbNavLink style="font-weight: bold;">Step 3: Car Registration Address</a>
                    <ng-template ngbNavContent>
                        <div class="container" style="margin-top:2cm;">
                        <div class="row">
                                <label for="" class="" style="margin-left: 3cm;font-weight: bold;">Registration Address :</label>
                                <label class="field" style="width: 16cm;margin-left:20px">
                                    <input type="text" [(ngModel)]="formData.address" name="address" id="address" class="form-control date-input"
                                     placeholder="Flat - No. ABC...">
                                   <label for="" class="field-icon"><i class="fa fa-map-marker"></i></label>
                                </label>
                        </div>
                        <div class="row">
                                <label for="" class="" style="margin-left: 3cm;font-weight: bold;">Area/Locality :</label>
                                <label class="field" style="width: 16cm;margin-left:1.7cm">
                                    <input type="text" [(ngModel)]="formData.area_locality" name="area_locality" id="area_locality" class="form-control date-input"
                                            placeholder="e.g. Bandra...">
                                    <label for="" class="field-icon"><i class="fa fa-map-marker"></i></label> 
                                </label>
                        </div>
                        <div class="row">
                                <label for="" class="" style="margin-left: 3cm;font-weight: bold;">Landmark :</label>
                                <label class="field" style="width: 16cm;margin-left:2.3cm">
                                    <input type="text" [(ngModel)]="formData.landmark" name="landmark" id="landmark" class="form-control date-input"
                                        placeholder="e.g. Near ABCD...">
                                    <label for="" class="field-icon"><i class="fa fa-map-marker"></i></label>
                                </label>
                        </div>
                        <div class="row">
                                <label for="" class="" style="margin-left: 3cm;font-weight: bold;">Pincode :</label>
                                <label class="field" style="width: 10cm;margin-left: 2.7cm;">
                                    <input type="text" [(ngModel)]="formData.pincode_id" name="pincode_id" id="pincode_id" class="form-control"
                                        placeholder="e.g. 400055" (keyup)="getCity($event)">
                                </label>
                        </div>
                        <div class="row">
                                <label for="" class="" style="margin-left: 3cm;font-weight: bold;">City :</label>
                                <label class="field" style="width: 10cm;margin-left: 3.3cm;">
                                    <select class="custom-select"    (change)="changeCity($event.target.value)">
                                        <option value="">Select City</option>
                                        <option value="{{city.city_code+','+city.city_name+','+city.district_code+','+city.state_code+','+city.state_name+','+city.id}}" *ngFor=" let city of cityStateName">{{city.city_name}}</option>
                                    </select>
                                    <i class="arrow double"></i>   
                                </label> 
                        </div>
                        <div class="row">
                            <label for="" class="" style="margin-left: 3cm;font-weight: bold;">State :</label>
                            <label class="field" style="width: 10cm;margin-left: 3.2cm;">
                                <select class="custom-select" >
                                    <option value="">Select State</option>
                                    <option value="{{State.state_code}}" *ngFor="let State of cityStateName">{{State.state_name}}</option>
                                    
                                </select>
                                <i class="arrow double"></i>   
                            </label>
                    </div>
                        <div class="container">
                            <label class="option" style="font-weight: bold;">
                                <input type="checkbox" style="margin-left: 6.5cm;" (click)="CommunicationAddress($event.target.checked)"  name="add_communication_address"  >
                                <span class="checkbox"></span>  My Communication Address is different from my Registration Address           
                            </label>  
                        </div>
                        <div  *ngIf="communication_address">

                            <div class="row">
                                <label for="" class="" style="margin-left: 3cm;font-weight: bold;">Communication Address :</label>
                                <label class="field" style="width: 16cm;margin-left:20px">
                                    <input type="text" [(ngModel)]="formData.communication_address" name="communication_address" id="communication_address" class="form-control date-input"
                                     placeholder="Flat - No. ABC...">
                                   <label for="" class="field-icon"><i class="fa fa-map-marker"></i></label>
                                </label>
                        </div>
                        <div class="row">
                                <label for="" class="" style="margin-left: 3cm;font-weight: bold;">Area/Locality :</label>
                                <label class="field" style="width: 16cm;margin-left:1.7cm">
                                    <input type="text" [(ngModel)]="formData.communication_area_locality" name="communication_area_locality" id="communication_area_locality" class="form-control date-input"
                                            placeholder="e.g. Bandra...">
                                    <label for="" class="field-icon"><i class="fa fa-map-marker"></i></label> 
                                </label>
                        </div>
                        <div class="row">
                                <label for="" class="" style="margin-left: 3cm;font-weight: bold;">Landmark :</label>
                                <label class="field" style="width: 16cm;margin-left:2.3cm">
                                    <input type="text" [(ngModel)]="formData.communication_landmark" name="communication_landmark" id="communication_landmark" class="form-control date-input"
                                        placeholder="e.g. Near ABCD...">
                                    <label for="" class="field-icon"><i class="fa fa-map-marker"></i></label>
                                </label>
                        </div>
                        <div class="row">
                                <label for="" class="" style="margin-left: 3cm;font-weight: bold;">Pincode :</label>
                                <label class="field" style="width: 10cm;margin-left: 2.7cm;">
                                    <input type="text" [(ngModel)]="formData.communication_pincode" name="communication_pincode" id="communication_pincode" class="form-control"
                                        placeholder="e.g. 400055" (keyup)="getCity1($event)">
                                </label>
                        </div>
                        <div class="row">
                                <label for="" class="" style="margin-left: 3cm;font-weight: bold;">City :</label>
                                <label class="field" style="width: 10cm;margin-left: 3.3cm;">
                                    <select class="custom-select"  (change)="changeCity1($event.target.value)">
                                        <option value="">Select City</option>
                                        <option value= "{{city.city_code+','+city.city_name+','+city.district_code+','+city.state_code+','+city.state_name+','+city.id}}"  *ngFor=" let city of cityStateName1">{{city.city_name}}</option>
                                    </select>
                                    <i class="arrow double"></i>   
                                </label>
                        </div>
                        <div class="row">
                            <label for="" class="" style="margin-left: 3cm;font-weight: bold;">State :</label>
                            <label class="field" style="width: 10cm;margin-left: 3.2cm;">
                                <select class="custom-select" >
                                    <option value="">Select State</option>
                                    <option value="{{State.state_code}}" *ngFor="let State of cityStateName1">{{State.state_name}}</option>
                                    
                                </select>
                                <i class="arrow double"></i>   
                            </label>
                    </div>
                        </div>
                        <!-- <div class="row py-2 text-center2">
                            <button type="button" class="btn btn-success" style="width:6cm"
                                (click)="openEmailModal()"><i class="fa fa-envelope"
                                    style="padding-right: 10px;"></i>Save Quote & Pay Later</button>
                        </div> -->
                        <div class="row py-2 ">
                            <button type="button" class="btn btn-success mr-auto" style="width:2cm;background-color: #E71D36;margin: 20px;"
                              [disabled]="active === 2" (click)="nav.select(2)">Back</button>
                            <button type="button" class="btn btn-success ml-auto" style="width:3cm;background-color: #E71D36;margin: 20px;"
                              [disabled]="active === 4" (click)="nav.select(4)">Continue</button>
                        </div></div>
                    </ng-template>
                </li>
                <li [ngbNavItem]="4">
                    <a ngbNavLink style="font-weight: bold;">Step 4: Vehicle Details</a>
                    <ng-template ngbNavContent>
                        <div class="row" style="margin-top: 1cm;">
                            <div class="col-6">
                                <div class="row">
                                    <label for="" class="" style="font-weight: bold;margin-left: 20px;">Registration Number :</label>
                                    <label class="field" style="width: 8cm;margin-left: 15px;">
                                        <input type="text" [(ngModel)]="formData.car_register_no" name="car_register_no" id="car_register_no" class="form-control date-input"
                                        placeholder="e.g. AB9863">
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <label for="" class="" style="font-weight: bold;">Expiring Policy Number :</label>
                                    <label class="field" style="width: 8cm;margin-left: 15px;">
                                        <input type="text" [(ngModel)]="formData.expiry_policy_no" name="expiry_policy_no" id="expiry_policy_no" class="form-control date-input"
                                            placeholder="Enter expiring policy's no.">
                                        <label for="" class="field-icon"><i class="fa fa-pencil"></i></label>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <label for="" class="" style="font-weight: bold;margin-left: 20px;">Engine Number :</label>
                                    <label class="field" style="width: 8cm;margin-left: 1.4cm;">
                                        <input type="text" [(ngModel)]="formData.enginee_no" name="enginee_no" id="enginee_no" class="form-control date-input"
                                        placeholder="Last 6 Digits...">
                                        <label for="" class="field-icon"><i class="fa fa-pencil-square"></i></label>
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <label for="" class="" style="font-weight: bold;">Existing Insurance :</label>
                                    <label class="field" style="width: 8cm;margin-left: 1.4cm;">
                                        <select class="custom-select" [(ngModel)]="formData.existing_insurance" name="existing_insurance" id="existing_insurance">
                                        <option value="">Select Company</option>
                                        <option *ngFor=" let LoanProvider of LoanProviderData" [ngValue]="LoanProvider.id"> {{LoanProvider.insurance_company}}</option>
                                        
                                        </select>
                                        <i class="arrow double"></i>   
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <label for="" class="" style="font-weight: bold;margin-left: 20px;">Chassis Number :</label>
                                    <label class="field" style="width: 8cm;margin-left: 1.4cm;">
                                        <input type="text" [(ngModel)]="formData.chassis_no" name="chassis_no" id="chassis_no" class="form-control date-input"
                                        placeholder="Last 6 Digits...">
                                        <label for="" class="field-icon"><i class="fa fa-pencil-square-o"></i></label>
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="">
                                        <h6 style="font-weight: bold;">Is your car financed ?</h6> 
                                    </div>
                                    <div class="col-3" style="margin-left: 1cm;">
                                        <label class="container-div">
                                            <input type="radio" [(ngModel)]="formData.is_car_finance" name="is_car_finance" value="true">
                                            <span class="checkmark"></span>Yes
                                        </label><br>
                                        <label class="container-div">
                                            <input type="radio" [(ngModel)]="formData.is_car_finance" name="is_car_finance" value="false">
                                            <span class="checkmark"></span>No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="formData.is_car_finance =='true'" >
                            <div class="col-6">
                                <div class="row">
                                    <label for="" class="" style="font-weight: bold;margin-left: 20px;">Select Loan Provider Financier's Name*
                                        :</label>
                                    <label class="field" style="width: 8cm;margin-left: 15px;">
                                        <select class="custom-select" [(ngModel)]="formData.loan_provide_financier_name" name="loan_provide_financier_name" id="loan_provide_financier_name">
                                            <option value="">Select Financier's Name</option>
                                            <option  *ngFor=" let FinancierName of FinancierNameData | slice:0:10; let i=index" [ngValue]="FinancierName.financier_name"> {{FinancierName.financier_name}}</option>
                                            
                                            </select>
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <label for="" class="" style="font-weight: bold;">City from where Loan was taken :</label>
                                    <label class="field" style="width: 8cm;margin-left: 15px;">
                                        <input type="text" [(ngModel)]="formData.loan_city" name="loan_city" id="loan_city" class="form-control date-input"
                                            placeholder="Enter City from where Loan was taken">
                                        <label for="" class="field-icon"><i class="fa fa-pencil"></i></label>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row py-2">
                            <button type="button" class="btn btn-success mr-auto" style="width:2cm;background-color: #E71D36;margin: 20px;"
                              [disabled]="active === 3" (click)="nav.select(3)">Back</button>
                               
                                <button type="button" (click)="submitform()" class="btn btn-success ml-auto" style="width:3cm;background-color: #E71D36;margin: 20px;">Continue</button> 
                        </div> 
                    </ng-template>
                </li> 
               
            </ul>
            <div [ngbNavOutlet]="nav" class="mt-2"></div>
            <pre class="display">{{ active }}</pre>
        </div>
    </div> 
     </form>
</div>

<ng-template #email let-modal>
    <div class="modal-header text-white" style="background-color: green;">
        <h3 class="text-white">Save Proposal Form on Email</h3>
        <button type="button" class="close text-white" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-6 py-2">
                <label class="field" style="width: 6.5cm;">
                    <!-- <input type="email" [(ngModel)]="formData.email_proposal" name="email_proposal" id="" class="form-control date-input" placeholder="Email"> -->
                    <label for="" class="field-icon"><i class="fa fa-envelope"></i></label>
                </label>
            </div>
            <div class="col-6 py-2">
                <button type="button" class="btn btn-success" style="width:5cm">Email Proposal Form</button>
            </div>
        </div>
    </div>
</ng-template>