<app-header></app-header>
<div class="">
    <div class="divHomebackground">
        <div class="row">
            <br />
            <br />
            <br />
            <br />
        </div>


        <div class="row">

            <div class="col-md-12" style="font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 60px;
            line-height: 90px;
            
            text-align: center;
            
            color: #FFFFFF;;">
                Bike Insurance
            </div>
        </div>

        <div class="row">
            <div class=" col-md-12" style="font-family: Poppins;
             font-style: normal;
             font-weight: normal;
             font-size: 24px;
             line-height: 40px;
             text-align: center;
             margin-top: 10px;
             color: #FFFFFF;
             ">
                Enter your Bike Registration Number
            </div>
        </div>
        <div class="row">
            <br />
            <br/>
        </div>
        <div class="row">
            <div class="" style="height:auto; border-radius:12px;width:970px;float:left;margin: 0 auto;">

                <!-- start-->

 
                <div class=" container form-group" style="height:auto;">

                    
             

                        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" autocomplete="off" style="background-color: white;box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.07);
                        border-radius: 12px;">
                        <div class="row">
                            <div class=""  style="height:15px ; width: 48.5%;float:left; 
                            background-color: #EB6D47;margin-left: 15px;
                            box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
                            border-radius:12px 0px 0px 0px">
                            </div>
                            <div class="" style="height:15px ; width: 48.5%;float:left;
                            margin-left:0px;background-color: #DDDDDD;
                            box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
                            border-radius:0px 12px 0px 0px">
                            </div>
                        </div>
                        <!-- first row start -->
                        <div class="row">
                            <div class="col-md-12" style=" font-family: Poppins;
                                                                                font-style: normal;
                                                                                font-weight: 600;
                                                                                font-size: 36px;
                                                                                line-height: 48px;
                                                                                padding-top: 30px; 
                                                                                text-align: center;
                                                                                letter-spacing: 0.2px; 
                                                                                color: #303253;">
                                Your Bike Detail
                            </div>
                        </div>
                        <br />
                        <!-- first row end -->

                        <!-- second row start -->
                        <div class="row">
                            <div class="col-md-1">

                            </div>
                            <div class="col-md-5" style="font-family: Poppins;
                                                                        font-style: normal;
                                                                        font-weight: normal;
                                                                        font-size: 16px;
                                                                        line-height: 24px;
                                                                        /* identical to box height */
                                                                        margin-left: -5px;
                                                                        
                                                                        color: #303253;
                                                                        
                                                                        ">
                                <label id="example-radio-group-label">Policy Type<span class="required">*
                                    </span> :</label>

                            </div>
                            <div class="col-md-6">
                                <mat-radio-group aria-label="Select an option" formControlName="enquiryOption"
                                    (change)="validations()">
                                    <div class="row" style="font-family: Poppins;
                                                                            font-style: normal;
                                                                            font-weight: normal;
                                                                            font-size: 14px;
                                                                            line-height: 21px;
                                                                            /* identical to box height */
                                                                            
                                                                            
                                                                            color: #303253;
                                                                            
                                                                            ">
                                        <div class="col-md-6">
                                            <mat-radio-button value="renewal">Renewal</mat-radio-button>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-radio-button value="new_enquiry">New</mat-radio-button>
                                        </div>
                                    </div>


                                </mat-radio-group>
                            </div>


                        </div>

                        <!-- second row end -->
                        <!--third row start-->
                        <!-- <div class="container"> -->
                            <table style="width:94%;">

                                <!-- third row start -->
                                <tr class="row" style="margin-top:20px">
                                    <td class="col-md-1">

                                    </td>
                                    <td class="col-md-5  field" style="  font-family: Poppins;
                                                                                        font-style: normal;
                                                                                        font-weight: normal;
                                                                                        font-size: 16px;
                                                                                        line-height: 24px;
                                                                                        /* identical to box height */ 
                                                                                        color: #303253;
                                                                                        margin-top:15px">

                                        <label for="Bike Manufacturer ">Bike Manufacturer<span class="required">*
                                            </span> :</label>
                                    </td>

                                    <td class="col-md-6 field  ">

                                        <div>
                                            <!-- <select type="text" class="form-control" style=" border-radius:10px;
                                                                                        font-family: Poppins;
                                                                                        font-style: normal;
                                                                                        font-weight: normal;
                                                                                        font-size: 16px;
                                                                                        line-height: 24px;
                                                                                        height:56px; 
                                                                                        /* identical to box height */ 
                                                                                         color: #303253;"
                                                autocomplete="off" formControlName="bike_manufacturer"
                                                (change)="getVariantType('bike_model', registrationForm.get('bike_manufacturer').value)"
                                                class="custom-select" name="bike_manufacturer" (change)="validations()">
                                                <option value="" disabled>Select Bike Manufacturer</option>
                                                <option *ngFor="let man of bikeModelDetails?.makeModel"
                                                    [value]="man?.id">
                                                    {{man?.manufacturer}}</option>
                                            </select> -->
                                            <ng-select formControlName="bike_manufacturer" name="bike_manufacturer"
                                            (change)="getVariantType('bike_model', registrationForm.get('bike_manufacturer').value)">
                                                <ng-option *ngFor="let man of bikeModelDetails?.makeModel" [value]="man?.id">{{man?.manufacturer}}</ng-option>
                                             </ng-select>
                                        </div>
                                        <div id="bike_manufacturer_err" style="display:none" class="alert alert-danger">
                                            <div>Please Select Manufacturer.</div>
                                        </div>
                                    </td>
                                </tr>
                                <!-- third row end -->

                                
  
                                

                                <!-- Forth row start -->
                                <tr class="row" style="margin-top:20px">
                                    <td class="col-md-1">

                                    </td>
                                    <td class="col-md-5 field" style="  font-family: Poppins;
                                                                                    font-style: normal;
                                                                                    font-weight: normal;
                                                                                    font-size: 16px;
                                                                                    line-height: 24px;
                                                                                    /* identical to box height */ 
                                                                                    color: #303253;
                                                                                    margin-top:15px">

                                        <label for="Variant & Model ">Variant & Model<span class="required">*
                                            </span> :</label>
                                    </td>

                                    <td class="col-md-6 field  ">
                                        <div>
                                            <!-- <select class="white_select select_category" class="form-control" style="border-radius:10px;
                                                                        font-family: Poppins;
                                                                        font-style: normal;
                                                                        font-weight: normal;
                                                                        font-size: 16px;
                                                                        line-height: 24px;
                                                                        height:56px;
                                                            
                                                                        

                                                                        /* identical to box height */ 
                                                                        color: #999999;" autocomplete="off"
                                                formControlName="varientmodel" (change)="validations()">
                                                <option value="">Select Variant & Model</option>
                                                <option *ngFor="let variant of variantTypeDetails"
                                                    [value]="variant?.id">
                                                    {{ variant?.model }}</option>

                                            </select> -->
                                            <ng-select formControlName="varientmodel" (change)="validations()">
                                                <ng-option *ngFor="let variant of variantTypeDetails" [value]="variant?.id">{{variant?.model}}</ng-option>
                                             </ng-select>
                                        </div>
                                        <div id="varientmodel_err" style="display:none" class="alert alert-danger">
                                            <div>Please Select Variant & Model.</div>
                                        </div>
                                    </td>
                                </tr>

                                <!-- forth row end -->
                                <!-- Fifth row start -->
                                <tr class="row" style="margin-top:20px">
                                    <td class="col-md-1">

                                    </td>
                                    <td class="col-md-5 field" style="  font-family: Poppins;
                                                                                        font-style: normal;
                                                                                        font-weight: normal;
                                                                                        font-size: 16px;
                                                                                        line-height: 24px;
                                                                                        /* identical to box height */ 
                                                                                        color: #303253;
                                                                                        margin-top:15px">

                                        <label for="RTO ">RTO<span class="required">*
                                            </span> :</label>
                                    </td>

                                    <td class="col-md-6 field  ">
                                        <div>
                                            <!-- <select type="text" class="form-control mdb-select md-form" searchable="Search here..." style="border-radius:10px;
                                                                                    font-family: Poppins;
                                                                                    font-style: normal;
                                                                                    font-weight: normal;
                                                                                    font-size: 16px;
                                                                                    line-height: 24px;
                                                                                    height:56px;
                                                                                     
                                                                                    /* identical to box height */ 
                                                                                     color: #999999;"
                                                placeholder=" Select RTO of Bike Registration" autocomplete="off"
                                                name="rto" id="rto" formControlName="rto" (change)="validations()">
                                                <option value="" disabled selected>Select RTO of Bike Registration</option>
                                                <option *ngFor="let rto of bikeModelDetails?.id" [value]="rto?.id">{{
                                                    rto.rto_description }}</option>
                                            </select> -->
                                            <ng-select formControlName="rto" name="rto" id="rto" (change)="validations()">
                                                <ng-option *ngFor="let rto of bikeModelDetails?.id" [value]="rto?.id">{{rto?.rto_description}}</ng-option>
                                             </ng-select>
                                        </div>
                                        <div id="rto_err" style="display:none" class="alert alert-danger">
                                            <div>Please Select RTO Bike Registration.</div>
                                        </div>
                                    </td>
                                </tr>
                                <!-- fifth row end -->
                                <!--sixth row start-->

                                <tr class="row" style="margin-top:20px">
                                    <td class="col-md-1">

                                    </td>
                                    <td class="col-md-5 field" style="  font-family: Poppins;
                                                                                    font-style: normal;
                                                                                    font-weight: normal;
                                                                                    font-size: 16px;
                                                                                    line-height: 24px;
                                                                                    /* identical to box height */ 
                                                                                    color: #303253;
                                                                                    margin-top:15px">

                                        <label for="Manufacturing  :">Manufacturing Year<span class="required">*
                                            </span> :</label>
                                    </td>

                                    <td class="col-md-6 field  ">
                                        <div>
                                            <!-- <select type="text" class="form-control  " style="border-radius:10px;
                                                                                font-family: Poppins;
                                                                                font-style: normal;
                                                                                font-weight: normal;
                                                                                font-size: 16px;
                                                                                line-height: 24px;
                                                                                height:56px;
                                                                                 
                                                                                /* identical to box height */ 
                                                                                 color: #999999;" autocomplete="off"
                                                formControlName="manufacturing_year" name="manufacturing_year"
                                                id="manufacturing_year" (change)="validations()">
                                                <option value="">Select Manufacturing Year</option>
                                                <option *ngFor="let year of M_Year" [value]="year">{{ year }}</option>
                                            </select> -->
                                            <ng-select formControlName="manufacturing_year" name="manufacturing_year" id="manufacturing_year" (change)="validations()">
                                                <ng-option *ngFor="let year of M_Year" [value]="year">{{year}}</ng-option>
                                             </ng-select>
                                        </div>
                                        <div id="manufacturing_year_err" style="display:none"
                                            class="alert alert-danger">
                                            <div>Please Select Manufacturing Year.</div>
                                        </div>
                                    </td>
                                </tr>

                                <!--sixth row end-->

                                <!--seventh row start-->
                                <tr class="row" style="margin-top:20px">
                                    <td class="col-md-1">

                                    </td>
                                    <td class="col-md-5 field" style="  font-family: Poppins;
                                                                                        font-style: normal;
                                                                                        font-weight: normal;
                                                                                        font-size: 16px;
                                                                                        line-height: 24px;
                                                                                        /* identical to box height */ 
                                                                                        color: #303253;
                                                                                        margin-top:15px">

                                        <label for="">Registration Date<span class="required">*
                                            </span> :</label>
                                    </td>

                                    <td class="col-md-6 field  ">
                                        <div class="input-group input-group-lg ">
                                            <input type="text" class="form-control" style="border-radius:10px;
                                                                                    font-family: Poppins;
                                                                                    font-style: normal;
                                                                                    font-weight: normal;
                                                                                    font-size: 16px;
                                                                                    line-height: 24px;
                                                                                    height:56px;
                                                                                     
                                                                                    /* identical to box height */ 
                                                                                     color: #999999;"
                                                placeholder="Select Registration Date" autocomplete="off" name="dp"
                                                formControlName="registration_date" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" readonly
                                                (change)="validations()">
                                        </div>
                                        <div id="registration_date_err" style="display:none" class="alert alert-danger">
                                            <div>Please Select Registration Date.
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <br />
                                <br />

                                <!--seventh row end-->

                                <!--Eighth row start-->


                                <div class=" row">
                                    <div class="" style="width: 10%;float:left">

                                    </div>

                                    <div class="" style="width: 30%;float:left">
                                        <!-- <button mat-button color="" style="background: #999999;
                                        border-radius: 10px;font-style: normal;
                                        font-weight: 600;
                                        font-size: 18px;
                                        line-height: 40px;
                                        width: 85%;
                                       align-items: center;
                                        height: 60px;
                                        margin-right: 5px;
                                        color: #FFFFFF;" routerLink=''>Back</button> -->

                                    </div>

                                    <div class="" style="width: 25%;float:left">

                                    </div>

                                    <div class="" style="width: 30%;float:left">
                                        

                                        <button mat-button color="" style="background: #303253;
                                        border-radius: 10px;
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 18px;
                                        line-height: 40px;
                                        width: 248px;
                                        align-items: center;
                                        height: 60px;
                                        margin-right: 5px;
                                        color: #FFFFFF;" type="submit">
                                                      Next</button>


                                    </div>

                                    <div class="" style="width: 5%;float:left">

                                    </div>
                               </div>
                               <div class="row">
                                   <br/>
                               </div>

                                <!-- Eighth row end-->

                            </table>
                        <!-- </div> -->
                    </form>
                </div>
            </div>
        </div>
    </div>  

    <div class="clearfix">
        
    </div>

    <div class="row respHeight" > 
  <br/>

  <br/>
    </div>






         <div class="container2">
        <div class="main2">
            <h2>Have a question?</h2>
            <p>
                If you cannot find answer to your question in our FAQ,
                you can always contact us. We wil answer to you shortly!
            </p>
            <img src="/assets/home_images/bg_img/dots_img.png" alt="">
            <div class="help-support">
                <br><br><br>
                <button mat-fab style="background-color:#01C48D;width:80px;height:80px;">
                    <i class="fa fa-headphones fa-lg" style="font-size:35px;color:#FFF;"></i>
                </button>
                <br><br><br>
                <h4>Help & Support</h4>
                <p>We’re here to help with any questions or issues.</p><br>
                <b>support@kapalinbroking.com</b><br>
                <b>+91-22-62363690 | +91-22-62361889</b>
            </div>
        </div><br><br><br>
    </div>

</div>
<app-footer></app-footer> 












<!--<h1 class="text-center">BIKE INSURANCE</h1>
<div class="py-3 px-5">
    <div class="px-3 tabs-data">
        <h4 class="text-center">Please Enter Details Of Your Bike</h4>
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
            <li [ngbNavItem]="1" style="width: 50%;"> 
                <a ngbNavLink style="text-align:center;color: black;">Renewal</a>
                <ng-template ngbNavContent>
                    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" autocomplete="off">
                        <input type="hidden" name="policy_type" value="renew_enquiry" id="policy_type">
                        <input type="hidden" name="lead_id" value="lead_id" id="lead_id">
                        <div class="row">
                            <label for="" class="spacer-b10 center1">Bike Manufacturer :</label>
                            <label class="field" style="margin-left: 2.3cm;width: 9.1cm;">
                                <select formControlName="bike_manufacturer" (change)="getVariantType('bike_model', registrationForm.get('bike_manufacturer').value)" class="custom-select" name="" id="">
                                    <option value="">Select Bike Manufacturer</option>
                                    <option *ngFor="let man of bikeModelDetails?.makeModel" [value]="man?.id">
                                    {{man?.manufacturer}}</option>
                                </select>
                            </label>
                        </div>
                        <div class="row">
                            <label for="" class="spacer-b10 center1">Variant & Model :</label>
                            <label class="field" style="margin-left: 2.7cm;width: 9.1cm;">
                                <select formControlName="varientmodel" class="custom-select" name="fuel_type" id="fuel_type">
                                    <option value="">Select Variant & Model</option>
                                    <option *ngFor="let variant of variantTypeDetails" [value]="variant?.id">
                                    {{ variant?.model }}</option>
                                </select>
                            </label>
                        </div>
                        <div class="row">
                            <label for="rto" class="center1 spacer-b10">RTO :</label>
                            <label class="field" style="margin-left: 4.8cm;width: 9.1cm;">
                                <select formControlName="rto" class="custom-select" name="rto" id="rto">
                                    <option value="">Select RTO of Bike Registration</option>
                                    <option *ngFor="let rto of bikeModelDetails?.id" [value]="rto?.id">{{
                                        rto.rto_description }}</option>
                                </select>
                            </label>
                        </div>
                        <div class="row">
                            <label for="" class="spacer-b10 center1">Manufacturing Year :</label>
                            <label class="field" style="margin-left: 2.2cm;width: 9.1cm;">
                                <select formControlName="manufacturing_year" class="custom-select" name="manufacturing_year" id="manufacturing_year">
                                    <option value="">Select Manufacturing Year</option>
                                    <option *ngFor="let year of M_Year" [value]="year">{{ year }}</option>
                                </select>
                            </label>
                        </div>
                        <div class="row">
                            <div class="input-group">
                                <label for="" class="spacer-b10 center1">Registration Date :</label>
                                <div class="position-relative" style="margin-left: 2.65cm;width: 9.1cm;">
                                    <div class="calendar-icon"><i class="fa fa-calendar"></i></div>
                                    <input class="form-control date-input" (click)="d.toggle()" placeholder="Select Registration Date"
                                        name="dp" formControlName="registration_date" ngbDatepicker #d="ngbDatepicker">
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="registrationForm.get('enquiryOption').value == 'renewal'">
                            <label for="" class="spacer-b10 center1" style="margin-top: 10px;">Last Policy Expiry Date :</label>
                            <div class="position-relative" style="margin-left: 1.55cm;width: 9.1cm;margin-top: 10px;">
                                <div class="calendar-icon"><i class="fa fa-calendar"></i></div>
                                <input class="form-control date-input" (click)="d1.toggle()" placeholder="Select Last Policy Expiry Date"
                                    name="dp" formControlName="last_policy_expiry_date" ngbDatepicker #d1="ngbDatepicker">
                            </div>
                        </div>
                        <div class="row">
                            <label for="last_policy_claim_status" class="spacer-b10 center1" style="margin-top: 10px;">Last Policy Claim Status :</label>
                            <label class="field center" style="margin-left: 1.45cm;width: 9.1cm;margin-top: 10px">
                                <select formControlName="last_policy_claim_status" class="custom-select" id="">
                                    <option value="">Select Claim Status in Last Policy</option>
                                    <option [value]="'yes'">Yes, I had claim in Last Policy</option>
                                    <option [value]="'no'">No, I have not claimed in Last Policy</option>
                                </select>
                            </label>
                        </div>
                        <div class="spacer-b10 center1" style="margin-left: 19cm;"
                            *ngIf="registrationForm.get('last_policy_claim_status').value == 'no'">
                            <div class="row">
                                <label class="container2">0% 
                                    <input type="radio" name="last_policy_ncb" value="0"
                                        formControlName="last_policy_ncb">
                                        <span class="checkmark2"> <i class="iconc"></i> </span>
                                </label>
                            </div>
                            <div class="row">
                                <label class="container2">20% 
                                    <input type="radio" name="last_policy_ncb" value="20"
                                        formControlName="last_policy_ncb">
                                        <span class="checkmark2"> <i class="iconc"></i> </span>
                                </label>
                            </div>
                            <div class="row">
                                <label class="container2">25% 
                                    <input type="radio" name="last_policy_ncb" value="25"
                                        formControlName="last_policy_ncb">
                                        <span class="checkmark2"> <i class="iconc"></i> </span>
                                </label>
                            </div>
                            <div class="row">
                                <label class="container2">35% 
                                    <input type="radio" name="last_policy_ncb" value="35"
                                        formControlName="last_policy_ncb">
                                        <span class="checkmark2"> <i class="iconc"></i> </span>
                                </label>
                            </div>
                            <div class="row">
                                <label class="container2">45% 
                                    <input type="radio" name="last_policy_ncb" value="45"
                                        formControlName="last_policy_ncb">
                                        <span class="checkmark2"> <i class="iconc"></i> </span>
                                </label>
                            </div>
                            <div class="row">
                                <label class="container2">50% 
                                    <input type="radio" name="last_policy_ncb" value="50"
                                        formControlName="last_policy_ncb">
                                        <span class="checkmark2"> <i class="iconc"></i> </span>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <label class="container1" style="margin-left: 6cm;">
                                I have read and agree to the <a href="privacy-policy" target="_blank" class="smart-link"
                                style="color: #E71D36;"> Privacy Policy</a>
                                <input type="checkbox" checked="checked">
                                <span class="checkmark1"></span>
                            </label>
                        </div>
                        <div class="" style="margin-left: 10cm;">
                            <button class="button btn-primary" style="background-color: #E71D36;">Continue</button>
                        </div>
                    </form>
                </ng-template>
            </li>
            <li [ngbNavItem]="2" style="width: 50%;">
                <a ngbNavLink style="text-align:center;color: black;">New</a>
                <ng-template ngbNavContent>
                    <form [formGroup]="newForm" (ngSubmit)="onSubmit1()" autocomplete="off">
                        <input type="hidden" name="policy_type" value="new_enquiry" id="policy_type">
                        <input type="hidden" name="lead_id" value="lead_id" id="lead_id">
                        <input type="hidden" name="last_policy_expiry_date" value="qw">
                        <div class="row">
                            <label for="" class="spacer-b10 center1">Bike Manufacturer :</label>
                            <label class="field" style="margin-left: 2.3cm;width: 9.1cm;">
                                <select formControlName="bike_manufacturer" (change)="getVariantType('bike_model', newForm.get('bike_manufacturer').value)" class="custom-select" name="" id="">
                                    <option value="">Select Bike Manufacturer</option>
                                    <option *ngFor="let man of bikeModelDetails?.makeModel" [value]="man?.id">
                                    {{man?.manufacturer}}</option>
                                </select>
                            </label>
                        </div>
                        <div class="row">
                            <label for="" class="spacer-b10 center1">Variant & Model :</label>
                            <label class="field" style="margin-left: 2.7cm;width: 9.1cm;">
                                <select formControlName="varientmodel" class="custom-select" name="fuel_type" id="fuel_type">
                                    <option value="">Select Variant & Model</option>
                                    <option *ngFor="let variant of variantTypeDetails" [value]="variant?.id">
                                    {{ variant?.model }}</option>
                                </select>
                            </label>
                        </div>
                        <div class="row">
                            <label for="rto" class="center1 spacer-b10">RTO :</label>
                            <label class="field" style="margin-left: 4.8cm;width: 9.1cm;">
                                <select formControlName="rto" class="custom-select" name="rto" id="rto">
                                    <option value="">Select RTO of Bike Registration</option>
                                    <option *ngFor="let rto of bikeModelDetails?.id" [value]="rto?.id">{{
                                        rto.rto_description }}</option>
                                </select>
                            </label>
                        </div>
                        <div class="row">
                            <label for="" class="spacer-b10 center1">Manufacturing Year :</label>
                            <label class="field" style="margin-left: 2.2cm;width: 9.1cm;">
                                <select formControlName="manufacturing_year" class="custom-select" name="manufacturing_year" id="manufacturing_year">
                                    <option value="">Select Manufacturing Year</option>
                                    <option *ngFor="let year of M_Year" [value]="year">{{ year }}</option>
                                </select>
                            </label>
                        </div>
                        <div class="row">
                            <div class="input-group">
                                <label for="" class="spacer-b10 center1">Registration Date :</label>
                                <div class="position-relative" style="margin-left: 2.65cm;width: 9.1cm;">
                                    <div class="calendar-icon"><i class="fa fa-calendar"></i></div>
                                    <input class="form-control date-input" (click)="d.toggle()" placeholder="Select Registration Date"
                                        name="dp" formControlName="registration_date" ngbDatepicker #d="ngbDatepicker">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="container1" style="margin-left: 6cm;">
                                I have read and agree to the <a href="privacy-policy" target="_blank" class="smart-link"
                                style="color: #E71D36;"> Privacy Policy</a>
                                <input type="checkbox" checked="checked">
                                <span class="checkmark1"></span>
                            </label> 
                        </div>
                        <div class="" style="margin-left: 10cm;">
                            <button class="button btn-primary" style="background-color: #E71D36;">Continue</button>
                        </div>
                    </form>
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
        <pre class="display">{{ active }}</pre>
    </div>
</div>-->
