<!-- <h1 class="text-center">HEALTH INSURANCE</h1>
<div class="py-3 px-5">
    <div class="px-3 tabs-data">
        <h4 class="text-center">Please Enter Details</h4>
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
            <li [ngbNavItem]="1" style="width: 50%;">
                <ng-template ngbNavContent> 
                    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" autocomplete="off">
                        <input type="hidden" name="" value="lead_id" id="" formControlName="lead_id">
                        <div class="row">
                                <h5 style="font-weight: bold;margin-left: 7cm;margin-top: 0.1cm;">Gender :</h5> 
                                <label class="container-div" style="margin-left: 2cm;">
                                    <input type="radio" name="" value="Male" formControlName="gender">
                                    <span class="checkmark"></span><h5 style="margin-top: 0.1cm;">Male</h5>
                                </label><br>
                                <label class="container-div" style="margin-left:30px">
                                    <input type="radio" name="" value="Female" formControlName="gender">
                                    <span class="checkmark"></span><h5 style="margin-top: 0.1cm;">Female</h5>
                                </label>
                        </div> 
                        <div class="row">
                            <h5 style="font-weight: bold;margin-left: 4.2cm;margin-top: 0.1cm;">Select No. of Adults :</h5> 
                            <label class="container-div" style="margin-left: 2cm;">
                                <input type="radio" name="" value="1" formControlName="adults">
                                <span class="checkmark"></span><h5 style="margin-top: 0.1cm;">1 Adult</h5>
                            </label><br>
                            <label class="container-div" style="margin-left:15px">
                                <input type="radio" name="" value="2" formControlName="adults">
                                <span class="checkmark"></span><h5 style="margin-top: 0.1cm;">2 Adults</h5>
                            </label>
                        </div>
                        <div class="row">
                            <label for="" class="" style="font-weight: bold;font-size: 20px;margin-left: 3.7cm;">Select No. of Children : </label>
                            <label class="field">
                                <select class="custom-select" name="" id="" style="width: 7cm;margin-left: 2.3cm;" formControlName="children">
                                    <option value="0">Select No. of Children</option>
                                    <option value="0">No Child</option>
                                    <option value="1">1 Child</option>
                                    <option value="2">2 Childs</option>
                                    <option value="3">3 Childs</option>
                                    <option value="4">4 Childs</option>
                                </select>
                                <i class="arrow double"></i>   
                            </label>
                        </div>
                        <div class="row">
                            <label for="" class="" style="font-weight: bold;font-size: 20px;margin-left: 2.2cm;">Select Age of Eldest Member : </label>
                            <label class="field">
                                <select class="custom-select" name="" id="" style="width: 7cm;margin-left: 2.3cm;" formControlName="age">
                                    <option value="0">Select Age of Eldest Member</option>
                                    <option *ngFor="let age of ages" value="{{age}}">{{age}}</option>
                                </select>
                                <i class="arrow double"></i>   
                            </label>
                        </div>
                        <div class="row">
                            <label for="" class="" style="font-weight: bold;font-size: 20px;margin-left: 3.5cm;">Select Insurance Cover : </label>
                            <label class="field">
                                <select class="custom-select" name="" id="" style="width: 7cm;margin-left: 2.3cm;" formControlName="mediclaim_sa">
                                    <option value="0">Select Insurance Cover</option>
                                    <option>1-2 Lacs</option>
                                    <option>2-3.5 Lacs</option>
                                    <option>3.50-4.50 Lacs</option>
                                    <option>5-6.50 Lacs</option>
                                    <option>6.50-9 Lacs</option>
                                    <option>9-12 Lacs</option>
                                    <option>12-15 Lacs</option>
                                    <option>16-25 Lacs</option>
                                    <option>Above 25 Lacs</option>
                                </select>
                                <i class="arrow double"></i>   
                            </label>
                        </div>
                        <div class="row">
                            <label for="" class="" style="margin-left: 6.9cm;font-weight: bold;font-size: 20px;">Pincode :</label>
                            <label class="field" style="width: 7cm;margin-left: 2.3cm;">
                                <input type="text" name="" id="" class="form-control" placeholder="e.g. 400055" formControlName="pincode">
                            </label>
                        </div>
                        <div class="row">
                                <label class="container1" style="margin-left: 6cm;margin-top: 20px;">
                                    I have read and agree to the <a href="privacy-policy" target="_blank" class="smart-link"
                                    style="color: #E71D36;"> Privacy Policy</a>
                                    <input type="checkbox" checked="checked">
                                    <span class="checkmark1"></span>
                                </label> 
                        </div>
                        <div class="" style="margin-left: 10cm;">
                            <button class="button btn-primary" style="background-color: #E71D36;">Continue</button>
                        </div>
                    </form>
                </ng-template>
            </li> 
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
        <pre class="display">{{ active }}</pre>
    </div>
</div> -->
<app-header></app-header>
<div class="container-fluid">
  <div class="container1">
    <h1>Health Insurance</h1>
    <p>Create a Health Insurance quote</p><br><br>
    <div class="main">
      <div class="progress-bar">
        <div class="progress"></div>
      </div>
      <h1>Proposer details</h1>
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="row">
          <div class="col-md-6">
            <label for="">No. of Adults<span class="required">*
              </span> :</label>
          </div>
          <div class="col-md-6">
            <mat-radio-group aria-label="Select an option" formControlName="adults">
              <mat-radio-button value="1" [checked]="registrationForm.value['adults'] == 1">1 Adult
              </mat-radio-button>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <mat-radio-button value="2" [checked]="registrationForm.value['adults'] == 2">2 Adult
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
            <div id="adults_err" style="display:none;margin-top:10px" class="alert alert-danger">
              <div>Please Select Number Of Adults.
              </div>
            </div>
          </div>
        </div>
        <input type="hidden" name="" value="lead_id" id="" formControlName="lead_id">
        <div class="row">
          <div class="col-6">
            <label for="">No. of Children<span class="required">*
              </span> :</label>
          </div>
          <div class="col-6">
            <!-- <select class="form-control" name="" id="children" formControlName="children">
                            <option value="" disabled>No. of Children</option>
                            <option value="0">No Child</option>
                            <option value="1">1 Child</option>
                            <option value="2">2 Children</option>
                            <option value="3">3 Children</option>
                            <option value="4">4 Children</option>
                        </select> -->
            <ng-select formControlName="children" id="children">
              <!-- <ng-option value="" disabled>No. of Children</ng-option> -->
              <ng-option value="0">No Child</ng-option>
              <ng-option value="1">1 Child</ng-option>
              <ng-option value="2">2 Children</ng-option>
              <ng-option value="3">3 Children</ng-option>
              <ng-option value="4">4 Children</ng-option>
            </ng-select>
          </div>
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
            <div id="children_err" style="display:none;margin-top:10px" class="alert alert-danger">
              <div>Please Select Number Of Children.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label for="">Enter Age of the Eldest Member<span class="required">*
              </span> :</label>
          </div>
          <div class="col-6">
            <!-- <select class="form-control" name="" id="age" formControlName="age">
                            <option value="" disabled>Age Of Eldest Member</option>
                            <option *ngFor="let age of ages" value="{{age}}">{{age}}</option>
                        </select> -->
            <ng-select id="age" formControlName="age">
              <ng-option *ngFor="let age of ages" [value]="age">{{age}}</ng-option>
            </ng-select>
          </div>
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
            <div id="age_err" style="display:none;margin-top:10px" class="alert alert-danger">
              <div>Please Select Age Of Eldest Member.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label for="">Select Insurance Cover<span class="required">*
              </span> :</label>
          </div>
          <div class="col-6">
            <!-- <select class="form-control" name="" id="mediclaim_sa" formControlName="mediclaim_sa">
                            <option value="" disabled>Select Insurance Cover</option>
                            <option value="1.00-2.00 Lacs">1-2 Lacs</option>
                            <option value="2.00-3.50 Lacs">2-3.5 Lacs</option>
                            <option value="3.50-4.50 Lacs">3.50-4.50 Lacs</option>
                            <option value="5.00-6.50 Lacs">5-6.50 Lacs</option>
                            <option value="6.50-9.00 Lacs">6.50-9 Lacs</option>
                            <option value="9.00-12.00 Lacs">9-12 Lacs</option>
                            <option value="12.00-15.00 Lacs">12-15 Lacs</option>
                            <option value="16.00-25.00 Lacs">16-25 Lacs</option>
                            <option value="26.00-100.00 Lacs">Above 25 Lacs</option>
                        </select> -->
            <ng-select id="mediclaim_sa" formControlName="mediclaim_sa">
              <ng-option value="1.00-2.00 Lacs">1-2 Lacs</ng-option>
              <ng-option value="2.00-3.50 Lacs">2-3.5 Lacs</ng-option>
              <ng-option value="3.50-4.50 Lacs">3.50-4.50 Lacs</ng-option>
              <ng-option value="5.00-6.50 Lacs">5-6.50 Lacs</ng-option>
              <ng-option value="6.50-9.00 Lacs">6.50-9 Lacs</ng-option>
              <ng-option value="9.00-12.00 Lacs">9-12 Lacs</ng-option>
              <ng-option value="12.00-15.00 Lacs">12-15 Lacs</ng-option>
              <ng-option value="16.00-25.00 Lacs">16-25 Lacs</ng-option>
              <ng-option value="26.00-100.00 Lacs">Above 25 Lacs</ng-option>
            </ng-select>
          </div>
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
            <div id="mediclaim_sa_err" style="display:none;margin-top:10px" class="alert alert-danger">
              <div>Please Select Insurance Cover.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label for="">Pin Code<span class="required">*
              </span> :</label>
          </div>
          <div class="col-6">
            <input class="form-control" id="pincode" type="number" placeholder="e.g. 400055" formControlName="pincode">
          </div>
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
            <div id="pincode_err" style="display:none;margin-top:10px" class="alert alert-danger">
              <div>Please Enter Pin Code.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <section class="example-section">
            <mat-checkbox class="example-margin readonly" checked="true">
            </mat-checkbox>
            &nbsp;&nbsp;&nbsp;By submitting this form you agree to our terms and conditions
            and our Privacy Policy which explains how we may collect, use and
            disclose your personal information including to third parties.
          </section>
        </div>
        <div class="row">
          <div class="col-md-3">
            <!-- <button mat-button style="background-color:#999999;" routerlink="">Back</button> -->
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-3">
            <button type="submit" mat-button style="background-color:#303253;">Find Plans</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="container2">
    <div class="main2">
      <h2>Have a question?</h2>
      <p>
        If you cannot find answer to your question in our FAQ,
        you can always contact us. We wil answer to you shortly!
      </p>
      <img src="/assets/home_images/bg_img/dots_img.png" alt="">
      <div class="help-support">
        <br><br><br>
        <button mat-fab style="background-color:#01C48D;width:80px;height:80px;">
          <i class="fa fa-headphones fa-lg" style="font-size:35px;color:#FFF;"></i>
        </button>
        <br><br><br>
        <h4>Help & Support</h4>
        <p>We’re here to help with any questions or issues.</p><br>
        <b>support@kapalinbroking.com</b><br>
        <b>+91-22-62363690 | +91-22-62361889</b>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
