<!-- <div class="container">
    <div class="px-3 tabs-data">
    <h1 class="" style="font-weight:bold; color: #E71D36; margin-bottom:20px; text-align: center;">Cancellation & Refunds</h1>
        The cancellation of the policy and/or the refund of the premium is processed as follows:
        <br>
        <h4 style="font-weight: bold; font-size:20px; margin-top:20px;color: #2EA7C4">Cancellation of the policy by you</h4>
        If you don’t agree to certain terms and conditions in your policy, you can cancel it any time before the renewal date. To initiate a cancellation, you need to write an application to the insurance company stating the reason for cancelling the policy. The insurance company or insurer referred to here is the company whose policy you have purchased. Depending on when you have applied for cancellation your request will be processed. The period of cancellation will be considered as the time when the insurance company receives the written request.
        <br>
        <h4 style="font-weight: bold; font-size:20px; margin-top:20px;color: #2EA7C4">Cancellation within the free-look period</h4>
        Free-look period is a 15-day period post purchase, that most insurance companies give their customers to review the policy and cancel it if required. The Insurance Regulatory and Development Authority of India (IRDAI) has mandated free-look period for life insurance policies and health insurance policies with policy periods of 3 years or more. However, most insurance companies have a free-look period for health insurance policies with a policy period of less than 3 years too.
        If you request a cancellation of your policy within the free-look period, you get a refund of your premium excluding:
        <br><br/>
        1. Health check-up expenses
        <br>
        2. Stamp duty
        <br>
        3. The proportionate risk premium of the period for which you were covered.
        <br><br/>
        Also, please note that the free-look provision is not available for renewals.
        <br><br/>
        <h4 style="font-weight: bold; font-size:20px; margin-top:20px;color: #2EA7C4">Cancellation Beyond Free-Look Period</h4>
        If you apply for cancellation of the policy beyond the free-look period then the policy cancellation will be processed as per the underwriting of the policy. Also, the amount of premium will be refunded will be equal to what has been defined in the cancellation clause of your policy wording.
        If you wish to cancel a policy you have purchased from our portal, you can contact us over the phone or on email and we will assist you through the process.
        <br>
        <h4 style="font-weight: bold; font-size:20px; margin-top:20px;color: #2EA7C4">Cancellation by the Insurance Company</h4>
        The insurance company has the right to cancel your policy in the event of fraud, misrepresentation, non-disclosure of important facts or non-cooperation by the insured members. In such cases, the insurance company will give notice of 30-days and the premium will not be refunded.
        <br>
        <h4 style="font-weight: bold; font-size:20px; margin-top:20px;color: #2EA7C4">Refund of the Premium</h4>
        The premium that you pay is collected directly by the insurance company. If you claim for a refund because of an incorrect transaction or policy cancellation, you will get an amount as per the insurance company’s policy. The refunded amount will be given to you in the form of a cheque or direct transfer, as per the insurance company’s policy. 
-->
<app-header-lite></app-header-lite>
<div class="container-fluid">
    <div class="container1">
        <h2>Cancellation & Refunds</h2>
        <p>The cancellation of the policy and/or the refund of the premium is processed as follows:</p>
        <b>Cancellation of the policy by you</b>
        <p>If you don’t agree to certain terms and conditions in your policy, you can cancel it any time before the renewal date. To initiate a cancellation, you need to write an application to the insurance company stating the reason for cancelling the policy. The insurance company or insurer referred to here is the company whose policy you have purchased. Depending on when you have applied for cancellation your request will be processed. The period of cancellation will be considered as the time when the insurance company receives the written request.</p>
        <b>Cancellation within the free-look period</b>
        <p>Free-look period is a 15-day period post purchase, that most insurance companies give their customers to review the policy and cancel it if required. The Insurance Regulatory and Development Authority of India (IRDAI) has mandated free-look period for life insurance policies and health insurance policies with policy periods of 3 years or more. However, most insurance companies have a free-look period for health insurance policies with a policy period of less than 3 years too. If you request a cancellation of your policy within the free-look period, you get a refund of your premium excluding:<br><br>1. Health check-up expenses<br>2. Stamp duty<br>3. The proportionate risk premium of the period for which you were covered.<br><br> Also, please note that the free-look provision is not available for renewals.</p>
        <b>Cancellation Beyond Free-Look Period</b>
        <p>If you apply for cancellation of the policy beyond the free-look period then the policy cancellation will be processed as per the underwriting of the policy. Also, the amount of premium will be refunded will be equal to what has been defined in the cancellation clause of your policy wording. If you wish to cancel a policy you have purchased from our portal, you can contact us over the phone or on email and we will assist you through the process.</p>
        <b>Cancellation by the Insurance Company</b>
        <p>The insurance company has the right to cancel your policy in the event of fraud, misrepresentation, non-disclosure of important facts or non-cooperation by the insured members. In such cases, the insurance company will give notice of 30-days and the premium will not be refunded.</p>
        <b>Refund of the Premium</b>
        <p>The premium that you pay is collected directly by the insurance company. If you claim for a refund because of an incorrect transaction or policy cancellation, you will get an amount as per the insurance company’s policy. The refunded amount will be given to you in the form of a cheque or direct transfer, as per the insurance company’s policy.</p>
    </div>
</div>
<app-footer></app-footer> 