.container-fluid
{
    height: auto;
    padding: 0;
}
.container1
{
    height: 880px;
    background-image: url("/assets/home_images/blue_bg.png");
    background-size: 100%;
}
.container1 .main
{
    margin: 0 auto;
    display: inline-flex;
}
.container1 .left
{
    width: 550px;
    padding-top: 200px;
}
.container1 .right
{
    width: 550px;
}
.container1 h1
{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 80px;
    letter-spacing: -3px;
    color: #FFFFFF;
}
.container1 p
{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF;
    margin-top: 20px;
}
.container1 button
{
    width: 170px;
    height: 48px;
    margin-top: 55px;
    background: #FA824C;
    border-radius: 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.container1 img
{
    width: 599px;
    height: 643px;
    margin-top: 70px;
}
.container2 h6
{
    margin: auto;
    margin-top: 74px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #303253;
}
.container2 .center
{
    padding-left: 9.8%;
}
.container2 img
{
    height: 90px;
}
.container2 .col-1,
.container2 .col-2
{
    padding: 0px;
}
.container2 p
{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin-left: 28px;
}
.container3
{
    margin-top: 190px;
    margin: 0 auto;
}
.container3 .row
{
    padding: 0;
    margin: 0;
}
.container3 .main
{
    margin: 0 auto;
    display: inline-flex;
    margin-top: 150px;
}
.container3 .left
{
    width: 550px;
}
.container3 .right
{
    width: 550px;
}
.container3 .left img
{
    width: 591.87px;
    height: 650px;
    margin: auto;
}
.container3 span
{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #EB6E47;
    margin-top: 70px;
    margin-left: 20%;
}
.container3 h2
{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -2px;
    color: #303253;
    margin-top: 23px;
    margin-left: 20%;
}
.container3 p
{
    width: 529px;
    height: 198px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: #303253;
    margin-top: 25px;
    margin-left: 20%;
}
.container3 img
{
    width: 261px;
    height: 81px;
    margin-top: 35px;
    margin-left: 20%;
}
.container4 
{
    margin-top: 200px;
}
.container4 .row
{
    margin: 0;
}
.container4 span
{
    margin: auto;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #EB6E47;
}
.container4 h2
{
    margin: auto;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 64px;
    text-align: center;
    letter-spacing: -2px;
    color: #303253;
    margin-top: 23px;
}
.container4 .box-row
{
    margin: 0 auto;
    margin-top: 64px;
    display: inline-flex;
}
.container4 .box
{
    width: 370px;
    height: 400px;
    margin-right: 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    padding-right: 15px;
}
.container4 .box img
{
    width: 178px;
    height: 176px;
    margin-top: 30px;
    margin-left: 30px;
}
.container4 .box h4
{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #303253;
    margin-left: 35px;
    margin-top: 15px;
}
.container4 .box p
{
    width: auto;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #303253;
    margin-left: 35px;
    margin-top: 15px;
}
.container5
{
    margin-top: 100px;
    background: rgba(221, 221, 221, 0.3);
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 100px;
    padding-bottom: 105px;
}
.container5 .row
{
    margin: 0;
}
.container5 .main
{
    width: 1200px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}
.container5 span
{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 3px;
    margin-left: 2%;
    text-transform: uppercase;
    color: #EB6E47;
    margin-bottom: 33px;
}
.container5 h2
{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -2px;
    color: #303253;
}
.container5 p
{
    width: 470px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #303253;
    margin-top: 30px;
    margin-left: 80px;
}
.container5 .box-row
{
    width: 1200px;
    margin: 0 auto;
    display: inline-flex;
}
.container5 .box
{
    height: 416px;
    width: 500px;
    background: #FFFFFF;
    margin: 0 auto;
    margin-top: 32px;
    border-radius: 16px 16px 16px 16px;
}
.container5 .box img
{
    width: 100%;
    height: 272px;
}
.container5 .box h5
{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #303253;
    margin-left: 30px;
    margin-top: 41px;
}
.container5 .box b
{
    width: auto;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: rgba(48, 50, 83, 0.5);
    margin-left: 30px;
}
.container6
{
    margin-top: 168px;
    margin-bottom: 180px;
}
.container6 .main
{
    width: 1200px;
    margin: 0 auto;
    display: inline-flex;
}
.container6 .right
{
    margin-left: 80px;
}
.container6 .left img
{
    width: 609.53px;
    height: 617px;
}
.container6 span
{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #EB6E47;
    margin-top: 36px;
}
.container6 h2
{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -2px;
    color: #303253;
    margin-top: 23px;
    margin-bottom: 40px;
}
.container6 .ico
{
    width: 32px;
    height: 32px;
}
.container6 b
{
    width: 406px;
    height: 64px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #303253;
    margin-left: 16px;
    margin-bottom: 11px;
}
.container6 .box
{
    width: 470px;
    height: 192px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    margin-left: 5px;
}
.container6 p
{
    width: 410px;
    height: 160px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 32px;
    color: #303253;
    margin-left: 32px;
    margin-top: 26px;
}
.container6 p span
{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: capitalize;
    display: inline;
    color: #EB6E47;
}
.container7
{
    margin-top: 200px;
}
.container7 .row 
{
    margin: 0px;
}
.container7 span
{
    margin: auto;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #EB6E47;
    margin-bottom: 23px;
}
.container7 h2
{
    margin: auto;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 64px;
    text-align: center;
    letter-spacing: -2px;
    color: #303253;
    margin-bottom: 87px;
}
.container7 .center
{
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 87px;
}
.container7 .box img
{
    height: 86px;
    margin-right: 100px;
}
.container7 .box
{
    width: 100px;
}
.container7 .space
{
    width: 150px;
}
.container7 .space-sm
{
    width: 50px;
}
.container7 .space-xs
{
    width: 25px;
}

@media only screen and (max-width: 1300px) {
    .container3 .left img
    {
        width: 480px;
        height: 620px;
        margin-left: 6.5%;
    }
    .container6 .left img
    {
        width: 530px;
        height: 535px;
        margin-left: 14%;
    }
    .container7 img
    {
        height: 65px;
        margin-right: 100px;
    }     
}
//Toggle Collapse Icons
.btn:after 
{
    content: url('/assets/home_images/Group-13.png');
}
/* Icon when the collapsible content is hidden */
.btn.collapsed:after 
{
    content: url('/assets/home_images/Group-12.png');
}