<app-header></app-header>
<div class="container-fluid">
    <div class="container1">
       <div class="row">
           <div class="main">
                <div class="left">
                    <h1>Save Time & Money With Insurance</h1>
                    <p>No one knows retail better than us</p>
                    <a href="#quote"><button mat-button>GET A QUOTE</button></a>
                </div>
                <div class="right">
                    <img src="/assets/home_images/doctor_nurse.png" alt="">
                </div>
           </div>
       </div>
    </div>
    <div class="container2" id="quote">
        <div class="row">
            <h6>Let's find you the Best Insurance</h6>
        </div><br><br>
        <div class="row center">
            <div class="col-2"></div>
            <div class="col-1">
                <a href="./bike"><img src="/assets/home_images/Bike.png" alt=""></a>
            </div>
            <div class="col-2"></div>
            <div class="col-1">
                <a href="./car"><img src="/assets/home_images/Car.png" alt=""></a>
            </div>
            <div class="col-2"></div>
            <div class="col-1">
                <a href="./health"><img src="/assets/home_images/Heart.png" alt=""></a>
            </div>
        </div>
        <div class="row center">
            <div class="col-2"></div>
            <div class="col-1">
                <p>Bike</p>
            </div>
            <div class="col-2"></div>
            <div class="col-1">
                <p>Car</p>
            </div>
            <div class="col-2"></div>
            <div class="col-1">
                <p>Health</p>
            </div>
        </div>
    </div>
    <div class="container3" id="aboutus">
        <div class="row">
            <div class="main">
                <div class="left">
                    <img src="assets/home_images/insurance_1.png" alt="">
                </div>
                <div class="right">
                    <div class="row">
                        <span>About Us</span>
                    </div>
                    <div class="row">
                        <h2>Insurance Solution <br>For You</h2>
                    </div>
                    <div class="row">
                        <p>
                            Buying insurance from a safe, trustworthy and stress-free partner.
                            We also provide a promise to ensure complete satisfaction and make 
                            it easy for you to understand the complex insurance terms. Get 
                            instant quotes and stress-free claims from all the top insurers 
                            suited just for you.
                        </p>
                    </div>   
                    <div class="row">
                        <img src="/assets/home_images/years_on_market.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container4">
        <div class="row">
            <span>Features</span>
        </div>
        <div class="row">
            <h2>Why Choose Us</h2>
        </div>
        <div class="row">
            <div class="box-row">
                <div class="box">
                    <img src="/assets/home_images/support.png" alt=""><br><br>
                    <h4>24/7 Support</h4>
                    <p>For all your complex to simple questions, we have got the answers.</p>
                </div>
                <div class="box">
                    <img src="/assets/home_images/planning.png" alt=""><br><br>
                    <h4>Planning</h4>
                    <p>With Customer First approach, we believe in giving best advice to you.</p>
                </div>
                <div class="box">
                    <img src="/assets/home_images/consulting.png" alt=""><br><br>
                    <h4>Consulting</h4>
                    <p>One stop solution to cater to your needs and ensure you have all that you need.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container5" id="services">
        <div class="row">
            <div class="main">
                <div class="row">
                    <span>Our Service</span>
                </div>
                <div class="row">
                    <div class="col-6">
                        <h2>
                            Insurance Plans For 
                            Different Risk’s
                        </h2>
                    </div>
                    <div class="col-6">
                        <p>
                            Insurance can seem complex and confusing. 
                            We will do all we can to simplify it for you. 
                            We work with the best insurance partners to get 
                            you the lowest and best quotes.
                        </p>
                    </div>
                </div>
            </div>
        </div><br>
        <div class="row">
            <div class="box-row">
                <div class="box">
                    <img src="/assets/home_images/bike_insurance.png" alt="">
                    <h5>Bike Insurance</h5>
                    <b>No Inspection needed and Instant policy generation</b>
                </div>
                <div class="box">
                    <img src="/assets/home_images/car_insurance.png" alt="">
                    <h5>Car Insurance</h5>
                    <b>Renew in a few minutes and get instant policy</b>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="box-row">
                <div class="box">
                    <img src="/assets/home_images/health_insurance.png" alt="">
                    <h5>Health Insurance</h5>
                    <b>All major health issues covered including COVID-19</b>
                </div>
                <div class="box">
                    <img src="/assets/home_images/CyberRisk_Insurance.png" alt="">
                    <h5>Cyber Risk Insurance</h5>
                    <b>Coming soon</b>
                </div>
            </div>
        </div>
    </div>
    <div class="container6" id="faq">
        <div class="row">
            <div class="main">
                <div class="left">
                    <img src="/assets/home_images/FAQs.png" alt="">
                </div>
                <div class="right">
                    <div class="row">
                        <span>Faq</span>
                    </div>
                    <div class="row">
                        <h2>Frequently Asked <br>Questions</h2>
                    </div>
                    <div class="row">
                        <div class="btn collapsed" data-toggle="collapse" data-target="#que1" style="width: 32px;height: 32px;margin-right: 10px;">
                        </div>
                        <b>How is the premium for my motor insurance policy determined ?</b>
                        <div id="que1" class="collapse row box">
                            <p>
                                Many factors determine the premium you will pay. For Own Damage Cover,
                                different insurance companies charge different premiums for similar 
                                coverage. Shop around; getting three or more comparison quotes is worthwhile.
                                Check various insurers’... <span><a href="./Insurance-FAQs" style="text-decoration: none;color: #EB6E47;">Read More</a></span>
                            </p>
                        </div>
                    </div><br>
                    <div class="row" data-toggle="collapse" data-target="#que2">
                        <div class="btn collapsed" data-toggle="collapse" data-target="#que2" style="width: 32px;height: 32px;margin-right: 10px;">
                        </div>
                        <b>What are the factors that affect health insurance premium?</b>
                        <div id="que2" class="collapse row box">
                            <p>
                                Age is a major factor that determines the premium, the older you are the premium 
                                cost will be higher because you are more prone to illnesses. Previous medical history 
                                is another major factor that determines the premium. If no prior.... <span><a href="./Insurance-FAQs" style="text-decoration: none;color: #EB6E47;">Read More</a></span>
                            </p>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="btn collapsed" data-toggle="collapse" data-target="#que3" style="width: 32px;height: 32px;margin-right: 10px;">
                        </div>
                        <b>What is a pre-existing condition in health insurance policy?</b>
                        <div id="que3" class="collapse row box">
                            <p>
                                It is a medical condition/disease that existed before you obtained health insurance 
                                policy, and it is significant because the insurance companies do not cover such 
                                pre-existing conditions, within 48 months of prior to the 1st policy. It means 
                                pre-existing... <span><a href="./Insurance-FAQs" style="text-decoration: none;color: #EB6E47;"> Read More</a></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container7">
        <div class="row">
            <span>CAPALIN PARTNERS</span>
        </div>
        <div class="row">
            <h2>Partners We Trust</h2>
        </div>
        <div class="row center">
            <div class="box">
                <img src="/assets/home_images/partner/sbi.png">
            </div>
            <div class="space"></div>
            <div class="space-sm"></div>
            <div class="space-sm"></div>
            <div class="box">
                <img src="/assets/home_images/partner/bajaj.png">
            </div>
            <div class="space"></div>
            <div class="space-xs"></div>
            <div class="box">
                <img src="/assets/home_images/partner/icici.png">
            </div>
            <div class="space"></div>
            <div class="space-sm"></div>
            <div class="space-sm"></div>
            <div class="box">
              <img src="/assets/home_images/partner/national_insurance.png">
            </div>
        </div>
        <div class="row center">
            <div class="box">
              <img src="/assets/home_images/partner/tata.png">
            </div>
            <div class="space"></div>
            <div class="box">
              <img src="/assets/home_images/partner/the_new_india.png">
            </div>
            <div class="space"></div>
            <div class="box">
              <img src="/assets/home_images/partner/digit.png">
            </div>
            <div class="space"></div>
            <div class="space-sm"></div>
            <div class="space-sm"></div>
            <div class="box">
              <img src="/assets/home_images/partner/united_india.png">
            </div>
            <div class="space-sm"></div>
            <div class="space-sm"></div>
            <div class="space-xs"></div>
            <div class="space-xs"></div>
            <div class="box">
              <img src="/assets/home_images/partner/hdfc.png">
            </div>
        </div>
        <div class="row center">
            <div class="box">
              <img src="/assets/home_images/partner/The_Oriental_Insurance.png">
            </div>
            <div class="space"></div>
            <div class="space"></div>
            <div class="space-xs"></div>
            <div class="box">
              <img src="/assets/home_images/partner/star.png">
            </div>
            <div class="space"></div>
            <div class="space-sm"></div>
            <div class="space-xs"></div>
            <div class="box">
              <img src="/assets/home_images/partner/manipal.png">
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer> 