.title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  color: #303253;
}
.box1 {
  width: 860px;
  height: 750px;
  background: #ffffff;
  box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
  border-radius: 12px;
}
.statusbar {
  width: 860px;
  height: 15px;
  border-radius: 12px;
  background: #dddddd;
  box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
}
.statusProgress {
  width: 516px;
  height: 15px;
  border-radius: 12px;
  background: #eb6d47;
  box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
}

.required {
  color: red;
}

//searchable dropdown
::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items {
  border: 1px solid #ced4da;
  background-color: white;
  padding: .375rem .75rem;
}

::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  padding: 5px 0;

}

::ng-deep .ng-select .ng-select-container {
  padding: .875rem .75rem;
}

.ng-select {
  border: 1px solid #ced4da;
    height: calc(2.5em + .75rem + 2px);
    border-radius: .25rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #999999;
}

::ng-deep .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
  padding: 0 .75rem;
}