<app-header-lite></app-header-lite>
<br><br>
<div class="row">
  <div style="margin: 0 auto;width: 1200px;display: inline-flex;">
    <!--first row start-->
    <div class=" col-md-11" style="font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 48px;
                line-height: 72px;
                color: #303253;">
      Bike Insurance
    </div>
  </div>
</div>
<br><br>
<!--first row end-->
<div class="row">
  <div style="margin: 0 auto;width: 1200px;display: inline-flex;">
    <div class="" style="background: #FFFFFF; height:max-content; border-radius:12px;width: 800px;float:left;
            box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);">


      <div class=" container form-group">
        <div class="row">
          <div class="" style="height:15px ; width: 60%;float:left; 
                    background-color: #EB6D47;
                    box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
                    border-radius:12px 0px 0px 0px">
          </div>
          <div class="" style="height:15px ; width: 40%;float:left;
                    margin-left:0px;background-color: #DDDDDD;
                    box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
                    border-radius:0px 12px 0px 0px">

          </div>
        </div>
        <br />
        <form autocomplete="off" style="padding: 0 20px;">
          <div class="row">
            <div class="col-md-12" style="font-family: Poppins;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 32px;
                            line-height: 48px;
                            text-align: center;
                            letter-spacing: 0.2px;
                            color: #303253;">
              Bike Registration Address
            </div>
          </div>
          <div class="row">
            <br />
          </div>
          <!--2nd row start-->
          <div>
            <table style="width:100%">
              <tr class="row" style="margin-top:20px">
                <td class=" col-md-6 field" style="  font-family: Poppins;
                                                                        font-style: normal;
                                                                        font-weight: normal;
                                                                        font-size: 16px;
                                                                        line-height: 24px;
                                                                        width: 100%;
                                                                        /* identical to box height */ 
                                                                        color: #303253;
                                                                        margin-top:15px">

                  <label for="Registration Address ">Registration Address<span class="required">*
                    </span> :</label>
                </td>

                <td class="col-md-6">
                  <div class="input-group input-group-lg ">
                    <input type="text" class="form-control  " style="border-radius:10px;
                                                                    font-family: Poppins;
                                                                    font-style: normal;
                                                                    font-weight: normal;
                                                                    font-size: 16px;
                                                                    line-height: 24px;
                                                                    height:56px;
                                                                    width: 100%;
                                                                     
                                                                    /* identical to box height */ 
                                                                     color: #999999;" placeholder="Full Address"
                      autocomplete="off" [(ngModel)]="formData.reg_address" name="reg_address" (change)="validations()">

                  </div>
                  <div style="display: none;margin-top: 10px;" id="reg_address_err" class="alert alert-danger">
                    <div>Please Fill Out This Field.
                    </div>
                  </div>
                </td>

              </tr>
              <div class="row">
                <br />

              </div>
              <!--2nd row end-->
              <!--3rd row start-->
              <tr class="row" style="margin-top:20px">
                <td class="col-md-6 field" style="  font-family: Poppins;
                                                                                font-style: normal;
                                                                                font-weight: normal;
                                                                                font-size: 16px;
                                                                                line-height: 24px;
                                                                                /* identical to box height */ 
                                                                                color: #303253;
                                                                                margin-top:15px">

                  <label for="Area | Locality ">Area | Locality<span class="required">*
                    </span> :</label>
                </td>

                <td class="col-md-6 field  ">
                  <div class="input-group input-group-lg ">
                    <input type="text" class="form-control  " style="border-radius:10px;
                                                                            font-family: Poppins;
                                                                            font-style: normal;
                                                                            font-weight: normal;
                                                                            font-size: 16px;
                                                                            line-height: 24px;
                                                                            height:56px;
                                                                             
                                                                            /* identical to box height */ 
                                                                             color: #999999;"
                      placeholder="Area / Locality" autocomplete="off" [(ngModel)]="formData.reg_locality"
                      name="reg_locality" (change)="validations()">

                  </div>
                  <div style="display: none;margin-top: 10px" id="reg_locality_err" class="alert alert-danger">
                    <div>Please Fill Out This Field.
                    </div>
                  </div>
                </td>

              </tr>
              <div class="row">
                <br />
              </div>
              <!--5th row end-->
              <!--4th row start-->
              <tr class="row" style="margin-top:20px">
                <td class="col-md-6 field" style="  font-family: Poppins;
                                                                        font-style: normal;
                                                                        font-weight: normal;
                                                                        font-size: 16px;
                                                                        line-height: 24px;
                                                                        /* identical to box height */ 
                                                                        color: #303253;
                                                                        margin-top:15px">

                  <label for="Landmark ">Landmark<span class="required">*
                    </span> :</label>
                </td>

                <td class="col-md-6 field  ">
                  <div class="input-group input-group-lg ">
                    <input type="text" class="form-control  " style="border-radius:10px;
                                                                    font-family: Poppins;
                                                                    font-style: normal;
                                                                    font-weight: normal;
                                                                    font-size: 16px;
                                                                    line-height: 24px;
                                                                    height:56px;
                                                               
                                                                     color: #999999;" placeholder="Landmark "
                      autocomplete="off" [(ngModel)]="formData.reg_landmark" name="reg_landmark"
                      (change)="validations()">

                  </div>
                  <div style="display: none;margin-top: 10px" id="reg_landmark_err" class="alert alert-danger">
                    <div>Please Fill Out This Field.
                    </div>
                  </div>
                </td>

              </tr>
              <div class="row">
                <br />

              </div>
              <!--4th row end-->
              <!--5th row start-->
              <tr class="row" style="margin-top:20px">
                <td class="col-md-6 field" style="  font-family: Poppins;
                                                                        font-style: normal;
                                                                        font-weight: normal;
                                                                        font-size: 16px;
                                                                        line-height: 24px;
                                                                        /* identical to box height */ 
                                                                        color: #303253;
                                                                        margin-top:15px">

                  <label for="PIN Code  ">PIN Code<span class="required">*
                    </span> :</label>
                </td>

                <td class="col-md-6 field  ">
                  <div class="input-group input-group-lg ">
                    <input type="text" class="form-control  " style="border-radius:10px;
                                                                    font-family: Poppins;
                                                                    font-style: normal;
                                                                    font-weight: normal;
                                                                    font-size: 16px;
                                                                    line-height: 24px;
                                                                    height:56px;
                                                               
                                                                     color: #999999;" placeholder="PIN Code "
                      autocomplete="off" [(ngModel)]="formData.reg_pincode" name="reg_pincode" (keyup)="getCity($event)"
                      (keydown)="checklength($event)" (change)="validations()">

                  </div>
                  <div style="display: none;margin-top: 10px" id="reg_pincode_err" class="alert alert-danger">
                    <div>Please Fill Out This Field.
                    </div>
                  </div>
                </td>

              </tr>
              <div class="row">
                <br />

              </div>
              <!--5th row end-->
              <!--6th row start-->
              <tr class="row" style="margin-top:20px">
                <td class="col-md-6 field" style="  font-family: Poppins;
                                                                        font-style: normal;
                                                                        font-weight: normal;
                                                                        font-size: 16px;
                                                                        line-height: 24px;
                                                                        /* identical to box height */ 
                                                                        color: #303253;
                                                                        margin-top:15px">

                  <label for="City ">City<span class="required">*
                    </span> :</label>
                </td>

                <td class="col-md-6 field  ">
                  <div>
                    <!-- <select class="form-control  " style="border-radius:10px;
                                                                    font-family: Poppins;
                                                                    font-style: normal;
                                                                    font-weight: normal;
                                                                    font-size: 16px;
                                                                    line-height: 24px;
                                                                    height:56px;
                                                               
                                                                     color: #999999;" placeholder="City "
                                            autocomplete="off" [(ngModel)]="cityOpt" name="cityOpt"
                                            (change)="changeCity();validations()">
                                            <option value="" disabled>Select City</option>
                                            <option *ngFor=" let city of cityStateName" [ngValue]="city">
                                                {{city.city_name}}</option>
                                        </select> -->
                    <ng-select [(ngModel)]="cityOpt" (change)="changeCity();validations()" name="cityOpt">
                      <ng-option *ngFor="let city of cityStateName" [value]="city">{{city?.city_name}}</ng-option>
                    </ng-select>
                  </div>
                  <div style="display: none;margin-top: 10px" id="city_err" class="alert alert-danger">
                    <div>Please Fill Out This Field.
                    </div>
                  </div>
                </td>

              </tr>
              <div class="row">
                <br />

              </div>
              <!--6th row  end-->
              <!--7th row start-->
              <tr class="row" style="margin-top:20px">
                <td class="col-md-6 field" style="  font-family: Poppins;
                                                                        font-style: normal;
                                                                        font-weight: normal;
                                                                        font-size: 16px;
                                                                        line-height: 24px;
                                                                        /* identical to box height */ 
                                                                        color: #303253;
                                                                        margin-top:15px">

                  <label for="State ">State<span class="required">*
                    </span> :</label>
                </td>

                <td class="col-md-6 field  ">
                  <div>
                    <!-- <select class="form-control  " style="border-radius:10px;
                                                                    font-family: Poppins;
                                                                    font-style: normal;
                                                                    font-weight: normal;
                                                                    font-size: 16px;
                                                                    line-height: 24px;
                                                                    height:56px;
                                                               
                                                                     color: #999999;" placeholder="State "
                                            autocomplete="off" [(ngModel)]="stateOpt" name="stateOpt"
                                            (change)="validations()">
                                            <option value="">Select State</option>
                                            <option *ngFor="let State of cityStateName" [ngValue]="State">
                                                {{State.state_name}}</option>
                                        </select> -->
                    <ng-select [(ngModel)]="stateOpt" name="stateOpt" (change)="validations()">
                      <ng-option *ngFor="let State of stateName" [value]="State">{{State}}</ng-option>
                    </ng-select>
                  </div>
                  <div style="display: none;margin-top: 10px" id="state_err" class="alert alert-danger">
                    <div>Please Fill Out This Field.
                    </div>
                  </div>
                </td>

              </tr>
              <div class="row">
                <br />

              </div>
              <!--7th row end-->
              <!--8th row start-->
              <div class="row">
                <div class="" style="width: 10%;float: left;">
                </div>
                <div class="" style="width: 30%;float: left;">
                  <button mat-button color="" style="background: #999999;
                                                                        border-radius: 10px;font-style: normal;
                                                                        font-weight: 600;
                                                                        font-size: 18px;
                                                                        line-height: 40px;
                                                                        width:100%;
                                                                        align-items: center;
                                                                        height: 60px;
                                                                        margin-right: 5px;
                                                                        color: #FFFFFF;" (click)="back()">Back</button>

                </div>
                <div class="" style="width: 20%;float: left;">

                </div>
                <div class="" style="width: 30%;float: left;">
                  <button mat-button style="background-color: #303253;
                                                                border-radius: 10px;font-style: normal;
                                                                font-weight: 600;
                                                                font-size: 18px;
                                                                line-height: 40px;
                                                                width: 100%;
                                                                align-items: center;
                                                                height: 60px;
                                                                margin-right: 5px;
                                                                color: #FFFFFF;" (click)="submitform()">Next</button>
                </div>
                <!-- routerLink="/bike/BikeDetails" -->
                <div class="" style="width: 10%;float: left;">

                </div>
              </div>
              <div class="row">
                <br />
              </div>
              <!--8th row end-->
            </table>
          </div>
        </form>
      </div>

    </div>

    <!--new section-->
    <div class="" style="width: 370px;float: left;margin-left: 70px;">
      <div class="row">

        <div class="" style="background: #FFFFFF;width:85%;float: left;
                                                                box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
                                                                border-radius: 12px;">

          <div class=" container form-group">
            <form autocomplete="off">

              <div class="row">

                <div class="col-md-12" style="font-family: Poppins;
                                                font-style: normal;
                                                font-weight: 600;
                                                font-size: 24px;
                                                line-height: 32px;
                                                margin-top: 15px;
                                                color: #303253;">


                  Bike Details
                </div>
              </div>
              <div>
                <table style="width:100%">

                  <tr class="row" style="margin-top:20px;">
                    <td class="col-md-6 field" style="  font-family: Poppins;
                                                font-style: normal;
                                                font-weight: normal;
                                                font-size: 16px;
                                                line-height: 24px;
                                                color: #303253;">

                      <label for="Bike Manufacturer  ">Bike Manufacturer :</label>
                    </td>
                    <td class="col-md-6 field" style="  font-family: Poppins;padding-left:10px;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #303253;">

                      <!-- <label for="Honda  ">Honda</label> -->
                      <label for="Honda  ">{{bikeData?.biManufacturer}}</label>
                    </td>

                  </tr>
                  <!--2nd row start-->
                  <tr class="row" style="margin-top:20px;">
                    <td class="col-md-6 field" style="  font-family: Poppins;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                color: #303253;">

                      <label for="Variant & Model  ">Variant & Model :</label>
                    </td>
                    <td class="col-md-6 field" style="font-family: Poppins;padding-left:10px;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #303253;">

                      <!-- <label for="Unicorn,Self Start Disc  ">Unicor, Self Start Disc</label> -->
                      <label for="Unicorn,Self Start Disc  ">{{bikeData?.biModel}}</label>
                    </td>

                  </tr>

                  <!--2nd row end-->
                  <!--3rd row start-->
                  <tr class="row" style="margin-top:20px;">
                    <td class="col-md-6 field" style="  font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    color: #303253;">

                      <label for="Manufacturing Year ">Manufacturing Year :
                      </label>
                    </td>
                    <td class="col-md-6 field" style="  font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: #303253;">

                      <!-- <label for="2020 ">2020</label> -->
                      <label for="2020 ">{{bikeData?.manufacturingYear}}</label>
                    </td>

                  </tr>
                  <!--3rd row end-->
                  <!--4th-->
                  <tr class="row" style="margin-top:20px;">
                    <td class="col-md-6 field" style="  font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #303253;">

                      <label for="Registration Date  ">Registration Date :
                      </label>
                    </td>
                    <td class="col-md-6 field" style="  font-family: Poppins;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 24px;
                                            color: #303253;">

                      <!-- <label for="02 Jan 2020 ">02Jan2020</label> -->
                      <label for="02 Jan 2020 ">{{bikeData?.registerDate.toString().replaceAll('/','-')}}</label>
                    </td>

                  </tr>
                  <!--4th-->
                  <!--5th-->
                  <tr class="row" style="margin-top:10px;">
                    <td class="col-md-6 field" style="  font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #303253;">

                      <label for=" NCB on previous policy  "> NCB on previous policy :
                      </label>
                    </td>
                    <td class="col-md-6 field" style=" font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #303253;">

                      <!-- <label for="20%">20%</label> -->
                      <label for="20%">{{bikeData?.policyType != 'new_enquiry' ? bikeData?.prevNcb
                                                : '0'}}%</label>
                    </td>

                  </tr>

                  <!--5th-->
                  <!--6th-->
                  <tr class="row" style="margin-top:10px;">
                    <td class="col-md-6 field" style="  font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #303253;">

                      <label for="  Expairy Date :  "> Expairy Date :
                      </label>
                    </td>
                    <td class="col-md-6 field" style=" font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #303253;">

                      <!-- <label for="04 Jan 2021">04Jan2021</label> -->
                      <label for="04 Jan 2021">{{bikeData?.policyType != 'new_enquiry' ?
                                                bikeData?.prevPolicyEndDate.toString().replaceAll('/','-') :
                                                '-'}}</label>
                    </td>

                  </tr>

                  <!--6th-->
                  <!--7th-->
                  <tr class="row" style="margin-top:10px;">
                    <td class="col-md-6 field" style="  font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #303253;">

                      <label for="   Insurance Company "> Insurance Company :
                      </label>
                    </td>
                    <td class="col-md-6 field" style=" font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #303253;">

                      <!-- <label for=" HDFC Ergo"> HDFC Ergo</label> -->
                      <label for=" HDFC Ergo">{{bikeDataSummary?.company_name}}</label>
                    </td>

                  </tr>

                  <!--7th-->
                  <!--8th-->
                  <tr class="row" style="margin-top:10px;">
                    <td class="col-md-6 field" style="  font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #303253;">

                      <label for=" Cover Amount (IDV) "> Cover Amount (IDV) :
                      </label>
                    </td>
                    <td class="col-md-6 field" style=" font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #303253;">

                      <!-- <label for=" ₹16,435"> ₹16,435</label> -->
                      <label for=" ₹16,435"> ₹{{bikeData?.idv}}</label>
                    </td>

                  </tr>
                  <!--8th-->
                  <!--9th row  start-->
                  <tr class="row" style="margin-top:10px;">
                    <td class="col-md-6 field" style="  font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #303253;">

                      <label for=" NCB Discount "> NCB Discount :
                      </label>
                    </td>
                    <td class="col-md-6 field" style=" font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #303253;">

                      <!-- <label for=" 25%"> 25%</label> -->
                      <label for=" 25%"> {{bikeData?.newNcb}}%</label>
                    </td>

                  </tr>
                  <!--9th row end-->
                  <!--10th row  start-->
                  <!-- <tr class="row" style="margin-top:10px;">
                                        <td class="col-md-6 field" style="  font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #303253;">

                                            <label for=" Order Id "> Order Id :
                                            </label>
                                        </td>
                                        <td class="col-md-6 field" style=" font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #303253;">

                                            <label for=" MGB2PGJ1KAB">MGB2PGJ1KAB</label>
                                        </td>

                                    </tr> -->
                  <!--10th row end-->
                  <!--11th row  start-->
                  <tr class="row" style="margin-top:10px;">
                    <td class="col-md-6 field" style="  font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #303253;">

                      <label for="Policy Term "> Policy Term :
                      </label>
                    </td>
                    <td class="col-md-6 field" style=" font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #303253;">

                      <!-- <label for=" 1 Year">1 Year</label> -->
                      <label for=" 1 Year">{{bikeData?.policyTerm}} Year(s)</label>
                    </td>

                  </tr>
                  <!--11th row end-->
                  <!--12th row  start-->
                  <tr class="row" style="margin-top:10px;">
                    <td class="col-md-6 field" style="  font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #303253;">

                      <label for="Add-ons "> Add-ons:
                      </label>
                    </td>
                    <td class="col-md-6 field" style=" font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #303253;">

                      <!-- <label for=" NA">NA</label> -->
                      <label for=" NA">{{bikeData?.zero_depreciation == 'true' ? 'Zero Dep,' :
                                                ''}}{{bikeData?.rode_side_assistance == 'true' ? 'Roadside Assistance,'
                                                :
                                                ''}}{{bikeData?.invoice_cover == 'true' ? 'Invoice Cover,' :
                                                ''}}{{bikeData?.ncb_protection == 'true' ? 'NCB Protect,' :
                                                ''}}{{bikeData?.consumable == 'true' ? 'Consumable,' :
                                                ''}}{{bikeData?.paid_driver_legal_liability_cover == 'true' ? 'Paid
                                                Driver Legability,' :
                                                ''}}{{bikeData?.driver_cover == 'true' ? 'Passenger PA,' :
                                                ''}}{{bikeData?.pa_to_owner_driver == 'true' ? 'PA Owner Driver,' :
                                                ''}}</label>
                    </td>

                  </tr>
                  <div class="row">
                    <div class="col-md-1" style="margin-bottom:15px">

                    </div>
                    <div class="col-md-9" style="border-bottom: 1px solid #DDDDDD;">

                    </div>
                    <div class="col-md-2">

                    </div>

                  </div>
                  <!--12th row end-->
                  <!--12th row  start-->

                  <tr class="row" style=" padding-top: 20px;">
                    <td class="col-md-8 field" style="  font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #303253;
           ">

                      <label for="GST @ 18%">GST @ 18%
                      </label>
                    </td>
                    <td class="col-md-4 field" style=" font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #303253;">

                      <!-- <label for="₹435">₹435</label> -->
                      <label for="₹435">₹{{+bikeDataSummary?.premium -
                                                (+bikeDataSummary?.premium/+gst) | number:'1.0-0'}}</label>
                    </td>

                  </tr>

                  <!--12th row end-->
                  <div class="row" style="margin-top:10px">
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-9" style="border-bottom: 1px solid #DDDDDD;">

                    </div>
                    <div class="col-md-2">

                    </div>
                  </div>
                  <!--13th row start-->
                  <tr class="row" style="margin-top:10px;">
                    <td class="col-md-8 field" style="  font-family: Poppins;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 30px;
                color: #303253;">

                      <label for="Final Premium">Final Premium
                      </label>
                    </td>
                    <td class="col-md-4 field" style=" font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            color: #303253;">

                      <!-- <label for="₹1,435">₹1,435</label> -->
                      <label for="₹1,435">₹{{bikeDataSummary?.premium | number:'1.0-0'}}</label>
                    </td>
                  </tr>
                  <div class="row">
                    <br />
                  </div>
                  <!--13th row end-->
                  <!--14th start start-->

                  <div class="row">
                    <div class="col-md-1">

                    </div>

                    <div class="col-md-10">
                      <button class="btn " routerLink="/bike" style="background: #303253;color: #FFFFFF;
                                                                                border-radius: 8px;width:100%;
                                                                                font-family: Poppins;">Edit</button>

                    </div>
                    <div class="col-md-1">

                    </div>
                  </div>
                  <!--14th row end-->



                </table>
              </div>


            </form>
          </div>
        </div>
        <div class="" style="width: 15%;float: left;">
        </div>
      </div>
    </div>
  </div>
</div>
<!--new section end-->
<app-footer></app-footer>
