<app-header></app-header>
<div class="container-fluid">
    <div class="container1">
        <div class="main">
            <div class="row">
                <h2>About Us</h2>
            </div>
            <div class="row">
                <div style="width: 1200px;display: inline-flex;margin: 0 auto;">
                    <div class="col-6 left">
                        <img src="/assets/home_images/other/photo.png" alt="">
                    </div>
                    <div class="col-6">
                        <div class="right">
                            <h3>Karan Mulchand Nagda</h3>
                            <p>
                                Karan Mulchand Nagda is the promoter director of the company. 
                                He holds a graduate degree in commerce from University of Mumbai. 
                                He is also an Associate of Insurance Institute of India (AIII) and 
                                an Associate of Chartered Insurance Institute (ACII), London. He has 
                                experience of underwriting & client serving by working with an insurance 
                                company and an insurance broker. He has worked with an insurance surveying 
                                firm and has handled small and medium claims. He carries a sound technical 
                                understanding of underwriting, policy wordings and claims procedures. He has 
                                gained considerable experience in all areas of general insurance and broking 
                                operations. He has a 5 years of experience in general insurance
                            </p>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
    <div class="container2">

    </div>
</div>
<app-footer></app-footer> 