.container-fluid
{
    padding: 0;
    font-family: Poppins;
    height: auto;
}
.container1
{
    width: 100%;
    height: 780px;
    background: url("/assets/home_images/blue_bg.png");
}
.main .row
{
    margin: auto;
}
.main h2
{
    margin: auto;
    margin-top: 140px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 90px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 126px;
}
.main .left img
{
    width: 550px;
    height: 600px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.main .right
{
    width: 589px;
    height: 750px;
    background: #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.main .right h3
{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 73px;
    color: #333333;
    padding-left: 56px;
    padding-top: 50px;
}
.main .right p
{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    color: #858A8F;
    padding-left: 56px;
    padding-right: 43px;
}
.container2
{
    height: 400px;
}

@media only screen and (max-width: 1300px) {
    .main .left img
    {
        width: 504px;
        height: 516px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }   
    .main .right
    {
        width: 489px;
        height: auto;
        margin-left: 10px;
        background: #FFFFFF;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    .main .right h3
    {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 38px;
        line-height: 73px;
        color: #333333;
        padding-left: 56px;
        padding-top: 50px;
    }
    .main .right p
    {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 35px;
        color: #858A8F;
        padding-left: 56px;
        padding-right: 43px;
    }
    .container2
    {
        height: 500px;
    }
}