<!-- footer start -->




<Div class="row">
    <br />
    <br />

</Div>
<div class=" footerBg">

    <br />

    <div class="row">
        <div class="main">
            <!-- <div class="col-md-1">

            </div> -->
            <div class="col-md-3">
                <div class="row">
                    <a routerLink="" class="CaplinHeader "> CAPALIN </a>
                </div>

                <div class="row" style="  font-size:12px; color:#eb6e47;">
                    <a routerLink="" style="  font-size:12px; color:#eb6e47; line-height: 1;
                    letter-spacing: 0.5px; font-family: Poppins;
                    text-align: left;"> Kapalin Insurance Broking Private Limited
                    </a>
                </div>
                <br />

                <div class="row">

                    <div style="  font-size:12px;color:white; font-weight:normal;"> Registered & Corporate Office:
                        <div style=" font-style: normal; width: 218px;
                        height: 144px;
                        flex-grow: 0;
                        margin: 12px 152px 30px 0;
                        font-family: Poppins; ">
                            103-107, Bhaveshwar Complex,
                            <br />
                            Vidyavihar- West<br />
                            Mumbai- 400086, Maharashtra
                            <br /><br />
                            +91-22-62363690 | +91-22-62361889
                            <br />
                            support@kapalinbroking.com
                            <br /><br />
                            CIN No: U66020MH2017PTC290072
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-1">

            </div>

            <div class="col-md-3" style="padding-top:20px;">
                <div class="row">
                    <a routerLink="" style="font-family: Poppins;font-weight:600; font-size:18px; color:#eb6e47;"> MENU </a>
                </div>
                <br />
                <div class="row" style=" font-size:16px;font-family:poppins;color:white;margin-bottom: 10px;">
                    <a href="about-us" style="color: #fff;"> About</a>
                </div>
                <div class="row" style=" font-size:16px;font-family:poppins;color:white;margin-bottom: 10px;">
                    <a href="#services" style="color: #fff;"> Services</a>
                </div>
                <div class="row" style=" font-size:16px;font-family:poppins;color:white;margin-bottom: 10px;">
                    <a href="" style="color: #fff;"> Blog</a>
                </div>
                <div class="row" style=" font-size:16px;font-family:poppins;color:white;margin-bottom: 10px;">
                    <a href="contact" style="color: #fff;"> Contact</a>
                </div>
                <div class="row" style=" font-size:16px;font-family:poppins;color:white;margin-bottom: 10px;">
                    <a href="login" style="color:white;"> Partner Login</a>

                </div>
            </div>

            <div class="col-md-2" style="padding-top:20px;">
                <div class="row">
                    <a routerLink="" style="font-family: Poppins;font-weight:600; font-size:18px;color:#eb6e47;"> GET COVERED </a>
                </div>
                <br />
                <div class="row" style=" font-size:16px;font-family:poppins;color:white;margin-bottom: 10px;">

                    <a href="health" style=" font-size:16px;font-family:poppins;color: #fff;"> Health Insurance</a>
                </div>

                <div class="row" style=" font-size:16px;font-family:poppins;color:white;margin-bottom: 10px;">
                    <a href="car" style="color: #fff;"> Car Insurance</a>
                </div>

                <div class="row" style=" font-size:16px;font-family:poppins;color:white;margin-bottom: 10px;">
                    <a href="bike" style="color: #fff;"> Bike Insurance</a>

                </div>
                <div class="row" style=" font-size:16px;font-family:poppins;color:white">
                    <a href="digital-partner" style="color: #fff;">Be a Partner</a>
                </div>


            </div>

            <div class="col-md-1"></div>
            <div class="col-md-2" style="padding-top:20px;">
                <div class="row">
                    <img src="\assets\home_images\footer\facebook.png" style="padding-left:5px; width: 48px;
                    height: 48px;
                    flex-grow: 0;
                    margin: 0 8px 0 0;
                    object-fit: contain;">
                    <img src="\assets\home_images\footer\twitter.png" style="padding-left:5px; width: 48px;
                    height: 48px;
                    flex-grow: 0;
                    margin: 0 8px 0 0;
                    object-fit: contain;">
                    <img src="\assets\home_images\footer\insta.png" style="padding-left:5px; width: 48px;
                    height: 48px;
                    flex-grow: 0;
                    margin: 0 8px 0 0;
                    object-fit: contain;">
                </div>
                <br />

                <a href="irdai-license">
                <div class="row" style="font-size: 12px;margin-bottom:10px; color: #FFFFFF;font-family: Poppins;">
                <b> IRDAI License No.</b>&nbsp;&nbsp;
                    <span style="font-weight:normal;">610</span>
                </div>

                <div class="row" style="font-size: 12px;margin-bottom:10px; color: #FFFFFF;font-family: Poppins;">
                <b> Category: Direct : </b>&nbsp;&nbsp; General
                </div>

                <div class="row" style="font-size: 12px;margin-bottom:10px; color: #FFFFFF;font-family: Poppins;">
                <b> Validity Period: 07.08.2020 </b> : 06.08.2023
                </div>

                <div class="row" style="font-size: 12px;margin-bottom:10px; color: #FFFFFF;font-family: Poppins;">
                <b> Principal Officer : </b>&nbsp;&nbsp; Mr. Pramod J. Khasnis
                </div>
                <div class="row" style="width: 96px;
                height: 35px;
                left: 1035px;
                top: 1466px;filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));">

                    <img src="\assets\home_images\footer\irda-logo 1.png" style="padding-left:5px;" height="35">

                </div>
                </a>
            </div>
        </div>
    </div>


    <div class="row">
        <br />
    </div>

    <div class="row  ">
        <div class="col-md-1">

        </div>

        <div clas="col-md-10" style="color: rgba(255, 255, 255, 0.5); font-size: 12px;
                    text-align: center;margin-left: 40px;line-height: 1.33px;margin: auto;">
            Insurance is the subject matter of the solicitation.For more details on policy terms, conditions,
            exclusions, limitations, please refer/read policy brochure carefully before concluding sale.

        </div>
        <div class="col-md-1">

        </div>


    </div>

    <div class="row">
        <br />
    </div>

    <div class="row">
        <div class="main">
            <div class="col-md-12" style="border-bottom: 2px solid white;">
                <table> </table>
            </div>
        </div>
    </div>
    <div class="row">
        <br />
    </div>
    <div class="row">
        <div class="main">
            <div class="col-md-7" style="font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 200%;  
            padding: 0px; 
            color: rgba(255, 255, 255, 0.5);">
                © 2020 Capalin. All Rights Reserved
            </div>
            <div class="col-md-2" style="padding: 0px;"></div>
            <div class="col-md-2" style="color:white;font-size: 16px;
            line-height: 32px;padding: 0px;">
                <a href="cancellation-refund" style="color: #fff;">Cancellation & Refunds</a>
            </div>
            <div class="col-md-2" style="color:white;font-size: 16px;
            line-height: 32px;padding: 0px;">
                <a href="privacy-policy" style="color: #fff;">Privacy Policy</a>
            </div>
        </div>
    </div>
    <div class="row">
    </div>
</div>


<!-- footer end -->