.main-footer {
  padding-top: 20px;
  background-color: #2ea7c4;
  font-family: "Averin";
  max-width: 100%;
  overflow-x: hidden;
}

.footerBg {
  background-color: #303253;
  // height: 400px;
}
.footerBg .main {
  width: 1200px;
  margin: 0 auto;
  display: inline-flex;
}

.CaplinHeader {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  /* identical to box height, or 120% */

  letter-spacing: -1px;

  color: #ffffff;
}

.kaplinHeader {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 0.83%;
  line-height: 0.83%;
  /* identical to box height, or 100% */

  letter-spacing: 0.5px;
  text-transform: capitalize;

  color: #eb6e47;
}
