.required {
  color: red;
}
// .alert-danger {
//   // font-size: 0.7rem;
// }
//Radio Button
::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: #50B83C !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #50B83C!important;   /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
 border-color:#50B83C!important; /*outer ring color change*/
}

//searchable dropdown
::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items {
  border: 1px solid #ced4da;
  background-color: white;
  padding: .375rem .75rem;
}

::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  padding: 5px 0;

}

::ng-deep .ng-select .ng-select-container {
  padding: .875rem .75rem;
}

.ng-select {
  border: 1px solid #ced4da;
    height: calc(2.5em + .75rem + 2px);
    border-radius: .25rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #999999;
}

::ng-deep .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
  padding: 0 .75rem;
}